{% block sw_promotion_persona_form %}
<div class="sw-promotion-persona-form">
    <h4>{{ $tc('sw-promotion.detail.main.preconditions.persona.title') }}</h4>
    <p>
        {{ $tc('sw-promotion.detail.main.preconditions.persona.text') }}
    </p>

    {% block sw_promotion_persona_form_persona_rule_id_field %}
        <sw-select id="personaRuleIds"
                   ref="personaRuleSelect"
                   multi
                   class="sw-promotion-persona-form__persona-rules"
                   :label="$tc('sw-promotion.detail.main.preconditions.persona.labelRules')"
                   :placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderRules')"
                   :store="ruleStore"
                   @sw-select-option-clicked="onSelectRule"
                   :associationStore="personaRulesAssociationStore">
            <template slot="sw_select_list_before">
                <sw-select-option :index="-1"
                                  :item="itemAddNewRule">
                    {{ $tc('sw-select-rule-create.addNewRule') }}
                </sw-select-option>
            </template>
            <template slot="result_items" slot-scope="{ item, index }">
                <sw-select-option :index="index" :item="item">
                    {{ item.name }}
                </sw-select-option>
            </template>
        </sw-select>
    {% endblock %}

    {% block sw_promotion_persona_form_customer_field %}
        <sw-select id="personaCustomerIds"
                   multi
                   class="sw-promotion-persona-form__persona-customers"
                   :label="$tc('sw-promotion.detail.main.preconditions.persona.labelCustomers')"
                   :placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderCustomers')"
                   :store="customerStore"
                   :associationStore="personaCustomerAssociationStore"
                   displayName="lastName">
            <template slot="displayName" slot-scope="{ item, index }">
                {{ item.firstName }} {{ item.lastName }}
            </template>
            <template slot="result_items" slot-scope="{ item, index }">
                <sw-select-option :index="index" :item="item">
                    {{ item.firstName }} {{ item.lastName }}
                </sw-select-option>
            </template>
        </sw-select>
    {% endblock %}
    {% block sw_select_rule_create_rule_modal %}
        {#todo next-2945 change allowedRuleScope if rule types may be addressed correctly #}
        <sw-rule-modal v-if="showRuleModal"
                       @save="onSaveRule"
                       @modal-close="onCloseRuleModal"
                       :allowedRuleScopes="['checkout']">
        </sw-rule-modal>
    {% endblock %}

</div>
{% endblock %}
