{% block component_line_item_quantity %}
    {% if redirectTo is not defined %}
        {% set redirectTo = 'frontend.checkout.cart.page' %}
    {% endif %}

    {% if showQuantitySelect is not defined %}
        {% set showQuantitySelect = true %}
    {% endif %}

    {# @var quantityInformation \Shopware\Core\Checkout\Cart\LineItem\QuantityInformation #}
    {% set quantityInformation = lineItem.quantityInformation %}
    {% if quantityInformation.maxPurchase %}
        {% set maxQuantity = quantityInformation.maxPurchase %}
    {% else %}
        {% set maxQuantity = config('core.cart.maxQuantity') %}
    {% endif %}

    {% block component_line_item_quantity_inner %}
        <div class="row line-item-quantity-row">

            {% block component_line_item_quantity_label %}
                <div class="line-item-quantity-label">
                    {{ "checkout.cartHeaderQuantity"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% block component_line_item_quantity_select_wrapper %}
                <div class="line-item-quantity-select-wrapper">

                    {% if showQuantitySelect and lineItem.quantityInformation and lineItem.stackable and nestingLevel < 1 %}
                        {% block component_line_item_quantity_select_form %}
                            <form action="{{ path('frontend.checkout.line-item.change-quantity', { 'id': lineItem.id }) }}"
                                  class="line-item-quantity-container"
                                  method="post"
                                  {% if displayMode == 'default' %}
                                  data-form-auto-submit="true"
                                  {% endif %}
                            >

                                {# @deprecated tag:v6.5.0 - Block component_line_item_quantity_csrf will be removed. #}
                                {% block component_line_item_quantity_csrf %}
                                    {{ sw_csrf('frontend.checkout.line-item.change-quantity') }}
                                {% endblock %}

                                {% block component_line_item_quantity_redirect %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="{{ redirectTo }}">
                                {% endblock %}

                                {% set selectQuantityThreshold = 100 %}
                                {% block component_line_item_quantity_select %}
                                    {# @deprecated tag:v6.5.0 - Numeric quantity input with additional plus/minus controls will be the default. #}
                                    {% if (maxQuantity - quantityInformation.minPurchase) / quantityInformation.purchaseSteps > selectQuantityThreshold %}
                                        {% block component_line_item_quantity_select_input %}
                                            <input
                                                type="number"
                                                name="quantity"
                                                class="form-control quantity-input-{{ lineItem.id }} {% if displayMode === 'offcanvas' %} js-offcanvas-cart-change-quantity-number{% endif %}"
                                                min="{{ quantityInformation.minPurchase }}"
                                                max="{{ maxQuantity }}"
                                                step="{{ quantityInformation.purchaseSteps }}"
                                                value="{{ lineItem.quantity }}"
                                            />
                                        {% endblock %}
                                    {% else %}
                                        {% block component_line_item_quantity_select_select %}
                                            <select name="quantity"
                                                class="form-select quantity-select-{{ lineItem.id }}{% if displayMode === 'offcanvas' %} js-offcanvas-cart-change-quantity{% endif %}">
                                                {% for quantity in range(quantityInformation.minPurchase, maxQuantity, quantityInformation.purchaseSteps) %}
                                                    {% block component_line_item_quantity_select_option %}
                                                        <option value="{{ quantity }}"
                                                            {% if quantity == lineItem.quantity %} selected="selected"{% endif %}>
                                                            {{ quantity }}
                                                        </option>
                                                    {% endblock %}
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            </form>
                        {% endblock %}
                    {% else %}
                        {% block component_line_item_quantity_display %}
                            <div class="d-flex justify-content-end line-item-quantity">
                                {{ lineItem.quantity }}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
