{% macro recursiveCategory(items, level, page, media) %}
    {% set navigationMaxDepth = 3 %}

    <div class="{% if level == 0 %}row {% endif %}navigation-flyout-categories is-level-{{ level }}">
        {% for item in items %}
            {% set id = item.id %}
            {% set name = item.translated.name %}
            {% set link = category_url(item) %}

            {% block layout_navbar_categories_item %}
                <div class="{% if level == 0 %}{% if media %}col-4 {% else %}col-3 {% endif %}{% endif %}{% if ((loop.index % 4 != 0) and (loop.index != 1)) %}navigation-flyout-col{% endif %}">
                    {% block layout_navbar_categories_item_link %}
                        {% if item.type == 'folder' %}
                            <div class="nav-item nav-item-{{ item.id }} nav-link nav-item-{{ item.id }}-link navigation-flyout-link is-level-{{ level }}"
                                 title="{{ name }}">
                                <span itemprop="name">{{ name }}</span>
                            </div>
                        {% else %}
                            <a class="nav-item nav-item-{{ item.id }} nav-link nav-item-{{ item.id }}-link navigation-flyout-link is-level-{{ level }}"
                               href="{{ link }}"
                               itemprop="url"
                               {% if category_linknewtab(item) %}target="_blank"
                               {% if item.linkType == 'external' %}rel="noopener noreferrer"{% endif %}
                                {% endif %}
                               title="{{ name }}">
                                <span itemprop="name">{{ name }}</span>
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block layout_navigation_categories_recoursion %}
                        {% if level < navigationMaxDepth %}
                            {{ _self.recursiveCategory(item.children, level +1, page, media) }}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endmacro %}

{% block layout_navbar_categories %}
    {% from _self import recursiveCategory %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}

    {{ recursiveCategory(items, level, page, media) }}
{% endblock %}
