{% block layout_navbar %}
    <div class="container">
        <nav class="navbar navbar-expand-lg main-navigation-menu" itemscope="itemscope"
             itemtype="http://schema.org/SiteNavigationElement"
             data-navbar="true">
            <div class="">
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav d-flex flex-wrap">
                        {% set homeLabel = context.salesChannel.translated.homeName|default('general.homeLink'|trans) %}

                        {% block layout_navbar_menu_home %}
                            {% if context.salesChannel.translated.homeEnabled %}
                                <li class="nav-item pe-2">
                                    <a class="nav-link main-navigation-link home-link p-2 nav-item-{{ context.salesChannel.navigationCategoryId }}"
                                       href="{{ path('frontend.home.page') }}"
                                       itemprop="url"
                                       title="{{ homeLabel|striptags }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ homeLabel|sw_sanitize }}</span>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        {% block layout_navbar_menu_items %}
                            {% foreach header.navigation as item %}
                                {% set hasChildren = item.children|length > 0 %}
                                {% set name = item.translated.name %}

                                {% block layout_navbar_menu_item %}
                                    {% if item.type == 'folder' %}
                                        <li class="nav-item main-navigation-link nav-item-{{ item.id }} nav-link root nav-item-{{ item.id }}-link"
                                            {% if hasChildren %}
                                                data-flyout-menu-trigger="{{ item.id }}"
                                            {% endif %}
                                            title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                                <span itemprop="name">{{ name }}</span>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item nav-item-{{ item.id }} {% if hasChildren %}dropdown position-static pe-2{% endif %}">
                                            <a class="nav-link nav-item-{{ item.id }}-link root dropdown-toggle main-navigation-link p-2"
                                               href="{{ category_url(item) }}"
                                               data-bs-toggle="dropdown"
                                               itemprop="url"
                                               {% if category_linknewtab(item) %}target="_blank"{% endif %}
                                               title="{{ name }}">
                                                {{ name }}
                                            </a>
                                            {% if hasChildren %}
                                                <div class="dropdown-menu w-100 p-4" role="menu">
                                                    {% sw_include '@Storefront/storefront/layout/navbar/content.html.twig' with {
                                                        themeIconConfig: themeIconConfig,
                                                        item: item,
                                                        level: level+1
                                                    } only %}
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endblock %}
                            {% endforeach %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
