{% block layout_navbar %}
    <div class="container">
        <nav class="navbar navbar-expand-lg main-navigation-menu" itemscope="itemscope"
             itemtype="https://schema.org/SiteNavigationElement"
             data-navbar="true">
            <div class="">
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav d-flex flex-wrap">
                        {% set homeLabel = context.salesChannel.translated.homeName|default('general.homeLink'|trans) %}

                        {% block layout_navbar_menu_home %}
                            {% if context.salesChannel.translated.homeEnabled %}
                                <li class="nav-item pe-2">
                                    <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link p-2"
                                       href="{{ path('frontend.home.page') }}"
                                       itemprop="url"
                                       title="{{ homeLabel|striptags }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ homeLabel|sw_sanitize }}</span>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        {% block layout_navbar_menu_items %}
                            {% set activePath = page.header.navigation.active.path %}

                            {% for treeItem in page.header.navigation.tree %}
                                {% set category = treeItem.category %}
                                {% set name = category.translated.name %}

                                {% block layout_navbar_menu_item %}
                                    {% if category.type == 'folder' %}
                                        <li class="nav-item main-navigation-link"
                                            {% if treeItem.children|length > 0 %}
                                                data-flyout-menu-trigger="{{ category.id }}"
                                            {% endif %}
                                            title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                                <span itemprop="name">{{ name }}</span>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item {% if treeItem.children|length > 0 %}dropdown position-static pe-2{% endif %}">
                                            <a class="nav-link dropdown-toggle main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %} p-2"
                                               href="{{ category_url(category) }}"
                                               data-bs-toggle="dropdown"
                                               itemprop="url"
                                               {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                               title="{{ name }}">
                                                {{ name }}
                                            </a>
                                            {% if (treeItem.children|length > 0) %}
                                                <div class="dropdown-menu w-100 p-4" role="menu">
                                                    {% sw_include '@Storefront/storefront/layout/navbar/content.html.twig' with {
                                                        themeIconConfig: themeIconConfig,
                                                        navigationTree: treeItem,
                                                        level: level+1,
                                                        page: page
                                                    } only %}
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endblock %}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
