{% block layout_navigation_flyout %}
    {% block layout_navigation_flyout_bar %}
        <div class="navigation-flyout-bar">

            {% block layout_navigation_flyout_bar_category %}
                <div class="navigation-flyout-category-link">
                    {% block layout_navigation_flyout_bar_category_link %}
                        <a class="nav-item nav-link"
                           href="{{ path('frontend.navigation.page', {'navigationId': navigationTree.category.id}) }}"
                           itemprop="url"
                           title="{{ navigationTree.category.name }}">
                            {% block layout_navigation_flyout_bar_category_link_text %}
                                {{ "general.toCategory"|trans }} {{ navigationTree.entity.name }}
                                <i class="fas fa-chevron-right"></i>
                            {% endblock %}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_bar_close %}
                <div class="navigation-flyout-close" data-close-menu-flyout="true">
                    {% block layout_navigation_flyout_bar_close_content %}
                        <i class="fas fa-times"></i>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_navigation_flyout_content %}
        <div class="navigation-flyout-content">

            {% block layout_navigation_flyout_categories %}
                <div class="navigation-flyout-categories">
                    {% block layout_navigation_flyout_categories_recoursion %}
                        {% sw_include '@Storefront/layout/navigation/categories.html.twig' with { navigationTree: navigationTree.children } only %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_teaser %}
                {# @TODO NEXT-1994: add if and category content variables #}
                <div class="navigation-flyout-teaser">
                    {% block layout_navigation_flyout_teaser_image %}
                        <a class="teaser-image" href="/beach-und-relax/tag-am-meer/"
                            title="Zur Kategorie Beach &amp; Relax"
                            style="background-image: url(https://www.shopwaredemo.de/media/image/7b/f2/97/teaser-beach.png);"></a>
                    {% endblock %}
                    {% block layout_navigation_flyout_teaser_headline %}
                        <div class="teaser-headline">Beach &amp; Relax</div>
                    {% endblock %}
                    {% block layout_navigation_flyout_teaser_text %}
                        <div class="teaser-text">
                            Eine frische Brise weht über den noch menschenleeren Strand. Am Horizont steigt langsam die
                            Sonne auf und taucht alles um Dich herum in ein zartes Licht. Rauf aufs Brett und rein in
                            die
                            Wellen. In der Mittagssonne bietet Dir ein ausgiebiger...
                            {% block layout_navigation_flyout_teaser_link %}
                                <a class="teaser-text-link" href="/beach-und-relax/tag-am-meer/"
                                    title="{{ 'readMore'|trans }}">
                                    {% block layout_navigation_flyout_teaser_link_text %}
                                        {{ 'readMore'|trans }}
                                    {% endblock %}
                                </a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            <div class="clearfix"></div>
        </div>
    {% endblock %}

{% endblock %}



