{% block layout_navigation_flyout %}
    {% block layout_navigation_flyout_bar %}
        <div class="row navigation-flyout-bar">
            {% block layout_navigation_flyout_bar_category %}
                <div class="col">
                    <div class="navigation-flyout-category-link">
						{% block layout_navigation_flyout_bar_category_link %}
                            {% if navigationTree.category.type == 'page' %}
                                <a class="nav-link"
                                   href="{{ path('frontend.navigation.page', {'navigationId': navigationTree.category.id}) }}"
                                   itemprop="url"
                                   title="{{ navigationTree.category.translated.name }}">
                                    {% block layout_navigation_flyout_bar_category_link_text %}
										{% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
											'name': 'arrow-simple-right',
											'style': 'dark'
										} %}
										{{ "general.toCategory"|trans }} {{ navigationTree.category.translated.name }}
                                    {% endblock %}
                                </a>
                            {% endif %}
						{% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_bar_close %}
                <div class="col-auto">
                    <div class="navigation-flyout-close js-close-flyout-menu">
                        {% block layout_navigation_flyout_bar_close_content %}
                            {% block layout_utilities_offcanvas_close_icon %}
                                {% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
                                    'name': 'basic-x-line'
                                } %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_navigation_flyout_content %}
        <div class="row navigation-flyout-content">
            {% block layout_navigation_flyout_categories %}
                <div class="col">
                    <div class="navigation-flyout-categories">
                        {% block layout_navigation_flyout_categories_recoursion %}
                            {% sw_include '@Storefront/layout/navigation/categories.html.twig' with { navigationTree: navigationTree.children } only %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_teaser %}
                {% if navigationTree.category.media %}
                <div class="col-9">
                    <div class="navigation-flyout-teaser">
                        {% block layout_navigation_flyout_teaser_image %}
                            <a class="teaser-image"
                               href="{{ path('frontend.navigation.page', {'navigationId': navigationTree.category.id}) }}"
                               title="Zur Kategorie {{ navigationTree.category.translated.name }}"
                               style="background-image: url('{{ navigationTree.category.media.url }}');"></a>
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
