{% block frontend_detail_buy %}
    {# @var product \Shopware\Storefront\Bridge\Product\Struct\ProductDetailStruct #}

    {% set url = url('cart_add_product', {'target': 'checkout_cart' }) %}

    <form name="sAddToBasket"
          method="post"
          action="{{ url }}"
          class="buybox--form"
          {#data-add-article="true"#}
          {#data-eventName="submit"{% if theme.offcanvasCart %}{% set url = url('homepage', {'target': 'ajaxCart' }) %}data-showModal="false" data-addArticleUrl="{{ url }}"{% endif %}#}
    >

        <input type="hidden" name="identifier" value="{{ product.id }}"/>

        {#{$sCountConfigurator=$sArticle.sConfigurator|@count}#}

        {% block frontend_detail_buy_button_container_outer %}
            {% if product.active is defined == false or product.active %}
                {% if product.isAvailable %}
                    {% block frontend_detail_buy_button_container %}
                        <div class="buybox--button-container block-group{% if NotifyHideBasket and product.notification and product.instock <= 0 %} is--hidden{% endif %}">

                            {# Quantity selection #}
                            {% block frontend_detail_buy_quantity %}
                                <div class="buybox--quantity block">
                                    {% set maxPurchase = product.maxPurchase ?? shopware.config.maxpurchase %}
                                    {% set maxQuantity = maxPurchase %}
                                    {% if product.isCloseout() and product.stock < maxPurchase %}
                                        {% set maxQuantity = product.stock %}
                                    {% endif %}

                                    {% set purchaseSteps = product.purchaseSteps ?? 1 %}
                                    {% set minPurchase = product.minPurchase ?? 1 %}

                                    {% block frontend_detail_buy_quantity_select %}
                                        <div class="select-field">
                                            <select id="sQuantity" name="quantity" class="quantity--select">
                                                {% for i in range(minPurchase, maxQuantity) %}
                                                    {% if i == minPurchase or purchaseSteps > 0 and i % purchaseSteps == 0 %}
                                                        <option value="{{ i }}">{{ i }}{% if product.packUnit %} {{ product.packUnit }}{% endif %}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {# "Buy now" button #}
                            {% block frontend_detail_buy_button %}
                                {% if product.sConfigurator and activeConfiguratorSelection == false %}
                                    <button class="buybox--button block btn is--disabled is--icon-right is--large" disabled="disabled" aria-disabled="true"{% if buy_box_display %} style="{{ buy_box_display }}"{% endif %}>
                                        {% trans from 'frontend/detail/buy' %}DetailBuyActionAdd{% endtrans %} <i class="icon--arrow-right"></i>
                                    </button>
                                {% else %}
                                    <button class="buybox--button block btn is--primary is--icon-right is--center is--large"{% if buy_box_display %} style="{{ buy_box_display }}"{% endif %}>
                                        {% trans from 'frontend/detail/buy' %}DetailBuyActionAdd{% endtrans %} <i class="icon--arrow-right"></i>
                                    </button>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block frontend_detail_buy_services %}
            {% set lastId = null %}
            {# @var service \Shopware\Api\Product\Struct\ProductServiceBasicStruct #}
            {% for service in product.services %}
                {% if lastId != service.option.groupId %}
                    {% set lastId = service.option.groupId %}

                    <select name="service[{{ service.option.groupId }}]">

                        {% set services = product.services.filterByGroupId(lastId) %}

                        <option value="" selected="selected">{{ service.option.group.name }}</option>

                        {% for groupService in services %}
                            <option value="{{ groupService.id }}">
                                {{ groupService.option.name }}
                                (+{{ groupService.price.gross|localizedcurrency(context.currency.shortName) }})
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </form>
{% endblock %}
