{% block frontend_detail_image %}

     {# Product image - Thumbnails #}
    {% block frontend_detail_image_thumbs %}
        {% sw_include '@Storefront/frontend/detail/images.html.twig' %}
    {% endblock %}

     {# Product image - Gallery #}
    {% block frontend_detail_image_box %}
        {% spaceless %}

        {# @var product \Shopware\Api\Product\Struct\ProductDetailStruct #}
        <div class="image-slider--container{% if not product.media %} no--image{% endif %}{% if product.media.count == 0 %} no--thumbnails{% endif %}">
            <div class="image-slider--slide">

                {% block frontend_detail_image_default_image_slider_item %}
                    <div class="image--box image-slider--item">

                        {% block frontend_detail_image_default_image_element %}

                            {% set alt = product.name|escape %}

                            {% if product.cover.description %}
                                {% set alt = product.cover.description|escape %}
                            {% endif %}

                            <span class="image--element"
                                  {% if product.cover %}
                                  data-img-large="{{ product.media.first.media.extensions.thumbnails[2].url }}"
                                  data-img-small="{{ product.media.first.media.extensions.thumbnails[0].url }}"
                                  data-img-original="{{ product.media.first.media.url }}"
                                  {% endif %}
                                  data-alt="{{ alt }}">

                                {% block frontend_detail_image_default_image_media %}
                                    <span class="image--media">
                                        {% if product.media|length %}
                                            {% block frontend_detail_image_default_picture_element %}
                                                <img srcset="{{ product.media.first.media.extensions.thumbnails[1].url }}" alt="{{ alt }}" itemprop="image" />
                                            {% endblock %}
                                        {% else %}
                                            {% block frontend_detail_image_fallback %}
                                                <img src="{{ asset('bundles/storefront/src/img/no-picture.jpg') }}" alt="{{ alt }}" itemprop="image" />
                                            {% endblock %}
                                        {% endif %}
                                    </span>
                                {% endblock %}
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% for image in product.media[1:] %}
                    {% block frontend_detail_images_image_slider_item %}
                        <div class="image--box image-slider--item">

                            {% block frontend_detail_images_image_element %}

                                {% set alt = product.name|escape %}

                                {% if image.description %}
                                    {% set alt = image.description|escape %}
                                {% endif %}

                                <span class="image--element"
                                      data-img-large="{{ image.media.extensions.thumbnails[2].url }}"
                                      data-img-small="{{ image.media.extensions.thumbnails[0].url }}"
                                      data-img-original="{{ image.media.url }}"
                                      data-alt="{{ alt }}">

                                    {% block frontend_detail_images_image_media %}
                                        <span class="image--media">
                                            {% if image.media.extensions.thumbnails is defined %}
                                                {% block frontend_detail_images_picture_element %}
                                                    <img srcset="{{ image.media.extensions.thumbnails[1].url }}" alt="{{ alt }}" itemprop="image" />
                                                {% endblock %}
                                            {% else %}
                                                {% block frontend_detail_images_fallback %}
                                                    <img src="{{ asset('bundles/storefront/src/img/no-picture.jpg') }}" alt="{{ alt }}" itemprop="image" />
                                                {% endblock %}
                                            {% endif %}
                                        </span>
                                    {% endblock %}
                                </span>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            </div>
        </div>
        {% endspaceless %}
    {% endblock %}

     {# Product image - Dot navigation #}
    {% block frontend_detail_image_box_dots %}
        {% if product.images %}
            <div class="image--dots image-slider--dots panel--dot-nav">
                <a href="#" class="dot--link">&nbsp;</a>
                {% for image in product.images %}
                    <a href="#" class="dot--link">&nbsp;</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}