{# Thumbnails #}
{# @var product \Shopware\StorefrontApi\Product\ProductDetailStruct #}
{% if product.media.count %}

    {# Thumbnail - Container #}
    <div class="image--thumbnails image-slider--thumbnails">

        {# Thumbnail - Slide Container #}
        <div class="image-slider--thumbnails-slide">
            {% block frontend_detail_image_thumbnail_items %}

                {# Thumbnail - Main image #}
                {% if product.cover.media.extension('thumbnails') %}
                    {% set thumbnails = product.cover.media.extension('thumbnails') %}

                    <a href="{{ product.cover.media.url }}"
                       title="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                       class="thumbnail--link is--active">
                        {% block frontend_detail_image_thumbs_main_img %}
                            <img srcset="{{ thumbnails[0].url }}"
                                 alt="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                                 title="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                                 class="thumbnail--image" />
                        {% endblock %}
                    </a>
                {% endif %}

                {# Thumbnails #}
                {# @var media \Shopware\Api\Product\Struct\ProductMediaBasicStruct #}
                {% for media in product.media[1:] %}
                    {% if media.media.extension('thumbnails') %}
                        {% set thumbnails = media.media.extension('thumbnails') %}
                        {% block frontend_detail_image_thumbnail_images %}
                            <a href="{{ media.media.url }}"
                               title="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                               class="thumbnail--link">
                                {% block frontend_detail_image_thumbs_images_img %}
                                    <img srcset="{{ thumbnails[0].url }}"
                                         alt="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                                         title="{% trans from 'frontend/detail/index' %}DetailThumbnailText{% endtrans %}: {{ product.name }}"
                                         class="thumbnail--image" />
                                {% endblock %}
                            </a>
                        {% endblock %}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% endif %}