{% block frontend_detail_product_quick_view %}
    {# @var product \Shopware\StorefrontApi\Product\ProductDetailStruct#}
    <div class="product--quick-view">
        {% set url = path('detail_page', { id: product.id }) %}

        {% if product.extension('canonicalUrl') %}
            {% set url = product.extension('canonicalUrl').url %}
        {% endif %}

        {% block frontend_detail_product_quick_view_inner %}

            {# @var cover \Shopware\Api\Product\Struct\ProductMediaBasicStruct #}
            {% set cover = product.cover %}

            {# @var thumbnails \Shopware\Media\Struct\ThumbnailStruct[] #}
            {% set thumbnails = cover.media.extension('thumbnails') %}

            {% block frontend_detail_product_quick_view_image_link %}

                {% set description = product.name %}

                <a class="quick-view--image-link" href="{{ url }}" title="{{ description }}">
                    {% block frontend_detail_product_quick_view_image %}

                        <span class="quick-view--image">
                            {% block frontend_detail_product_quick_view_image_inner %}
                                {% if thumbnails %}
                                    <img srcset="{{ thumbnails[1].url }}" alt="{{ description }}" />
                                {% else %}
                                    {% block product_quick_view_image_fallback %}
                                        <img src="{{ asset('bundles/storefront/src/img/no-picture.jpg') }}" alt="{{ description }}">
                                    {% endblock %}
                                {% endif %}
                            {% endblock %}
                        </span>
                    {% endblock %}
                </a>
            {% endblock %}

            {% block frontend_detail_product_quick_view_header %}
                <div class="quick-view--header">
                    {% block frontend_detail_product_quick_view_header_inner %}
                        {% block frontend_detail_product_quick_view_title %}
                            <a href="{{ url }}" class="quick-view--title" title="{{ product.name }}">
                                {% block frontend_detail_product_quick_view_title_inner %}
                                    {{ product.name }}
                                {% endblock %}
                            </a>
                        {% endblock %}

                        {% block frontend_detail_product_quick_view_supplier %}
                            <div class="quick-view--supplier">
                                {% block frontend_detail_product_quick_view_supplier_inner %}
                                    {{ product.manufacturer.name }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block frontend_detail_product_quick_view_description_title %}
                <div class="quick-view--description-title">
                    {% block frontend_detail_product_quick_view_description_title_inner %}
                        {% trans from 'frontend/detail/description' %}DetailDescriptionHeader{% endtrans %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block frontend_detail_product_quick_view_description %}
                <div class="quick-view--description">
                    {% block frontend_detail_product_quick_view_description_inner %}
                        {{ product.descriptionLong }}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
