{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_newsletter %}
        <div class="row">
            <div class="newsletter-content col-lg-6">
                {% block page_newsletter_headline %}
                    <div class="card newsletter-headline">
                        <div class="card-body">
                            {% block page_newsletter_headline_title %}
                                <h1 class="newsletter-title">
                                    {{ "newsletter.headline"|trans|sw_sanitize }}
                                </h1>
                            {% endblock %}

                            {% block page_newsletter_headline_info %}
                                <div class="newsletter-info">
                                    {{ "newsletter.info"|trans|sw_sanitize }}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block page_newsletter_content %}
                    <div class="card newsletter-form">
                        <div class="card-body">
                            {% block page_newsletter_form_title %}
                                <div class="card-title">
                                    {{ "newsletter.headline"|trans|sw_sanitize }}
                                </div>
                            {% endblock %}

                            {% block page_newsletter_form %}
                                <form action="{{ path('frontend.newsletter.register.handle') }}"
                                      method="post"
                                      data-form-csrf-handler="true"
                                      data-form-validation="true">

                                    {% block page_newsletter_form_csrf %}
                                        {{ sw_csrf('frontend.newsletter.register.handle') }}
                                    {% endblock %}

                                    {% block page_newsletter_form_forward_to %}
                                        <input type="hidden" name="forwardTo" value="frontend.newsletter.register.page"/>
                                    {% endblock %}

                                    {% set formViolations = app.request.get('errors') %}

                                    {% block page_newsletter_form_field_subscription %}
                                        <div class="form-row">
                                            <div class="form-group col-md-4 newsletter-subscription">
                                                {% block page_newsletter_form_field_subscription_select %}
                                                    <div class="newsletter-select">
                                                        <select name="option"
                                                                required="required"
                                                                class="custom-select newsletter-select-field"
                                                                data-form-field-toggle="true"
                                                                data-form-field-toggle-target=".js-field-toggle-newsletter-additional"
                                                                data-form-field-toggle-value="subscribe">
                                                            <option value="subscribe">
                                                                {{ "newsletter.subscribeOption"|trans|sw_sanitize }}
                                                            </option>
                                                            <option value="unsubscribe">
                                                                {{ "newsletter.unsubscribeOption"|trans|sw_sanitize }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                {% endblock %}

                                                {% block page_newsletter_form_field_subscription_error %}
                                                    {% if formViolations.getViolations('/status') is not empty %}
                                                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                                            violationPath: '/status'
                                                        } %}
                                                    {% endif %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    {% endblock %}

                                    {% block page_newsletter_form_field_email %}
                                        <div class="form-group newsletter-email">
                                            {% block page_newsletter_form_field_email_label %}
                                                <label class="form-label" for="newsletterMail">
                                                    {{ "account.personalMailLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                                </label>
                                            {% endblock %}

                                            {% block page_newsletter_form_field_email_input %}
                                                <input name="email"
                                                       type="email"
                                                       id="newsletterMail"
                                                       placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                                                       required="required"
                                                       value="{{ data.get('email') }}"
                                                       class="form-control{% if formViolations.getViolations('/email') %} is-invalid{% endif %}"/>
                                            {% endblock %}

                                            {% block page_newsletter_form_field_email_error %}
                                                {% if formViolations.getViolations('/email') is not empty %}
                                                    {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                                        violationPath: '/email'
                                                    } %}
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block page_newsletter_form_additional_fields %}
                                        <div class="js-field-toggle-newsletter-additional d-none">
                                            {% block page_newsletter_form_field_salutation %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-4 newsletter-salutation">
                                                        {% block page_newsletter_form_field_salutation_select_label %}
                                                            <label class="form-label" for="newsletterSalutation">
                                                                {{ "account.personalSalutationLabel"|trans|sw_sanitize }}
                                                            </label>
                                                        {% endblock %}
                                                        {% block page_newsletter_form_field_salutation_select %}
                                                            <select name="salutationId"
                                                                    id="newsletterSalutation"
                                                                    class="custom-select newsletter-select">
                                                                {% if not data.get('salutationId') %}
                                                                    <option disabled="disabled"
                                                                            selected="selected"
                                                                            value="">
                                                                        {{ "account.personalSalutationPlaceholder"|trans|sw_sanitize }}
                                                                    </option>
                                                                {% endif %}
                                                                {% for salutation in page.salutations %}
                                                                    <option value="{{ salutation.id }}">
                                                                        {{ salutation.displayName }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            {% endblock %}

                                            {% block page_newsletter_form_field_firstname %}
                                                <div class="form-group newsletter-firstname">
                                                    {% block page_newsletter_form_field_firstname_label %}
                                                        <label class="form-label" for="newsletterFirstName">
                                                            {{ "account.personalFirstNameLabel"|trans|sw_sanitize }}
                                                        </label>
                                                    {% endblock %}

                                                    {% block page_newsletter_form_field_firstname_input %}
                                                        <input name="firstName"
                                                               id="newsletterFirstName"
                                                               type="text"
                                                               placeholder="{{ "account.personalFirstNamePlaceholder"|trans|striptags }}"
                                                               value="{{ data.get('firstName') }}"
                                                               class="form-control"/>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}

                                            {% block page_newsletter_form_field_lastname %}
                                                {% block page_newsletter_form_field_lastname_label %}
                                                    <label class="form-label" for="newsletterLastName">
                                                        {{ "account.personalLastNameLabel"|trans|sw_sanitize }}
                                                    </label>
                                                {% endblock %}
                                                {% block page_newsletter_form_field_lastname_input %}
                                                    <div class="form-group newsletter-lastname">
                                                        <input name="lastName"
                                                               id="newsletterLastName"
                                                               type="text"
                                                               placeholder="{{ "account.personalLastNamePlaceholder"|trans|striptags }}"
                                                               value="{{ data.get('lastName') }}"
                                                               class="form-control"/>
                                                    </div>
                                                {% endblock %}
                                            {% endblock %}

                                            {% block page_newsletter_form_field_street %}
                                                <div class="form-group newsletter-street">
                                                    {% block page_newsletter_form_field_street_label %}
                                                        <label class="form-label" for="newsletterStreet">
                                                            {{ "address.streetLabel"|trans|sw_sanitize }}
                                                        </label>
                                                    {% endblock %}
                                                    {% block page_newsletter_form_field_street_input %}
                                                        <input name="street"
                                                               id="newsletterStreet"
                                                               type="text"
                                                               placeholder="{{ "address.streetPlaceholder"|trans|striptags }}"
                                                               value="{{ data.get('street') }}"
                                                               class="form-control"/>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}

                                            {% block page_newsletter_form_field_zip_and_city %}
                                                <div class="form-row newsletter-zip-city">
                                                    {% set zipcodeField %}
                                                        <label class="form-label" for="newsletterZipcode">
                                                            {{ "address.zipcodeLabel"|trans|sw_sanitize }}
                                                        </label>
                                                        <input name="zipCode"
                                                               type="text"
                                                               class="form-control"
                                                               id="newsletterZipcode"
                                                               placeholder="{{ "address.zipcodePlaceholder"|trans|striptags }}"
                                                               value="{{ data.get('zipcode') }}">
                                                    {% endset %}
                                                    {% set cityField %}
                                                        <label class="form-label" for="newsletterCity">
                                                            {{ "address.cityLabel"|trans|sw_sanitize }}
                                                        </label>
                                                        <input name="city"
                                                               type="text"
                                                               class="form-control "
                                                               id="newsletterCity"
                                                               placeholder="{{ "address.cityPlaceholder"|trans|striptags }}"
                                                               value="{{ data.get('city') }}">
                                                    {% endset %}
                                                    {% if shopware.config.core.address.showZipcodeInFrontOfCity %}
                                                        <div class="form-group col-md-4 address-zip">
                                                            {{ zipcodeField }}
                                                        </div>
                                                        <div class="form-group col-md-8 address-city">
                                                            {{ cityField }}
                                                        </div>
                                                    {% else %}
                                                        <div class="form-group col-md-8 address-city">
                                                            {{ cityField }}
                                                        </div>
                                                        <div class="form-group col-md-4 address-zip">
                                                            {{ zipcodeField }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {#TODO: NEXT-2002 - add captcha#}
                                    {% block page_newsletter_form_captcha %}{% endblock %}

                                    {% block page_newsletter_form_privacy %}
                                        {% sw_include '@Storefront/storefront/component/privacy-notice.html.twig' %}
                                    {% endblock %}

                                    {% block page_newsletter_form_required %}
                                        <p class="form-text newsletter-required-info">
                                            {{ "general.requiredFields"|trans|sw_sanitize }}
                                        </p>
                                    {% endblock %}

                                    {% block page_newsletter_form_submit %}
                                        <div class="newsletter-action">
                                            <button type="submit"
                                                    class="btn btn-primary newsletter-btn">
                                                {{ "newsletter.formSubmit"|trans|sw_sanitize }}
                                            </button>
                                        </div>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
