{# Config #}
{% set productSliderCls %}
    {% if productSliderCls is defined %}{{ productSliderCls }}{% else %}""{% endif %}
{% endset %}
{% set productBoxLayout %}
    {% if productBoxLayout is defined %}{{ productBoxLayout }}{% else %}"slider"{% endif %}
{% endset %}
{% set sliderMode %}
    {% if sliderMode is defined %}{{ sliderMode }}{% else %}""{% endif %}
{% endset %}
{% set sliderOrientation %}
    {% if sliderOrientation is defined %}{{ sliderOrientation }}{% else %}""{% endif %}
{% endset %}
{% set sliderItemMinWidth %}
    {% if sliderItemMinWidth is defined %}{{ sliderItemMinWidth }}{% else %}""{% endif %}
{% endset %}
{% set sliderItemMinHeight %}
    {% if sliderItemMinHeight is defined %}{{ sliderItemMinHeight }}{% else %}""{% endif %}
{% endset %}
{% set sliderItemsPerSlide %}
    {% if sliderItemsPerSlide is defined %}{{ sliderItemsPerSlide }}{% else %}""{% endif %}
{% endset %}
{% set sliderItemsPerPage %}
    {% if sliderItemsPerPage is defined %}{{ sliderItemsPerPage }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoSlide %}
    {% if sliderAutoSlide is defined %}{{ sliderAutoSlide }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoSlideDirection %}
    {% if sliderAutoSlideDirection is defined %}{{ sliderAutoSlideDirection }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoSlideSpeed %}
    {% if sliderAutoSlideSpeed is defined %}{{ sliderAutoSlideSpeed }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoScroll %}
    {% if sliderAutoScroll is defined %}{{ sliderAutoScroll }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoScrollDirection %}
    {% if sliderAutoScrollDirection is defined %}{{ sliderAutoScrollDirection }}{% else %}""{% endif %}
{% endset %}
{% set sliderAutoScrollSpeed %}
    {% if sliderAutoScrollSpeed is defined %}{{ sliderAutoScrollSpeed }}{% else %}""{% endif %}
{% endset %}
{% set sliderScrollDistance %}
    {% if sliderScrollDistance is defined %}{{ sliderScrollDistance }}{% else %}""{% endif %}
{% endset %}
{% set sliderAnimationSpeed %}
    {% if sliderAnimationSpeed is defined %}{{ sliderAnimationSpeed }}{% else %}""{% endif %}
{% endset %}
{% set sliderArrowControls %}
    {% if sliderArrowControls is defined %}{{ sliderArrowControls }}{% else %}""{% endif %}
{% endset %}
{% set sliderArrowAction %}
    {% if sliderArrowAction is defined %}{{ sliderArrowAction }}{% else %}""{% endif %}
{% endset %}
{% set sliderWrapperCls %}
    {% if sliderWrapperCls is defined %}{{ sliderWrapperCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderHorizontalCls %}
    {% if sliderHorizontalCls is defined %}{{ sliderHorizontalCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderVerticalCls %}
    {% if sliderVerticalCls is defined %}{{ sliderVerticalCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderArrowCls %}
    {% if sliderArrowCls is defined %}{{ sliderArrowCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderPrevArrowCls %}
    {% if sliderPrevArrowCls is defined %}{{ sliderPrevArrowCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderNextArrowCls %}
    {% if sliderNextArrowCls is defined %}{{ sliderNextArrowCls }}{% else %}""{% endif %}
{% endset %}
{% set sliderAjaxCtrlUrl %}
    {% if sliderAjaxCtrlUrl is defined %}{{ sliderAjaxCtrlUrl }}{% else %}""{% endif %}
{% endset %}
{% set sliderAjaxCategoryID %}
    {% if sliderAjaxCategoryID is defined %}{{ sliderAjaxCategoryID }}{% else %}""{% endif %}
{% endset %}
{% set sliderAjaxMaxShow %}
    {% if sliderAjaxMaxShow is defined %}{{ sliderAjaxMaxShow }}{% else %}""{% endif %}
{% endset %}
{% set sliderAjaxShowLoadingIndicator %}
    {% if sliderAjaxShowLoadingIndicator is defined %}{{ sliderAjaxShowLoadingIndicator }}{% else %}""{% endif %}
{% endset %}
{% set sliderInitOnEvent %}
    {% if sliderInitOnEvent is defined %}{{ sliderInitOnEvent }}{% else %}""{% endif %}
{% endset %}
{% set fixedImageSize %}
    {% if fixedImageSize is defined %}{{ fixedImageSize }}{% else %}""{% endif %}
{% endset %}

{# Template #}
{% block frontend_common_product_slider_component %}
    <div class="product-slider {{ productSliderCls }}"
         {% if sliderMode %}data-mode="{{ sliderMode }}"{% endif %}
         {% if sliderOrientation %}data-orientation="{{ sliderOrientation }}"{% endif %}
         {% if sliderItemMinWidth %}data-itemMinWidth="{{ sliderItemMinWidth }}"{% endif %}
         {% if sliderItemMinHeight %}data-itemMinHeight="{{ sliderItemMinHeight }}"{% endif %}
         {% if sliderItemsPerSlide %}data-itemsPerSlide="{{ sliderItemsPerSlide }}"{% endif %}
         {% if sliderItemsPerPage %}data-itemsPerPage="{{ sliderItemsPerPage }}"{% endif %}
         {% if sliderAutoSlide %}data-autoSlide="{{ sliderAutoSlide }}"{% endif %}
         {% if sliderAutoSlideDirection %}data-autoSlideDirection="{{ sliderAutoSlideDirection }}"{% endif %}
         {% if sliderAutoSlideSpeed %}data-autoSlideSpeed="{{ sliderAutoSlideSpeed }}"{% endif %}
         {% if sliderAutoScroll %}data-autoScroll="{{ sliderAutoScroll }}"{% endif %}
         {% if sliderAutoScrollDirection %}data-autoScrollDirection="{{ sliderAutoScrollDirection }}"{% endif %}
         {% if sliderAutoScrollSpeed %}data-autoScrollSpeed="{{ sliderAutoScrollSpeed }}"{% endif %}
         {% if sliderScrollDistance %}data-scrollDistance="{{ sliderScrollDistance }}"{% endif %}
         {% if sliderAnimationSpeed %}data-animationSpeed="{{ sliderAnimationSpeed }}"{% endif %}
         {% if sliderArrowControls %}data-arrowControls="{{ sliderArrowControls }}"{% endif %}
         {% if sliderArrowAction %}data-arrowAction="{{ sliderArrowAction }}"{% endif %}
         {% if sliderWrapperCls %}data-wrapperCls="{{ sliderWrapperCls }}"{% endif %}
         {% if sliderHorizontalCls %}data-horizontalCls="{{ sliderHorizontalCls }}"{% endif %}
         {% if sliderVerticalCls %}data-verticalCls="{{ sliderVerticalCls }}"{% endif %}
         {% if sliderArrowCls %}data-arrowCls="{{ sliderArrowCls }}"{% endif %}
         {% if sliderPrevArrowCls %}data-prevArrowCls="{{ sliderPrevArrowCls }}"{% endif %}
         {% if sliderNextArrowCls %}data-nextArrowCls="{{ sliderNextArrowCls }}"{% endif %}
         {% if sliderAjaxCtrlUrl %}data-ajaxCtrlUrl="{{ sliderAjaxCtrlUrl }}"{% endif %}
         {% if sliderAjaxCategoryID %}data-ajaxCategoryID="{{ sliderAjaxCategoryID }}"{% endif %}
         {% if sliderAjaxMaxShow %}data-ajaxMaxShow="{{ sliderAjaxMaxShow }}"{% endif %}
         {% if sliderAjaxShowLoadingIndicator %}data-ajaxShowLoadingIndicator="{{ sliderAjaxShowLoadingIndicator }}"{% endif %}
         {% if sliderInitOnEvent %}data-initOnEvent="{{ sliderInitOnEvent }}"{% endif %}
         data-product-slider="true">

        {% block frontend_common_product_slider_container %}
            <div class="product-slider--container">
                {% sw_include '@Storefront/frontend/_includes/product_slider_items.html.twig' %}
            </div>
        {% endblock %}

    </div>
{% endblock %}