{% block sw_promotion_discount_component %}
    <div class="sw-promotion-discount-component">
        <sw-container columns="1fr 1fr" gap="0px 30px">
            {% block sw_promotion_discount_component_scope %}
                <sw-select-field v-model="discount.scope"
                                 required
                                 validation="required"
                                 :label="$tc('sw-promotion.detail.main.discounts.labelScope')">
                    <option v-for="scope in getScopes()" :value="scope.key">
                        {{ scope.name }}
                    </option>
                </sw-select-field>
            {% endblock %}

            {% block sw_promotion_discount_condition_consider_product_rules_field %}
                <sw-field type="switch"
                          bordered
                          :label="$tc('sw-promotion.detail.main.discounts.flagProductScopeLabel')"
                          v-model="discount.considerAdvancedRules">
                </sw-field>
            {% endblock %}
        </sw-container>

        {% block sw_promotion_discount_condition_rules_form %}
            <template v-if="discount.considerAdvancedRules === true">
                <sw-many-to-many-select
                        class="sw-promotion-discount-component__select-discount-rules"
                        ref="productRuleSelector"
                        localMode
                        :criteria="ruleFilter"
                        :label="$tc('sw-promotion.detail.main.discounts.labelRules')"
                        :placeholder="$tc('sw-promotion.detail.main.discounts.placeholder')"
                        :collection="discount.discountRules"
                        @sw-multi-select-option-clicked="onOptionClick">
                    <template slot="sw_multi_select_list_before">
                        <sw-multi-select-option :index="-1"
                                                :item="itemAddNewRule">
                            {{ $tc('sw-select-rule-create.addNewRule') }}
                        </sw-multi-select-option>
                    </template>
                </sw-many-to-many-select>
            </template>
        {% endblock %}

        <sw-container columns="1fr 1fr" gap="0px 30px">
            {% block sw_promotion_discount_component_type %}
                <sw-select-field v-model="discount.type"
                                 :label="$tc('sw-promotion.detail.main.discounts.labelType')">
                    <option v-for="type in getTypes()" :value="type.key">
                        {{ type.name }}
                    </option>
                </sw-select-field>
            {% endblock %}
            {% block sw_promotion_discount_component_value %}
                <sw-field type="number"
                          validation="required"
                          required
                          v-model="discount.value"
                          :min="getValueMin()"
                          :max="getValueMax()"
                          :label="$tc('sw-promotion.detail.main.discounts.labelValue')"
                          :placeholder="$tc('sw-promotion.detail.main.discounts.placeholderValue')">
                    <template #suffix>
                        {{ getValueSuffix() }}
                    </template>
                </sw-field>
            {% endblock %}
        </sw-container>

        {% block sw_promotion_discount_advanced_prices_link %}
            <sw-container columns="1fr" justify="end">
                <template v-if="this.displayAdvancedPricesLink === true">
                    <a @click="onClickAdvancedPrices" class="sw-card__quick-link advanced-prices">
                        {#<a @click="openAdvancedPricesModal" class="sw-card__quick-link advanced-prices">#}
                        {{ $tc('sw-promotion.detail.main.discounts.linkAdvancedPrices') }}
                        <sw-icon name="default-arrow-simple-right" small></sw-icon>
                    </a>
                </template>
            </sw-container>
        {% endblock %}

        {% block sw_promotion_discount_advanced_prices_modal %}
            <sw-modal v-if="displayAdvancedPrices"
                      @modal-close="onCloseAdvancedPricesModal"
                      :title="$tc('sw-promotion.detail.main.discounts.pricesModal.advancedPricesHeader')"
                      class="sw-promotion-discount-form__advanced-prices-modal">

                <sw-one-to-many-grid :collection="discount.promotionDiscountPrices"
                                     ref="advancedPricesGrid"
                                     :localMode="true"
                                     :columns="currencyPriceColumns"
                                     :showSelection="false"
                                     :isLoading="isLoading"
                                     enableInlineEdit="true">

                    <template #column-currency.translated.name="{ item }">
                        <p>{{ item.currency.translated.name  }}</p>
                    </template>

                    <template #column-price="{ item }">
                        <sw-number-field type="text"
                                         v-model="item.price"
                                         small>

                            <template #suffix>
                                {{ item.currency.symbol }}
                            </template>
                        </sw-number-field>
                    </template>
                </sw-one-to-many-grid>

                <template slot="modal-footer">
                    <sw-button variant="primary" size="small" @click="onCloseAdvancedPricesModal">
                        {{ $tc('sw-promotion.detail.main.discounts.pricesModal.closeModal') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        {% block sw_select_rule_create_rule_modal %}
            {#todo next-2945 change allowedRuleScope if rule types may be addressed correctly #}
            <sw-rule-modal v-if="showRuleModal"
                           @save="onSaveRule"
                           @modal-close="onCloseRuleModal"
                           :allowedRuleScopes="['lineItem']">
            </sw-rule-modal>
        {% endblock %}
    </div>
{% endblock %}
