{% sw_extends '@Storefront/layout/_utilities/offcanvas.html.twig' %}

{% block layout_utilities_offcanvas_close_text %}
	{{ "checkout.continueShopping"|trans }}
{% endblock %}

{% block layout_utilities_offcanvas_content %}
	{% block layout_cart_mini %}
		<div class="offcanvas-cart">
			{% set isCartNotEmpty = (page.cart.lineItems|length > 0) %}

			{% if isCartNotEmpty %}
				{% for lineItem in page.cart.lineItems %}
					{% block layout_cart_mini_item %}
						<div class="cart-item cart-item-{{ lineItem.type }}">
							{% block layout_cart_mini_item_image %}
								<div class="cart-item-image">
									{% if lineItem.type == 'product' %}
										{% if lineItem.cover.url %}
											{% set imgSrc = lineItem.cover.url %}
										{% else %}
											{% set imgSrc = asset(shopware.theme.general.noPicture) %}
										{% endif %}
										<img src="{{ imgSrc }}"
											 class="img-fluid"
											 alt="{{ lineItem.label }}"
											 title="{{ lineItem.label }}">
									{% elseif lineItem.type == 'promotion' %}
										{% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
											'name': 'object-marketing'
										} %}
									{% endif %}
								</div>
							{% endblock %}

							{% block layout_cart_mini_item_actions %}
								{% if lineItem.isRemovable() %}
									<form action="{{ path('frontend.checkout.line-item.delete', {'id': lineItem.key}) }}"
										  class="cart-item-remove js-offcanvas-cart-remove-product"
										  method="post">
										<input type="hidden" name="_method" value="POST">
										{% block layout_cart_mini_item_actions_redirect_input %}
											<input type="hidden" name="redirectTo" value="frontend.cart.detail"/>
										{% endblock %}
										<button type="submit"
												title="{{ "checkout.removeLineItem"|trans }}"
												class="btn btn-light">
											{% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
												'name': 'basic-x-line',
												'style': 'sm'
											} %}
										</button>
									</form>
								{% endif %}
							{% endblock %}

							{% block layout_cart_mini_item_link %}
								<a href="{{ path('frontend.detail.page', {'productId': lineItem.key}) }}"
								   class="cart-item-link">
									{% block layout_cart_mini_item_quantity %}
										<span class="cart-item-link-quantity">
                                            {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans }}
										</span>
									{% endblock %}

									{% block layout_cart_mini_item_name %}
										<span class="cart-item-link-name">
                                            {{ lineItem.label }}
										</span>
									{% endblock %}

									{% block layout_cart_mini_item_price %}
										<span class="cart-item-link-price">
                                            {{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
										</span>
									{% endblock %}
								</a>
							{% endblock %}
						</div>
					{% endblock %}
				{% endfor %}
			{% else %}
				{% block layout_cart_mini_cart_empty %}
					<div class="cart-item is--empty">{{ "checkout.emptyCart"|trans }}</div>
				{% endblock %}
			{% endif %}

			{% if isCartNotEmpty %}
				{% block layout_cart_mini_cart_prices %}
					<div class="cart-prices">
						<span class="cart-prices-text">
							{{ "checkout.subtotalAmount"|trans }}
						</span>
						<span class="cart-prices-subtotal">
							{{ page.cart.price.positionPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}
						</span>
					</div>
				{% endblock %}

				{% block layout_cart_mini_cart_tax_info %}
					<p class="cart-tax">
						{% if page.cart.price.taxStatus == "gross" %}
							{{ "general.grossTaxInformation"|trans }}
						{% else %}
							{{ "general.netTaxInformation"|trans }}
						{% endif %}
					</p>
				{% endblock %}
			{% endif %}

			{% block layout_cart_mini_cart_actions %}
				<div class="cart-actions">
					{% block layout_cart_mini_cart_actions_checkout %}
						<a href="{{ path('frontend.checkout.confirm.page') }}"
						   class="btn btn-block {% if isCartNotEmpty %}btn-primary{% else %}btn-light disabled{% endif %}"
						   title="{{ "checkout.proceedToCheckout"|trans }}">
							{{ "checkout.proceedToCheckout"|trans }}
						</a>
					{% endblock %}

					{% block layout_cart_mini_cart_actions_cart %}
						<a href="{{ path('frontend.checkout.cart.page') }}"
						   class="btn btn-block btn-link"
						   title="{{ "checkout.proceedToCart"|trans }}">
							{{ "checkout.proceedToCart"|trans }}
						</a>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
