<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_address_modal %}
<sw-modal
    :title="$tc('sw-order.addressSelection.modalTitleEditAddress')"
    :is-loading="isLoading"
    @modal-close="onClose"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_address_modal_content %}
    <sw-tabs
        class="sw-order-address-modal"
        position-identifier="sw-order-address-modal"
        default-item="edit"
        @new-item-active="onNewActiveItem"
    >
        <template #default="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_address_modal_tabs %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_address_modal_tab_edit_address %}
            <sw-tabs-item
                name="edit"
                :active-tab="active"
            >
                {{ $tc('sw-order.addressSelection.headlineTabEditAddress') }}
            </sw-tabs-item>
            {%  endblock %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_address_modal_tab_select_address %}
            <sw-tabs-item
                name="addresses"
                :active-tab="active"
            >
                {{ $tc('sw-order.addressSelection.headlineTabSelectAddress') }}
            </sw-tabs-item>
            {% endblock %}
            {% endblock %}
        </template>

        <template #content="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_address_modal_tabs_content %}
            <div v-if="active==='edit'">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_address_modal_tabs_content_edit_address %}
                <sw-customer-address-form
                    :address="address"
                    :customer="orderCustomer"
                    :countries="countries"
                />
                <sw-custom-field-set-renderer
                    :entity="address"
                    variant="tabs"
                    :sets="addressCustomFieldSets"
                />
                {% endblock %}
            </div>
            <div v-if="active==='addresses'">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_address_modal_tabs_content_select_address %}
                <sw-button
                    v-for="address in availableAddresses"
                    :key="address.id"
                    block
                    :class="addressButtonClasses(address.id)"
                    @click="onExistingAddressSelected(address)"
                >
                    {{ address.company }} <br>
                    {{ address | salutation }}<br>
                    {{ address.street }} <br>
                    {{ address.zipcode }} {{ address.city }}<br>
                    {{ placeholder(address.country, 'name') }}<br>
                </sw-button>
                {% endblock %}
            </div>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_address_modal_actions %}
    <template #modal-footer>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_address_modal_action_close %}
        <sw-button
            size="small"
            @click="onClose"
        >
            {{ $tc('sw-customer.detailAddresses.buttonCancel') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_address_modal_actions_apply %}
        <sw-button
            variant="primary"
            size="small"
            @click="onSave"
        >
            {{ $tc('sw-customer.detailAddresses.buttonApply') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
{% endblock %}

