{% sw_extends 'frontend/index/index.html.twig' %}

{# Back to the shop button #}
{% block frontend_index_logo_trusted_shops %}
    {{ parent() }}
    <a href="{{ path('cart_index') }}"
       class="btn is--small btn--back-top-shop is--icon-left"
       title="{% trans from 'frontend/checkout/finish' %}FinishButtonBackToShop{% endtrans %}"
       xmlns="http://www.w3.org/1999/html">

        <i class="icon--arrow-left"></i>
        {% trans from 'frontend/checkout/finish' %}FinishButtonBackToShop{% endtrans %}
    </a>
{% endblock %}

{# Hide sidebar left #}
{% block frontend_index_content_left %}
    {#{if !$theme.checkoutHeader}#}
    {#{$smarty.block.parent}#}
    {#{/if}#}
{% endblock %}

{# Hide breadcrumb #}
{% block frontend_index_breadcrumb %}{% endblock %}

{# Hide shop navigation #}
{% block frontend_index_shop_navigation %}
    {#{if !$theme.checkoutHeader}#}
    {#{$smarty.block.parent}#}
    {#{/if}#}
{% endblock %}

{# Step box #}
{% block frontend_index_navigation_categories_top %}
    {% sw_include 'frontend/register/steps.html.twig' with {'activeStep': 'finished'} %}
{% endblock %}

{# Hide top bar #}
{% block frontend_index_top_bar_container %}
    {#{if !$theme.checkoutHeader}#}
    {#{$smarty.block.parent}#}
    {#{/if}#}
{% endblock %}

{# Footer #}
{% block frontend_index_footer %}
    {% block frontend_index_checkout_confirm_footer %}{% endblock %}
{% endblock %}

{#{* Main content *}#}
{% block frontend_index_content %}
    <div class="content confirm--content">

        {#{* Error messages *}#}
        {#{block name='frontend_checkout_confirm_error_messages'}#}
        {#{include file="frontend/checkout/error_messages.tpl"}#}
        {#{/block}#}

        <h1 style="text-align: center;">Bestellung bestätigen</h1>

        {% block frontend_checkout_confirm_form %}
            <form id="confirm--form" method="post" action="{{ path('checkout_pay') }}">

                {# AGB and Revocation #}
                {% block frontend_checkout_confirm_tos_panel %}
                    <div class="tos--panel panel has--border">

                        {% block frontend_checkout_confirm_tos_panel_headline %}
                            <div class="panel--title primary is--underline">
                                {% trans from 'frontend/checkout/confirm' %}ConfirmHeadlineAGBandRevocation{% endtrans %}
                            </div>
                        {% endblock %}

                        <div class="panel--body is--wide">

                            {# Right of revocation notice #}
                            {% block frontend_checkout_confirm_tos_revocation_notice %}
                                {% if shopware.config.revocationNotice %}
                                    <div class="body--revocation" data-modalbox="true" data-targetSelector="a"
                                         data-mode="ajax" data-height="500" data-width="750">
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmTextRightOfRevocationNew{% endtrans %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {# Hidden field for the user comment #}
                            {#<textarea class="is--hidden user-comment--hidden" rows="1" cols="1" name="sComment">{$sComment|escape}</textarea>#}

                            <ul class="list--checkbox list--unstyled">

                                {# Terms of service #}
                                {% block frontend_checkout_confirm_agb %}
                                    <li class="block-group row--tos">

                                        {# Terms of service checkbox #}
                                        {% block frontend_checkout_confirm_agb_checkbox %}
                                            <span class="block column--checkbox">
                                                {% if not shopware.config.IgnoreAGB %}
                                                    <input type="checkbox" required="required" aria-required="true"
                                                           id="sAGB"
                                                           name="sAGB"{% if AGBChecked %} checked="checked"{% endif %} />
                                                {% endif %}
                                            </span>
                                        {% endblock %}

                                        {# AGB label #}
                                        {% block frontend_checkout_confirm_agb_label %}
                                            <span class="block column--label">
                                                <label for="sAGB" data-modalbox="true" data-targetSelector="a"
                                                       data-mode="ajax" data-height="500" data-width="750">
                                                    {% trans from 'frontend/checkout/confirm' %}ConfirmTerms{% endtrans %}
                                                </label>
                                            </span>
                                        {% endblock %}

                                    </li>
                                {% endblock %}

                            </ul>
                        </div>
                    </div>
                {% endblock %}

                {% block frontend_checkout_confirm_information_wrapper %}
                    <div class="panel--group block-group information--panel-wrapper" data-panel-auto-resizer="true">

                        {% block frontend_checkout_confirm_information_addresses %}
                            {% if context.customer.activeBillingAddress.id == context.customer.activeShippingAddress.id %}

                                {# Equal Billing & Shipping #}
                                {% block frontend_checkout_confirm_information_addresses_equal %}
                                    <div class="information--panel-item information--panel-address">
                                        {% block frontend_checkout_confirm_information_addresses_equal_panel %}
                                            <div class="panel has--border is--rounded block information--panel">

                                                {% block frontend_checkout_confirm_information_addresses_equal_panel_title %}
                                                    <div class="panel--title is--underline">
                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmAddressEqualTitle{% endtrans %}
                                                    </div>
                                                {% endblock %}
                                                {% block frontend_checkout_confirm_information_addresses_equal_panel_body %}
                                                    <div class="panel--body is--wide">
                                                        {% block frontend_checkout_confirm_information_addresses_equal_panel_billing %}
                                                            <div class="billing--panel">
                                                                {{ include('@Storefront/frontend/_includes/address.html.twig', {
                                                                    'address': context.customer.activeBillingAddress
                                                                }) }}
                                                            </div>
                                                        {% endblock %}

                                                        {% block frontend_checkout_confirm_information_addresses_equal_panel_shipping %}
                                                            <div class="shipping--panel">
                                                                {% block frontend_checkout_confirm_information_addresses_equal_panel_shipping_select_address %}
                                                                    <a href="{{ path('address_index') }}"
                                                                       class="btn choose-different-address"
                                                                       data-address-selection="true"
                                                                       data-setDefaultShippingAddress="true"
                                                                       data-id="{{ context.customer.activeShippingAddress.id }}"
                                                                       title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressChooseDifferentShippingAddress{% endtrans %}">
                                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmAddressChooseDifferentShippingAddress{% endtrans %}
                                                                    </a>
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}

                                                    </div>

                                                    {% block frontend_checkout_confirm_information_addresses_equal_panel_actions %}
                                                        <div class="panel--actions is--wide">
                                                            {% block frontend_checkout_confirm_information_addresses_equal_panel_actions_change %}
                                                                <div class="address--actions-change">
                                                                    {% block frontend_checkout_confirm_information_addresses_equal_panel_shipping_change_address %}
                                                                        <a href="{{ path('address_edit', {'addressId': context.customer.activeBillingAddress.id, 'redirectTo': redirectTo}) }}"
                                                                           data-address-editor="true"
                                                                           data-id="{{ context.customer.activeBillingAddress.id }}"
                                                                           data-setDefaultShippingAddress="true"
                                                                           data-setDefaultBillingAddress="true"
                                                                           data-title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                           title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                           class="btn">
                                                                            {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}
                                                                        </a>
                                                                    {% endblock %}

                                                                    {% block frontend_checkout_confirm_information_addresses_equal_panel_shipping_add_address %}
                                                                        <a href="{{ path('address_index') }}"
                                                                           class="btn choose-different-address"
                                                                           data-address-selection="true"
                                                                           data-setDefaultShippingAddress="true"
                                                                           data-id="{{ context.customer.activeShippingAddress.id }}"
                                                                           title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressChooseDifferentShippingAddress{% endtrans %}">
                                                                            {% trans from 'frontend/checkout/confirm' %}ConfirmAddressChooseDifferentShippingAddress{% endtrans %}
                                                                        </a>
                                                                    {% endblock %}
                                                                </div>
                                                            {% endblock %}
                                                            {% block frontend_checkout_confirm_information_addresses_equal_panel_actions_select_address %}
                                                                <a href="{{ path('address_index') }}"
                                                                   title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}"
                                                                   data-address-selection="true"
                                                                   data-setDefaultShippingAddress="true"
                                                                   data-setDefaultBillingAddress="true"
                                                                   data-id="{{ context.customer.activeBillingAddress.id }}">
                                                                    {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}
                                                                </a>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% else %}
                                {# Separate Billing & Shipping #}
                                {% block frontend_checkout_confirm_information_addresses_billing %}
                                    <div class="information--panel-item information--panel-item-billing">
                                        {# Billing address #}
                                        {% block frontend_checkout_confirm_information_addresses_billing_panel %}
                                            <div class="panel has--border block information--panel billing--panel">

                                                {# Headline #}
                                                {% block frontend_checkout_confirm_information_addresses_billing_panel_title %}
                                                    <div class="panel--title is--underline">
                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmHeaderBilling{% endtrans %}
                                                    </div>
                                                {% endblock %}

                                                {# Content #}
                                                {% block frontend_checkout_confirm_information_addresses_billing_panel_body %}
                                                    <div class="panel--body is--wide">
                                                        {{ include('@Storefront/frontend/_includes/address.html.twig', {
                                                            'address': context.customer.activeBillingAddress
                                                        }) }}
                                                    </div>
                                                {% endblock %}

                                                {# Action buttons #}
                                                {% block frontend_checkout_confirm_information_addresses_billing_panel_actions %}
                                                    <div class="panel--actions is--wide">
                                                        {% block frontend_checkout_confirm_information_addresses_billing_panel_actions_change %}
                                                            <div class="address--actions-change">
                                                                {% block frontend_checkout_confirm_information_addresses_billing_panel_actions_change_address %}
                                                                    <a href="{{ path('address_edit', {'addressId': context.customer.activeBillingAddress.id, 'redirectTo': redirectTo}) }}"
                                                                       data-address-editor="true"
                                                                       data-setDefaultBillingAddress="true"
                                                                       data-id="{{ context.customer.activeBillingAddress.id }}"
                                                                       data-title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                       title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                       class="btn">
                                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}
                                                                    </a>
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}
                                                        {% block frontend_checkout_confirm_information_addresses_billing_panel_actions_select_address %}
                                                            <a href="{{ path('address_index') }}"
                                                               data-address-selection="true"
                                                               data-setDefaultBillingAddress="true"
                                                               data-id="{{ context.customer.activeBillingAddress.id }}"
                                                               title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}">
                                                                {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}
                                                            </a>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block frontend_checkout_confirm_information_addresses_shipping %}
                                    <div class="information--panel-item information--panel-item-shipping">
                                        {% block frontend_checkout_confirm_information_addresses_shipping_panel %}
                                            <div class="panel has--border block information--panel shipping--panel">

                                                {# Headline #}
                                                {% block frontend_checkout_confirm_information_addresses_shipping_panel_title %}
                                                    <div class="panel--title is--underline">
                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmHeaderShipping{% endtrans %}
                                                    </div>
                                                {% endblock %}

                                                {# Content #}
                                                {% block frontend_checkout_confirm_information_addresses_shipping_panel_body %}
                                                    <div class="panel--body is--wide">
                                                        {{ include('@Storefront/frontend/_includes/address.html.twig', {
                                                            'address': context.customer.activeShippingAddress
                                                        }) }}
                                                    </div>
                                                {% endblock %}

                                                {# Action buttons #}
                                                {% block frontend_checkout_confirm_information_addresses_shipping_panel_actions %}
                                                    <div class="panel--actions is--wide">
                                                        {% block frontend_checkout_confirm_information_addresses_shipping_panel_actions_change %}
                                                            <div class="address--actions-change">
                                                                {% block frontend_checkout_confirm_information_addresses_shipping_panel_actions_change_address %}
                                                                    <a href="{{ path('address_edit', {'addressId': context.customer.activeShippingAddress.id, 'redirectTo': redirectTo }) }}"
                                                                       title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                       data-title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}"
                                                                       data-address-editor="true"
                                                                       data-id="{{ context.customer.activeShippingAddress.id }}"
                                                                       data-setDefaultShippingAddress="true"
                                                                       class="btn">
                                                                        {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectButton{% endtrans %}
                                                                    </a>
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}
                                                        {% block frontend_checkout_confirm_information_addresses_shipping_panel_actions_select_address %}
                                                            <a href="{{ path('address_index') }}"
                                                               data-address-selection="true"
                                                               data-setDefaultShippingAddress="true"
                                                               data-id="{{ context.customer.activeShippingAddress.id }}"
                                                               title="{% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}">
                                                                {% trans from 'frontend/checkout/confirm' %}ConfirmAddressSelectLink{% endtrans %}
                                                            </a>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endblock %}

                        {# Payment method #}
                        {% block frontend_checkout_confirm_information_payment %}
                            <div class="information--panel-item">
                                {% block frontend_checkout_confirm_payment_method_panel %}
                                    <div class="panel has--border block information--panel payment--panel">

                                        {% block frontend_checkout_confirm_left_payment_method_headline %}
                                            <div class="panel--title is--underline payment--title">
                                                {% trans from 'frontend/checkout/confirm' %}ConfirmHeaderPaymentShipping{% endtrans %}
                                            </div>
                                        {% endblock %}

                                        {% block frontend_checkout_confirm_left_payment_content %}
                                            <div class="panel--body is--wide payment--content">
                                                {% block frontend_checkout_confirm_left_payment_method %}
                                                    <p class="payment--method-info">
                                                        <strong class="payment--title">
                                                            {% trans from 'frontend/checkout/confirm' %}ConfirmInfoPaymentMethod{% endtrans %}
                                                        </strong>
                                                        <span class="payment--description">{{ context.paymentMethod.name }}</span>
                                                    </p>

                                                    {#{if !$sUserData.additional.payment.esdactive && {config name="showEsd"}}#}
                                                    {#<p class="payment--confirm-esd">{s name="ConfirmInfoInstantDownload" namespace="frontend/checkout/confirm"}{/s}</p>#}
                                                    {#{/if}#}
                                                {% endblock %}

                                                {% block frontend_checkout_confirm_left_shipping_method %}
                                                    <p class="shipping--method-info">
                                                        <strong class="shipping--title">{% trans from 'frontend/checkout/confirm' %}ConfirmHeadDispatch{% endtrans %}</strong>
                                                        {#<span class="shipping--description" title="{$sDispatch.name}">{$sDispatch.name|truncate:25:"...":true}</span>#}
                                                        <span class="shipping--description"
                                                              title="{{ context.shippingMethod.name }}">{{ context.shippingMethod.name }}</span>
                                                    </p>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block frontend_checkout_confirm_left_payment_method_actions %}
                                            <div class="panel--actions is--wide">
                                                {# Action buttons #}
                                                <a href="{{ path('checkout_shipping_payment') }}"
                                                   class="btn is--small btn--change-payment">
                                                    {% trans from 'frontend/checkout/confirm' %}ConfirmLinkChangePayment{% endtrans %}
                                                </a>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </form>
        {% endblock %}

        {% block frontend_checkout_confirm_product_overview %}
            <div class="product--table">

                {% block frontend_checkout_confirm_product_table %}
                    <h2>Bestellübersicht {{ loop.index }}</h2>
                    <div class="panel has--border">
                        <div class="panel--body is--rounded">

                            {# Product table header #}
                            {% block frontend_checkout_confirm_product_table_head %}
                                {% sw_include 'frontend/checkout/confirm/confirm-header.html.twig' %}
                            {% endblock %}

                            {% block frontend_checkout_confirm_product_table_item_before %}{% endblock %}

                            {#{* Order items *}#}
                            {% block frontend_checkout_confirm_product_table_item_outer %}
                                {% block frontend_checkout_confirm_product_table_item %}
                                    {% for caculatedLineItem in cart.calculatedLineItems %}
                                        {% sw_include "frontend/checkout/confirm/confirm-item.html.twig"
                                            with {
                                            'calculatedLineItem': caculatedLineItem,
                                            'depth': 0
                                        } %}
                                    {% endfor %}
                                {% endblock %}
                            {% endblock %}

                            {% block frontend_checkout_confirm_product_table_item_after %}{% endblock %}

                            {# Table footer #}
                            {% block frontend_checkout_confirm_product_table_footer %}
                                {% sw_include 'frontend/checkout/confirm/confirm-footer.html.twig' %}
                            {% endblock %}

                        </div>
                    </div>

                {% endblock %}

                {# Deliveries #}
                {% for delivery in cart.deliveries %}

                    {% block frontend_checkout_confirm_delivery_title %}
                        <h2>Lieferung {{ loop.index }}</h2>

                        {% set deliveryDate = delivery.deliveryDate %}

                        Wird geliefert zwischen dem <i>{{ deliveryDate.earliest.date|date('d.m.Y') }}</i> und dem
                        <i>{{ deliveryDate.latest.date|date('d.m.Y') }}</i>
                    {% endblock %}

                    {% block frontend_checkout_confirm_delivery_table %}

                        <div class="panel has--border">
                            <div class="panel--body is--rounded">

                                {# Product table header #}
                                {% block frontend_checkout_confirm_confirm_head %}
                                    {% sw_include 'frontend/checkout/confirm/confirm-header.html.twig' %}
                                {% endblock %}

                                {% block frontend_checkout_confirm_item_before %}{% endblock %}

                                {#{* Delivery items *}#}
                                {% block frontend_checkout_confirm_item_outer %}
                                    {% for position in delivery.positions %}
                                        {% block frontend_checkout_confirm_item %}
                                            {% sw_include "frontend/checkout/confirm/delivery-item.html.twig"
                                                with {
                                                'isLast': loop.last,
                                                'calculatedLineItem': position.calculatedLineItem,
                                                'deliveryPosition': position
                                            } %}
                                        {% endblock %}
                                    {% endfor %}
                                {% endblock %}

                                {% block frontend_checkout_confirm_item_after %}{% endblock %}

                                {# Table footer #}
                                {% block frontend_checkout_confirm_confirm_footer %}
                                    {% sw_include "frontend/checkout/confirm/delivery-footer.html.twig" with {'delivery': delivery} %}
                                {% endblock %}

                            </div>
                        </div>

                    {% endblock %}

                {% endfor %}

                {# Table actions #}
                {% block frontend_checkout_confirm_confirm_table_actions %}
                    <div class="table--actions actions--bottom">
                        <div class="main--actions">

                            {% if laststock.hideBasket %}

                                {% block frontend_checkout_confirm_stockinfo %}
                                    {% set content %}
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmErrorStock{% endtrans %}
                                    {% endset %}
                                    {% sw_include "frontend/_includes/messages.html.twig" with {'type': 'error', 'content': content} %}
                                {% endblock %}

                            {% elseif (invalidBillingAddress or invalidShippingAddress) %}

                                {% block frontend_checkout_confirm_addressinfo %}
                                    {% set content %}
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmErrorInvalidAddress{% endtrans %}
                                    {% endset %}
                                    {% sw_include "frontend/_includes/messages.html.twig" with {'type': 'error', 'content': content} %}
                                {% endblock %}

                            {% else %}

                                {% block frontend_checkout_confirm_submit %}
                                    {# Submit order button #}
                                    {% if sPayment.embediframe or sPayment.action %}
                                        <button type="submit" class="btn is--primary is--large right is--icon-right"
                                                form="confirm--form" data-preloader-button="true">
                                            {#{s name='ConfirmDoPayment'}{/s}<i class="icon--arrow-right"></i>#}
                                            {% trans from 'frontend/checkout/confirm' %}ConfirmDoPayment{% endtrans %}<i
                                                    class="icon--arrow-right"></i>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn is--primary is--large right is--icon-right"
                                                form="confirm--form" data-preloader-button="true">
                                            {#{s name='ConfirmActionSubmit'}{/s}<i class="icon--arrow-right"></i>#}
                                            {% trans from 'frontend/checkout/confirm' %}ConfirmActionSubmit{% endtrans %}
                                            <i class="icon--arrow-right"></i>
                                        </button>
                                    {% endif %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}