{% sw_extends "frontend/index/index.html.twig" %}

{# Back to the shop button #}
{% block frontend_index_logo_trusted_shops %}
    {{ parent() }}
    <a href="{{ path('cart_index') }}"
       class="btn is--small btn--back-top-shop is--icon-left"
       title="{% trans from "frontend/checkout/finish" %}FinishButtonBackToShop{% endtrans %}"
       xmlns="http://www.w3.org/1999/html">

        <i class="icon--arrow-left"></i>
        {% trans from "frontend/checkout/finish" %}FinishButtonBackToShop{% endtrans %}
    </a>
{% endblock %}

{# Step box #}
{% block frontend_index_navigation_categories_top %}
    {% sw_include 'frontend/register/steps.html.twig' with {'activeStep': 'finished'} %}
{% endblock %}

{# Hide top bar #}
{% block frontend_index_top_bar_container %}
{% endblock %}

{# Footer #}
{% block frontend_index_footer %}
    {% block frontend_index_checkout_confirm_footer %}{% endblock %}
{% endblock %}

{#{* Main content *}#}
{% block frontend_index_content %}
    <div class="content confirm--content">

        <h1 style="text-align: center;">Bestellung bestätigen</h1>

        {% block frontend_checkout_confirm_form %}
            <form id="confirm--form" method="post" action="{{ path('checkout_finish') }}">

                {# AGB and Revocation #}
                {% block frontend_checkout_confirm_tos_panel %}
                    <div class="tos--panel panel has--border">

                        {% block frontend_checkout_confirm_tos_panel_headline %}
                            <div class="panel--title primary is--underline">
                                {% trans from 'frontend/checkout/confirm' %}ConfirmHeadlineAGBandRevocation{% endtrans %}
                            </div>
                        {% endblock %}

                        <div class="panel--body is--wide">

                            {# Right of revocation notice #}
                            {% block frontend_checkout_confirm_tos_revocation_notice %}
                                {% if shopware.config.revocationNotice %}
                                    <div class="body--revocation" data-modalbox="true" data-targetSelector="a" data-mode="ajax" data-height="500" data-width="750">
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmTextRightOfRevocationNew{% endtrans %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            <ul class="list--checkbox list--unstyled">

                                {# Terms of service #}
                                {% block frontend_checkout_confirm_agb %}
                                    <li class="block-group row--tos">

                                        {# Terms of service checkbox #}
                                        {% block frontend_checkout_confirm_agb_checkbox %}
                                            <span class="block column--checkbox">
                                                {% if not shopware.config.IgnoreAGB %}
                                                    <input type="checkbox" required="required" aria-required="true" id="sAGB" name="sAGB"{% if AGBChecked %} checked="checked"{% endif %} />
                                                {% endif %}
                                            </span>
                                        {% endblock %}

                                        {# AGB label #}
                                        {% block frontend_checkout_confirm_agb_label %}
                                            <span class="block column--label">
                                                <label for="sAGB" data-modalbox="true" data-targetSelector="a" data-mode="ajax" data-height="500" data-width="750">
                                                    {% trans from 'frontend/checkout/confirm' %}ConfirmTerms{% endtrans %}
                                                </label>
                                            </span>
                                        {% endblock %}

                                    </li>
                                {% endblock %}

                            </ul>
                        </div>
                    </div>
                {% endblock %}

            </form>
        {% endblock %}

        {% block frontend_checkout_confirm_product_overview %}
            <div class="product--table">

                {% block frontend_checkout_confirm_product_table %}
                    <h2>Bestellübersicht {{ loop.index }}</h2>
                    <div class="panel has--border">
                        <div class="panel--body is--rounded">

                            {# Product table header #}
                            {% block frontend_checkout_confirm_product_table_head %}
                                {% sw_include "frontend/checkout/confirm/confirm-header.html.twig" %}
                            {% endblock %}

                            {% block frontend_checkout_confirm_product_table_item_before %}{% endblock %}

                            {#{* Order items *}#}
                            {% block frontend_checkout_confirm_product_table_item_outer %}
                                {% for viewPosition in cart.viewLineItems %}
                                    {% block frontend_checkout_confirm_product_table_item %}
                                        {% sw_include "frontend/checkout/confirm/confirm-item.html.twig"
                                        with {
                                        'isLast': loop.last,
                                        'viewLineItem': viewPosition,
                                        } %}
                                    {% endblock %}
                                {% endfor %}
                            {% endblock %}

                            {% block frontend_checkout_confirm_product_table_item_after %}{% endblock %}

                            {# Table footer #}
                            {% block frontend_checkout_confirm_product_table_footer %}
                                {% sw_include "frontend/checkout/confirm/confirm-footer.html.twig" %}
                            {% endblock %}

                        </div>
                    </div>

                {% endblock %}

                {# Deliveries #}
                {% for delivery in cart.deliveries %}

                    {% block frontend_checkout_confirm_delivery_title %}
                        <h2>Lieferung {{ loop.index }}</h2>

                        Wird geliefert zwischen dem <i>{{ delivery.delivery.deliveryDate.earliest.date|date('d.m.Y') }}</i> und dem <i>{{ delivery.delivery.deliveryDate.latest.date|date('d.m.Y') }}</i>
                    {% endblock %}

                    {% block frontend_checkout_confirm_delivery_table %}

                        <div class="panel has--border">
                            <div class="panel--body is--rounded">

                                {# Product table header #}
                                {% block frontend_checkout_confirm_confirm_head %}
                                    {% sw_include "frontend/checkout/confirm/confirm-header.html.twig" %}
                                {% endblock %}

                                {% block frontend_checkout_confirm_item_before %}{% endblock %}

                                {#{* Delivery items *}#}
                                {% block frontend_checkout_confirm_item_outer %}
                                    {% for viewPosition in delivery.viewPositions %}
                                        {% block frontend_checkout_confirm_item %}
                                            {% sw_include "frontend/checkout/confirm/delivery-item.html.twig"
                                            with {
                                            'isLast': loop.last,
                                            'viewLineItem': viewPosition.viewLineItem,
                                            'deliveryPosition': viewPosition.deliveryPosition
                                            } %}
                                        {% endblock %}
                                    {% endfor %}
                                {% endblock %}

                                {% block frontend_checkout_confirm_item_after %}{% endblock %}

                                {# Table footer #}
                                {% block frontend_checkout_confirm_confirm_footer %}
                                    {% sw_include "frontend/checkout/confirm/delivery-footer.html.twig" with {'delivery': delivery} %}
                                {% endblock %}

                            </div>
                        </div>

                    {% endblock %}

                {% endfor %}

                {# Table actions #}
                {% block frontend_checkout_confirm_confirm_table_actions %}
                    <div class="table--actions actions--bottom">
                        <div class="main--actions">

                            {% if laststock.hideBasket %}

                                {% block frontend_checkout_confirm_stockinfo %}
                                    {% set content %}
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmErrorStock{% endtrans %}
                                    {% endset %}
                                    {% sw_include "frontend/_includes/messages.html.twig" with {'type': 'error', 'content': content} %}
                                {% endblock %}

                            {% elseif (invalidBillingAddress or invalidShippingAddress) %}

                                {% block frontend_checkout_confirm_addressinfo %}
                                    {% set content %}
                                        {% trans from 'frontend/checkout/confirm' %}ConfirmErrorInvalidAddress{% endtrans %}
                                    {% endset %}
                                    {% sw_include "frontend/_includes/messages.html.twig" with {'type': 'error', 'content': content} %}
                                {% endblock %}

                            {% else %}

                                {% block frontend_checkout_confirm_submit %}
                                    {# Submit order button #}
                                    {% if sPayment.embediframe or sPayment.action %}
                                        <button type="submit" class="btn is--primary is--large right is--icon-right" form="confirm--form" data-preloader-button="true">
                                            {#{s name='ConfirmDoPayment'}{/s}<i class="icon--arrow-right"></i>#}
                                            {% trans from 'frontend/checkout/confirm' %}ConfirmDoPayment{% endtrans %}<i class="icon--arrow-right"></i>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn is--primary is--large right is--icon-right" form="confirm--form" data-preloader-button="true">
                                            {#{s name='ConfirmActionSubmit'}{/s}<i class="icon--arrow-right"></i>#}
                                            {% trans from 'frontend/checkout/confirm' %}ConfirmActionSubmit{% endtrans %}<i class="icon--arrow-right"></i>
                                        </button>
                                    {% endif %}
                                {% endblock %}

                            {% endif %}

                        </div>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}