{% sw_extends 'frontend/index/index.html.twig' %}

{# Step box #}
{% block frontend_index_navigation_categories_top %}
{% endblock %}

{# Hide top bar #}
{% block frontend_index_top_bar_container %}
{% endblock %}

{# Footer #}
{% block frontend_index_footer %}
    {% block frontend_index_checkout_confirm_footer %}{% endblock %}
{% endblock %}

{# Main content #}
{% block frontend_index_content %}
    <div class="content checkout--content finish--content">

         {# Finish teaser message #}
        {% block frontend_checkout_finish_teaser %}
            <div class="finish--teaser panel has--border is--rounded">

                {% block frontend_checkout_finish_teaser_title %}
                    <h2 class="panel--title teaser--title is--align-center">
                        {% trans from 'frontend/checkout/finish' %}FinishHeaderThankYou{% endtrans %} {{ shopware.config.shopName }}!
                    </h2>
                {% endblock %}

                {% block frontend_checkout_finish_teaser_content %}
                    <div class="panel--body is--wide is--align-center">
                        {% if confirmMailDeliveryFailed %}
                            {% sw_include 'frontend/_includes/messages.html.twig' with {'type': 'error', 'content': 'FinishInfoConfirmationMailFailed'|trans([], 'frontend/checkout/finish') } %}
                        {% endif %}

                        <p class="teaser--text">
                            {% if not confirmMailDeliveryFailed %}
                                {% trans from 'frontend/checkout/finish' %}FinishInfoConfirmationMail{% endtrans %}
                                <br />
                            {% endif %}

                            {% trans from 'frontend/checkout/finish' %}FinishInfoPrintOrder{% endtrans %}
                        </p>

                        {% block frontend_checkout_finish_teaser_actions %}
                            <p class="teaser--actions">
                                {% spaceless %}
                                    {# Back to the shop button #}
                                    <a
                                            href="{{ path('cart_index') }}"
                                            class="btn is--secondary teaser--btn-back is--icon-left"
                                            title="{"{% trans from 'frontend/checkout/finish' %}FinishButtonBackToShop{% endtrans %}"|escape}">
                                    <i class="icon--arrow-left"></i>&nbsp;{{ 'FinishButtonBackToShop'|trans([], 'frontend/checkout/finish')|escape }}
                                    </a>

                                    {# Print button #}
                                    <a href="#" class="btn is--primary teaser--btn-print" onclick="self.print()" title="{{ 'FinishLinkPrint'|trans([], 'frontend/checkout/finish')|escape }}">
                                        {% trans from 'frontend/checkout/finish' %}FinishLinkPrint{% endtrans %}
                                    </a>
                                {% endspaceless %}
                            </p>

                            {# Print notice #}
                            {% block frontend_checkout_finish_teaser_print_notice %}
                                <p class="print--notice">
                                    {% trans from 'frontend/checkout/finish' %}FinishPrintNotice{% endtrans %}
                                </p>
                            {% endblock %}

                        {% endblock %}

                    </div>
                {% endblock %}

            </div>
        {% endblock %}

        {# Payment method #}
        <h2>{% trans from 'frontend/checkout/finish' %}FinishDeliveries{% endtrans %}</h2>
        {% block frontend_checkout_finish_deliveries %}
        <div class="information--panel-item">
            {% block frontend_checkout_finish_deliveries_panel %}
            <div class="panel has--border block information--panel payment--panel finish--details">

                {% for delivery in cart.deliveries %}

                    {# @var delivery \Shopware\Cart\Delivery\Struct\Delivery #}
                    {# @var location \Shopware\Cart\Delivery\Struct\ShippingLocation #}
                    {% set location = delivery.location %}

                    {% block frontend_checkout_finish_deliveries_headline %}
                    <div class="panel--title is--underline payment--title">
                        {% trans from 'frontend/checkout/finish' %}FinishDelivery{% endtrans %} {{ loop.index }}
                    </div>
                    {% endblock %}

                    {% block frontend_checkout_finish_deliveries_content %}
                    <div class="panel--body is--wide payment--content">


                        Lieferung zwischen {{ delivery.deliveryDate.earliest.format('d.m.Y') }} und
                        {{ delivery.deliveryDate.latest.format('d.m.Y') }}

                        <h5>{% trans from 'frontend/checkout/finish' %}FinishDeliveryAddress{% endtrans %}</h5>

                        {{ location.address.street }}<br>
                        {{ location.address.zipcode }} {{ location.address.city }}<br>
                        {% if location.state %} {{ location.state.name }}<br>{% endif %}
                        {{ location.country.name }}<br><br>
                        {{ delivery.shippingMethod.name }}
                    </div>
                    {% endblock %}

                {% endfor %}

            </div>
            {% endblock %}

        </div>
        {% endblock %}

        {% block frontend_checkout_finish_items %}
        <div class="finish--table product--table">
            <div class="panel has--border">
                <div class="panel--body is--rounded">

                    {# Table header #}
                    {% block frontend_checkout_finish_table_header %}
                        {% sw_include "frontend/checkout/finish/finish-header.html.twig" %}
                    {% endblock %}

                    {# Article items #}
                    {% for calculatedLineItem in cart.calculatedLineItems %}
                        {% block frontend_checkout_finish_item %}
                            {% sw_include "frontend/checkout/finish/finish-item.html.twig" with {'isLast': loop.last} %}
                        {% endblock %}
                    {% endfor %}

                    {# Table footer #}
                    {% block frontend_checkout_finish_table_footer %}
                        {% sw_include "frontend/checkout/finish/finish-footer.html.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
