{# Language changer #}
{% block frontend_index_actions_active_shop %}
    {% if language.languages and language.languages|length > 1 %}
        <div class="top-bar--language navigation--entry">
            {% block frontend_index_actions_active_shop_top_bar_language %}
                <form method="post" action="{{ url('frontend.context.update') }}" class="language--form">
                    {% block frontend_index_actions_active_shop_language_form_content %}
                        <div class="field--select">
                            <div class="language--flag {{ language.activeLanguage.locale.code }}">{{ language.activeLanguage.name }}</div>

                            {% block frontend_index_actions_active_shop_language_form_select %}
                                <div class="select-field">
                                    <select name="__language" class="language--select" data-auto-submit="true">
                                        {% for lang in language.languages %}
                                            <option value="{{ lang.id }}" {% if context.salesChannel.languageId == lang.id %}selected="selected"{% endif %}>
                                                {{ lang.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endblock %}
                            <input type="hidden" name="__redirect" value="1">
                            {% block frontend_index_actions_active_shop_inline %}{% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}