{% block sw_settings_snippet_list %}
    <sw-page class="sw-settings-snippet-list">
        {% block sw_settings_snippet_set_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar :placeholder="$tc('sw-settings-snippet.general.placeholderSearchBarSnippets')"
                               :searchType="$tc('sw-settings-snippet.general.mainMenuItemGeneral')"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_snippet_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_settings_snippet_list_smart_bar_header_title %}
                    <h2 class="sw-settings-snippet-list__smart_bar_header"
                        v-if="!isLoading">
                        {% block sw_settings_snippet_list_smart_bar_header_title_text %}
                            <span class="sw-settings_snippet_list__smart-bar-title-text">
                                {{ $tc('sw-settings-snippet.list.textSnippetList', snippetSets.length, { setName: metaName }) }}
                            </span>
                        {% endblock %}

                        {% block sw_settings_snippet_list_smart_bar_header_amount %}
                            <span class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_snippet_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_snippet_list_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'sw.settings.snippet.create', query: { ids: queryIds, limit, page, isCustomState: 'true' } }"
                               :disabled="isLoading"
                               variant="primary">
                        {{ $tc('sw-settings-snippet.list.buttonAdd') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_snippet_list_content %}
            <template slot="content">
                <div class="sw-settings-snippet-list__content">
                    {% block sw_settings_snippet_list_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}

                    {% block sw_settings_snippet_list_grid %}
                        <sw-grid v-if="grid"
                                 :items="grid"
                                 :isFullpage="true"
                                 :sidebar="true"
                                 @sort-column="onSortColumn"
                                 :sortDirection="sortDirection"
                                 :sortBy="sortBy"
                                 @edit="onEdit"
                                 @inline-edit-cancel="onInlineEditCancel"
                                 @inline-edit-finish="onInlineEditSave">
                            {% block sw_settings_snippet_list_grid_slots %}
                                <template slot="columns" slot-scope="{ item }">
                                    {% block sw_settings_snippet_list_columns %}
                                        {% block sw_settings_snippet_list_column_key %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="$tc('sw-settings-snippet.list.columnKey')"
                                                            truncate
                                                            dataIndex="translationKey"
                                                            sortable
                                                            editable>
                                                {% block sw_settings_snippet_list_column_key_link %}
                                                    <router-link class="sw-settings-snippet-list__column-name" :to="{
                                                            name: 'sw.settings.snippet.detail',
                                                            params: { key: item[metaId].translationKey, origin: item[metaId].translationKey },
                                                            query: { ids: queryIds, limit, page, isCustomState }
                                                    }">
                                                        {% block sw_settings_snippet_list_column_key_label %}
                                                            {{ item[metaId].translationKey }}
                                                        {% endblock %}
                                                    </router-link>
                                                {% endblock %}

                                                {% block sw_settings_snippet_list_column_key_editor %}
                                                    <span class="content__column-translationKey" slot="inline-edit">
                                                        {{ item[metaId].translationKey }}
                                                    </span>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_settings_snippet_list_column_value %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="set.name"
                                                            :dataIndex="set.id"
                                                            sortable
                                                            truncate
                                                            editable
                                                            v-for="set in snippetSets" :key="set.id">
                                                {{ item[set.id].value }}

                                                {% block sw_settings_snippet_list_column_value_editor %}
                                                    <sw-field type="text"
                                                              :ref="`field-${item[metaId].translationKey}`"
                                                              :class="`field-${item[metaId].translationKey}`"
                                                              v-model="item[set.id].value"
                                                              :placeholder="item[set.id].origin || $tc('sw-settings-snippet.general.placeholderValue')"
                                                              slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_settings_snippet_list_grid_column_actions %}
                                            <sw-grid-column flex="minmax(100px, 100px)" align="center">
                                                <sw-context-button>
                                                    {% block sw_settings_snippet_list_grid_column_actions_edit %}
                                                        <sw-context-menu-item class="sw-settings-snippet-list__edit-action" :routerLink="{
                                                            name: 'sw.settings.snippet.detail',
                                                            params: { key: item[metaId].translationKey },
                                                            query: { ids: queryIds, limit, page, isCustomState }
                                                        }">
                                                            {{ $tc('sw-settings-snippet.list.contextMenuEdit') }}
                                                        </sw-context-menu-item>
                                                    {% endblock %}

                                                    {% block sw_settings_snippet_list_grid_column_actions_delete %}
                                                        <sw-context-menu-item @click="onReset(item)" variant="danger">
                                                            {{ $tc('sw-settings-snippet.list.contextMenuDelete', isCustomState) }}
                                                        </sw-context-menu-item>
                                                    {% endblock %}
                                                </sw-context-button>
                                            </sw-grid-column>
                                        {% endblock %}
                                    {% endblock %}

                                    {% block sw_settings_snippet_list_delete_modal %}
                                        <sw-modal v-if="showDeleteModal === item"
                                                  @closeModal="onCloseDeleteModal"
                                                  :title="$tc('sw-settings-snippet.list.modalTitleDelete')"
                                                  variant="large">
                                            {% block sw_settings_snippet_list_delete_modal_text %}
                                                {% block sw_settings_snippet_list_delete_modal_text_reset %}
                                                    <span v-if="!isCustomState"
                                                          class="modal__confirm-reset-text">
                                                        {{ $tc('sw-settings-snippet.list.textResetConfirm', queryIdCount, { key: item[metaId].translationKey }) }}
                                                    </span>
                                                {% endblock %}

                                                {% block sw_settings_snippet_list_delete_modal_text_delete %}
                                                    <span v-else
                                                          class="modal__confirm-delete-text">
                                                        {{ $tc('sw-settings-snippet.list.textDeleteConfirm', 0, { key: item[metaId].translationKey }) }}
                                                    </span>
                                                {% endblock %}

                                                {% block sw_settings_snippet_list_delete_modal_grid %}
                                                    <sw-grid v-if="!isCustomState && resetItems.length > 1"
                                                             :items="resetItems"
                                                             @sw-grid-select-item="onSelectionChanged"
                                                             @sw-grid-select-all="onSelectionChanged"
                                                             table>
                                                        {% block sw_settings_snippet_list_delete_modal_grid_template %}
                                                            <template slot="columns" slot-scope="{ item }">
                                                                {% block sw_settings_snippet_list_delete_modal_grid_name %}
                                                                    <sw-grid-column :label="$tc('sw-settings-snippet.list.columnHeaderGridColumnTitleSet')"
                                                                                    flex="minmax(150px, 1fr)">
                                                                        {{ item.setName }}
                                                                    </sw-grid-column>
                                                                {% endblock %}
                                                                {% block sw_settings_snippet_list_delete_modal_grid_value %}
                                                                    <sw-grid-column :label="$tc('sw-settings-snippet.list.columnValue')"
                                                                                    flex="minmax(50px,1fr)">
                                                                        {{ item.value }}
                                                                    </sw-grid-column>
                                                                {% endblock %}
                                                                {% block sw_settings_snippet_list_delete_modal_grid_origin %}
                                                                    <sw-grid-column :label="$tc('sw-settings-snippet.list.columnHeaderResetTo')"
                                                                                    flex="minmax(50px,1fr)">
                                                                        {{ item.origin }}
                                                                    </sw-grid-column>
                                                                {% endblock %}
                                                            </template>
                                                        {% endblock %}
                                                    </sw-grid>
                                                {% endblock %}
                                            {% endblock %}

                                            {% block sw_settings_snippet_list_delete_modal_footer %}
                                                <template slot="modal-footer">
                                                    {% block sw_settings_snippet_list_delete_modal_cancel %}
                                                        <sw-button @click="onCloseDeleteModal"
                                                                   size="small">
                                                            {{ $tc('sw-settings-snippet.list.buttonCancel', isCustomState) }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block sw_settings_snippet_list_delete_modal_confirm %}
                                                        <sw-button @click="onConfirmReset(item)"
                                                                   :disabled="hasResetableItems && !isCustomState && resetItems.length !== 1"
                                                                   variant="primary"
                                                                   size="small">
                                                            {{ $tc('sw-settings-snippet.list.contextMenuDelete', isCustomState) }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                    {% endblock %}
                                </template>

                                <template slot="empty">
                                    {% block sw_settings_snippet_list_grid_empty_state %}
                                        <sw-empty-state :title="$tc('sw-settings-snippet.list.emptyStateHeadLine')"></sw-empty-state>
                                    {% endblock %}
                                </template>

                                <template slot="pagination">
                                    {% block sw_settings_snippet_list_grid_pagination %}
                                        <sw-pagination :page="page"
                                                       :limit="limit"
                                                       :total="total"
                                                       :total-visible="7"
                                                       @page-change="onPageChange">
                                        </sw-pagination>
                                    {% endblock %}
                                </template>

                                <template slot="sidebar">
                                    {% block sw_settings_snippet_list_grid_sidebar %}
                                        <sw-settings-snippet-sidebar
                                                @change="onChange"
                                                @sw-sidebar-collaps-refresh-grid="getList"
                                                @sw-sidebar-close="onSidebarClose"
                                                :filterItems="filterItems"
                                                :authorFilters="authorFilters">
                                        </sw-settings-snippet-sidebar>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-grid>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}