{% block cms_element_form_textarea %}
    <div class="form-group {{ additionalClass }}">
        {% block cms_element_form_textarea_label %}
            <label class="form-label" for="form-{{ fieldName }}">
                {{- label|trans -}}{% if required %} {{- 'general.required'|trans -}}{% endif %}
            </label>
        {% endblock %}

        {% block cms_element_form_textarea_textarea %}
            {% apply spaceless %}
                <textarea name="{{ fieldName }}"
                          id="{% if feature('ACCESSIBILITY_TWEAKS') %}{{ formPrefix }}-{% endif %}form-{{ fieldName }}"
                          placeholder="{{ placeholder|trans }}"
                          {% if rows %}rows="{{ rows }}"{% endif %}
                          {% if required %}required="required"{% endif %}
                          class="form-control{% if formViolations.getViolations( '/' ~ fieldName ) %} is-invalid{% endif %}">
                    {{ data.get(fieldName) }}
                </textarea>
            {% endapply %}

            {% if formViolations.getViolations( '/' ~ fieldName ) is not empty %}
                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                    violationPath: ('/' ~ fieldName)
                } %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
