{% block component_offcanvas_product %}
    {% set productId = lineItem.key %}
    <div class="cart-item cart-item-{{ lineItem.type }} js-cart-item">
        <div class="row cart-item-row">
            {% block component_offcanvas_product_image %}
                <div class="col-3">
                    {% block component_offcanvas_product_image_inner %}
                        <div class="cart-item-image">
                            <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                               title="{{ lineItem.label }}">
                                {% if lineItem.cover.url %}
                                    <img src="{{ lineItem.cover.url }}"
                                         class="cart-item-link img-fluid"
                                         alt="{{ lineItem.label }}"
                                         title="{{ lineItem.label }}">
                                {% else %}
                                    {% sw_icon 'placeholder' style {
                                        'size': 'fluid'
                                    } %}
                                {% endif %}
                            </a>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_offcanvas_product_details %}
                <div class="col cart-item-details">
                    {% block component_offcanvas_product_details_inner %}
                        <div class="cart-item-details-container">
                            {% block component_offcanvas_product_label %}
                                <div class="cart-item-details">
                                    <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                                       class="cart-item-label"
                                       title="{{ lineItem.label }}">
                                        {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans }} {{ lineItem.label|truncate(60) }}
                                    </a>
                                </div>
                            {% endblock %}

                            {% block component_offcanvas_product_total_price %}
                                <div class="cart-item-price">
                                    {{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_offcanvas_product_remove %}
                <div class="col-2 cart-item-remove">
                    {% block component_offcanvas_product_remove_form %}
                        {% if lineItem.isRemovable() %}
                            <form action="{{ path('frontend.checkout.line-item.delete', {'id': lineItem.key}) }}"
                                  class="cart-item-remove js-offcanvas-cart-remove-product"
                                  method="post">
                                <input type="hidden" name="_method" value="POST">
                                {% block component_offcanvas_product_remove_redirect %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.cart.detail"/>
                                {% endblock %}

                                {% block component_offcanvas_product_remove_submit %}
                                    <button type="submit"
                                            title="{{ "checkout.removeLineItem"|trans }}"
                                            class="btn btn-light">
                                        {% sw_icon 'x' style { 'size': 'sm' } %}
                                    </button>
                                {% endblock %}
                            </form>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}