{% block component_offcanvas_product %}
    {% set productId = lineItem.id %}
    <div class="cart-item cart-item-{{ lineItem.type }} js-cart-item">
        <div class="row cart-item-row">
            {% block component_offcanvas_product_image %}
                <div class="col-3">
                    {% block component_offcanvas_product_image_inner %}
                        <div class="cart-item-image">
                            <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                               title="{{ lineItem.label }}">
                                {% if lineItem.cover.url %}
                                    <img src="{{ lineItem.cover.url }}"
                                         class="cart-item-link img-fluid"
                                         alt="{{ lineItem.label }}"
                                         title="{{ lineItem.label }}">
                                {% else %}
                                    {% sw_icon 'placeholder' style {
                                        'size': 'fluid'
                                    } %}
                                {% endif %}
                            </a>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_offcanvas_product_details %}
                <div class="col cart-item-details">
                    {% block component_offcanvas_product_details_inner %}
                        <div class="cart-item-details-container">
                            {% block component_offcanvas_product_label %}
                                <div class="cart-item-details">
                                    <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                                       class="cart-item-label"
                                       title="{{ lineItem.label }}">
                                        {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans }} {{ lineItem.label|truncate(60) }}
                                    </a>
                                </div>
                            {% endblock %}
    
                            {% block component_offcanvas_product_quantity_price %}
                                <div class="cart-quantity-price">
                                    {% block component_offcanvas_product_quantity %}
                                        <div class="cart-item-quantity">
                                            {% block component_offcanvas_product_quantity_form %}
                                                <form action="{{ path('frontend.checkout.line-item.change-quantity', {'id': lineItem.id}) }}"
                                                      class="cart-item-quantity-container"
                                                      method="post">
                                                    {% block component_offcanvas_product_quantity_form_redirect %}
                                                        <input type="hidden"
                                                               name="redirectTo"
                                                               value="frontend.cart.offcanvas"/>
                                                    {% endblock %}
                        
                                                    {% if lineItem.quantityInformation.maxPurchase %}
                                                        {% if lineItem.deliveryInformation.stock < lineItem.quantityInformation.maxPurchase %}
                                                            {% set maxQuantity = lineItem.deliveryInformation.stock %}
                                                        {% else %}
                                                            {% set maxQuantity = lineItem.quantityInformation.maxPurchase %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set maxQuantity = shopware.config.checkout.maxQuantity %}
                                                    {% endif %}
                        
                                                    {% block component_offcanvas_product_buy_quantity %}
                                                        <select name="quantity"
                                                                class="custom-select quantity-select-{{ lineItem.id }} js-offcanvas-cart-change-quantity">
                                                            {% for quantity in range(lineItem.quantityInformation.minPurchase, maxQuantity, lineItem.quantityInformation.purchaseSteps) %}
                                                                <option value="{{ quantity }}"
                                                                    {% if quantity == lineItem.quantity %} selected="selected"{% endif %}>
                                                                    {{ quantity }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endblock %}
                                                </form>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
        
                                    {% block component_offcanvas_product_total_price %}
                                        <div class="cart-item-price">
                                            {{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_offcanvas_product_remove %}
                <div class="col-2 cart-item-remove">
                    {% block component_offcanvas_product_remove_form %}
                        {% if lineItem.isRemovable() %}
                            <form action="{{ path('frontend.checkout.line-item.delete', {'id': lineItem.id}) }}"
                                  class="cart-item-remove js-offcanvas-cart-remove-product"
                                  method="post">
                                {% block component_offcanvas_product_remove_redirect %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.cart.offcanvas"/>
                                {% endblock %}

                                {% block component_offcanvas_product_remove_submit %}
                                    <button type="submit"
                                            title="{{ "checkout.removeLineItem"|trans }}"
                                            class="btn btn-light">
                                        {% sw_icon 'x' style { 'size': 'sm' } %}
                                    </button>
                                {% endblock %}
                            </form>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
