{% block sw_order_list %}
    <sw-page class="sw-order-list">
        {% block sw_order_list_search_bar %}
            <template #search-bar>
                <sw-search-bar initialSearchType="order"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_order_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_order_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_order_list_smart_bar_header_title_text %}
                            {{ $tc('sw-order.list.textOrders') }}
                        {% endblock %}

                        {% block sw_order_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_order_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sw_order_list_smart_bar_actions_slot %}

                    {% block sw_order_list_smart_bar_actions_add %}
                        <sw-button
                            variant="primary"
                            :routerLink="{ name: 'sw.order.create' }">
                            {{ $tc('sw-order.list.buttonAddOrder') }}
                        </sw-button>
                    {% endblock %}

                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_order_list_language_switch %}
            <sw-language-switch slot="language-switch" @on-change="onChangeLanguage"></sw-language-switch>
        {% endblock %}

        {% block sw_order_list_content %}
            <template #content>

                {% block sw_order_list_content_slot %}
                    <div class="sw-order-list__content">

                        {% block sw_order_list_grid %}
                            <sw-data-grid :dataSource="orders"
                                          :columns="orderColumns"
                                          :fullPage="true"
                                          :showSettings="true"
                                          :showSelection="false"
                                          :sortBy="sortBy"
                                          :sortDirection="sortDirection"
                                          :isLoading="isLoading"
                                          :allowColumnEdit="true"
                                          identifier="sw-order-list"
                                          @column-sort="onSortColumn">

                                {% block sw_order_list_grid_columns %}
                                    {% block sw_order_list_grid_columns_customer_name %}
                                        <template #column-orderCustomer.firstName="{ item }">
                                            <router-link :to="{ name: 'sw.customer.detail', params: { id: item.orderCustomer.customerId } }">
                                                {{ item.orderCustomer.firstName }} {{ item.orderCustomer.lastName }}
                                            </router-link>
                                        </template>
                                    {% endblock %}

                                    {% block sw_order_list_grid_columns_billing_address %}
                                        <template #column-billingAddressId="{ item }">
                                            {{ getBillingAddress(item).street }},
                                            {{ getBillingAddress(item).zipcode }}
                                            {{ getBillingAddress(item).city }}
                                        </template>
                                    {% endblock %}

                                    {% block sw_order_list_grid_columns_amount %}
                                        <template #column-amountTotal="{ item }">
                                            {{ item.amountTotal | currency(item.currency.translated.shortName) }}
                                        </template>
                                    {% endblock %}

                                    {% block sw_order_list_grid_columns_state %}
                                        <template #column-stateMachineState.name="{ item }">
                                            <sw-label :variant="getVariantFromOrderState(item)" appearance="pill">
                                                {{ item.stateMachineState.translated.name }}
                                            </sw-label>
                                        </template>
                                    {% endblock %}

                                    {% block sw_order_list_grid_columns_transaction_state %}
                                        <template #column-transactions.last().stateMachineState.name="{ item }">
                                            <sw-label v-if="item.transactions && item.transactions[0]"
                                                      :variant="getVariantFromPaymentState(item)"
                                                      appearance="pill">
                                                {{ item.transactions.last().stateMachineState.translated.name }}
                                            </sw-label>
                                        </template>
                                    {% endblock %}

                                {% block sw_order_list_grid_columns_delivery_state %}
                                    <template #column-deliveries[0].stateMachineState.name="{ item }">
                                        <sw-label v-if="item.deliveries && item.deliveries[0]"
                                                  :variant="getVariantFromDeliveryState(item)"
                                                  appearance="pill">
                                            {{ item.deliveries[0].stateMachineState.translated.name }}
                                        </sw-label>
                                    </template>
                                {% endblock %}

                                    {% block sw_order_list_grid_columns_order_date %}
                                        <template #column-orderDateTime="{ item }">
                                            {{ item.orderDateTime | date({hour: '2-digit', minute: '2-digit'}) }}
                                        </template>
                                    {% endblock %}
                                {% endblock %}

                                {% block sw_order_list_grid_columns_actions %}
                                    <template #actions="{ item }">

                                        {% block sw_order_list_grid_columns_actions_view %}
                                            {# @deprecated tag:v6.4.0 use `sw_order_list_grid_columns_actions_view` instead #}
                                            {% block sw_customer_list_grid_columns_actions_view %}
                                                <sw-context-menu-item class="sw-order-list__order-view-action" :routerLink="{ name: 'sw.order.detail', params: { id: item.id } }">
                                                    {{ $tc('sw-order.list.contextMenuView') }}
                                                </sw-context-menu-item>
                                            {% endblock %}

                                            {% block sw_order_list_grid_columns_actions_delete %}
                                            <sw-context-menu-item variant="danger" :disabled="disableDeletion(item)" @click="onDelete(item.id)">
                                                {{ $tc('sw-order.list.contextMenuDelete') }}
                                            </sw-context-menu-item>
                                            {% endblock %}
                                        {% endblock %}

                                        {# @deprecated tag:v6.4.0 use `sw_order_list_grid_columns_actions_view` with parent instead #}
                                        {% block sw_customer_list_grid_columns_actions_confirm_payment %}
                                        {% endblock %}

                                        {# @deprecated tag:v6.4.0 use `sw_order_list_grid_columns_actions_view` with parent instead #}
                                        {% block sw_customer_list_grid_columns_actions_delete %}
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block sw_order_list_grid_action_modals %}
                                <template #action-modals="{ item }">
                                    {% block sw_order_list_delete_modal %}
                                    <sw-modal v-if="showDeleteModal === item.id"
                                              @modal-close="onCloseDeleteModal"
                                              :title="$tc('global.default.warning')"
                                              variant="small">
                                        {% block sw_order_list_delete_modal_confirm_delete_text %}
                                        <p class="sw-order-list__confirm-delete-text">
                                            {{ $tc('sw-order.list.textDeleteConfirm', 0, { orderNumber: `${item.orderNumber}` }) }}
                                        </p>
                                        {% endblock %}

                                        {% block sw_order_list_delete_modal_footer %}
                                        <template #modal-footer>
                                            {% block sw_order_list_delete_modal_cancel %}
                                            <sw-button @click="onCloseDeleteModal" size="small">
                                                {{ $tc('sw-order.list.buttonCancel') }}
                                            </sw-button>
                                            {% endblock %}

                                            {% block sw_order_list_delete_modal_confirm %}
                                            <sw-button @click="onConfirmDelete(item.id)" variant="danger" size="small">
                                                {{ $tc('sw-order.list.buttonDelete') }}
                                            </sw-button>
                                            {% endblock %}
                                        </template>
                                        {% endblock %}
                                    </sw-modal>
                                    {% endblock %}
                                </template>
                                {% endblock %}

                                <template #pagination>
                                    {% block sw_order_list_grid_pagination %}
                                        <sw-pagination :page="page"
                                                       :limit="limit"
                                                       :total="total"
                                                       :total-visible="7"
                                                       @page-change="onPageChange">
                                        </sw-pagination>
                                    {% endblock %}
                                </template>
                            </sw-data-grid>
                        {% endblock %}

                        {% block sw_order_list_empty_state %}
                            <sw-empty-state v-if="!isLoading && !total" :title="$tc('sw-order.list.messageEmpty')"></sw-empty-state>
                        {% endblock %}
                    </div>
                {% endblock %}
            </template>

            {% block sw_order_list_sidebar %}
                <template #sidebar>
                    <sw-sidebar class="sw-order-list__sidebar">
                        {% block sw_order_list_sidebar_refresh %}
                            <sw-sidebar-item
                                icon="default-arrow-360-left"
                                :title="$tc('sw-order.list.titleSidebarItemRefresh')"
                                @click="onRefresh">
                            </sw-sidebar-item>
                        {% endblock %}

                        {% block sw_order_list_sidebar_filter %}
                            <sw-sidebar-item icon="default-action-filter"
                                             :title="$tc('sw-order.list.titleSidebarItemFilter')">

                                {% block sw_order_list_sidebar_filter_items %}

                                    {% block sw_order_list_sidebar_filter_affiliate_code %}
                                        <sw-multi-select
                                            :label="$tc('sw-order.list.titleSidebarItemFilterAffiliateCode')"
                                            :options="availableAffiliateCodes"
                                            :isLoading="filterLoading"
                                            valueProperty="key"
                                            labelProperty="key"
                                            :value="affiliateCodeFilter"
                                            @change="onChangeAffiliateCodeFilter">
                                        </sw-multi-select>
                                    {% endblock %}

                                    {% block sw_order_list_sidebar_filter_campaign_code %}
                                        <sw-multi-select
                                            :label="$tc('sw-order.list.titleSidebarItemFilterCampaignCode')"
                                            :options="availableCampaignCodes"
                                            :isLoading="filterLoading"
                                            valueProperty="key"
                                            labelProperty="key"
                                            @change="onChangeCampaignCodeFilter"
                                            :value="campaignCodeFilter">
                                        </sw-multi-select>
                                    {% endblock %}

                                {% endblock %}
                            </sw-sidebar-item>
                        {% endblock %}
                    </sw-sidebar>
                </template>
            {% endblock %}
        {% endblock %}
    </sw-page>
{% endblock %}
