{% block sw_import_export_profile_list %}
    <sw-page class="sw-import-export-profile-list">

        {% block sw_import_export_profile_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_import_export_profile_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_import_export_profile_list_smart_bar_header_title_text %}
                            {{ $tc('sw-import-export-profile.list.textImportExportProfileOverview') }}
                        {% endblock %}

                        {% block sw_import_export_profile_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ importExportProfiles.total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_import_export_profile_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sw_import_export_profile_list_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'sw.import.export.profile_create' }" variant="primary">
                        {{ $tc('sw-import-export-profile.list.buttonAddImportExportProfile') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block sw_import_export_profile_list_content %}
                <div class="sw-import-export-profile-list__content">
                    {% block sw_import_export_profile_list_grid %}
                        <sw-entity-listing v-if="importExportProfiles"
                                            :repository="repository"
                                            :items="importExportProfiles"
                                            :columns="columns"
                                            detailRoute="sw.import.export.profile_detail">
                            {% block sw_import_export_profile_list_grid_columns %}
                                {% block sw_import_export_profile_list_grid_columns_sourceEntity %}
                                    <template #column-sourceEntity="{ item }">
                                        {{ translateEntity(item.sourceEntity) }}
                                    </template>
                                {% endblock %}

                                {% block sw_import_export_profile_list_grid_columns_fileType %}
                                    <template #column-fileType="{ item }">
                                        {{ formatFileType(item.fileType) }}
                                    </template>
                                {% endblock %}

                                {% block sw_import_export_profile_list_grid_columns_systemDefault %}
                                    <template #column-systemDefault="{ item }">
                                        <sw-icon
                                                small
                                                name="small-default-checkmark-line-medium"
                                                v-if="item.systemDefault"
                                                class="is--default">
                                        </sw-icon>
                                        <span v-else></span>
                                    </template>
                                {% endblock %}

                                {% block sw_import_export_profile_list_grid_columns_updatedAt %}
                                    <template #column-updatedAt="{ item }">
                                        <span>{{ item.updatedAt|date({year: '2-digit', hour:'2-digit', minute:'2-digit'}) }}</span>
                                    </template>
                                {% endblock %}

                                {% block sw_import_export_profile_list_grid_columns_createdAt %}
                                    <template #column-createdAt="{ item }">
                                        <span>{{ item.createdAt|date({year: '2-digit', hour:'2-digit', minute:'2-digit'}) }}</span>
                                    </template>
                                {% endblock %}
                            {% endblock %}

                            {% block sw_import_export_profile_list_grid_columns_actions %}
                                <template #actions="{ item }">
                                    {% block sw_import_export_profile_list_grid_columns_actions_edit %}
                                        <sw-context-menu-item
                                                class="sw-import-export-profile-list__edit-action"
                                                :routerLink="{ name: 'sw.import.export.profile_detail', params: { id: item.id } }">
                                            {{ $tc('sw-import-export-profile.list.contextMenuEdit') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_import_export_profile_list_grid_columns_actions_delete %}
                                        <sw-context-menu-item v-if="!item.systemDefault" @click="onDeleteImportExportProfile(item.id)" variant="danger">
                                            {{ $tc('sw-import-export-profile.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block sw_import_export_profile_list_grid_action_modals %}
                                <template #action-modals="{ item }">

                                    {% block sw_import_export_profile_list_delete_modal %}
                                        <sw-modal v-if="showDeleteModal === item.id"
                                                  @closeModal="onCloseDeleteModal"
                                                  :title="$tc('sw-import-export-profile.list.modalTitleDelete')"
                                                  variant="small">
                                            {% block sw_import_export_profile_list_delete_modal_confirm_delete_text %}
                                                <p class="sw-import-export-profile-list__confirm-delete-text">
                                                    {{ $tc('sw-import-export-profile.list.textDeleteConfirm', 0, { name: item.name }) }}
                                                </p>
                                            {% endblock %}

                                            {% block sw_import_export_profile_list_delete_modal_footer %}
                                                <template #modal-footer>
                                                    {% block sw_import_export_profile_list_delete_modal_cancel %}
                                                        <sw-button @click="onCloseDeleteModal" size="small">
                                                            {{ $tc('sw-import-export-profile.list.buttonCancel') }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block sw_import_export_profile_list_delete_modal_confirm %}
                                                        <sw-button @click="onConfirmDelete(item.id)" variant="primary" size="small">
                                                            {{ $tc('sw-import-export-profile.list.buttonDelete') }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-entity-listing>
                    {% endblock %}
                </div>

                {% block sw_import_export_profile_list_empty_state %}
                    <sw-empty-state v-if="!isLoading && !importExportProfiles.total" :title="$tc('sw-import-export-profile.list.messageEmpty')"></sw-empty-state>
                {% endblock %}
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
