{% sw_extends '@Storefront/page/checkout/_page.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/page/checkout/cart/meta.html.twig' %}
{% endblock %}

{% block page_checkout_container %}
    {% if not page.cart.lineItems.elements %}
        {% sw_include '@Storefront/layout/_utilities/alert.html.twig' with {
            type: "info",
            content: "checkout.cartEmpty"|trans
        } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_main_content %}
    {% block page_checkout_cart %}
        {% block page_checkout_cart_header %}
            <h1 class="cart-main-header">
                {{ "checkout.cartHeader"|trans }}
            </h1>
        {% endblock %}

        {% block page_checkout_cart_messages %}{% endblock %}

        {% block page_checkout_cart_table %}
            <div class="card cart-table">
                <div class="card-body cart-table-body">
                    {% block page_checkout_cart_table_header %}
                        {% sw_include '@Storefront/page/checkout/cart/cart-header.html.twig' %}
                    {% endblock %}

                    {% block page_checkout_cart_items %}
                        {% for lineItem in page.cart.lineItems.elements %}
                            {% block page_checkout_cart_item %}
                                {% sw_include '@Storefront/page/checkout/checkout-item.html.twig' %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_sidebar %}
    {% block page_checkout_cart_actions %}
        <div class="checkout-main-actions">
            {% block page_checkout_cart_actions_add_promotion %}
                <form action="{{ path('frontend.checkout.promotion.add') }}"
                      method="post">
                    <input type="hidden" name="forwardTo" value="frontend.checkout.cart.page">
                    {% block page_checkout_cart_actions_add_promotion_input_group %}
                        <div class="input-group">
                            {% block page_checkout_cart_actions_add_promotion_input %}
                                <input type="text"
                                       name="code"
                                       class="form-control"
                                       placeholder="{{ "checkout.addPromotionPlaceholder"|trans }}"
                                       aria-label="{{ "checkout.addPromotionLabel"|trans }}"
                                       aria-describedby="addPromotion"
                                       required="required">
                            {% endblock %}

                            {% block page_checkout_cart_actions_add_promotion_submit %}
                                <div class="input-group-append">
                                    <button class="btn btn-dark"
                                            type="submit"
                                            id="addPromotion">
                                        {% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
                                            'name': 'basic-plus-circle'
                                        } %}
                                    </button>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block page_checkout_sidebar_actions %}
    {% block page_checkout_sidebar_actions_proceed %}
        <a href="{{ path('frontend.checkout.confirm.page') }}"
           class="btn btn-primary btn-block btn-lg"
           title="{{ "checkout.proceedLink"|trans }}">
            {{ "checkout.proceedLink"|trans }}
        </a>
    {% endblock %}
{% endblock %}
