{% block component_filter_boolean %}
    {% set filterBooleanOptions = {
        name: name,
        displayName: displayName,
        snippets: {
            disabledFilterText: 'listing.disabledFilterTooltip'|trans|sw_sanitize,
            altText: altText,
            altTextActive: altTextActive
        }
    } %}

    {% block component_filter_boolean_panel_item %}
        <div class="filter-boolean filter-panel-item"
             role="listitem"
             data-filter-boolean="true"
             data-filter-boolean-options="{{ filterBooleanOptions|json_encode }}">
            {% block component_filter_boolean_container %}
                <div class="form-check">
                    {% block component_filter_boolean_checkbox %}
                        <input type="checkbox"
                               class="filter-boolean-input form-check-input"
                               id="{{ name }}"
                               name="{{ name }}">
                    {% endblock %}

                    {% block component_filter_boolean_label %}
                        <label for="{{ name }}" class="filter-boolean-label custom-control-label">
                            {% block component_filter_boolean_display_name %}
                                {% if altText %}
                                    <span class="filter-boolean-alt-text visually-hidden">{{ altText }}</span>
                                    <span aria-hidden="true">{{ displayName }}</span>
                                {% else %}
                                    {{ displayName }}
                                {% endif %}
                            {% endblock %}
                        </label>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
