{% block component_filter_multi_select_list_item %}
    <div class="form-check">
        {% set id = element.id %}
        {% set name = element.translated.name %}
        {% block component_filter_multi_select_list_item_checkbox_input %}
            <input type="checkbox"
                   class="form-check-input filter-multi-select-checkbox"
                   data-label="{{ name }}"
                   value="{{ id }}"
                   id="{{ id }}">
        {% endblock %}

        {% block component_filter_multi_select_list_item_label_element %}
            <label class="filter-multi-select-item-label form-check-label" for="{{ id }}">
                {% block component_multi_select_list_item_label %}
                    {{ name }}
                {% endblock %}
            </label>
        {% endblock %}
    </div>
{% endblock %}
