{% sw_extends "@Shopware/frontend/listing/product-box/box-basic.html.twig" %}

{#{namespace name="frontend/listing/box_article"}#}

{% block frontend_listing_box_article_description %}{% endblock %}

{% block frontend_listing_box_article_picture %}
{# @var product \Shopware\Product\Struct\StoreFrontListingProductStruct #}

{% if product.canonicalUrl %}
    {% set url = product.canonicalUrl.url %}
{% else %}
    {% set url = url('detail_page', { 'uuid': product.uuid }) %}
{% endif %}

<a href="{{ url }}"
   title="{{ product.name|escape }}"
   class="product--image">
    {% block frontend_listing_box_article_image_element %}
    <span class="image--element">
            {% block frontend_listing_box_article_image_media %}
                <span class="image--media">

                    {#{$desc = $sArticle.articleName|escape}#}

                    {#{if isset($sArticle.image.thumbnails)}#}

                        {#{if $sArticle.image.description}#}
                            {#{$desc = $sArticle.image.description|escape}#}
                        {#{/if}#}

                        {#{% block frontend_listing_box_article_image_picture_element %}#}
                            {#<img srcset="{$sArticle.image.thumbnails[1].sourceSet}"#}
                                 {#alt="{$desc}"#}
                                 {#title="{$desc|truncate:160}" />#}
                        {#{% endblock %}#}
                    {#{else}#}

                        <img src="{{ asset('bundles/storefront/src/img/no-picture.jpg') }} %}"
                             alt="{{ product.name|escape }}"
                             title="{{ product.name|escape }}" />
                    {#{/if}#}
                </span>
            {% endblock %}
        </span>
    {% endblock %}
</a>
{% endblock %}
