{% block frontend_listing_product_box_button_detail %}

    {% block frontend_listing_product_box_button_detail_url %}
        {% set url = {{ product.linkDetails }} %}
    {% endblock %}

    {% block frontend_listing_product_box_button_detail_title %}
        {% set title = {{ product.name|escape }} %}
    {% endblock %}

    {% block frontend_listing_product_box_button_detail_label %}
        {% set label = "{% trans from 'frontend/listing/box_article' %}ListingButtonDetail{% endtrans %}" %}
    {% endblock %}

    {% block frontend_listing_product_box_button_detail_container %}
        <div class="product--detail-btn">

            {% block frontend_listing_product_box_button_detail_anchor %}
                <a href="{{ url }}" class="buybox--button block btn is--icon-right is--center is--large" title="{{ label }} - {{ title }}">
                    {% block frontend_listing_product_box_button_detail_text %}
                        {{ label }} <i class="icon--arrow-right"></i>
                    {% endblock %}
                </a>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}