{% block sw_cms_list %}
<sw-page class="sw-cms-list">
    {% block sw_cms_list_search_bar %}
    <template slot="search-bar">
        <sw-search-bar
            initial-search-type="cms_page"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_cms_list_toolbar %}
    <template slot="smart-bar-header">
        <h2>{{ $tc('sw-cms.general.moduleTitle') }}</h2>
    </template>

    <template slot="language-switch">
        <sw-language-switch
            slot="language-switch"
            @on-change="onChangeLanguage"
        />
    </template>

    <template slot="smart-bar-actions">
        <sw-button
            slot="actions"
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('cms.creator'),
                showOnDisabledElements: true
            }"
            variant="primary"
            :disabled="!acl.can('cms.creator')"
            @click="onCreateNewLayout"
        >
            {{ $tc('sw-cms.general.createNewLayout') }}
        </sw-button>
    </template>
    {% endblock %}

    {% block sw_cms_list_card_view %}
    <sw-card-view slot="content">

        {% block sw_cms_list_content %}
        <div class="sw-cms-list__content">
            {% block sw_cms_list_sidebar %}
            <div class="sw-cms-list__sidebar">
                {% block sw_cms_list_sidebar_tabs %}
                <sw-tabs
                    is-vertical
                    small
                    class="sw-cms-list__type-nav"
                >
                    <sw-tabs-item
                        v-for="pageType in sortPageTypes"
                        :key="pageType.name"
                        :disabled="pageType.disabled"
                        :active="pageType.active"
                        @click="onSortPageType(pageType.value)"
                    >
                        {{ pageType.name }}
                    </sw-tabs-item>
                </sw-tabs>
                {% endblock %}
            </div>
            {% endblock %}

            {% block sw_cms_list_listing %}
            <div class="sw-cms-list__listing">

                {% block sw_cms_list_listing_actions %}
                <div class="sw-cms-list__actions">
                    {% block sw_cms_list_listing_title %}
                    <h3>{{ $tc('sw-cms.general.greeting') }}</h3>
                    {% endblock %}

                    {% block sw_cms_list_listing_actions_sorting %}
                    <div class="sw-cms-list__actions-sorting">
                        <sw-field
                            type="select"
                            name="sortType"
                            :label="$tc('sw-cms.sorting.labelSort')"
                            :value="sortingConCat"
                            aside
                            @change="onSortingChanged"
                        >

                            {% block sw_cms_list_listing_actions_sorting_options %}
                            <option
                                v-for="sortOption in sortOptions"
                                :key="sortOption.value"
                                :value="sortOption.value"
                            >
                                {{ sortOption.name }}
                            </option>
                            {% endblock %}
                        </sw-field>
                    </div>
                    {% endblock %}

                    {% block sw_cms_list_listing_actions_mode %}
                    <div
                        class="sw-cms-list__actions-mode"
                        @click="onListModeChange"
                    >
                        <sw-icon
                            v-if="listMode === 'grid'"
                            name="default-view-normal"
                            size="16"
                        />
                        <sw-icon
                            v-if="listMode === 'list'"
                            name="default-view-grid"
                            size="16"
                        />
                    </div>
                    {% endblock %}
                </div>
                {% endblock %}

                {% block sw_cms_list_listing_list %}
                <div class="sw-cms-list__list">

                    {% block sw_cms_list_listing_list_card %}
                    <sw-card
                        v-if="listMode === 'list'"
                        class="sw-cms-list__list-card"
                    >
                        <template slot="grid">
                            {% block sw_cms_list_listing_list_data_grid %}
                            <sw-data-grid
                                class="sw-cms-list__list-data-grid"
                                identifier="sw-cms-list"
                                :is-loading="isLoading"
                                :data-source="pages"
                                :columns="columnConfig"
                                :skeleton-item-amount="limit"
                                :sort-by="sortBy"
                                :sort-direction="sortDirection"
                                :allow-inline-edit="false"
                                :allow-column-edit="false"
                                :show-settings="false"
                                :show-selection="false"
                                @column-sort="onSortColumn"
                            >

                                {% block sw_cms_list_listing_list_data_grid_column_name %}
                                <template #column-name="{ item }">
                                    <sw-icon
                                        v-if="item.locked"
                                        name="default-lock-closed"
                                        class="sw-cms-list__icon-lock"
                                        size="14"
                                    />
                                    <router-link :to="{ name: 'sw.cms.detail', params: { id: item.id } }">
                                        {{ item.translated.name }}
                                    </router-link>
                                </template>
                                {% endblock %}

                                {% block sw_cms_list_listing_list_data_grid_column_type %}
                                <template #column-type="{ item }">
                                    {{ pageTypes[item.type] }}
                                </template>
                                {% endblock %}

                                {% block sw_cms_list_listing_list_data_grid_column_assignments %}
                                <template #column-assignments="{ item }">
                                    {{ item.categories.length + item.products.length }}
                                </template>
                                {% endblock %}

                                {% block sw_cms_list_listing_list_data_grid_column_created %}
                                <template #column-createdAt="{ item }">
                                    {{ item.createdAt | date({ hour: '2-digit', minute: '2-digit' }) }}
                                </template>
                                {% endblock %}

                                {% block sw_cms_list_listing_list_data_grid_actions %}
                                <template #actions="{ item }">
                                    {% block sw_cms_list_listing_list_data_grid_actions_edit %}
                                    <sw-context-menu-item
                                        :router-link="{ name: 'sw.cms.detail', params: { id: item.id } }"
                                        class="sw-cms-list__context-menu-item-edit"
                                        :disabled="!acl.can('cms.editor')"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.edit') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_cms_list_listing_list_data_grid_actions_edit_duplicate %}
                                    <sw-context-menu-item
                                        :disabled="!acl.can('cms.creator')"
                                        class="sw-cms-list__context-menu-item-duplicate"
                                        @click="onDuplicateCmsPage(item)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.duplicate') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_cms_list_listing_list_data_grid_actions_edit_delete %}
                                    <sw-context-menu-item
                                        v-if="!item.locked"
                                        v-tooltip="deleteDisabledToolTip(item)"
                                        variant="danger"
                                        class="sw-cms-list__context-menu-item-delete"
                                        :disabled="
                                            item.categories.length > 0 ||
                                                (item.products && item.products.length > 0) ||
                                                !acl.can('cms.deleter')
                                        "
                                        @click="onDeleteCmsPage(item)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.delete') }}
                                    </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                                {% endblock %}

                                {% block sw_cms_list_listing_list_data_grid_pagination %}
                                <template #pagination>
                                    <sw-pagination
                                        :page="page"
                                        :limit="limit"
                                        :total="total"
                                        :steps="[5, 10, 25, 50]"
                                        @page-change="onPageChange"
                                    />
                                </template>
                                {% endblock %}
                            </sw-data-grid>
                            {% endblock %}
                        </template>
                    </sw-card>
                    {% endblock %}

                    {% block sw_cms_list_listing_list_grid %}
                    <div
                        v-if="listMode === 'grid'"
                        class="sw-cms-list__list-grid"
                    >

                        {% block sw_cms_list_listing_list_grid_content %}
                        <div class="sw-cms-list__list-grid-content">
                            {% block sw_cms_list_listing_list_item %}
                            <sw-cms-list-item
                                v-for="(cmsPage, index) in pages"
                                :key="cmsPage.id"
                                :class="'sw-cms-list-item--' + index"
                                :page="cmsPage"
                                :active="layoutIsLinked(cmsPage.id)"
                                @preview-image-change="onPreviewChange"
                                @cms-page-delete="onDeleteCmsPage"
                                @item-click="onListItemClick"
                            >

                                <sw-context-button
                                    slot="contextMenu"
                                    class="sw-cms-list-item__options"
                                >

                                    {% block sw_cms_list_listing_list_item_option_add_preview %}
                                    <sw-context-menu-item
                                        class="sw-cms-list-item__option-preview"
                                        :disabled="!acl.can('cms.editor')"
                                        @click="onPreviewChange(cmsPage)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.addPreviewImage') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_cms_list_listing_list_item_option_remove_preview %}
                                    <sw-context-menu-item
                                        v-if="cmsPage.previewMediaId"
                                        class="sw-cms-list-item__option-preview"
                                        variant="danger"
                                        :disabled="!acl.can('cms.editor')"
                                        @click="onPreviewImageRemove(cmsPage)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.removePreviewImage') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_cms_list_listing_list_item_option_duplicate %}
                                    <sw-context-menu-item
                                        :disabled="!acl.can('cms.creator')"
                                        class="sw-cms-list-item__option-duplicate"
                                        @click="onDuplicateCmsPage(cmsPage)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.duplicate') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_cms_list_listing_list_item_option_delete %}
                                    <sw-context-menu-item
                                        v-if="!cmsPage.locked"
                                        v-tooltip="deleteDisabledToolTip(cmsPage)"
                                        class="sw-cms-list-item__option-delete"
                                        variant="danger"
                                        :disabled="
                                            cmsPage.categories.length > 0 ||
                                                (cmsPage.products && cmsPage.products.length > 0) ||
                                                !acl.can('cms.deleter')
                                        "
                                        @click="onDeleteCmsPage(cmsPage)"
                                    >
                                        {{ $tc('sw-cms.components.cmsListItem.delete') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                </sw-context-button>
                            </sw-cms-list-item>
                            {% endblock %}
                        </div>
                        {% endblock %}

                        {% block sw_cms_list_listing_pagination %}
                        <sw-pagination
                            v-if="!isLoading"
                            class="sw-cms-list__list-pagination"
                            :page="page"
                            :limit="limit"
                            :total="total"
                            :steps="[9]"
                            @page-change="onPageChange"
                        />
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_cms_list_listing_list_loader %}
        <sw-loader
            v-if="isLoading && listMode === 'grid'"
            id="sw-cms-list-grid-loader"
        />
        {% endblock %}

        {% block sw_cms_list_media_modal %}
        <sw-media-modal-v2
            v-if="showMediaModal"
            variant="regular"
            :caption="$tc('sw-cms.components.cmsListItem.modal.captionMediaUpload')"
            :entity-context="'cms_page'"
            :allow-multi-select="false"
            @media-modal-selection-change="onPreviewImageChange"
            @modal-close="onModalClose"
        />
        {% endblock %}

        {% block sw_cms_list_delete_modal %}
        <sw-modal
            v-if="showDeleteModal"
            :title="$tc('global.default.warning')"
            variant="small"
            @modal-close="onCloseDeleteModal"
        >

            {% block sw_cms_list_delete_modal_confirm_delete_text %}
            <div class="sw_tree__confirm-delete-text">
                {{ $tc('sw-cms.components.cmsListItem.modal.textDeleteConfirm', 0,
                       { pageName: currentPage.translated.name || currentPage.name }) }}
            </div>
            {% endblock %}

            {% block sw_cms_list_delete_modal_footer %}
            <template slot="modal-footer">
                {% block sw_cms_list_delete_modal_cancel %}
                <sw-button
                    size="small"
                    @click="onCloseDeleteModal"
                >
                    {{ $tc('sw-cms.components.cmsListItem.modal.buttonCancel') }}
                </sw-button>
                {% endblock %}

                {% block sw_cms_list_delete_modal_confirm %}
                <sw-button
                    variant="danger"
                    size="small"
                    @click="onConfirmPageDelete"
                >
                    {{ $tc('sw-cms.components.cmsListItem.modal.buttonDelete') }}
                </sw-button>
                {% endblock %}
            </template>
            {% endblock %}
        </sw-modal>
        {% endblock %}

    </sw-card-view>
    {% endblock %}
</sw-page>
{% endblock %}
