{% block page_checkout_finish_details_inner %}
    {% block page_checkout_finish_data %}
        <div class="card checkout-card">
            <div class="card-body">
                {% block page_checkout_finish_header %}
                    <h1 class="finish-header">
                        {{ "checkout.finishHeader"|trans({
                            '%shop%': shopware.config.core.basicInformation.shopName
                        })|sw_sanitize }}
                    </h1>
                {% endblock %}

                {% block page_checkout_finish_ordernumber %}
                    <p class="finish-ordernumber">
                        {{ "checkout.finishInfoOrdernumber"|trans|sw_sanitize }}{{ page.order.orderNumber }}
                    </p>
                {% endblock %}

                {% block page_checkout_finish_content %}
                    <div class="finish-content">
                        {% block page_checkout_finish_teaser %}
                            <p class="finish-teaser">{{ "checkout.finishInfoConfirmationMail"|trans|sw_sanitize }}</p>
                        {% endblock %}

                        {% block page_checkout_finish_action %}
                            <div class="finish-action">
                                {% block page_checkout_finish_action_back %}
                                    <a href="{{ path('frontend.home.page') }}"
                                       class="btn btn-primary finish-back-button"
                                       title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
                                        {{ "checkout.finishButtonBackToShop"|trans|sw_sanitize }}
                                    </a>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block page_checkout_finish_order %}
        <div class="row finish-info">
            {% block page_checkout_finish_order_address %}
                <div class="col-md-8 finish-address">
                    {% sw_include '@Storefront/storefront/page/checkout/finish/finish-address.html.twig' %}
                </div>
            {% endblock %}

            {% block page_checkout_finish_order_details %}
                <div class="col-md-4 finish-order-details">
                    <div class="card checkout-card">
                        <div class="card-body">
                            {% block page_checkout_finish_order_title %}
                                <div class="card-title">
                                    {{ "checkout.finishInfoHeader"|trans|sw_sanitize }}
                                </div>
                            {% endblock %}

                            {% block page_checkout_finish_order_payment_method %}
                                <p>
                                    <strong>{{ "checkout.finishInfoPayment"|trans|sw_sanitize }}</strong>
                                    {{ page.order.transactions.first.paymentMethod.translated.name }}
                                </p>
                            {% endblock %}

                            {% block page_checkout_finish_order_dispatch_method %}
                                <p>
                                    <strong>{{ "checkout.finishInfoShipping"|trans|sw_sanitize }}</strong>
                                    {{ page.order.deliveries.first.shippingMethod.translated.name }}
                                </p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
