{% block sw_product_stream_value %}
<div
    class="sw-product-stream-value"
    :class="componentClasses"
>

    <template v-if="!fieldDefinition">
        {% block sw_product_stream_value_no_definition_placeholder %}
        <sw-container class="sw-product-stream-value__placeholder" />
        {% endblock %}
    </template>
    <template v-else-if="fieldType === 'boolean'">
        {% block sw_product_stream_value_boolean_value %}
        <sw-single-select
            class="sw-product-stream-value__select"
            size="medium"
            :options="booleanOptions"
            :value="condition.value"
            :disabled="disabled"
            @change="setBooleanValue"
        />
        {% endblock %}
    </template>

    <template v-else>
        {% block sw_product_stream_value_operator_select %}
        <sw-arrow-field
            class="sw-product-stream-value__operator-select"
            :disabled="!acl.can('product_stream.editor')"
        >
            <sw-single-select
                v-model="filterType"
                size="medium"
                :options="operators"
                :placeholder="$tc('sw-product-stream.filter.placeholderOperatorSelect')"
                :disabled="disabled"
            />
        </sw-arrow-field>
        {% endblock %}

        <template v-if="fieldType === 'uuid'">
            {% block sw_product_stream_value_entity_single_value %}
            <sw-entity-single-select
                v-if="definition.entity === 'product' && actualCondition.type === 'equals'"
                v-model="actualCondition.value"
                size="medium"
                :entity="definition.entity"
                :criteria="productCriteria"
                :context="context"
                :disabled="disabled"
            >
                <template #selection-label-property="{ item }">
                    <slot
                        name="selection-label-property"
                        v-bind="{ item }"
                    >
                        {% block sw_product_stream_value_results_variant_info %}
                        <sw-product-variant-info
                            :variations="item.variation"
                        >
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                        {% endblock %}
                    </slot>
                </template>

                <template #result-item="{ item, index }">
                    <slot
                        name="result-item"
                        v-bind="{ item, index }"
                    >
                        <li
                            is="sw-select-result"
                            v-bind="{ item, index }"
                        >
                            {% block sw_product_stream_value_results_list_result_label %}
                            <span class="sw-select-result__result-item-text">
                                <sw-product-variant-info
                                    :variations="item.variation"
                                >
                                    {{ item.translated.name || item.name }}
                                </sw-product-variant-info>
                            </span>
                            {% endblock %}
                        </li>
                    </slot>
                </template>
            </sw-entity-single-select>

            <sw-entity-single-select
                v-else-if="definition.entity === 'property_group_option' && actualCondition.type === 'equals'"
                v-model="actualCondition.value"
                size="medium"
                :entity="definition.entity"
                :criteria="propertyCriteria"
                :context="context"
                :disabled="disabled"
                @select-collapsed="onSelectCollapsed"
                @search-term-change="setSearchTerm"
            >

                <template #selection-label-property="{ item }">
                    <slot
                        name="selection-label-property"
                        v-bind="{ item }"
                    >
                        {{ item.group.translated.name || item.group.name }}: {{ item.translated.name || item.name }}
                    </slot>
                </template>
            </sw-entity-single-select>

            {% block sw_product_stream_value_entity_single_value_visibilities %}
            <sw-entity-single-select
                v-else-if="definition.entity === 'product_visibility' && actualCondition.type === 'equals'"
                v-model="actualCondition.value"
                size="medium"
                :entity="definition.entity"
                :criteria="visibilitiesCriteria"
                :label-callback="visibilitiesLabelCallback"
                :context="context"
                :disabled="disabled"
                @search-term-change="setSearchTerm"
            />
            {% endblock %}

            <sw-entity-single-select
                v-else-if="actualCondition.type === 'equals'"
                v-model="actualCondition.value"
                size="medium"
                :entity="definition.entity"
                :context="context"
                :disabled="disabled"
            />
            {% endblock %}

            {% block sw_product_stream_value_entity_multi_value %}
            <sw-entity-multi-id-select
                v-else-if="definition.entity === 'property_group_option' && actualCondition.type === 'equalsAny'"
                v-model="multiValue"
                size="medium"
                :repository="repository"
                :criteria="propertyCriteria"
                :context="context"
                :disabled="disabled"
                @select-collapsed="onSelectCollapsed"
                @search-term-change="setSearchTerm"
            >

                <template #selection-label-property="{ item }">
                    <slot
                        name="selection-label-property"
                        v-bind="{ item }"
                    >
                        {{ item.group.translated.name || item.group.name }}: {{ item.translated.name || item.name }}
                    </slot>
                </template>

                <template #result-label-property="{ item, searchTerm, highlightSearchTerm }">
                    <slot
                        name="result-label-property"
                        v-bind="{ item, searchTerm, highlightSearchTerm }"
                    >
                        {{ item.group.translated.name || item.group.name }}: {{ item.translated.name || item.name }}
                    </slot>
                </template>
            </sw-entity-multi-id-select>

            <sw-entity-multi-id-select
                v-else-if="definition.entity === 'product' && actualCondition.type === 'equalsAny'"
                v-model="multiValue"
                size="medium"
                :repository="repository"
                :criteria="productCriteria"
                :context="context"
                :disabled="disabled"
            >
                <template #selection-label-property="{ item }">
                    <slot
                        name="selection-label-property"
                        v-bind="{ item }"
                    >
                        <sw-product-variant-info
                            class="product-view"
                            :variations="item.variation"
                        >
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                    </slot>
                </template>

                <template #result-label-property="{ item, index }">
                    <slot
                        name="result-label-property"
                        v-bind="{ item, index }"
                    >
                        {% block sw_product_stream_value_results_list_result_label %}
                        <span class="sw-select-result__result-item-text">
                            <sw-product-variant-info :variations="item.variation">
                                {{ item.translated.name || item.name }}
                            </sw-product-variant-info>
                        </span>
                        {% endblock %}
                    </slot>
                </template>
            </sw-entity-multi-id-select>

            {% block sw_product_stream_value_entity_multi_value_visibilities %}
            <sw-entity-multi-id-select
                v-else-if="definition.entity === 'product_visibility' && actualCondition.type === 'equalsAny'"
                v-model="multiValue"
                size="medium"
                :repository="repository"
                :criteria="visibilitiesCriteria"
                :context="context"
                :disabled="disabled"
                @search-term-change="setSearchTerm"
            >
                <template #selection-label-property="{ item }">
                    <slot
                        name="selection-label-property"
                        v-bind="{ item }"
                    >
                        {{ item.salesChannel.translated.name }}: {{ item.product.translated.name }}
                    </slot>
                </template>

                <template #result-label-property="{ item, searchTerm, highlightSearchTerm }">
                    <slot
                        name="result-label-property"
                        v-bind="{ item, searchTerm, highlightSearchTerm }"
                    >
                        {{ item.salesChannel.translated.name }}: {{ item.product.translated.name }}
                    </slot>
                </template>
            </sw-entity-multi-id-select>
            {% endblock %}

            <sw-entity-multi-id-select
                v-else-if="actualCondition.type === 'equalsAny'"
                v-model="multiValue"
                size="medium"
                :repository="repository"
                :context="context"
                :disabled="disabled"
            />
            {% endblock %}

            {% block sw_product_stream_value_entity_no_operator_selected_placeholder %}
            <sw-container
                v-else
                class="sw-product-stream-value__placeholder"
            />
            {% endblock %}
        </template>

        <template v-else-if="getConditionType(condition) === 'range'">
            {% block sw_product_stream_value_range_value %}
            <template v-if="filterType === 'range'">
                {% block sw_product_stream_value_range_from_value %}
                <sw-arrow-field :disabled="disabled">
                    <component
                        :is="inputComponent"
                        v-model="gte"
                        size="medium"
                        :disabled="disabled"
                    />
                </sw-arrow-field>
                {% endblock %}

                {% block sw_product_stream_value_range_to_value %}
                <component
                    :is="inputComponent"
                    v-model="lte"
                    size="medium"
                    :disabled="disabled"
                />
                {% endblock %}
            </template>

            <template v-else>
                {% block sw_product_stream_value_range_one_limit %}
                <component
                    :is="inputComponent"
                    v-model="currentParameter"
                    size="medium"
                    :disabled="disabled"
                />
                {% endblock%}
                    </template>
                {% endblock %}
            </template>

            <!-- eslint-disable vue/valid-v-else-if -->
            <template v-else-if="actualCondition.type === 'equalsAny'">
                {% block sw_product_stream_value_multi_value %}
                <sw-tagged-field
                    v-model="multiValue"
                    size="medium"
                />
                {% endblock %}
            </template>

            <template v-else>
                {% block sw_product_stream_value_single_value %}
                <component
                    :is="inputComponent"
                    v-model="stringValue"
                    size="medium"
                    :disabled="disabled"
                />
                {% endblock %}
            </template>
        </template>
    </template></div>
{% endblock %}
