{% block list %}
    <sw-workspace>

        <header class="toolbar--middle-section" slot="header">
            <h1 class="workspace--headline">Bestellübersicht</h1>
            <div class="toolbar--primary-actions"></div>
        </header>

        <div class="core-order--list">
            {% block core_order_list_grid %}
                <sw-grid :items="orderList" :pagination="true" v-on:edit="onEdit">
                    {% block core_order_list_grid_slots %}

                    <template slot="columns" slot-scope="{ item }">
                        {% block core_order_list_grid_columns %}
                            <sw-grid-column flex="1" label="Bestelldatum">{{ item.date.date | moment('lll') }}</sw-grid-column>
                            <sw-grid-column flex="2" label="Kunde">
                                {{ item.customer.firstName }}<br>
                                {{ item.customer.lastName }}<br>
                                {{ item.customer.email }}
                            </sw-grid-column>
                            <sw-grid-column flex="1" label="Zahlungsart">{{ item.paymentMethod.name }}</sw-grid-column>
                            <sw-grid-column flex="2" label="Rechn.-Adresse">
                                {{ item.billingAddress.street }}<br>
                                {{ item.billingAddress.zipcode }} {{ item.billingAddress.city }}<br>
                                {{ item.billingAddress.country.name }}
                            </sw-grid-column>
                            <sw-grid-column flex="1" label="Status">{{ item.state.description }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Währung">{{ item.currency.name }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Shop">{{ item.shop.name }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Warenkorbwert">{{ item.positionPrice | currency(item.currency.shortName) }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Gesamtbetrag">{{ item.amountTotal | currency(item.currency.shortName) }}</sw-grid-column>
                        {% endblock %}
                    </template>

                    <template slot="pagination">
                        {% block core_order_list_grid_pagination %}
                            <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </sw-grid>
            {% endblock %}

            <sw-loader v-if="isWorking"></sw-loader>
        </div>
    </sw-workspace>
{% endblock %}