{% block list %}
    <sw-workspace>

        <header class="toolbar--middle-section" slot="header">
            <h1 class="workspace--headline">
                Bestellübersicht
            </h1>

            <div class="toolbar--primary-actions">
            </div>
        </header>

        <div class="core-order--list">
            <sw-grid>
                {% block grid_header %}
                <sw-grid-header>
                    {% block grid_header_columns %}
                    <sw-grid-col :width="50">&nbsp;</sw-grid-col>
                    <sw-grid-col :width="50">#</sw-grid-col>
                    <sw-grid-col :width="200">Bestelldatum</sw-grid-col>
                    <sw-grid-col :width="200">Kunde</sw-grid-col>
                    <sw-grid-col :width="200">Zahlungsart</sw-grid-col>
                    <sw-grid-col :width="200">Rechn.-Adresse</sw-grid-col>
                    <sw-grid-col :width="80">Status</sw-grid-col>
                    <sw-grid-col :width="100">Währung</sw-grid-col>
                    <sw-grid-col :width="150">Shop</sw-grid-col>
                    <sw-grid-col :width="200">Warenkorbwert</sw-grid-col>
                    <sw-grid-col :width="200">Gesamtbetrag</sw-grid-col>
                    <sw-grid-col :width="100">Info</sw-grid-col>
                    {% endblock %}
                </sw-grid-header>
                {% endblock %}

                {% block grid_body %}
                <sw-grid-body>
                    {% block grid_item %}
                    <sw-grid-row v-for="(item, index) in orderList" :key="item.uuid" :editable="true" :item="item">
                        {% block grid_columns %}
                        <sw-grid-col :width="50"><input type="checkbox" readonly="true" /></sw-grid-col>
                        <sw-grid-col :width="50">{{index + 1}}</sw-grid-col>
                        <sw-grid-col :width="200">{{item.date.date | moment('lll') }}</sw-grid-col>
                        <sw-grid-col :width="200">{{item.customer.firstName}}<br>{{item.customer.lastName}}<br>{{item.customer.email}}</sw-grid-col>
                        <sw-grid-col :width="200">{{item.paymentMethod.name}}</sw-grid-col>
                        <sw-grid-col :width="200">
                            {{ item.billingAddress.street }}
                            <br>
                            {{ item.billingAddress.zipcode }} {{ item.billingAddress.city }}
                            <br>
                            {{ item.billingAddress.country.name }}
                        </sw-grid-col>
                        <sw-grid-col :width="80">{{item.state.description}}</sw-grid-col>
                        <sw-grid-col :width="100">{{item.currency.name}}</sw-grid-col>
                        <sw-grid-col :width="150">{{item.shop.name}}</sw-grid-col>
                        <sw-grid-col :width="200">{{item.positionPrice | currency(item.currency.shortName) }}</sw-grid-col>
                        <sw-grid-col :width="200">{{item.amountTotal | currency(item.currency.shortName) }}</sw-grid-col>
                        <sw-grid-col :width="100">
                            <router-link class="action--edit" :to="{ name: 'core.order.detail', params: { uuid: item.uuid }}">
                                <i class="icon-document-edit"></i>
                            </router-link>
                        </sw-grid-col>
                        {% endblock %}
                    </sw-grid-row>
                    {% endblock %}
                </sw-grid-body>
                {% endblock %}

                {% block grid_pagination %}
                <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                {% endblock %}

                <sw-loader v-if="isWorking"></sw-loader>
            </sw-grid>
        </div>
    </sw-workspace>
{% endblock %}