{% block sw_sales_channel_detail_domains %}
<sw-card
    :title="$tc('sw-sales-channel.detail.titleDomains')"
    class="sw-sales-channel-detail-domains"
>

    {% block sw_sales_channel_detail_domains_meta %}
    <div class="sw-sales-channel-detail-domains__meta">
        {% block sw_sales_channel_detail_domains_headline %}
        <h4 class="sw-sales-channel-detail-domains__headline sw-sales-channel-detail-base__headline">
            <span class="sw-sales-channel-detail-domains__headline-text sw-sales-channel-detail-base__headline-text">
                {{ $tc('sw-sales-channel.detail.titleDomainHeadline') }}
            </span>
        </h4>
        {% endblock %}

        {% block sw_sales_channel_detail_domains_add_button %}
        <sw-button
            size="small"
            :disabled="disableEdit"
            class="sw-sales-channel-detail__button-domain-add"
            @click="onClickOpenCreateDomainModal"
        >
            {{ $tc('sw-sales-channel.detail.buttonAddDomain') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}

    <template #grid>
        {% block sw_sales_channel_detail_domains_grid %}
        <sw-data-grid
            ref="gridDomains"
            :data-source="salesChannel.domains"
            :columns="getDomainColumns()"
            :show-selection="false"
            :is-loading="isLoadingDomains"
            :show-actions="true"
        >
            {% block sw_sales_channel_detail_domains_columns_template %}

            {% block sw_sales_channel_detail_domains_column_url %}
            <template
                slot="column-url"
                slot-scope="{ item}"
            >
                {{ item.url|unicodeUri }}
            </template>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_column_language_id %}
            <template
                slot="column-languageId"
                slot-scope="{ item, isInlineEdit}"
            >
                {{ item.language.name }}
            </template>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_column_currency_id %}
            <template
                slot="column-currencyId"
                slot-scope="{ item, isInlineEdit}"
            >
                {{ item.currency.translated.name }}
            </template>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_column_snippet_set_id %}
            <template
                slot="column-snippetSetId"
                slot-scope="{ item, isInlineEdit}"
            >
                {{ item.snippetSet.name }}
            </template>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_column_actions %}
            <template #actions="{ item }">
                {% block sw_sales_channel_detail_domains_column_action_domain_edit %}
                <sw-context-menu-item
                    :disabled="disableEdit"
                    @click="onClickEditDomain(item)"
                >
                    {{ $tc('sw-sales-channel.detail.buttonEditDomain') }}
                </sw-context-menu-item>
                {% endblock %}

                {% block sw_sales_channel_detail_domains_column_action_domain_delete %}
                <sw-context-menu-item
                    :disabled="disableEdit"
                    variant="danger"
                    @click="onClickDeleteDomain(item)"
                >
                    {{ $tc('sw-sales-channel.detail.buttonDeleteDomain') }}
                </sw-context-menu-item>
                {% endblock %}
            </template>
            {% endblock %}
            {% endblock %}
        </sw-data-grid>
    </template>
    {% endblock %}

    {% block sw_sales_channel_detail_domains_create_modal %}
    <sw-modal
        v-if="currentDomain"
        :title="currentDomainModalTitle"
        @modal-close="onCloseCreateDomainModal"
    >

        {% block sw_sales_channel_detail_domains_create_modal_content %}
        <sw-container
            columns="repeat(auto-fit, minmax(250px, 1fr))"
            gap="0px 30px"
        >
            {% block sw_sales_channel_detail_domains_input_url %}
            <sw-url-field
                v-model="currentDomain.url"
                type="text"
                omit-url-hash
                omit-url-search
                label="Url"
            />
            {% endblock %}

            {% block sw_sales_channel_detail_domains_input_language %}
            <sw-entity-single-select
                v-model="currentDomain.languageId"
                :label="$tc('sw-sales-channel.detail.labelInputLanguage')"
                :criteria="salesChannelFilterCriteria"
                entity="language"
                required
                @option-select="onOptionSelect"
            />
            {% endblock %}
        </sw-container>

        <sw-container
            columns="repeat(auto-fit, minmax(250px, 1fr))"
            gap="0px 30px"
        >
            {% block sw_sales_channel_detail_domains_input_currency %}
            <sw-entity-single-select
                v-model="currentDomain.currencyId"
                entity="currency"
                :criteria="currencyCriteria"
                :label="$tc('sw-sales-channel.detail.labelInputCurrency')"
                required
                @option-select="onOptionSelect"
            />
            {% endblock %}

            {% block sw_sales_channel_detail_domains_input_snippet_set %}
            <sw-entity-single-select
                v-model="currentDomain.snippetSetId"
                entity="snippet_set"
                :criteria="snippetSetCriteria"
                :label="$tc('sw-sales-channel.detail.labelInputSnippet')"
                required
                @option-select="onOptionSelect"
            />
            {% endblock %}
        </sw-container>

        {% block sw_sales_channel_detail_domains_hreflang %}
        <sw-radio-field
            v-model="currentDomain.hreflangUseOnlyLocale"
            :label="$tc('sw-sales-channel.detail.hreflang.domainSettings.label')"
            identification="hreflang"
            :options="hreflangLocalisationOptions"
        />
        {% endblock %}
        {% endblock %}

        <template slot="modal-footer">
            {% block sw_sales_channel_detail_domains_create_action_cancel %}
            <sw-button
                size="small"
                @click="onCloseCreateDomainModal"
            >
                {{ $tc('sw-sales-channel.modal.buttonCancel') }}
            </sw-button>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_create_action_create %}
            <sw-button
                size="small"
                variant="primary"
                :disabled="disabled"
                @click="onClickAddNewDomain"
            >
                {{ currentDomainModalButtonText }}
            </sw-button>
            {% endblock %}
        </template>
    </sw-modal>
    {% endblock %}

    {% block sw_sales_channel_detail_domains_delete_modal %}
    <sw-modal
        v-if="deleteDomain"
        :title="$tc('sw-sales-channel.detail.deleteDomainModalTitle')"
        variant="small"
        @modal-close="onCloseDeleteDomainModal"
    >

        {% block sw_sales_channel_detail_domains_delete_modal_confirm_text %}
        {{ $tc('sw-sales-channel.detail.textConfirmDeleteDomain', 0, { url: $options.filters.unicodeUri(deleteDomain.url) }) }}
        {% endblock %}

        {% block sw_sales_channel_detail_domains_delete_modal_footer %}
        <template slot="modal-footer">
            {% block sw_sales_channel_detail_domains_delete_modal_abort %}
            <sw-button
                size="small"
                @click="onCloseDeleteDomainModal"
            >
                {{ $tc('sw-sales-channel.detail.buttonCloseDeleteDomainModal') }}
            </sw-button>
            {% endblock %}

            {% block sw_sales_channel_detail_domains_delete_modal_confirm %}
            <sw-button
                size="small"
                variant="danger"
                @click="onConfirmDeleteDomain(deleteDomain)"
            >
                {{ $tc('sw-sales-channel.detail.buttonConfirmDeleteDomain') }}
            </sw-button>
            {% endblock %}
        </template>
        {% endblock %}
    </sw-modal>
    {% endblock %}
</sw-card>
{% endblock %}
