{% sw_extends '@Storefront/page/checkout/_page.html.twig' %}

{% block page_checkout_main_content %}
	{% block page_checkout_config %}
		{% block page_checkout_config_header %}
			<h1 class="checkout-config-header">
				{{ "checkout.configHeader"|trans }}
			</h1>
		{% endblock %}

		{% block page_checkout_config_card %}
			<div class="card checkout-config-card">
				<div class="card-body">
					{% block page_checkout_config_form %}
						{#TODO: NEXT-1943 - add form action#}
						<form id="checkoutConfigForm"
						      name="checkoutConfigForm"
						      action="#"
						      method="post">
							{% block page_checkout_config_form_payment %}
								{% block page_checkout_config_form_payment_header %}
									<h2 class="card-title">
										{{ "checkout.configPaymentHeader"|trans }}
									</h2>
								{% endblock %}

								{% block page_checkout_config_form_payment_fields %}
									{% sw_include '@Storefront/component/payment/payment-fields.html.twig' with {
										'defaultPaymentMethodId': page.activePaymentMethod.id,
									} %}
								{% endblock %}
							{% endblock %}

							{% block page_checkout_config_form_shipping %}
								{% block page_checkout_config_form_shipping_header %}
									<h2 class="card-title">
										{{ "checkout.configShippingHeader"|trans }}
									</h2>
								{% endblock %}

								{% block page_checkout_config_form_shipping_fields %}
									<div class="shipping-fields">
										{% for shipping in page.shippingMethods.elements %}
											<div class="shipping-method">
												{% block page_checkout_config_form_shipping_field %}
													<div class="form-group checkout-config-form-group">
														{% block page_checkout_config_form_shipping_control %}
															<div class="custom-control custom-radio shipping-method">
																{% block page_checkout_config_form_shipping_input %}
																	<input type="radio"
																	       id="shippingMethod{{ loop.index }}"
																	       name="shippingMethod"
																	       value="{{ shipping.id }}"
																	       {% if shipping.id is same as(page.activeShippingMethod.id) %}checked="checked"{% endif %}
																	       class="custom-control-input shipping-method-input">
																{% endblock %}

																{% block page_checkout_config_form_shipping_label %}
																	<label class="custom-control-label shipping-method-label"
																	       for="shippingMethod{{ loop.index }}">
																		<strong>{{ shipping.name }}</strong>

																		{% block page_checkout_config_form_shipping_description %}
																			{% if shipping.description %}
																				<div class="shipping-method-description">
																					{{ shipping.description|raw }}
																				</div>
																			{% endif %}
																		{% endblock %}
																	</label>
																{% endblock %}
															</div>
														{% endblock %}
													</div>
												{% endblock %}
											</div>
										{% endfor %}
									</div>
								{% endblock %}
							{% endblock %}
						</form>
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	{% endblock %}
{% endblock %}

{% block page_checkout_sidebar_actions %}
	{% block page_checkout_sidebar_actions_proceed %}
		{#TODO: NEXT-1943 - form polyfill#}
		<button type="submit"
		        form="checkoutConfigForm"
		        class="btn btn-primary btn-block btn-lg">
			{{ "checkout.configNextLink"|trans }}
		</button>
	{% endblock %}
{% endblock %}
