<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_create_details_header %}
<div class="sw-order-create-details-header">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_details_new_customer_modal %}
    <sw-order-new-customer-modal
        v-if="showNewCustomerModal"
        @close="onCloseNewCustomerModal"
        @on-select-existing-customer="onSelectExistingCustomer"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_details_header_profile %}
    <sw-container
        class="sw-order-user-card__container"
        columns="80px 1fr max-content"
        gap="0 24px"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_details_header_profile_avatar %}
        <sw-avatar
            v-if="customer"
            size="80px"
            :color="$route.meta.$module.color"
            :first-name="customer.firstName"
            :last-name="customer.lastName"
        />
        <sw-avatar
            v-else
            size="80px"
            color="#f9fafb"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_details_header_profile_searching %}
        <div class="sw-order-user-card__metadata">
            <div class="sw-order-user-card__metadata-user-name">
                {{ $tc('sw-order.createBase.detailsHeader.textCustomer') }}
            </div>
            <sw-container
                columns="1fr 128px"
                gap="0 8px"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_create_search_customer %}
                <sw-entity-single-select
                    size="small"
                    entity="customer"
                    :criteria="customerCriteria"
                    label-property="firstName"
                    :value="customerId"
                    :placeholder="$tc('sw-order.createBase.detailsHeader.placeholder')"
                    show-clearable-button
                    @change="onSelectExistingCustomer"
                >

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_order_create_search_customer_slot_selection_label_property %}
                    <template #selection-label-property="{ item: customer, getKey }">
                        {{ getKey(customer, 'firstName') || getKey(customer, `translated.firstName`) }}
                        {{ getKey(customer, 'lastName') || getKey(customer, `translated.lastName`) }}
                    </template>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_order_create_search_customer_slot_result_item %}
                    <template #result-item="{ item, index, labelProperty, searchTerm, highlightSearchTerm, isSelected, setValue, getKey }">
                        <li
                            is="sw-select-result"
                            :selected="isSelected(item)"
                            v-bind="{ item, index }"
                            class="sw-order-create-details-header__customer-result"
                            @item-select="setValue"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_order_create_search_customer_slot_result_item_content_container %}

                            <div class="sw-order-create-details-header__customer-result-item has-many-childrens">
                                <div>
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_order_create_search_customer_slot_result_item_firstname %}
                                    <sw-highlight-text
                                        v-if="highlightSearchTerm"
                                        :text="getKey(item, 'firstName') || getKey(item, `translated.firstName`)"
                                        :search-term="searchTerm"
                                    />
                                    {% endblock %}

                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_order_create_search_customer_slot_result_item_lastname %}
                                    <sw-highlight-text
                                        v-if="highlightSearchTerm"
                                        :text="getKey(item, 'lastName') || getKey(item, `translated.lastName`)"
                                        :search-term="searchTerm"
                                    />
                                    {% endblock %}
                                </div>

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_order_create_search_customer_slot_result_item_number %}
                                <sw-highlight-text
                                    v-if="highlightSearchTerm"
                                    :text="getKey(item, 'customerNumber') || getKey(item, `translated.customerNumber`)"
                                    :search-term="searchTerm"
                                    class="text-truncate"
                                />
                                {% endblock %}

                            </div>

                            <div
                                v-if="getKey(item, 'company') || getKey(item, `translated.company`)"
                                class="sw-order-create-details-header__customer-result-item"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_order_create_search_customer_slot_result_item_company %}
                                <sw-highlight-text
                                    v-if="highlightSearchTerm"
                                    :text="getKey(item, 'company') || getKey(item, `translated.company`)"
                                    :search-term="searchTerm"
                                />
                                {% endblock %}
                            </div>

                            <div class="sw-order-create-details-header__customer-result-item text-gray-500">
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_order_create_search_customer_slot_result_item_address %}
                                {{ item.defaultBillingAddress.street }} <br>
                                {{ item.defaultBillingAddress.zipcode }} {{ item.defaultBillingAddress.city }} <br>
                                {{ item.defaultBillingAddress.country.name }}
                                {% endblock %}
                            </div>
                            {% endblock %}
                        </li>
                    </template>
                    {% endblock %}
                </sw-entity-single-select>
                {% endblock %}
                <sw-button
                    size="small"
                    @click="onShowNewCustomerModal"
                >
                    {{ $tc('sw-order.createBase.detailsHeader.buttonAddNewCustomer') }}
                </sw-button>
            </sw-container>
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_details_header_profile_summary %}
        <div class="sw-order-user-card__info-summary">
            <div class="sw-order-user-card__metadata-price">
                {{ (cartPrice ? cartPrice.totalPrice : 0) | currency(currency.shortName) }}
            </div>
            <div class="sw-order-user-card__metadata-item">
                {{ orderDate }}
            </div>
        </div>
        {% endblock %}
        <slot></slot>
    </sw-container>
    {% endblock %}
</div>
{% endblock %}
