{% block sw_cms_detail %}
    <sw-page class="sw-cms-detail" :showSearchBar="false" :showSmartBar="false">

        {% block sw_cms_detail_content %}
            <div class="sw-cms-detail__content" slot="content">

                {% block sw_cms_detail_toolbar %}
                    <sw-cms-toolbar>
                        {% block sw_cms_detail_toolbar_language_switch %}
                            <sw-language-switch slot="language-switch"
                                                @on-change="onChangeLanguage"
                                                :saveChangesFunction="saveOnLanguageChange"
                                                :abortChangeFunction="abortOnLanguageChange">
                            </sw-language-switch>
                        {% endblock %}

                        {% block sw_cms_detail_toolbar_title %}
                            <div class="sw-cms-detail__page-info" slot="title">
                                {% block sw_cms_detail_toolbar_back_button %}
                                    <router-link :to="{ name: 'sw.cms.index' }" class="sw-cms-detail__back-btn">
                                        <sw-icon name="default-basic-x-line"></sw-icon>
                                    </router-link>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_page_name %}
                                    <h2 class="sw-cms-detail__page-name">{{ placeholder(page, 'name') }}</h2>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_page_type %}
                                    <div class="sw-cms-detail__page-type" v-if="page.type">{{ cmsPageTypes[page.type] }}</div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block sw_cms_detail_toolbar_device_actions %}
                            <div class="sw-cms-detail__device-actions" slot="tools" v-if="page.blocks.length > 0">
                                {% block sw_cms_detail_toolbar_device_actions_mobile %}
                                    <sw-icon name="default-device-mobile"
                                             :class="{ 'is--active': currentDeviceView === 'mobile' }"
                                             @click="onDeviceViewChange('mobile')">
                                    </sw-icon>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_device_actions_tablet_landscape %}
                                    <sw-icon name="default-device-tablet"
                                             :class="{ 'is--active': currentDeviceView === 'tablet-landscape' }"
                                             @click="onDeviceViewChange('tablet-landscape')">
                                    </sw-icon>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_device_actions_desktop %}
                                    <sw-icon name="default-device-desktop"
                                             :class="{ 'is--active': currentDeviceView === 'desktop' }"
                                             @click="onDeviceViewChange('desktop')">
                                    </sw-icon>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_device_actions_form %}
                                    <sw-icon name="default-basic-stack-block"
                                             :class="{ 'is--active': currentDeviceView === 'form' }"
                                             @click="onDeviceViewChange('form')">
                                    </sw-icon>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block sw_cms_detail_toolbar_actions %}
                            <div class="sw-cms-detail__actions" slot="actions">
                                {% block sw_cms_detail_toolbar_actions_sales_channel %}
                                    <sw-select-field v-model="currentSalesChannelKey" @change="onSalesChannelChange" size="medium">
                                        <option v-for="salesChannel in salesChannels" :value="salesChannel.id">{{ placeholder(salesChannel, 'name') }}</option>
                                    </sw-select-field>
                                {% endblock %}

                                {% block sw_cms_detail_toolbar_actions_save %}
                                    <sw-button-process
                                            class="sw-cms-detail__save-action"
                                            :isLoading="isLoading"
                                            :processSuccess="isSaveSuccessful"
                                            :disabled="isLoading || page.locked === true"
                                            variant="primary"
                                            @process-finish="saveFinish"
                                            v-tooltip.bottom="tooltipSave"
                                            @click="onSave">
                                            {{ $tc('sw-cms.detail.labelButtonSave') }}
                                    </sw-button-process>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </sw-cms-toolbar>
                {% endblock %}

                {% block sw_cms_detail_stage_container %}
                    <div class="sw-cms-detail__stage-container">

                        {% block sw_cms_detail_stage_form_view %}
                            <div class="sw-cms-detail__page-form" v-if="currentDeviceView === 'form'">
                                <sw-cms-page-form :page="page"></sw-cms-page-form>
                            </div>
                        {% endblock %}

                        {% block sw_cms_detail_stage_wrapper %}
                            <div class="sw-cms-detail__stage" v-else>

                                {% block sw_cms_detail_stage_empty_stade %}
                                    <div class="sw-cms-detail__empty-stage"
                                         v-if="!isLoading && page.blocks.length <= 0"
                                         v-droppable="{ dragGroup: 'cms-stage', data: { dropIndex: 0 } }">

                                        {% block sw_cms_detail_stage_empty_stade_content %}
                                            <div class="sw-cms-detail__empty-stage-content">
                                                <h2 class="sw-cms-detail__empty-stage-headline">{{ $tc('sw-cms.detail.headlineEmptyState') }}</h2>
                                                <p class="sw-cms-detail__empty-stage-claim">{{ $tc('sw-cms.detail.claimEmptyState') }}</p>
                                                <sw-button variant="primary" @click="onAddBlockSection">{{ $tc('sw-cms.detail.actionEmptyState') }}</sw-button>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block sw_cms_detail_stage %}
                                    <div class="sw-cms-stage"
                                         :class="cmsStageClasses"
                                         :id="`page-${page.id}`"
                                         v-else>

                                        {% block sw_cms_detail_stage_add_first_block %}
                                            <sw-cms-stage-add-block :key="0"
                                                                    v-droppable="{ dragGroup: 'cms-stage', data: { dropIndex: 0 } }"
                                                                    @stage-add="onAddBlockSection">
                                            </sw-cms-stage-add-block>
                                        {% endblock %}

                                        {% block sw_cms_detail_stage_content %}
                                            <template v-if="!isLoading">
                                                <template v-for="(block, index) in page.blocks">

                                                    {% block sw_cms_detail_stage_content_block %}
                                                        <sw-cms-block class="sw-cms-stage-block"
                                                                      :key="block.id"
                                                                      :block="block"
                                                                      :buttonsEnabled="isSystemDefaultLanguage"
                                                                      :active="currentBlock !== null && currentBlock.id === block.id"
                                                                      @block-overlay-click="onBlockSelection(block)"
                                                                      @block-delete="onBlockDelete(block.id)"
                                                                      @block-duplicate="onBlockDuplicate(block)">

                                                            {% block sw_cms_detail_stage_content_block_component %}
                                                                <component :is="`sw-cms-block-${block.type}`">
                                                                    {% block sw_cms_detail_stage_content_block_slot %}
                                                                        <sw-cms-slot v-for="el in block.slots"
                                                                                     :slot="el.slot"
                                                                                     :key="el.id"
                                                                                     :element="el"
                                                                                     :active="currentBlock !== null && currentBlock.id === block.id">
                                                                        </sw-cms-slot>
                                                                    {% endblock %}
                                                                </component>
                                                            {% endblock %}
                                                        </sw-cms-block>
                                                    {% endblock %}

                                                    {% block sw_cms_detail_stage_add_block %}
                                                        <sw-cms-stage-add-block :key="index + 1"
                                                                                v-droppable="{ dragGroup: 'cms-stage', data: { dropIndex: index + 1 } }"
                                                                                @stage-add-block="onAddBlockSection">
                                                        </sw-cms-stage-add-block>
                                                    {% endblock %}
                                                </template>
                                            </template>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block sw_cms_detail_sidebar %}
                            <sw-sidebar class="sw-cms-detail__sidebar">

                                {% block sw_cms_detail_sidebar_page_settings %}
                                    <sw-sidebar-item icon="default-action-settings"
                                                     :title="$tc('sw-cms.detail.sidebarTitlePageSettings')"
                                                     ref="pageConfigSidebar">

                                        {% block sw_cms_detail_sidebar_page_settings_content %}
                                            <sw-sidebar-collapse :expandOnLoading="true">
                                                {% block sw_cms_detail_sidebar_page_settings_header %}
                                                    <span slot="header">{{ $tc('sw-cms.detail.sidebarHeaderPageSettings') }}</span>
                                                {% endblock %}

                                                {% block sw_cms_detail_sidebar_page_settings_form %}
                                                    <div class="sw-cms-detail__settings" slot="content" v-if="!isLoading">
                                                        {% block sw_cms_detail_sidebar_page_settings_name_field %}
                                                            <sw-field type="text"
                                                                      :label="$tc('sw-cms.detail.labelPageName')"
                                                                      :placeholder="placeholder(page, 'name')"
                                                                      v-model="page.name">
                                                            </sw-field>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_page_settings_type_field %}
                                                            <sw-select-field
                                                                :label="$tc('sw-cms.detail.labelPageType')"
                                                                :disabled="!isSystemDefaultLanguage"
                                                                v-model="page.type"
                                                                @change="onPageTypeChange">
                                                                {% block sw_cms_detail_sidebar_page_settings_type_field_options %}
                                                                    <option value="page">
                                                                        {{ $tc('sw-cms.detail.labelPageTypeShopPage') }}
                                                                    </option>
                                                                    <option value="landingpage">
                                                                        {{ $tc('sw-cms.detail.labelPageTypeLandingpage') }}
                                                                    </option>
                                                                    <option value="product_list">
                                                                        {{ $tc('sw-cms.detail.labelPageTypeCategory') }}
                                                                    </option>
                                                                    <option value="product_detail" disabled>
                                                                        {{ $tc('sw-cms.detail.labelPageTypeProduct') }}
                                                                    </option>
                                                                {% endblock %}
                                                            </sw-select-field>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_page_settings_demo_field %}
                                                            <sw-entity-single-select
                                                               v-if="currentMappingEntity !== null"
                                                               ref="cmsDemoSelection"
                                                               :label="$tc('sw-cms.detail.labelDemoEntity')"
                                                               :placeholder="$tc('sw-cms.detail.placeholderDemoEntity')"
                                                               :entity="currentMappingEntity"
                                                               @input="onDemoEntityChange"
                                                               v-model="demoEntityId">
                                                            </sw-entity-single-select>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </sw-sidebar-collapse>
                                        {% endblock %}
                                    </sw-sidebar-item>
                                {% endblock %}

                                {% block sw_cms_detail_sidebar_block_overview %}
                                    <sw-sidebar-item icon="default-basic-plus-circle"
                                                     :title="addBlockTitle"
                                                     :disabled="currentDeviceView === 'form' || !isSystemDefaultLanguage"
                                                     ref="blockSelectionSidebar">
                                        {% block sw_cms_detail_sidebar_block_overview_content %}
                                            <div class="sw-cms-detail__block-overview">

                                                {% block sw_cms_detail_sidebar_block_overview_category %}
                                                    <div class="sw-cms-detail__block-category">
                                                        <sw-select-field :label="$tc('sw-cms.detail.labelBlockCategorySelection')" v-model="currentBlockCategory">
                                                            <option value="text">{{ $tc('sw-cms.detail.labelBlockCategoryText') }}</option>
                                                            <option value="image">{{ $tc('sw-cms.detail.labelBlockCategoryImage') }}</option>
                                                            <option value="text-image">{{ $tc('sw-cms.detail.labelBlockCategoryTextImage') }}</option>
                                                            <option value="commerce">{{ $tc('sw-cms.detail.labelBlockCategoryCommerce') }}</option>
                                                            {% block sw_cms_detail_sidebar_block_overview_category_element_after %}{% endblock %}
                                                        </sw-select-field>
                                                    </div>
                                                {% endblock %}

                                                {% block sw_cms_detail_sidebar_block_overview_preview %}
                                                    <div class="sw-cms-detail__block-selection">
                                                        <div class="sw-cms-detail__block-preview"
                                                             v-for="block in cmsBlocks"
                                                             :key="block.name"
                                                             v-if="block.category === currentBlockCategory && block.hidden !== true"
                                                             v-draggable="{ dragGroup: 'cms-stage', data: { block }, onDrop: onBlockStageDrop }">
                                                            {% block sw_cms_detail_sidebar_block_overview_preview_component %}
                                                                <component :is="block.previewComponent"></component>
                                                            {% endblock %}
                                                        </div>
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </sw-sidebar-item>
                                {% endblock %}

                                {% block sw_cms_detail_sidebar_block_settings %}
                                    <sw-sidebar-item icon="default-basic-stack-block"
                                                     :title="$tc('sw-cms.detail.sidebarTitleBlockSettings')"
                                                     ref="blockConfigSidebar"
                                                     :disabled="currentBlock === null"
                                                     @close-content="onCloseBlockConfig">

                                        <div class="sw-cms-detail__block-config">
                                            <template v-if="currentBlock !== null">
                                                {% block sw_cms_detail_sidebar_block_settings_content %}
                                                    <sw-sidebar-collapse :expandOnLoading="true">
                                                        {% block sw_cms_detail_sidebar_block_settings_header %}
                                                            <span slot="header">
                                                                {{ $tc('sw-cms.detail.sidebarHeaderBlockSettings') }}
                                                                {{ currentBlock.name ? currentBlock.name : cmsBlocks[currentBlock.type].label }}
                                                            </span>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_block_settings_form %}
                                                            <sw-cms-block-config slot="content" v-model="currentBlock"></sw-cms-block-config>
                                                        {% endblock %}
                                                    </sw-sidebar-collapse>
                                                {% endblock %}

                                                {% block sw_cms_detail_sidebar_block_layout_settings_content %}
                                                    <sw-sidebar-collapse :expandOnLoading="false">
                                                        {% block sw_cms_detail_sidebar_block_layout_settings_header %}
                                                            <span slot="header">Layout settings</span>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_block_layout_settings_form %}
                                                            <sw-cms-block-layout-config slot="content" v-model="currentBlock"></sw-cms-block-layout-config>
                                                        {% endblock %}
                                                    </sw-sidebar-collapse>
                                                {% endblock %}
                                            </template>
                                        </div>
                                    </sw-sidebar-item>
                                {% endblock %}

                                {% block sw_cms_detail_sidebar_navigator %}
                                    <sw-sidebar-item icon="default-os-layers"
                                                     :title="$tc('sw-cms.detail.sidebarTitleNavigator')"
                                                     :disabled="page.blocks.length <= 0"
                                                     ref="blockNavigator">
                                        {% block sw_cms_detail_sidebar_navigator_content %}
                                            <div class="sw-cms-detail__navigator">
                                                {% block sw_cms_detail_sidebar_navigator_element %}
                                                    <div class="sw-cms-detail__navigator-element"
                                                         v-for="(block, index) in page.blocks"
                                                         :key="block.id"
                                                         v-draggable="{ dragGroup: 'cms-navigator', data: { block }, validDragCls: null, onDragEnter: onBlockDragSort }"
                                                         v-droppable="{ dragGroup: 'cms-navigator', data: { block } }">

                                                        {% block sw_cms_detail_sidebar_navigator_element_label %}
                                                            <div class="navigator-element__label">
                                                                {{ block.name ? block.name : block.type }}
                                                            </div>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_navigator_element_duplicate %}
                                                            <div class="navigator-element__action-duplicate"
                                                                 v-if="(cmsBlocks[block.type].removable !== false) && isSystemDefaultLanguage"
                                                                 @click="onBlockDuplicate(block)">
                                                                <sw-icon name="default-action-duplicate" size="16"></sw-icon>
                                                            </div>
                                                        {% endblock %}

                                                        {% block sw_cms_detail_sidebar_navigator_element_delete %}
                                                            <div class="navigator-element__action-delete"
                                                                 v-if="(cmsBlocks[block.type].removable !== false) && isSystemDefaultLanguage"
                                                                 @click="onBlockDelete(block.id)">
                                                                <sw-icon name="default-action-trash" size="16"></sw-icon>
                                                            </div>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </sw-sidebar-item>
                                {% endblock %}
                            </sw-sidebar>
                        {% endblock %}

                        {% block sw_cms_detail_loader %}
                            <sw-loader v-if="isLoading"></sw-loader>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-page>
{% endblock %}
