{% block frontend_detail_index_buy_container %}
    {# @var product \Shopware\StorefrontApi\Product\ProductBasicStruct #}
    {# @var page \Shopware\Storefront\Page\Detail\DetailPageStruct #}
    <div class="product--buybox block{% if page.configurator and product.sConfiguratorSettings.type == 2 %} is--wide{% endif %}">

        {% block frontend_detail_rich_snippets_brand %}
            <meta itemprop="brand" content="{{ product.manufacturer.name }}"/>
        {% endblock %}

        {% block frontend_detail_rich_snippets_weight %}
            {% if product.weight %}
                <meta itemprop="weight" content="{{ product.weight }} kg"/>
            {% endif %}
        {% endblock %}

        {% block frontend_detail_rich_snippets_height %}
            {% if product.height %}
                <meta itemprop="height" content="{{ product.height }} cm"/>
            {% endif %}
        {% endblock %}

        {% block frontend_detail_rich_snippets_width %}
            {% if product.width %}
                <meta itemprop="width" content="{{ product.width }} cm"/>
            {% endif %}
        {% endblock %}

        {% block frontend_detail_rich_snippets_depth %}
            {% if product.length %}
                <meta itemprop="depth" content="{{ product.length }} cm"/>
            {% endif %}
        {% endblock %}

        {% block frontend_detail_rich_snippets_release_date %}
            {% if product.releaseDate %}
                <meta itemprop="releaseDate" content="{{ product.releaseDate.format('Y-m-d') }}"/>
            {% endif %}
        {% endblock %}

        {% block frontend_detail_buy_laststock %}
            {#{% if !$sArticle.isAvailable && ($sArticle.isSelectionSpecified || !$sArticle.sConfigurator)}#}
                {#{include file="frontend/_includes/messages.tpl" type="error" content="{s name='DetailBuyInfoNotAvailable' namespace='frontend/detail/buy'}{/s}"}#}
            {#{% endif %}#}
        {% endblock %}

        {# Product email notification #}
        {% block frontend_detail_index_notification %}
            {% if product.allowNotification and product.stock < product.minPurchase %}
                {% sw_include '@Storefront/frontend/plugins/notification/index.html.twig' %}
            {% endif %}
        {% endblock %}

        {# Product data #}
        {% block frontend_detail_index_buy_container_inner %}

            <div itemprop="offers" itemscope itemtype="{% if product.calculatedContextPrices.count > 0 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}" class="buybox--inner">

                {% block frontend_detail_index_data %}
                    {% if product.calculatedContextPrices.count %}
                        {% set lowestPrice = false %}
                        {% set highestPrice = false %}

                        {# @var price \Shopware\Cart\Price\Struct\CalculatedPrice #}
                        {% for price in product.calculatedContextPrices %}
                            {% if lowestPrice == false or price.totalPrice < lowestPrice %}
                                {% set lowestPrice = price.totalPrice %}
                            {% endif %}

                            {% if highestPrice == false or price.totalPrice > highestPrice %}
                                {% set highestPrice = price.totalPrice %}
                            {% endif %}
                        {% endfor %}
                        <meta itemprop="lowPrice" content="{{ lowestPrice }}"/>
                        <meta itemprop="highPrice" content="{{ highestPrice }}"/>
                        <meta itemprop="offerCount" content="{{ product.calculatedContextPrices.count }}"/>
                    {% else %}
                        <meta itemprop="priceCurrency" content="{{ context.currency.name }}"/>
                    {% endif %}

                    {% sw_include '@Storefront/frontend/detail/data.html.twig' %}
                {% endblock %}

                {% block frontend_detail_index_after_data %}{% endblock %}

                {# Configurator drop down menu's #}
                {% block frontend_detail_index_configurator %}
                    <div class="product--configurator">
                        {% if page.configurator.count >= 0 %}
                            {% sw_include '@Storefront/frontend/detail/config_step.html.twig' %}
                        {% endif %}
                    </div>
                {% endblock %}

                {# Include buy button and quantity box #}
                {% block frontend_detail_index_buybox %}
                    {% sw_include '@Shopware/frontend/detail/buy.html.twig' %}
                {% endblock %}

            </div>
        {% endblock %}

        {# Product - Base information #}
        {% block frontend_detail_index_buy_container_base_info %}
            <ul class="product--base-info list--unstyled">

                {# Product SKU #}
                {% block frontend_detail_data_ordernumber %}
                    <li class="base-info--entry entry--sku">

                        {# Product SKU - Label #}
                        {% block frontend_detail_data_ordernumber_label %}
                            <strong class="entry--label">
                                {% trans from 'frontend/detail/data' %}DetailDataId{% endtrans %}
                            </strong>
                        {% endblock %}

                        {# Product SKU - Content #}
                        {% block frontend_detail_data_ordernumber_content %}
                            <meta itemprop="productID" content="{$sArticle.articleDetailsID}"/>
                            <span class="entry--content" itemprop="sku">
                                {{ product.id }}
                            </span>
                        {% endblock %}
                    </li>
                {% endblock %}
            </ul>
        {% endblock %}
    </div>
{% endblock %}
