{% block frontend_detail_index_outer_tabs %}
    <div class="tab--container-list">
        {% block frontend_detail_index_inner_tabs %}
            {% block frontend_detail_index_before_tabs %}{% endblock %}

            {# Accessory articles #}
            {% block frontend_detail_index_tabs_related %}
                {% if product.relatedProducts and not product.crossbundlelook %}
                    <div class="tab--container" data-tab-id="related">
                        {% block frontend_detail_index_tabs_related_inner %}
                            <div class="tab--header">
                                <a href="#" class="tab--title" title="{% trans from 'frontend/detail/tabs' %}DetailTabsAccessories{% endtrans %}">
                                    {% trans from 'frontend/detail/tabs' %}DetailTabsAccessories{% endtrans %}
                                    <span class="product--rating-count-wrapper">
                                        <span class="product--rating-count">{{ product.relatedProducts|length }}</span>
                                    </span>
                                </a>
                            </div>
                            <div class="tab--content content--related">{% sw_include '@Storefront/frontend/detail/tabs/related.html.twig' %}</div>
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}

            {# Similar products slider #}
            {% if product.similarProducts %}
                {% block frontend_detail_index_tabs_similar %}
                    <div class="tab--container" data-tab-id="similar">
                        {% block frontend_detail_index_tabs_similar_inner %}
                            <div class="tab--header">
                                <a href="#" class="tab--title" title="{% trans from 'frontend/detail/index' %}DetailRecommendationSimilarLabel{% endtrans %}">{% trans from 'frontend/detail/index' %}DetailRecommendationSimilarLabel{% endtrans %}</a>
                            </div>
                            <div class="tab--content content--similar">{% sw_include '@Storefront/frontend/detail/tabs/similar.html.twig' %}</div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endif %}

            {# "Customers bought also" slider #}
            {% if showAlsoBought %}
                {% block frontend_detail_index_tabs_also_bought %}
                    <div class="tab--container" data-tab-id="alsobought">
                        {% block frontend_detail_index_tabs_also_bought_inner %}
                            <div class="tab--header">
                                <a href="#" class="tab--title" title="{s name='DetailRecommendationAlsoBoughtLabel' namespace="frontend/detail/index"}{/s}">{s name='DetailRecommendationAlsoBoughtLabel' namespace="frontend/detail/index"}{/s}</a>
                            </div>
                            <div class="tab--content content--also-bought">{action module=widgets controller=recommendation action=bought articleId=$sArticle.articleID}</div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endif %}

            {# "Customers similar viewed" slider #}
            {% if showAlsoViewed %}
                {% block frontend_detail_index_tabs_also_viewed %}
                    <div class="tab--container" data-tab-id="alsoviewed">
                        {% block frontend_detail_index_tabs_also_viewed_inner %}
                            <div class="tab--header">
                                <a href="#" class="tab--title" title="{s name='DetailRecommendationAlsoViewedLabel' namespace="frontend/detail/index"}{/s}">{s name='DetailRecommendationAlsoViewedLabel' namespace="frontend/detail/index"}{/s}</a>
                            </div>
                            <div class="tab--content content--also-viewed">{action module=widgets controller=recommendation action=viewed articleId=$sArticle.articleID}</div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endif %}

            {# Related product streams #}
            {% for key, relatedProductStream in product.relatedProductStreams %}
                {% block frontend_detail_index_tabs_related_product_streams %}
                    <div class="tab--container" data-tab-id="productStreamSliderId-{{ relatedProductStream.id }}">
                        {% block frontend_detail_index_tabs_related_product_streams_inner %}
                            <div class="tab--header">
                                <a href="#" class="tab--title" title="{{ relatedProductStream.name }}">{{ relatedProductStream.name }}</a>
                            </div>
                            <div class="tab--content content--related-product-streams-{{ key }}">
                                {% sw_include '@Storefront/frontend/detail/tabs/product_streams.html.twig' %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}

            {% block frontend_detail_index_after_tabs %}{% endblock %}
        {% endblock %}
    </div>
{% endblock %}
