{% block single_cms_page_doctype %}
    <!DOCTYPE html>
{% endblock %}

{% block single_cms_page_html %}
    <html lang="{{ "meta.xmlLang"|trans|striptags }}"
          itemscope="itemscope"
          itemtype="https://schema.org/WebPage">
{% endblock %}

{% block single_cms_page_head %}
    {% sw_include '@Storefront/storefront/layout/meta.html.twig' %}
{% endblock %}

{% block single_cms_page_body %}
    <body class="{% block single_cms_page_body_classes %}is-ctl-{{ controllerName|lower }} is-act-{{ controllerAction|lower }}{% endblock %}">
        {% block single_cms_page_body_inner %}
            {% block single_cms_page_noscript %}
                <noscript class="noscript-main">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: 'info',
                        content: 'general.noscriptNotice'|trans|sw_sanitize,
                        iconCache: false
                    } %}
                </noscript>
            {% endblock %}

            {% block single_cms_page_header %}
                <header class="header-main">
                    {% block single_cms_page_header_inner %}
                        <div class="container">
                            <div class="row align-items-center header-row">
                                <div class="col-12 col-lg-auto header-logo-col">
                                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </header>
            {% endblock %}

            {% block single_cms_page_main %}
                <main class="content-main">
                    {% block single_cms_page_main_content %}
                        {% set cmsPageClasses = ('cms-page ' ~ page.landingPage.cmsPage.cssClass|striptags)|trim %}
                        <div class="{{ cmsPageClasses }}">
                            {% block page_content_blocks %}
                                {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.landingPage.cmsPage, 'landingPage': page.landingPage} %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </main>
            {% endblock %}

            {% block single_cms_page_footer %}
                <footer class="footer-main mt-5 w-75 mx-auto">
                    {% block single_cms_page_footer_content %}
                        <div class="container mt-3 text-center">
                            {% if config('core.basicInformation.imprintPage') is not null %}
                                <a href="{{ path('frontend.maintenance.singlepage',{ id: config('core.basicInformation.imprintPage') }) }}"
                                   title="{{ "general.imprintLink"|trans|sw_sanitize }}"
                                   class="ps-2 pe-2">
                                    {{ "general.imprintLink"|trans|sw_sanitize }}
                                </a>
                            {% endif %}

                            {% if config('core.basicInformation.privacyPage') is not null %}
                                <a href="{{ path('frontend.maintenance.singlepage',{ id: config('core.basicInformation.privacyPage') }) }}"
                                   title="{{ "general.privacyLink"|trans|sw_sanitize }}"
                                   class="ps-2 pe-2">
                                    {{ "general.privacyLink"|trans|sw_sanitize }}
                                </a>
                            {% endif %}
                        </div>
                    {% endblock %}
                </footer>
            {% endblock %}
        {% endblock %}

        {% block single_cms_page_scroll_up %}
            {% sw_include '@Storefront/storefront/layout/scroll-up.html.twig' %}
        {% endblock %}

        {% block single_cms_page_cookie_permission %}
            {% sw_include '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}
        {% endblock %}

        {% block single_cms_page_pseudo_modal %}
            {% sw_include '@Storefront/storefront/component/pseudo-modal.html.twig' %}
        {% endblock %}

        {% block single_cms_page_body_script %}
            {% block single_cms_page_script_breakpoints %}
                {# Register the available viewport breakpoints the window.breakpoints object #}
                <script>
                    {% set breakpoint = {
                        'xs': theme_config('breakpoint.xs'),
                        'sm': theme_config('breakpoint.sm'),
                        'md': theme_config('breakpoint.md'),
                        'lg': theme_config('breakpoint.lg'),
                        'xl': theme_config('breakpoint.xl'),
                        'xxl': theme_config('breakpoint.xxl')
                    } %}

                    window.breakpoints = {{ breakpoint|json_encode()|raw }};
                </script>
            {% endblock %}
        {% endblock %}
    </body>
{% endblock %}
</html>
