{% block document_base %}
    {# @var order \Shopware\Core\Checkout\Order\OrderEntity #}
    {# @var config \Shopware\Core\Checkout\Document\DocumentConfiguration #}
    {# @var context \Shopware\Core\Framework\Context #}

    {# @var customer \Shopware\Core\Checkout\Order\Aggregate\OrderCustomer\OrderCustomerEntity #}
    {% set customer = order.orderCustomer %}

    {% set lineItems = order.lineItems %}

    {# @var billingAddress \Shopware\Core\Checkout\Order\Aggregate\OrderAddress\OrderAddressEntity #}
    {% set billingAddress = order.addresses.get(order.billingAddressId) %}

    {% set currencyIsoCode = order.currency.isoCode %}

    {% set locale = customer.customer.language.locale.code %}

    {% if config.itemsPerPage <= 0 %}
        {% set itemsPerPage = 10 %}
    {% else %}
        {% set itemsPerPage = config.itemsPerPage %}
    {% endif %}

    <!DOCTYPE html>
    <html>
    <head>
        {% block document_head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            {#{% if config.title %}#}
            <title>{% block document_title_tag %}{% endblock %}</title>
            {#{% endif %}#}
            {% if config.custom.pageOrientation == 'landscape' %}
                {% include '@Framework/documents/style_base_landscape.css.twig' %}
            {% else %}
                {% include '@Framework/documents/style_base_portrait.css.twig' %}
            {% endif %}
        {% endblock %}
    </head>
    <body>
    {% block document_body %}
        {# To include a header or footer on every site, these elements have to be defined before the content #}
        {% if config.displayHeader %}
            <header>
                {% block document_header %}
                    {% if config.logo %}
                        <img src="{{ config.logo.url }}" class="logo"/>
                    {% endif %}
                {% endblock %}
            </header>
        {% endif %}

        {% if config.displayFooter %}
            <footer>
                {% if config.displayPageCount %}
                    <div class="page-count">
                        {% block document_page_count %}
                            {% trans with {'%pageNumber%': '<span class="pagenum"></span>'} %}document.page{% endtrans %}
                        {% endblock %}
                    </div>
                {% endif %}
                {% block document_footer %}
                    <ul>
                        <li class="bold">{{ config.companyName }}</li>
                        <li>{% trans with {'%taxNumber%': config.taxNumber} %}document.taxNumber{% endtrans %}</li>
                        <li>{% trans with {'%vatId%': config.vatId} %}document.vatId{% endtrans %}</li>
                        <li>{% trans with {'%taxOffice%': config.taxOffice} %}document.taxOffice{% endtrans %}</li>
                    </ul>
                    <ul>
                        <li class="bold">{% trans %}document.bankAccount{% endtrans %}</li>
                        <li>{{ config.bankName }}</li>
                        <li>{% trans with {'%bankIban%': config.bankIban} %}document.bankIban{% endtrans %}</li>
                        <li>{% trans with {'%bankBic%': config.bankBic} %}document.bankBic{% endtrans %}</li>
                    </ul>
                    <ul>
                        <li>&nbsp;</li>
                        <li>{% trans with {'%placeOfJurisdiction%': config.placeOfJurisdiction} %}document.placeOfJurisdiction{% endtrans %}</li>
                        <li>{% trans with {'%placeOfFulfillment%': config.placeOfFulfillment} %}document.placeOfFulfillment{% endtrans %} Schöppingen</li>
                        <li>{% trans %}document.paymentShippingInfo.additionalInfo{% endtrans %}</li>
                    </ul>
                    <ul>
                        <li class="bold">{% trans %}document.ceo{% endtrans %}</li>
                        <li>{{ config.executiveDirector }}</li>
                    </ul>
                {% endblock %}
            </footer>
        {% endif %}
        <div class="letter-header">
            <div class="recipient-address-container">
                {% block document_recipient %}
                    <span class="sender-address-small">
                        {% block document_recipient_sender %}
                            {{ config.companyAddress }}<br><br>
                        {% endblock %}
                    </span>
                    {# todo support companys #}
                    {{ customer.salutation.displayName }} {{ customer.firstName }} {{ customer.lastName }}<br>
                    {{ billingAddress.street }}<br>
                    {{ billingAddress.zipcode }} {{ billingAddress.city }}<br>
                    {{ billingAddress.country.name }}<br>
                {% endblock %}
            </div>

            <div class="sender-address-container">
                {% block document_sender_address %}
                    <table>
                        {# todo save address with sales channel? #}
                        <tr><td class="bold">shopware AG</td></tr>
                        <tr><td>48624 Schöppingen</td></tr>
                        <tr><td>Ebbinghoff 10</td></tr>
                        <tr><td>Fon: 01234 / 56789</td></tr>
                        <tr><td>Fax: 01234 / 56789</td></tr>
                        <tr><td>info@shopware.com</td></tr>
                        <tr><td>www.shopware.com</td></tr>
                    </table>
                {% endblock %}
                {% block document_side_info %}
                    <table>
                        {% block document_side_info_contents %}
                            <tr><td>{% trans with {'%date%': config.documentDate|localizeddate('medium', 'none', locale)} %}document.date{% endtrans %}</td></tr>
                            <tr><td>{% trans with {'%customerNumber%': customer.customerNumber} %}document.customerNumber{% endtrans %}</td></tr>
                            <tr><td>{% trans with {'%orderNumber%': order.orderNumber | truncate(10)} %}document.orderNumber{% endtrans %}</td></tr>
                            <tr><td>{% trans with {'%orderDate%': order.date|localizeddate('medium', 'none', locale)} %}document.orderDate{% endtrans %}</td></tr>
                        {% endblock %}
                    </table><br/>
                {% endblock %}
            </div>

            <div class="document-title-container">
                {% block document_headline %}{% endblock %}
            </div>
        </div>
        <div class="letter-body">
            {% if config.displayLineItems %}
                {% for lineItemPage in lineItems|batch(itemsPerPage) %}
                    <div class="line-item-container">
                        {% block document_line_items %}
                            <table class="line-item-table">
                                <thead>
                                <tr class="line-item-table-header">
                                    {% block document_line_item_table_head %}
                                        {% if config.displayLineItemPosition %}
                                            <th>{% trans %}document.lineItems.header.position{% endtrans %}</th>
                                        {% endif %}
                                        <th>{% trans %}document.lineItems.header.articleNumber{% endtrans %}</th>
                                        <th>{% trans %}document.lineItems.header.label{% endtrans %}</th>
                                        <th class="numbers">{% trans %}document.lineItems.header.quantity{% endtrans %}</th>
                                        {% if config.displayPrices %}
                                            <th class="numbers">{% trans %}document.lineItems.header.tax{% endtrans %}</th>
                                            <th class="numbers">{% trans %}document.lineItems.header.unitPrice{% endtrans %}</th>
                                            <th class="numbers">{% trans %}document.lineItems.header.total{% endtrans %}</th>
                                        {% endif %}
                                    {% endblock %}
                                </tr>
                                </thead>

                                {# @var lineItem \Shopware\Core\Checkout\Order\Aggregate\OrderLineItem\OrderLineItemEntity #}
                                {% for lineItem in lineItemPage %}
                                    <tr class="line-item{% if loop.first %} first{% endif %}">
                                        {% block document_line_item_row %}
                                            {% if config.displayLineItemPosition %}
                                                <td>{{ loop.index }}</td>
                                            {% endif %}
                                            <td>{{ lineItem.payload.productNumber | truncate(10) }}</td>
                                            <td class="line-item-breakable">{{ lineItem.label }}</td>
                                            <td class="align-right">{{ lineItem.quantity }}</td>
                                            {% if config.displayPrices %}
                                                <td class="align-right">{{ lineItem.price.taxRules.first.taxRate }}%</td>
                                                <td class="align-right">{{ lineItem.unitPrice|currency(currencyIsoCode) }}</td>
                                                <td class="align-right">{{ lineItem.totalPrice|currency(currencyIsoCode) }}</td>
                                            {% endif %}
                                        {% endblock %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endblock %}
                    </div>
                    {% if loop.last != true %}
                        <div class="page_break"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="sum-container">
                <table class="sum-table">
                    {% block document_sum %}
                        <tr>
                            <td class="align-right">{% trans %}document.lineItems.totalNet{% endtrans %}</td>
                            <td class="align-right">{{ order.amountNet|currency(currencyIsoCode) }}</td>
                        </tr>
                        {% for calculatedTax in order.price.calculatedTaxes.sortByTax.getElements %}
                            <tr>
                                <td class="align-right">{% trans with {'%taxRate%': calculatedTax.taxRate} %}document.lineItems.tax{% endtrans %}</td>
                                <td class="align-right">{{ calculatedTax.tax|currency(currencyIsoCode) }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="bold">
                            <td class="align-right">{% trans %}document.lineItems.total{% endtrans %}</td>
                            <td class="align-right">{{ order.amountTotal|currency(currencyIsoCode) }}</td>
                        </tr>
                    {% endblock %}
                </table>
            </div>

            <div class="payment-shipping-container">
                {% block document_payment_shipping %}
                    {% trans with {'%paymentMethod%': order.transactions.first.paymentMethod.name} %}document.paymentShippingInfo.paymentMethod{% endtrans %}<br>
                    {% trans with {'%shippingMethod%': order.deliveries.first.shippingMethod.name} %}document.paymentShippingInfo.shippingMethod{% endtrans %}<br>
                    {% trans %}document.paymentShippingInfo.additionalInfo{% endtrans %}<br>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    </body>
    </html>
{% endblock %}