{% block document_base %}
    {# @var order \Shopware\Core\Checkout\Order\OrderEntity #}
    {# @var config \Shopware\Core\Checkout\Document\DocumentConfiguration #}
    {# @var context \Shopware\Core\Framework\Context #}

    {# @var customer \Shopware\Core\Checkout\Order\Aggregate\OrderCustomer\OrderCustomerEntity #}
    {% set customer = order.orderCustomer %}

    {% set lineItems = order.lineItems %}

    {# @var billingAddress \Shopware\Core\Checkout\Order\Aggregate\OrderAddress\OrderAddressEntity #}
    {% set billingAddress = order.addresses.get(order.billingAddressId) %}

    {% set currencyIsoCode = order.currency.isoCode %}

    {% set locale = customer.customer.language.locale.code %}

    {% if config.itemsPerPage <= 0 %}
        {% set itemsPerPage = 10 %}
    {% else %}
        {% set itemsPerPage = config.itemsPerPage %}
    {% endif %}

    <!DOCTYPE html>
    <html>
    <head>
        {% block document_head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            {#{% if config.title %}#}
            <title>{% block document_title_tag %}{% endblock %}</title>
            {#{% endif %}#}
            {% if config.custom.pageOrientation == 'landscape' %}
                {% sw_include '@Framework/documents/style_base_landscape.css.twig' %}
            {% else %}
                {% sw_include '@Framework/documents/style_base_portrait.css.twig' %}
            {% endif %}
        {% endblock %}
    </head>
    <body>
    {% block document_body %}
        {# To include a header or footer on every site, these elements have to be defined before the content #}
        {% if config.displayHeader %}
            <header>
                {% block document_header %}
                    {% if config.logo %}
                        <img src="{{ config.logo.url }}" class="logo"/>
                    {% endif %}
                {% endblock %}
            </header>
        {% endif %}

        {% if config.displayFooter %}
            <footer>
                {% if config.displayPageCount %}
                    <div class="page-count">
                        {% block document_page_count %}
                            {{ 'document.page'|trans({'%pageNumber%': '<span class="pagenum"></span>'})|sw_sanitize }}
                        {% endblock %}
                    </div>
                {% endif %}
                {% block document_footer %}
                    {% block document_footer_first_column %}
                        <ul>
                            {% block document_footer_company_name %}
                                <li class="bold">{{ config.companyName }}</li>
                            {% endblock %}
                            {% block document_footer_tax_number %}
                                <li>{{ 'document.taxNumber'|trans({'%taxNumber%': config.taxNumber})|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_vat_id %}
                                <li>{{ 'document.vatId'|trans({'%vatId%': config.vatId})|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_tax_office %}
                                <li>{{ 'document.taxOffice'|trans({'%taxOffice%': config.taxOffice})|sw_sanitize }}</li>
                            {% endblock %}
                        </ul>
                    {% endblock %}

                    {% block document_footer_second_column %}
                        <ul>
                            {% block document_footer_bank_account %}
                                <li class="bold">{{ 'document.bankAccount'|trans|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_bank_name %}
                                <li>{{ config.bankName }}</li>
                            {% endblock %}
                            {% block document_footer_bank_iban %}
                                <li>{{ 'document.bankIban'|trans({'%bankIban%': config.bankIban})|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_bank_bic %}
                                <li>{{ 'document.bankBic'|trans({'%bankBic%': config.bankBic})|sw_sanitize }}</li>
                            {% endblock %}
                        </ul>
                    {% endblock %}

                    {% block document_footer_third_column %}
                        <ul>
                            <li>&nbsp;</li>
                            {% block document_footer_place_of_jurisdiction %}
                                <li>{{ 'document.placeOfJurisdiction'|trans({'%placeOfJurisdiction%': config.placeOfJurisdiction})|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_place_of_fulfillment %}
                                <li>{{ 'document.placeOfFulfillment'|trans({'%placeOfFulfillment%': config.placeOfFulfillment})|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_payment_shipping_additional_info %}
                                <li>{{ 'document.paymentShippingInfo.additionalInfo'|trans|sw_sanitize }}</li>
                            {% endblock %}
                        </ul>
                    {% endblock %}

                    {% block document_footer_fourth_column %}
                        <ul>
                            {% block document_footer_ceo %}
                                <li class="bold">{{ 'document.ceo'|trans|sw_sanitize }}</li>
                            {% endblock %}
                            {% block document_footer_ceo_name %}
                                <li>{{ config.executiveDirector }}</li>
                            {% endblock %}
                        </ul>
                    {% endblock %}
                {% endblock %}
            </footer>
        {% endif %}
        <div class="letter-header">
            <div class="recipient-address-container">
                {% block document_recipient %}
                    <span class="sender-address-small">
                        {% block document_recipient_sender %}
                            {{ config.companyAddress }}<br><br>
                        {% endblock %}
                    </span>
                    {# todo support companys #}
                    {{ customer.salutation.letterName }} {{ customer.firstName }} {{ customer.lastName }}<br>
                    {{ billingAddress.street }}<br>
                    {{ billingAddress.zipcode }} {{ billingAddress.city }}<br>
                    {{ billingAddress.country.name }}<br>
                {% endblock %}
            </div>

            <div class="sender-address-container">
                {% block document_sender_address %}
                    <table>
                        <tr>
                            <td>
                                {{ config.companyAddress|replace({' - ': '</td></tr><tr><td>'})|raw }}
                            </td>
                        </tr>
                    </table>
                {% endblock %}
                {% block document_side_info %}
                    <table>
                        {% block document_side_info_contents %}
                            {% block document_side_info_date %}
                                <tr>
                                    <td>
                                        {{ 'document.date'|trans({'%date%': config.documentDate|format_date('medium', locale=locale)})|sw_sanitize }}
                                    </td>
                                </tr>
                            {% endblock %}
                            {% block document_side_info_customer_number %}
                                <tr>
                                    <td>
                                        {{ 'document.customerNumber'|trans({'%customerNumber%': customer.customerNumber})|sw_sanitize }}
                                    </td>
                                </tr>
                            {% endblock %}
                            {% block document_side_info_order_number %}
                                <tr>
                                    <td>
                                        {{ 'document.orderNumber'|trans({'%orderNumber%': order.orderNumber | u.truncate(10)})|sw_sanitize }}
                                    </td>
                                </tr>
                            {% endblock %}
                            {% block document_side_info_order_date %}
                                <tr>
                                    <td>
                                        {{ 'document.orderDate'|trans({'%orderDate%': order.orderDateTime|format_date('medium', locale=locale)})|sw_sanitize }}
                                    </td>
                                </tr>
                            {% endblock %}
                        {% endblock %}
                    </table><br/>
                {% endblock %}
            </div>

            <div class="document-title-container">
                {% block document_headline %}{% endblock %}
            </div>
        </div>
        <div class="letter-body">
            {% if config.displayLineItems %}
                {% for lineItemPage in lineItems|batch(itemsPerPage) %}
                    <div class="line-item-container">
                        {% block document_line_items %}
                            <table class="line-item-table">
                                <thead>
                                <tr class="line-item-table-header">
                                    {% block document_line_item_table_head %}
                                        {% block document_line_item_table_head_position %}
                                            {% if config.displayLineItemPosition %}
                                                <th>{{ 'document.lineItems.header.position'|trans|sw_sanitize }}</th>
                                            {% endif %}
                                        {% endblock %}

                                        {% block document_line_item_table_head_product_number %}
                                            <th>{{ 'document.lineItems.header.productNumber'|trans|sw_sanitize  }}</th>
                                        {% endblock %}

                                        {% block document_line_item_table_head_label %}
                                            <th>{{ 'document.lineItems.header.label'|trans|sw_sanitize }}</th>
                                        {% endblock %}

                                        {% block document_line_item_table_head_quantity %}
                                            <th class="numbers">{{ 'document.lineItems.header.quantity'|trans|sw_sanitize }}</th>
                                        {% endblock %}

                                        {% block document_line_item_table_head_prices %}
                                            {% if config.displayPrices %}
                                                {% block document_line_item_table_head_tax_rate %}
                                                    <th class="numbers">{{ 'document.lineItems.header.tax'|trans|sw_sanitize }}</th>
                                                {% endblock %}
                                                {% block document_line_item_table_head_unit_price %}
                                                    <th class="numbers">{{ 'document.lineItems.header.unitPrice'|trans|sw_sanitize }}</th>
                                                {% endblock %}
                                                {% block document_line_item_table_head_total_price %}
                                                    <th class="numbers">{{ 'document.lineItems.header.total'|trans|sw_sanitize }}</th>
                                                {% endblock %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endblock %}
                                </tr>
                                </thead>

                                {# @var lineItem \Shopware\Core\Checkout\Order\Aggregate\OrderLineItem\OrderLineItemEntity #}
                                {% for lineItem in lineItemPage %}
                                    <tr class="line-item{% if loop.first %} first{% endif %}">
                                        {% block document_line_item_table_rows %}
                                            {% block document_line_item_table_row_position %}
                                                {% if config.displayLineItemPosition %}
                                                    <td>{{ loop.index }}</td>
                                                {% endif %}
                                            {% endblock %}

                                            {% block document_line_item_table_row_product_number %}
                                                {% if lineItem.payload.productNumber %}
                                                    <td>{{ lineItem.payload.productNumber | u.truncate(10) }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            {% endblock %}

                                            {% block document_line_item_table_row_label %}
                                                <td class="line-item-breakable">{{ lineItem.label }}</td>
                                            {% endblock %}

                                            {% block document_line_item_table_row_quantity %}
                                                <td class="align-right">{{ lineItem.quantity }}</td>
                                            {% endblock %}

                                            {% block document_line_item_table_prices %}
                                                {% if config.displayPrices %}
                                                    {% block document_line_item_table_row_tax_rate %}
                                                        <td class="align-right">{{ lineItem.price.taxRules.first.taxRate }}%</td>
                                                    {% endblock %}
                                                    {% block document_line_item_row_table_unit_price %}
                                                        <td class="align-right">{{ lineItem.unitPrice|currency(currencyIsoCode) }}</td>
                                                    {% endblock %}
                                                    {% block document_line_item_table_row_total_price %}
                                                        <td class="align-right">{{ lineItem.totalPrice|currency(currencyIsoCode) }}</td>
                                                    {% endblock %}
                                                {% endif %}
                                            {% endblock %}
                                        {% endblock %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endblock %}
                    </div>
                    {% if loop.last != true %}
                        <div class="page_break"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% block document_sum %}
                <div class="sum-container">
                    {% block document_sum_table %}
                        <table class="sum-table">
                            {% block document_sum_table_inner %}
                                {% block document_sum_total_net %}
                                    <tr>
                                        {% block document_sum_total_net_label %}
                                            <td class="align-right">{{ 'document.lineItems.totalNet'|trans|sw_sanitize }}</td>
                                        {% endblock %}
                                        {% block document_sum_total_net_price %}
                                            <td class="align-right">{{ order.amountNet|currency(currencyIsoCode) }}</td>
                                        {% endblock %}
                                    </tr>
                                {% endblock %}

                                {% block document_sum_shipping_costs %}
                                    <tr>
                                        {% block document_sum_shipping_costs_label %}
                                            <td class="align-right">{{ 'document.lineItems.shippingCosts'|trans|sw_sanitize }}</td>
                                        {% endblock %}
                                        {% block document_sum_shipping_costs_price %}
                                            <td class="align-right">{{ order.deliveries.first.shippingCosts.totalPrice|currency(currencyIsoCode) }}</td>
                                        {% endblock %}
                                    </tr>
                                {% endblock %}

                                {% block document_sum_taxes %}
                                    {% for calculatedTax in order.price.calculatedTaxes.sortByTax %}
                                        <tr>
                                            {% block document_sum_tax_label %}
                                                <td class="align-right">{{ 'document.lineItems.tax'|trans({'%taxRate%': calculatedTax.taxRate})|sw_sanitize }}</td>
                                            {% endblock %}
                                            {% block document_sum_tax_rate %}
                                                <td class="align-right">{{ calculatedTax.tax|currency(currencyIsoCode) }}</td>
                                            {% endblock %}
                                        </tr>
                                    {% endfor %}
                                {% endblock %}

                                {% block document_sum_total %}
                                    <tr class="bold">
                                        {% block document_sum_total_label %}
                                            <td class="align-right">{{ 'document.lineItems.total'|trans|sw_sanitize }}</td>
                                        {% endblock %}
                                        {% block document_sum_total_price %}
                                            <td class="align-right">{{ order.amountTotal|currency(currencyIsoCode) }}</td>
                                        {% endblock %}
                                    </tr>
                                {% endblock %}
                            {% endblock %}
                        </table>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block document_payment_shipping %}
                <div class="payment-shipping-container">
                    {% block document_payment_shipping_inner %}
                        {% block document_payment %}
                            {{ 'document.paymentShippingInfo.paymentMethod'|trans({'%paymentMethod%': order.transactions.first.paymentMethod.name})|sw_sanitize }}
                        {% endblock %}
                        {% block document_shipping %}
                            {{ 'document.paymentShippingInfo.shippingMethod'|trans({'%shippingMethod%': order.deliveries.first.shippingMethod.name})|sw_sanitize }}<br>
                        {% endblock %}
                        {% block document_payment_shipping_additional %}
                            {{ 'document.paymentShippingInfo.additionalInfo'|trans|sw_sanitize }}<br>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    </body>
    </html>
{% endblock %}
