{% sw_extends '@Framework/documents/base.html.twig' %}

{% block document_title_tag %}
    {% trans with {'%deliveryNoteNumber%': config.custom.deliveryNoteNumber, '%orderNumber%':  order.orderNumber} %}document.deliveryNoteHeadline{% endtrans %}
{% endblock %}

{% block document_headline %}
    <h1>{% trans with {'%deliveryNoteNumber%': config.custom.deliveryNoteNumber, '%orderNumber%': order.orderNumber} %}document.deliveryNoteHeadline{% endtrans %}</h1>
{% endblock %}

    {% set firstDelivery = order.deliveries|first %}
    {% set deliveryAddressId = firstDelivery.shippingOrderAddressId %}
    {% set deliveryAddress = order.addresses.get(deliveryAddressId) %}

{% block document_recipient %}
    <span class="sender-address-small">
        {% block document_recipient_sender %}
            {{ config.companyAddress }}<br><br>
        {% endblock %}
    </span>
    {% if deliveryAddress.company %}
        {{ deliveryAddress.company }}<br>
    {% endif %}
    {{ deliveryAddress.firstName }} {{ deliveryAddress.lastName }}<br>
    {{ deliveryAddress.street }}<br>
    {% if deliveryAddress.additionalAddressLine1 %}
        {{ deliveryAddress.additionalAddressLine1 }}<br>
    {% endif %}
    {% if deliveryAddress.additionalAddressLine2 %}
        {{ deliveryAddress.additionalAddressLine2 }}<br>
    {% endif %}
    {{ deliveryAddress.zipcode }} {{ deliveryAddress.city }}<br>
    {{ deliveryAddress.country.name }}<br>
{% endblock %}

{% block document_side_info_contents %}
    {{ parent() }}
    <tr><td>{% trans with {'%deliveryDate%': config.custom.deliveryDate|format_date('medium', locale=order.saleschannel.language.locale.code)} %}document.deliveryDate{% endtrans %}</td></tr>
{% endblock %}

{% block document_line_item_table_shipping %}
    {% if deliveryAddress.additionalAddressLine1 %}<br>{% endif %}
    {% if deliveryAddress.additionalAddressLine2 %}<br>{% endif %}
{% endblock %}

{% block document_sum %}
{% endblock %}
