{# @deprecated tag:v6.7.0 - File will be removed as it is no longer loaded by default. #}

{# Extend `src/Storefront/Resources/views/storefront/component/review/review-item.html.twig` instead #}

{% block page_product_detail_review_item %}
    {% set reviewVerifcation = 0 %}

    <div class="product-detail-review-item"
         itemprop="review"
         itemscope
         itemtype="https://schema.org/Review">
        {% block page_product_detail_review_item_meta_published %}
            <meta itemprop="datePublished" content="{{ review.createdAt|date }}">
        {% endblock %}

        {% block page_product_detail_review_item_meta_title %}
            <meta itemprop="name" content="{{ review.title }}">
        {% endblock %}

        {% block page_product_detail_review_item_meta_author %}
            <div itemprop="author" itemtype="https://schema.org/Person" itemscope>
                <meta itemprop="name" content="{{ review.externalUser }}">
            </div>
        {% endblock %}

        {% block page_product_detail_review_item_info %}
            <div class="row product-detail-review-item-info">
                {% block page_product_detail_review_item_info_alert %}
                    {% if review.status == false %}
                        <div class="col-12 product-detail-review-item-hint">
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: 'info',
                                content: 'detail.reviewNotPublicYetAlert'|trans|sw_sanitize
                                } %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_review_item_info_date %}
                    <div class="col-12 product-detail-review-item-date">
                        <p><small>{{ review.createdAt|format_date('long') }} {{ review.createdAt|format_time('short') }}</small></p>
                    </div>
                {% endblock %}

                {% block page_product_detail_review_item_info_points %}
                    <div class="col-md-auto product-detail-review-item-points">
                        {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                            points: review.points,
                            altText: 'detail.reviewRatingAltText'|trans({ '%points%': review.points, '%maxPoints%': 5 })
                        } %}
                    </div>
                {% endblock %}

                {% block page_product_detail_review_item_title %}
                    <div class="col-md-auto product-detail-review-item-title">
                        <p class="h5">
                            {{ review.title|striptags|sw_sanitize }}
                        </p>
                    </div>
                {% endblock %}

                {% block page_product_detail_review_item_info_verify %}
                    <div class="col product-detail-review-item-verify">
                        {% if reviewVerifcation == 1 %}
                            <a data-bs-toggle="tooltip"
                               data-placement="bottom"
                               title="{{ 'detail.reviewVerifiedItemTooltip'|trans|striptags }}">
                                {% sw_icon 'checkmark-circle' style {
                                    color: 'primary',
                                    size: 'sm'
                                } %}
                            </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_review_item_content %}
            <p class="product-detail-review-item-content" itemprop="description">
                {{ review.content|sw_sanitize }}
            </p>
        {% endblock %}

        {% block page_product_detail_review_item_comment %}
            {% if review.comment %}
                <div class="product-detail-review-item-comment">
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">
                            {{ 'detail.reviewCommentLabel'|trans|sw_sanitize }}{{ review.comment }}
                        </footer>
                    </blockquote>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
