<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block administration_title %}
        <title>
            Shopware Administration (c) shopware AG
        </title>
    {% endblock %}

    {% block administration_favicons %}
        <link rel="apple-touch-icon" href="{{ asset('static/img/favicon/apple-touch-icon.png', '@Administration') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('static/img/favicon/favicon-16x16.png', '@Administration') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('static/img/favicon/favicon-32x32.png', '@Administration') }}" id="dynamic-favicon">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('static/img/favicon/android-chrome-192x192.png', '@Administration') }}">
        <link rel="icon" type="image/png" sizes="256x256" href="{{ asset('static/img/favicon/android-chrome-256x256.png', '@Administration') }}">
        <meta name="msapplication-TileImage" content="{{ asset('static/img/favicon/mstile-150x150.png', '@Administration') }}">
        <meta name="msapplication-TileColor" content="#189eff">
        <meta name="theme-color" content="#189eff">
        <meta name="referrer" content="always">
    {% endblock %}

    {% block administration_head_scripts %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('static/css/app.css', '@Administration') }}">
</head>
<body>

{% block administration_content %}{% endblock %}

</body>
</html>
