{% sw_extends '@Storefront/base.html.twig' %}

{% block base_content %}
    {# TODO: @Benjamin_Ott (Formular ersetzen) #}
    <form action="{{ path('frontend.newsletter.register.handle') }}" method="post">
        <label for="salutation">option</label>
        <select name="option">
            <option value="subscribe">subscribe newsletter</option>
            <option value="unsubscribe">unsubscribe newsletter</option>
        </select>
        {% for error in app.request.get('errors').getViolations('/status') %}
            <p>{{ error.message }}</p>
        {% endfor %}
        <br/>

        <label for="email">email</label>
        <input type="email" name="email" placeholder="email" required>
        {% for error in app.request.get('errors').getViolations('/email') %}
            <p>{{ error.message }}</p>
        {% endfor %}
        <br/>

        <label for="salutationId">salutation</label>
        <select name="salutationId">
            {% for salutation in page.salutations %}
                <option value="{{ salutation.id }}">{{ salutation.displayName }}</option>
            {% endfor %}
        </select>
        {% for error in app.request.get('errors').getViolations('/salutationId') %}
            <p>{{ error.message }}</p>
        {% endfor %}
        <br/>

        <label for="firstName">firstName</label>
        <input type="text" name="firstName" placeholder="firstName">
        <br/>

        <label for="lastName">lastName</label>
        <input type="text" name="lastName" placeholder="lastName">
        <br/>

        <label for="zipCode">zipCode</label>
        <input type="text" name="zipCode" placeholder="zipCode">
        <br/>

        <label for="city">city</label>
        <input type="text" name="city" placeholder="city">
        <br/>

        <label for="street">street</label>
        <input type="text" name="street" placeholder="street">
        <br/>

        <input type="submit">
    </form>
{% endblock %}
