{% block layout_breadcrumb_inner %}
    {% if category %}
        {% set breadcrumb = sw_breadcrumb(category) %}
        {% set breadcrumbKeys = breadcrumb|keys %}
        {% set breadcrumbCategories = sw_breadcrumb_categories(breadcrumbKeys, context.context) %}
        {# @deprecated tag:v6.5.0 - Use "breadcrumbCategories" directly. #}
        {% set breadcrumbTypes = sw_breadcrumb_build_types(breadcrumbCategories) %}
        {% set categoryId = category.id %}

        <nav aria-label="breadcrumb">
            {% block layout_breadcrumb_list %}
                <ol class="breadcrumb"
                    itemscope
                    itemtype="https://schema.org/BreadcrumbList">
                    {% for key, item in breadcrumb %}
                        {% set breadcrumbCategory = breadcrumbCategories[key] %}

                        {% block layout_breadcrumb_list_item %}
                            <li class="breadcrumb-item"
                                {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                                itemprop="itemListElement"
                                itemscope
                                itemtype="https://schema.org/ListItem">
                                {% if breadcrumbCategory.type == 'folder' %}
                                    <div>{{ item }}</div>
                                {% else %}
                                    <a href="{{ category_url(breadcrumbCategory) }}"
                                       class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
                                       title="{{ item }}"
                                       itemprop="item">
                                        <link itemprop="url"
                                              href="{{ category_url(breadcrumbCategory) }}"/>
                                        <span class="breadcrumb-title" itemprop="name">{{ item }}</span>
                                    </a>
                                    <meta itemprop="position" content="{{ key }}"/>
                                {% endif %}
                            </li>
                        {% endblock %}

                        {% block layout_breadcrumb_placeholder %}
                            {% if key != breadcrumbKeys|last %}
                                <div class="breadcrumb-placeholder">
                                    {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </ol>
            {% endblock %}
        </nav>
    {% endif %}
{% endblock %}
