{% block layout_breadcrumb_inner %}
    {% for item in navigationTree if not break %}
        {% if category %}
            {% set breadcrumb = category.buildSeoBreadcrumb(context.salesChannel.navigationCategoryId) %}
            {% set break = true %}
        {% else %}
            {% set breadcrumb = item.category.getPlainBreadcrumb(item.category.id)|slice(1) %}
        {% endif %}

        {% if item.category.id == product.categoryTree|last or category %}
            <nav aria-label="breadcrumb">
                {% block layout_breadcrumb_list %}
                <ol class="breadcrumb"
                    itemscope
                    itemtype="https://schema.org/BreadcrumbList">
                    {% for key, item in breadcrumb %}
                        {% block layout_breadcrumb_list_item %}
                            {% if category %}
                                {% set categoryId = category.id %}
                            {% else %}
                                {% set categoryId = product.categoryTree|last %}
                            {% endif %}

                            <li class="breadcrumb-item"
                                {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                                itemprop="itemListElement"
                                itemscope
                                itemtype="https://schema.org/ListItem">
                                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: key }) }}"
                                   class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
                                   title="{{ item }}"
                                   itemprop="item">
                                    <link itemprop="url" href="{{ seoUrl('frontend.navigation.page', { navigationId: key }) }}"/>
                                    <span class="breadcrumb-title" itemprop="name">{{ item }}</span>
                                </a>
                                <meta itemprop="position" content="{{ key }}"/>
                            </li>
                        {% endblock %}

                        {% block layout_breadcrumb_placeholder %}
                            {% if item != breadcrumb|last %}
                                <div class="breadcrumb-placeholder">
                                    {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </ol>
                {% endblock %}
            </nav>
        {% else %}
            {% if item.children|length %}
                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                    navigationTree: item.children,
                    product: product
                } only %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
