{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    <div class="account-address account-address-form">
        {% block page_account_address_form_welcome %}
            <div class="account-welcome">
                {% block page_account_address_form_welcome_headline %}
                    <h1>
                        {{ 'account.addressCreateWelcome'|trans|sw_sanitize }}
                    </h1>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_account_address_form_main %}
            <div class="card">
                <div class="card-body">
                    {% block page_account_address_form_create %}
                        <form method="post"
                              action="{{ path('frontend.account.address.create') }}"
                              data-form-validation="true">
                            {% block page_account_address_form_create_personal %}
                                {% sw_include '@Storefront/storefront/component/address/address-personal.html.twig' with {
                                    data: data.get('address'),
                                    prefix: 'address',
                                    accountType: data.get('accountType')
                                } %}
                            {% endblock %}

                            {% block page_account_address_form_create_general %}
                                {% sw_include '@Storefront/storefront/component/address/address-form.html.twig' with {
                                    data: data.get('address'),
                                    prefix: 'address',
                                    showFormCompany: true,
                                    scopeElementSelector: '.account-address-form',
                                } %}
                            {% endblock %}

                            {% block page_account_address_required %}
                                <p class="address-required-info required-fields">
                                    {{ 'general.requiredFields'|trans|sw_sanitize }}
                                </p>
                            {% endblock %}

                            {% block page_account_address_action_buttons %}
                                <div class="address-form-actions">
                                    {% block page_account_address_action_button_send %}
                                        <button type="submit"
                                                class="address-form-submit btn btn-primary"
                                                title="{{ 'account.addressSaveChange'|trans|striptags }}">
                                            {{ 'account.addressSaveChange'|trans|sw_sanitize }}
                                        </button>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
