{% sw_extends '@Storefront/frontend/index/sidebar.html.twig' %}

{% block frontend_index_left_categories %}
    {% if context.customer %}
    <div class="account--menu is--rounded">
        {% block frontend_account_menu %}

            {# Sidebar navigation headline #}
            {% block frontend_account_menu_title %}
                <h2 class="navigation--headline">
                    {% trans %}frontend.account.sidebar.AccountHeaderNavigation{% endtrans %}
                </h2>
            {% endblock %}

            {# Sidebar menu container #}
            <div class="account--menu-container">

                {# Sidebar navigation #}
                <ul class="sidebar--navigation navigation--list is--level0 show--active-items">

                    {% set controller=controllerName|lower %}
                    {% set action=controllerAction|default('index') %}

                    {# Link to the account overview page #}
                    {% block frontend_account_menu_link_overview %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.home.page') }}" title="{% trans %}frontend.account.sidebar.frontend.account.sidebar.AccountLinkOverview{% endtrans %}" class="navigation--link{% if activeRoute == 'frontend.account.home.page' %} is--active{% endif %}">
                                {% trans %}frontend.account.sidebar.AccountLinkOverview{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the account overview page #}
                    {% block frontend_account_menu_link_profile %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.profile.page') }}" title="{% trans %}frontend.account.sidebar.frontend.account.sidebar.AccountLinkProfile{% endtrans %}" class="navigation--link{% if activeRoute == 'frontend.account.profile.page' %} is--active{% endif %}">
                                {% trans %}frontend.account.sidebar.AccountLinkProfile{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user addresses #}
                    {% block frontend_account_menu_link_addresses %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.address.page') }}" title="{% trans %}frontend.account.sidebar.AccountLinkAddresses{% endtrans %}" class="navigation--link{% if activeRoute == 'frontend.account.address.page' %} is--active{% endif %}">
                                {% trans %}frontend.account.sidebar.AccountLinkAddresses{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user payment method settings #}
                    {% block frontend_account_menu_link_payment %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.payment.page') }}" title="{% trans %}frontend.account.sidebar.AccountLinkPayment{% endtrans %}" class="navigation--link{% if activeRoute == 'frontend.account.payment.page'  %} is--active{% endif %}">
                                {% trans %}frontend.account.sidebar.AccountLinkPayment{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user orders #}
                    {% block frontend_account_menu_link_orders %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.order.page') }}" title="{% trans %}frontend.account.sidebar.AccountLinkPreviousOrders{% endtrans %}" class="navigation--link{% if activeRoute == 'frontend.account.order.page'%} is--active{% endif %}">
                                {% trans %}frontend.account.sidebar.AccountLinkPreviousOrders{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the partner statistics #}
                    {% block frontend_account_menu_link_partner_statistics %}
                        {#{action action="partnerStatisticMenuItem" controller="account"}#}
                    {% endblock %}

                    {# Logout action #}
                    {% block frontend_account_menu_link_logout %}
                        <li class="navigation--entry">
                            <a href="{{ path('frontend.account.logout') }}" title="{% trans %}frontend.account.sidebar.AccountLinkLogout2{% endtrans %}" class="navigation--link link--logout">
                                <i class="icon--logout"></i> {% trans %}frontend.account.sidebar.AccountLinkLogout2{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                </ul>
            </div>
        {% endblock %}
    </div>
    {% endif %}
{% endblock %}