{% sw_extends '@Storefront/frontend/index/sidebar.html.twig' %}
{% trans_default_domain 'frontend/account/sidebar' %}

{% block frontend_index_left_categories %}
    {% if context.customer %}
    <div class="account--menu is--rounded">
        {% block frontend_account_menu %}

            {# Sidebar navigation headline #}
            {% block frontend_account_menu_title %}
                <h2 class="navigation--headline">
                    {% trans %}AccountHeaderNavigation{% endtrans %}
                </h2>
            {% endblock %}

            {# Sidebar menu container #}
            <div class="account--menu-container">

                {# Sidebar navigation #}
                <ul class="sidebar--navigation navigation--list is--level0 show--active-items">

                    {% set controller=controllerName|lower %}
                    {% set action=controllerAction|default('index') %}

                    {# Link to the account overview page #}
                    {% block frontend_account_menu_link_overview %}
                        <li class="navigation--entry">
                            <a href="{{ path('account_home') }}" title="{% trans from 'frontend/account/sidebar' %}AccountLinkOverview{% endtrans %}" class="navigation--link{% if controller == 'account' and action == 'index' %} is--active{% endif %}">
                                {% trans %}AccountLinkOverview{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the account overview page #}
                    {% block frontend_account_menu_link_profile %}
                        <li class="navigation--entry">
                            <a href="{{ path('account_profile') }}" title="{% trans from 'frontend/account/sidebar' %}AccountLinkProfile{% endtrans %}" class="navigation--link{% if controller == 'account' and action == 'profile' %} is--active{% endif %}">
                                {% trans %}AccountLinkProfile{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user addresses #}
                    {% block frontend_account_menu_link_addresses %}
                        <li class="navigation--entry">
                            <a href="{{ path('address_index') }}" title="{% trans %}AccountLinkAddresses{% endtrans %}" class="navigation--link{% if controller == 'account' and action == 'addressIndex' %} is--active{% endif %}">
                                {% trans %}AccountLinkAddresses{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user payment method settings #}
                    {% block frontend_account_menu_link_payment %}
                        <li class="navigation--entry">
                            <a href="{{ path('account_payment') }}" title="{% trans %}AccountLinkPayment{% endtrans %}" class="navigation--link{% if controller == 'account' and action == 'payment' %} is--active{% endif %}">
                                {% trans %}AccountLinkPayment{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the user orders #}
                    {% block frontend_account_menu_link_orders %}
                        <li class="navigation--entry">
                            <a href="{{ path('account_orders') }}" title="{% trans %}AccountLinkPreviousOrders{% endtrans %}" class="navigation--link{% if controller == 'account' and action == 'orders' %} is--active{% endif %}">
                                {% trans %}AccountLinkPreviousOrders{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                    {# Link to the partner statistics #}
                    {% block frontend_account_menu_link_partner_statistics %}
                        {#{action action="partnerStatisticMenuItem" controller="account"}#}
                    {% endblock %}

                    {# Logout action #}
                    {% block frontend_account_menu_link_logout %}
                        <li class="navigation--entry">
                            <a href="{{ path('account_logout') }}" title="{% trans %}AccountLinkLogout2{% endtrans %}" class="navigation--link link--logout">
                                <i class="icon--logout"></i> {% trans %}AccountLinkLogout2{% endtrans %}
                            </a>
                        </li>
                    {% endblock %}

                </ul>
            </div>
        {% endblock %}
    </div>
    {% endif %}
{% endblock %}