{% block base_header_logo_inner %}
	<div class="logo-main">
		{% block base_header_logo_link %}
			<a class="logo-main-link"
			   href="{{ path('frontend.home.page') }}"
			   title="{{ "header.logoLink"|trans }}">
				{% block base_header_logo_image %}
					<picture>
						{% block base_header_logo_image_desktop_source %}
							<source srcset="{{ asset(shopware.theme.logo.desktop) }}"
							        media="(min-width: {{ shopware.theme.breakpoint.lg }}px)">
						{% endblock %}

						{% block base_header_logo_image_tablet_source %}
							<source srcset="{{ asset(shopware.theme.logo.tablet) }}"
							        media="(min-width: {{ shopware.theme.breakpoint.md }}px)">
						{% endblock %}

						{% block base_header_logo_image_mobile %}
							<img srcset="{{ asset(shopware.theme.logo.mobile) }}"
							     alt="{{ "header.logoLink"|trans }}"
							     class="img-fluid logo-main-img"/>
						{% endblock %}
					</picture>
				{% endblock %}
			</a>
		{% endblock %}
	</div>
{% endblock %}
