<div class="sw-property-search" :class="{ overlay: overlay }">

    <sw-field autocomplete="off" class="sw-property-search__search-field" ref="searchField" @focus="onFocusSearch" @input="onSearchOptions"></sw-field>

    <div class="sw-property-search__tree_selection" v-if="displayTree">
        <sw-container columns="50% 50%">
            <sw-grid class="sw-property-search__tree_selection__group_grid" ref="groupGrid" :items="groups" :isFullpage="false" table @sw-grid-select-item="onGroupSelect">
                <template slot="columns" slot-scope="{ item }">
                    <sw-grid-column flex="minmax(200px, 1fr)" dataIndex="name" label="">
                        {{ item.name }}
                    </sw-grid-column>

                    <sw-grid-column flex="1fr" dataIndex="assignedOptions">
                        <span v-if="item.optionCount > 0">{{ item.optionCount }} {{ $tc('sw-property-search.selected') }}</span>
                    </sw-grid-column>
                </template>
                <template slot="pagination">
                    <sw-pagination :page="groupPage" :limit="10" :total="groupTotal" :total-visible="7" @page-change="onGroupPageChange" :steps="[10]" />
                </template>
            </sw-grid>

            <sw-grid class="sw-property-search__tree_selection__option_grid" ref="optionGrid" :items="groupOptions" :isFullpage="false" table @sw-grid-item-selected="onOptionSelect">
                <template slot="columns" slot-scope="{ item }">
                    <sw-grid-column flex="200px" dataIndex="name">
                        {{ item.name }}
                    </sw-grid-column>
                </template>
                <template slot="pagination">
                    <sw-pagination :page="optionPage" :limit="10" :total="optionTotal" :total-visible="7" @page-change="onOptionPageChange" :steps="[10]" />
                </template>
            </sw-grid>

        </sw-container>
    </div>

    <div class="sw-property-search__search_selection" v-if="displaySearch">
        <sw-grid class="sw-property-search__search_selection__option_grid" ref="optionSearchGrid" :items="groupOptions" :isFullpage="false" table @sw-grid-item-selected="onOptionSelect">
            <template slot="columns" slot-scope="{ item }">
                <sw-grid-column flex="200px" dataIndex="name">
                    {{ item.group.name }} / {{ item.name }}
                </sw-grid-column>
            </template>
            <template slot="pagination">
                <sw-pagination :page="optionPage" :limit="10" :total="optionTotal" :total-visible="7" @page-change="onOptionSearchPageChange" :steps="[10]" />
            </template>
        </sw-grid>
    </div>
</div>
