{% block sw_settings_language_detail %}
    <sw-page class="sw-settings-language-detail">

        {% block sw_settings_language_detail_header %}
            <template #smart-bar-header>
                <h2 v-if="languageHasName" key="sw-setting-language-header">{{ language.name }}</h2>
                <h2 v-else key="sw-setting-language-header">{{ $tc('sw-settings-language.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_language_detail_actions %}
            <template #smart-bar-actions>
                {% block sw_settings_language_detail_actions_abort %}
                    <sw-button :routerLink="{ name: 'sw.settings.language.index' }">
                        {{ $tc('sw-settings-language.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_language_detail_actions_save %}
                <sw-button-process
                        class="sw-settings-language-detail__save-action"
                        :isLoading="isLoading"
                        v-model="isSaveSuccessful"
                        :disabled="isLoading"
                        variant="primary"
                        @click.prevent="onSave">
                    {{ $tc('sw-settings-language.detail.buttonSave') }}
                </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_language_detail_language_switch %}
            <sw-language-switch #language-switch
                                :disabled="!languageId"
                                @on-change="onChangeLanguage">
            </sw-language-switch>
        {% endblock %}

        {% block sw_settings_language_detail_content %}
            <template #content>
                <sw-card-view v-if="language !== null">

                    {% block sw_settings_language_detail_content_language_info %}
                        <sw-language-info
                                :entityDescription="language.name" :isNewEntity="isNewLanguage">
                        </sw-language-info>
                    {% endblock %}

                    {% block sw_settings_language_detail_content_card %}
                        <sw-card :title="$tc('sw-settings-language.detail.titleCard')">
                            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">

                                {% block sw_settings_language_detail_content_field_name %}
                                    <sw-field type="text"
                                              :label="$tc('sw-settings-language.detail.labelName')"
                                              :placeholder="$tc('sw-settings-language.detail.placeholderName')"
                                              validation="required"
                                              required
                                              v-model="language.name">
                                    </sw-field>
                                {% endblock %}

                                {% block sw_settings_language_detail_content_field_parentId %}
                                    <sw-entity-single-select
                                        id="inherit"
                                        class="sw-settings-language-detail__select-parent"
                                        required
                                        :label="$tc('sw-settings-language.detail.labelParent')"
                                        :placeholder="$tc('sw-settings-language.detail.placeholderPleaseSelect')"
                                        :helpText="$tc('sw-settings-language.detail.tooltipLanguageNotChoosable')"
                                        @input="onInputLanguage"
                                        v-model="language.parentId"
                                        entity="language">

                                        <template #result_items="{index, item}">
                                            <template v-if="showOption(item)">
                                                <sw-single-select-option
                                                        :disabled="!!item.parentId"
                                                        v-tooltip="{
                                                            showDelay: 300,
                                                            message: $tc('sw-settings-language.detail.textLanguageHasParent'),
                                                            disabled: !item.parentId
                                                        }"
                                                        :index="index"
                                                        :item="item">
                                                    {{ item.name }}
                                                </sw-single-select-option>
                                            </template>
                                        </template>
                                    </sw-entity-single-select>
                                {% endblock %}

                                {% block sw_settings_language_detail_content_field_iso_code %}
                                    <sw-entity-single-select
                                            id="iso-codes"
                                            class="sw-settings-language-detail__select-iso-code"
                                            :label="$tc('sw-settings-language.detail.labelIsoCode')"
                                            :required="isIsoCodeRequired"
                                            :placeholder="$tc('sw-settings-language.detail.placeholderPleaseSelect')"
                                            :helpText="$tc('sw-settings-language.detail.tooltipIsoCodeNotChoosable')"
                                            entity="locale"
                                            v-model="language.translationCodeId">
                                        <template #selected_option="{ item }">
                                            <span v-if="item !== undefined">
                                               {{ item.code }}
                                            </span>
                                        </template>

                                        <template #result_items="{index, item}">
                                            <sw-single-select-option
                                                    :disabled="isLocaleAlreadyUsed(item)"
                                                    v-tooltip="{
                                                        showDelay: 300,
                                                        message: $tc('sw-settings-language.detail.textIsoCodeIsInUse'),
                                                        disabled: !isLocaleAlreadyUsed(item)
                                                    }"
                                                    :index="index"
                                                    :item="item">
                                                {{ item.code }}
                                            </sw-single-select-option>
                                        </template>
                                    </sw-entity-single-select>
                                {% endblock %}

                                {% block sw_settings_language_detail_content_field_localeId %}
                                    <sw-entity-single-select
                                            id="locales"
                                            required
                                            class="sw-settings-language-detail__select-locale"
                                            :label="$tc('sw-settings-language.detail.labelLocale')"
                                            entity="locale"
                                            :placeholder="$tc('sw-settings-language.detail.placeholderPleaseSelect')"
                                            v-model="language.localeId">
                                        <template #selected_option="{ item }">
                                            <span>
                                                {{ item.translated.name }}, {{ item.translated.territory }}
                                            </span>
                                        </template>

                                        <template #result_items="{index, item}">
                                            <sw-single-select-option
                                                    :index="index"
                                                    :item="item">
                                                {{ item.translated.name }}, {{ item.translated.territory }}
                                            </sw-single-select-option>
                                        </template>
                                    </sw-entity-single-select>
                                {% endblock %}
                            </sw-container>
                            {% block sw_settings_language_detail_content_alert_change_parent %}
                                <sw-alert v-if="showAlertForChangeParentLanguage"
                                          class="sw-settings-language--alert-change-parent"
                                          :title="$tc('sw-settings-language.detail.titleAlertChangeParent')"
                                          variant="warning">
                                    {{ $tc('sw-settings-language.detail.textAlertChangeParent') }}
                                </sw-alert>
                            {% endblock %}
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
