{% sw_extends '@Storefront/base/_utilities/offcanvas.html.twig' %}

{% block base_utilities_offcanvas_content %}

    {% block base_navigation_offcanvas_navigation %}
        {% set isRootLevel = page.navigation.active.parentId is null %}
        {% set activeItem = page.navigation.active %}

        <div class="offcanvas-menu js-offcanvas-menu">

            {% block base_navigation_offcanvas_navigation_overlay %}
                <div class="offcanvas-menu-overlay-content js-offcanvas-menu-overlay-content">
                    {% block base_navigation_offcanvas_navigation_overlay_content %}
                        {% if not isRootLevel %}
                            {% block base_navigation_offcanvas_navigation_home_link %}
                                <a class="nav-item nav-link go-home offcanvas-menu-list-item js-offcanvas-menu-link"
                                    href="{{ path('widgets.menu.offcanvas') }}"
                                    itemprop="url"
                                    title="{{ "general.mainMenu"|trans }}">
                                    {% block base_navigation_offcanvas_navigation_home_link_text %}
                                        <span itemprop="{{ "general.mainMenu"|trans }}">
                                            <span
                                                class="offcanvas-menu-list-item-link-icon js-offcanvas-menu-loading-icon">
                                                <span class="fas fa-bars"></span>
                                            </span>
                                            {{ "general.mainMenu"|trans }}
                                        </span>
                                    {% endblock %}
                                </a>
                            {% endblock %}

                            {% block base_navigation_offcanvas_navigation_category_headline %}
                                <a class="nav-item offcanvas-menu-headline"
                                    href="{{ path('frontend.navigation.page', {'navigationId': activeItem.parentId}) }}"
                                    itemprop="url">
                                    {% block base_navigation_offcanvas_navigation_category_headline_text %}
                                        <span itemprop="name">
                                            {{ activeItem.name }}
                                        </span>
                                    {% endblock %}
                                </a>
                            {% endblock %}

                            {% block base_navigation_offcanvas_navigation_category_back_link %}
                                <a class="nav-item nav-link go-back offcanvas-menu-list-item js-offcanvas-menu-link"
                                    href="{{ path('widgets.menu.offcanvas', {'navigationId': activeItem.parentId}) }}"
                                    itemprop="url"
                                    title="{{ "general.back"|trans }}">
                                    {% block base_navigation_offcanvas_navigation_category_back_link_text %}
                                        <span itemprop="name">
                                            <span
                                                class="offcanvas-menu-list-item-link-icon js-offcanvas-menu-loading-icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            {{ "general.back"|trans }}
                                        </span>
                                    {% endblock %}
                                </a>
                            {% endblock %}
                        {% else %}
                            {% block base_navigation_offcanvas_navigation_categories_headline %}
                                <div class="offcanvas-menu-headline">
                                    {% block base_navigation_offcanvas_navigation_categories_headline_text %}
                                        {{ "general.categories"|trans }}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}

                        {% block base_navigation_offcanvas_navigation_categories_list %}
                            <ul class="list-unstyled offcanvas-menu-list">

                                {% if not isRootLevel %}
                                    {% block base_navigation_offcanvas_navigation_categories_list_current_category_item %}
                                        <li class="offcanvas-menu-list-item">
                                            {% block base_navigation_offcanvas_navigation_categories_list_current_category_item_link %}
                                                <a class="offcanvas-menu-list-item-link nav-item nav-link current-category"
                                                    href="{{ path('frontend.navigation.page', {'navigationId': activeItem.id}) }}"
                                                    itemprop="url"
                                                    title="{{ activeItem.name }}">
                                                    {% block base_navigation_offcanvas_navigation_categories_list_current_category_item_text %}
                                                        <span itemprop="name">
                                                            {{ "general.showCategory"|trans({"%category%": activeItem.name}) }}
                                                        </span>
                                                    {% endblock %}
                                                </a>
                                            {% endblock %}
                                        </li>
                                    {% endblock %}
                                {% endif %}

                                {% set firstCategoryItem = page.navigation.tree|first %}
                                {% for treeItem in  firstCategoryItem.children %}
                                    {% set entity = treeItem.entity %}

                                    {% if entity.id is not same as( activeItem.id) %}
                                        {% block base_navigation_offcanvas_navigation_categories_list_category_item %}
                                            <li class="offcanvas-menu-list-item">

                                                {% set hasChildren = entity.childCount > 0 %}

                                                {% block base_navigation_offcanvas_navigation_categories_list_category_item_link %}
                                                    <a class="offcanvas-menu-list-item-link nav-item nav-link{% if entity.id is same as(activeItem.id) %} active{% endif %}{% if hasChildren %} js-offcanvas-menu-link{% endif %}"
                                                        {% if hasChildren %}
                                                            href="{{ path('widgets.menu.offcanvas', {'navigationId': entity.id}) }}"
                                                        {% else %}
                                                            href="{{ path('frontend.navigation.page', {'navigationId': treeItem.entity.id}) }}"
                                                        {% endif %}

                                                        itemprop="url"
                                                        title="{{ entity.name }}">
                                                        {% block base_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
                                                            <span itemprop="name">{{ entity.name }}</span>
                                                            {% if hasChildren %}
                                                                {% block base_navigation_offcanvas_navigation_categories_list_category_item_link_icon %}
                                                                    <span
                                                                        class="offcanvas-menu-list-item-link-icon js-offcanvas-menu-loading-icon">
                                                                        <i class="fas fa-chevron-right"></i>
                                                                    </span>
                                                                {% endblock %}
                                                            {% endif %}
                                                        {% endblock %}
                                                    </a>
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

