{% block list %}
    <sw-workspace>

        <header class="toolbar--middle-section" slot="header">
            <h1 class="workspace--headline">
                Produktübersicht
            </h1>

            <div class="toolbar--primary-actions">
                <router-link :to="{ name: 'core.product.create' }">
                    <sw-button :isPrimary="true">
                        Neues Produkt anlegen
                    </sw-button>
                </router-link>
            </div>
        </header>

        <div class="core-product--list">
            <sw-grid>
                {% block grid_header %}
                <sw-grid-header>
                    {% block grid_header_columns %}
                    <sw-grid-col :width="50">&nbsp;</sw-grid-col>
                    <sw-grid-col :width="50">Id #</sw-grid-col>
                    <sw-grid-col :width="500">Name</sw-grid-col>
                    <sw-grid-col :width="300">Hersteller</sw-grid-col>
                    <sw-grid-col :width="100">Aktiv</sw-grid-col>
                    <sw-grid-col :width="250">Preis</sw-grid-col>
                    <sw-grid-col :width="150">Lager</sw-grid-col>
                    <sw-grid-col :width="100">Info</sw-grid-col>
                    {% endblock %}
                </sw-grid-header>
                {% endblock %}

                {% block grid_body %}
                <sw-grid-body>
                    {% block grid_item %}
                    <sw-grid-row v-for="(item, index) in productList" :key="item.uuid" :editable="true" :item="item">
                        {% block grid_columns %}
                        <sw-grid-col :width="50">
                            <input type="checkbox" readonly="true" />
                        </sw-grid-col>
                        <sw-grid-col :width="50">
                            {{index + 1}}
                        </sw-grid-col>
                        <sw-grid-col :width="500" data-index="name" editor="text">
                            {{item.name}}
                        </sw-grid-col>
                        <sw-grid-col :width="300">
                            {{item.manufacturer.name}}
                        </sw-grid-col>
                        <sw-grid-col :width="100">
                            <input type="checkbox" readonly="true" v-model="item.active" />
                        </sw-grid-col>
                        <sw-grid-col :width="250">
                           {{ item.listingPrices[0].price | currency }}
                        </sw-grid-col>
                        <sw-grid-col :width="150" data-index="pseudoSales" editor="number">
                            {{item.mainDetail.stock}} auf Lager
                        </sw-grid-col>

                        <sw-grid-col :width="100">
                            <router-link :to="{ name: 'core.product.detail', params: { uuid: item.uuid }}">
                                Details
                            </router-link>
                        </sw-grid-col>
                        {% endblock %}
                    </sw-grid-row>
                    {% endblock %}
                </sw-grid-body>
                {% endblock %}

                {% block grid_pagination %}
                <sw-pagination :page-num="pageNum" :max-page="maxPage" :per-page="limit" :total="total" v-on:data-changed="handlePagination"></sw-pagination>
                {% endblock %}

                <sw-loader v-if="isWorking"></sw-loader>
            </sw-grid>
        </div>
    </sw-workspace>
{% endblock %}