{% block sw_order_create %}
    <sw-card-view>
        {% block sw_order_create_address_modal %}
            <sw-order-create-address-modal
                v-if="showAddressModal"
                :address="address"
                :addAddressModalTitle="addAddressModalTitle"
                :editAddressModalTitle="editAddressModalTitle"
                :customer="customer"
                :cart="cart"
                @close-modal="closeModal"
                @set-customer-address="setCustomerAddress">
            </sw-order-create-address-modal>
        {% endblock %}

        {% block sw_order_create_promotion_modal %}
            <sw-order-create-promotion-modal
                v-if="showPromotionModal"
                :isLoading="isLoading"
                :currency="currency"
                @close="onClosePromotionModal"
                @save="onSavePromotionModal"
            >
            </sw-order-create-promotion-modal>
        {% endblock %}

        {% block sw_order_create_details %}
            <sw-card
                :title="$tc('sw-order.createBase.labelDetailsCard')"
                :isLoading="isLoadingDetail"
                class="sw-order-create__card">
                <template #grid>
                    <sw-container type="row" class="sw-order-user-card">
                        <sw-card-section>
                            {% block sw_order_create_details_header %}
                                <sw-order-create-details-header
                                    :customer="customer"
                                    :orderDate="orderDate"
                                    :cartPrice="cartPrice"
                                    :currency="currency"
                                    @on-select-existing-customer="onSelectExistingCustomer">
                                </sw-order-create-details-header>
                            {% endblock %}
                            {% block sw_order_create_details_body %}
                                <sw-order-create-details-body
                                    :customer="customer"
                                    :isCustomerActive="isCustomerActive"
                                    @on-edit-billing-address="onEditBillingAddress"
                                    @on-edit-shipping-address="onEditShippingAddress">
                                </sw-order-create-details-body>
                            {% endblock %}
                        </sw-card-section>
                        <sw-card-section secondary divider="top">
                            {% block sw_order_create_details_footer %}
                                <sw-order-create-details-footer
                                    :customer="customer"
                                    :isCustomerActive="isCustomerActive"
                                    :cart="cart"
                                    @loading-change="updateLoading">
                                </sw-order-create-details-footer>
                            {% endblock %}
                        </sw-card-section>
                    </sw-container>
                </template>
            </sw-card>
        {% endblock %}

        {% block sw_order_create_base_line_items_card %}
            <sw-card :title="$tc('sw-order.createBase.cardTitleLineItems')"
                     :isLoading="isLoading"
                     class="sw-order-create__card sw-order-create-base__line-item-grid-card">
                {% block sw_order_create_base_line_items_card_rows %}
                    <template #grid>
                        <sw-container type="row">
                            {% block sw_order_create_base_line_items_grid %}
                                <sw-order-line-items-grid-sales-channel
                                    :cart="cart"
                                    :currency="currency"
                                    :salesChannelId="salesChannelId"
                                    :isLoading="isLoading"
                                    :isCustomerActive="isCustomerActive"
                                    editable
                                    ref="sw-order-line-item-grid-sales-channel"
                                    @on-save-item="onSaveItem"
                                    @on-remove-items="onRemoveItems">
                                </sw-order-line-items-grid-sales-channel>
                            {% endblock %}

                            {% block sw_order_create_base_line_items_summary %}
                                <sw-card-section v-show="cartLineItems.length" divider="top" secondary slim>
                                    <sw-container columns="1fr 440px"
                                                  gap="14px"
                                                  class="sw-order-create-summary">
                                        <div>
                                            {% block sw_order_create_base_line_items_switch_promotions %}
                                                <sw-switch-field class="sw-order-create-summary__switch-promotions"
                                                                 :label="$tc('sw-order.promotionModal.labelTitle')"
                                                                 v-model="disabledAutoPromotionVisibility">
                                                </sw-switch-field>
                                            {% endblock %}
                                            {% block sw_order_create_base_line_items_voucher_field %}
                                                <sw-order-promotion-tag-field
                                                    :disabled="!hasLineItem"
                                                    :currency="currency"
                                                    :label="$tc('sw-order.createBase.labelAddPromotion')"
                                                    v-model="promotionCodeTags"
                                                    :placeholder="$tc('sw-order.createBase.placeholderAddPromotion')"
                                                    @on-remove-code="onRemoveExistingCode"
                                                    :error="promotionError">
                                                </sw-order-promotion-tag-field>
                                            {% endblock %}
                                        </div>
                                        <sw-description-list grid="265px 1fr"
                                                             class="sw-order-create-summary__data">
                                            {% block sw_order_create_base_line_items_summary_entries %}
                                                {% block sw_order_create_base_line_items_summary_amount %}
                                                    <dt>{{ $tc('sw-order.createBase.summaryLabelAmount') }}</dt>
                                                    <dd>{{ (cartPrice ? cartPrice.positionPrice : 0) | currency(currency.shortName) }}</dd>
                                                {% endblock %}

                                                {% block sw_order_create_base_line_items_summary_shipping_cost %}
                                                    <template v-if="cartDelivery">
                                                        <dt>{{ $tc('sw-order.createBase.summaryLabelShippingCosts') }}</dt>
                                                        <dd>
                                                            <sw-order-saveable-field type="number"
                                                                                     editable
                                                                                     v-tooltip="{ showDelay: 300, message: shippingCostsDetail }"
                                                                                     :value="cartDelivery.shippingCosts.totalPrice"
                                                                                     @value-change="onShippingChargeEdited">
                                                                {{ cartDelivery.shippingCosts.totalPrice | currency(currency.shortName) }}
                                                            </sw-order-saveable-field>
                                                        </dd>
                                                    </template>
                                                    <template v-if="cartDeliveryDiscounts" v-for="delivery in cartDeliveryDiscounts">
                                                        <dt>{{ $tc('sw-order.createBase.discountLabelShippingCosts') }}</dt>
                                                        <dd>{{ delivery.shippingCosts.totalPrice | currency(currency.shortName) }}</dd>
                                                    </template>
                                                {% endblock %}

                                                {% block sw_order_create_base_line_items_summary_amount_without_tax %}
                                                    <dt><strong>{{ $tc('sw-order.createBase.summaryLabelAmountWithoutTaxes') }}</strong></dt>
                                                    <dd><strong>{{ (cartPrice ? cartPrice.netPrice : 0) | currency(currency.shortName) }}</strong></dd>
                                                {% endblock %}

                                                {% block sw_order_create_base_line_items_summary_taxes %}
                                                    <template v-for="calculatedTax in filteredCalculatedTaxes">
                                                        <dt>{{ $tc('sw-order.createBase.summaryLabelTaxes', 1, { taxRate: calculatedTax.taxRate }) }}</dt>
                                                        <dd>{{ calculatedTax.tax | currency(currency.shortName) }}</dd>
                                                    </template>
                                                {% endblock %}

                                                {% block sw_order_create_base_line_items_summary_amount_total %}
                                                    <dt><strong>{{ $tc('sw-order.createBase.summaryLabelAmountTotal') }}</strong></dt>
                                                    <dd><strong>{{ (cartPrice ? cartPrice.totalPrice : 0) | currency(currency.shortName) }}</strong></dd>
                                                {% endblock %}
                                            {% endblock %}
                                        </sw-description-list>
                                    </sw-container>
                                </sw-card-section>
                            {% endblock %}
                        </sw-container>
                    </template>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </sw-card-view>
{% endblock %}
