{# @deprecated tag:v6.4.0.0 the content of this file will be moved to new component/payment/payment-form.html.twig #}

{% block page_checkout_change_payment_form %}
    <form id="confirmPaymentForm"
          name="confirmPaymentForm"
          action="{{ path(action) }}"
          data-form-csrf-handler="true"
          method="post">

        {% block page_checkout_change_payment_form_csrf %}
            {{ sw_csrf(action) }}
        {% endblock %}

        {% block page_checkout_change_payment_form_redirect %}
            <input type="hidden" name="redirectTo" value="{{ redirect }}">
        {% endblock %}

        {% block page_checkout_change_payment_form_fields %}
            {% sw_include '@Storefront/storefront/component/payment/payment-fields.html.twig' with {
                'defaultPaymentMethodId': context.paymentMethod.id,
            } %}
        {% endblock %}

        {# @deprecated tag:v6.4.0.0 removed #}
        {% block page_checkout_change_payment_form_submit %}
            <button class="btn btn-primary" type="submit">
                {{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}
            </button>
        {% endblock %}

        {# @deprecated tag:v6.4.0.0 removed #}
        {% block page_checkout_change_payment_cancel %}
            <button class="btn btn-light"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close">
                {{ "checkout.confirmChangePaymentShippingCancel"|trans|sw_sanitize }}
            </button>
        {% endblock %}
    </form>
{% endblock %}
