{% block page_checkout_item_children %}
    {% set isChangeable = false %}
    {% set nestingLevel = 0 %}

    <div class="checkout-item-children">

        {% block page_checkout_item_children_header %}
            <div class="container">
                <div class="row checkout-item-collapse">

                    {% block page_checkout_item_children_header_content %}
                        <div class="col checkout-item-headline">

                            {% block page_checkout_item_children_header_content_text %}
                                <span class="checkout-item-headline-text">
                                    {{ 'checkout.lineItemContainerHeadline'|trans }}
                                </span>
                            {% endblock %}

                            {% block page_checkout_item_children_header_content_change_button %}
                                {% if isChangeable %}
                                    <button class="children-item-change-button">
                                        {{ 'checkout.lineItemContainerChangeLink'|trans }}
                                    </button>
                                {% endif %}
                            {% endblock %}

                        </div>
                    {% endblock %}

                    {% block page_checkout_item_children_header_collapse %}
                        <div class="col-1 checkout-item-collapse-icon-container">

                            {% block page_checkout_item_children_header_collapse_button %}
                                <button class="collapsed checkout-item-collapse-button"
                                        data-toggle="collapse"
                                        data-target="#collapse-line-item-contains-{{ lineItem.id }}"
                                        aria-controls="collapse-line-item-contains-{{ lineItem.id }}"
                                        aria-expanded="false">

                                    {% block page_checkout_item_children_header_collapse_button_icon %}
                                        <div class="checkout-item-collapse-icon">
                                            {% sw_icon 'arrow-down' style {
                                                'color': 'primary',
                                                'pack':'solid'
                                            } %}
                                        </div>
                                    {% endblock %}

                                </button>
                            {% endblock %}

                        </div>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}

        {% block page_checkout_item_children_elements %}
            <div class="container collapse checkout-item-children-elements"
                 id="collapse-line-item-contains-{{ lineItem.id }}">

                {% for nestedLineItem in lineItem.children %}
                    {% block page_checkout_item_children_element %}
                        {% block page_checkout_item_children_element_content %}
                            <div class="row checkout-item-children-element{% if nestingLevel is same as(0) %} first-level-item{% endif %}">

                                {% block page_checkout_item_child %}
                                    {% block page_checkout_item_child_headline %}
                                        <div class="col checkout-item-child-label"
                                             style="margin-left: calc({{ nestingLevel }} * 18px)">
                                            <div class="checkout-item-child-label-bullet">
                                                {{ nestedLineItem.label }}
                                            </div>
                                        </div>
                                    {% endblock %}

                                    {% block page_checkout_item_child_total_price %}
                                        <div class="col-3 checkout-item-child-total-price">
                                            {{ nestedLineItem.price.totalPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                                        </div>
                                    {% endblock %}

                                    {% block page_checkout_item_child_remove %}
                                        <div class="d-md-block col-md-1 checkout-item-child-remove-icon-container {% if nestedLineItem.removable %}col-1{% else %}d-none{% endif %}">

                                            {% block page_checkout_item_remove_icon %}
                                                {% if nestedLineItem.removable %}
                                                    <button class="checkout-item-child-remove-icon">
                                                        {% sw_icon 'x' style {
                                                            'color': 'primary',
                                                            'size': 'xs'
                                                        } %}
                                                    </button>
                                                {% endif %}
                                            {% endblock %}

                                        </div>
                                    {% endblock %}
                                {% endblock %}

                            </div>
                        {% endblock %}

                        {% block page_checkout_item_children_element_children %}
                            {% if nestedLineItem.children.count > 0 %}
                                {% set nestingLevel = nestingLevel + 1 %}
                                {% for nestedLineItem in nestedLineItem.children %}
                                    {{ block('page_checkout_item_children_element') }}
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    {% endblock %}

                    {% block page_checkout_item_children_element_divider %}
                        <hr class="checkout-item-children-element-divider"/>
                    {% endblock %}
                {% endfor %}

            </div>
        {% endblock %}

    </div>
{% endblock %}
