{% block layout_utilities_icon %}
	{% set styles = style|split(' ') %}

	{% if pack is not defined %}
		<span class="sw-icon icon-{{ name }}{% for entry in styles %}{% if entry != "" %} icon-{{ entry }}{% endif %}{% endfor %}">
			{{ source('@Storefront/../assets/icon/'~ name ~'.svg', ignore_missing = true) }}
		</span>
	{% elseif pack == "fa" %}
		<i class="fa fa-{{ name }}{% for entry in styles %}{% if entry != "" %} fa-{{ entry }}{% endif %}{% endfor %}"></i>
	{% endif %}

{% endblock %}
