{% block page_checkout_item %}
	<div class="row cart-item cart-item-{{ lineItem.type }} cart-item-row">
		{% block page_checkout_item_info %}
			<div class="col-5 cart-item-info">
				{% block page_checkout_item_info_inner %}
					<div class="row cart-item-row">
						{% block page_checkout_item_info_image %}
							<div class="col-auto cart-item-info-img">
								<div class="cart-item-img-container">
									<img src="{{ asset(lineItem.cover.url) }}"
									     class="img-fluid cart-item-img"
									     alt="{{ lineItem.cover.fileName }}">
								</div>
							</div>
						{% endblock %}

						{% block page_checkout_item_info_label %}
							<div class="col cart-item-label">
								<a href="{{ path('frontend.detail.page', {'productId': lineItem.key}) }}"
								   title="{{ lineItem.label }}">
									{{ lineItem.label }}
								</a>
							</div>
						{% endblock %}
					</div>
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_checkout_item_quantity %}
			<div class="col-2 cart-item-quantity">
				{% block page_checkout_item_quantity_inner %}
					{#TODO: NEXT-1946 - quantity select#}
					{{ lineItem.quantity }}
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_checkout_item_unit_price %}
			<div class="col-2 cart-item-unit-price">
				{% block page_checkout_item_unit_price_inner %}
					{{ lineItem.price.unitPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_checkout_item_total_price %}
			<div class="col-2 cart-item-total-price">
				{% block page_checkout_item_total_price_inner %}
					{{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_checkout_item_remove %}
			<div class="col-1 cart-item-remove">
				{% block page_checkout_item_remove_inner %}
					{% if lineItem.isRemovable() %}
						{#TODO: NEXT-1946 - remove functionality#}
						<form action="{{ path('storefront-api.checkout.cart.line-item.delete', {'version': 1, 'id': lineItem.key}) }}"
						      method="post">
							<button type="submit"
							        title="{{ "checkout.removeLineItem"|trans }}"
							        class="btn btn-light btn-sm">X {#TODO: NEXT-1946 - replace with icon #}
							</button>
						</form>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
