{% block page_checkout_item %}
	<div class="cart-item cart-item-{{ lineItem.type }}">
		<div class="row cart-item-row">
			{% block page_checkout_item_info %}
				<div class="col-10 col-md cart-item-info">
					{% block page_checkout_item_info_inner %}
						<div class="row cart-item-row">
							{% block page_checkout_item_info_image %}
								<div class="col-auto cart-item-info-img">
									{% block page_checkout_item_info_image_container %}
										<div class="cart-item-img-container">
											{% block page_checkout_item_info_image_link %}
												<a href="{{ path('frontend.detail.page', {'productId': lineItem.key}) }}"
												   class="cart-item-img-link"
												   title="{{ lineItem.label }}">
													{% block page_checkout_item_info_image_element %}
														{% if lineItem.cover.url %}
															{% set imgSrc = lineItem.cover.url %}
														{% else %}
															{% set imgSrc = shopware.theme.general.noPicture %}
														{% endif %}
														<img src="{{ asset(imgSrc) }}"
														     class="img-fluid cart-item-img"
														     alt="{{ lineItem.cover.fileName }}">
													{% endblock %}
												</a>
											{% endblock %}
										</div>
									{% endblock %}
								</div>
							{% endblock %}

							{% block page_checkout_item_info_details %}
								<div class="col cart-item-details">
									{% block page_checkout_item_info_details_inner %}
										<div class="cart-item-details-container">
											{% block page_checkout_item_info_label %}
												<a href="{{ path('frontend.detail.page', {'productId': lineItem.key}) }}"
												   class="cart-item-label"
												   title="{{ lineItem.label }}">
													{{ lineItem.label|truncate(60) }}
												</a>
											{% endblock %}

											{% block page_checkout_item_info_ordernumber %}
												{#TODO: NEXT-1946 - ordernumber#}
											{% endblock %}

											{% block page_checkout_item_info_delivery_informations %}
												{#TODO: NEXT-1946 - delivery informations#}
											{% endblock %}
										</div>
									{% endblock %}
								</div>
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			{% endblock %}

			{% block page_checkout_item_quantity %}
				<div class="col-12 col-sm-4 col-md-auto cart-item-quantity">
					{% block page_checkout_item_quantity_form %}
						{#TODO: NEXT-1946 - form action#}
						{#TODO: NEXT-1946 - check laststock and instock?#}
						<form action="{{ path('sales-channel-api.checkout.cart.line-item.update', {'version': 1, 'id': lineItem.key}) }}"
						      class="cart-item-quantity-container"
						      method="post">
							<div class="row cart-item-quantity-row">
								{% block page_checkout_item_quantity_label %}
									<div class="col-8 col-sm-12 cart-item-quantity-label">
										{{ "checkout.cartHeaderQuantity"|trans }}
									</div>
								{% endblock %}

								{% block page_checkout_item_quantity_select %}
									<div class="col-4 col-sm-12">
										{#TODO: NEXT-1946 - use minpurchase, maxpurchase and purchasesteps to build select options#}
										<select class="custom-select cart-item-quantity-select" name="quantity">
											<option value="{{ lineItem.quantity }}" selected="selected">
												{{ lineItem.quantity }}
											</option>
										</select>
									</div>
								{% endblock %}
							</div>
						</form>
					{% endblock %}
				</div>
			{% endblock %}

			{% block page_checkout_item_unit_price %}
				<div class="col-12 col-sm-4 col-md-2 cart-item-unit-price">
					{% block page_checkout_item_unit_price_label %}
						<div class="cart-item-unit-price-label">
							{{ "checkout.cartHeaderUnitPrice"|trans }}
						</div>
					{% endblock %}

					{% block page_checkout_item_unit_price_inner %}
						{{ lineItem.price.unitPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{% block page_checkout_item_unit_price_tax_symbol %}{{ "general.star"|trans }}{% endblock %}
					{% endblock %}
				</div>
			{% endblock %}

			{% block page_checkout_item_total_price %}
				<div class="col-12 col-sm-4 col-md-2 cart-item-total-price">
					{% block page_checkout_item_total_price_label %}
						<div class="cart-item-total-price-label">
							{{ "checkout.cartHeaderTotalPrice"|trans }}
						</div>
					{% endblock %}

					{% block page_checkout_item_total_price_inner %}
						{{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{% block page_checkout_item_total_price_tax_symbol %}{{ "general.star"|trans }}{% endblock %}
					{% endblock %}
				</div>
			{% endblock %}

			{% block page_checkout_item_remove %}
				<div class="col-2 col-md-1 cart-item-remove">
					{% block page_checkout_item_remove_form %}
						{% if lineItem.isRemovable() %}
							{#TODO: NEXT-1946 - remove functionality#}
							<form action="{{ path('sales-channel-api.checkout.cart.line-item.delete', {'version': 1, 'id': lineItem.key}) }}"
							      method="post">
								{% block page_checkout_item_remove_submit %}
									<button type="submit"
									        title="{{ "checkout.removeLineItem"|trans }}"
									        class="btn btn-light btn-sm cart-item-remove-button">
										<i class="fas fa-times"></i>
									</button>
								{% endblock %}
							</form>
						{% endif %}
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}

