{% block page_checkout_summary %}
    <div class="checkout-summary">
        {% if page.cart %}
            {% set summary = page.cart %}
        {% elseif page.order %}
            {% set summary = page.order %}
        {% endif %}

        <dl class="row summary-list">
            {% block page_checkout_summary_inner %}
                {% block page_checkout_summary_position %}
                    {% block page_checkout_summary_position_label %}
                        <dt class="col-7 summary-label">
                            {{ "checkout.summaryPositionPrice"|trans }}
                        </dt>
                    {% endblock %}

                    {% block page_checkout_summary_position_value %}
                        <dd class="col-5 summary-value">
                            {{ summary.price.positionPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
                        </dd>
                    {% endblock %}
                {% endblock %}

                {% block page_checkout_summary_shippings %}
                    {% for delivery in summary.deliveries.elements %}
                        {% block page_checkout_summary_shipping %}
                            {% block page_checkout_summary_shipping_label %}
                                <dt class="col-7 summary-label">
                                    {{ "checkout.summaryShipping"|trans }}
                                </dt>
                            {% endblock %}

                            {% block page_checkout_summary_shipping_value %}
                                <dd class="col-5 summary-value">
                                    {{ delivery.shippingCosts.totalPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
                                </dd>
                            {% endblock %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block page_checkout_summary_total %}
                    {% block page_checkout_summary_total_label %}
                        <dt class="col-7 summary-label summary-total">
                            {{ "checkout.summaryTotalPrice"|trans }}
                        </dt>
                    {% endblock %}

                    {% block page_checkout_summary_total_value %}
                        <dd class="col-5 summary-value summary-total">
                            {{ summary.price.totalPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}
                        </dd>
                    {% endblock %}
                {% endblock %}

                {% block page_checkout_summary_net %}
                    {% block page_checkout_summary_net_label %}
                        <dt class="col-7 summary-label">
                            {{ "checkout.summaryNetPrice"|trans }}
                        </dt>
                    {% endblock %}

                    {% block page_checkout_summary_net_value %}
                        <dd class="col-5 summary-value">
                            {{ summary.price.netPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}
                        </dd>
                    {% endblock %}
                {% endblock %}

                {% block page_checkout_summary_taxes %}
                    {% for taxItem in summary.price.calculatedTaxes.elements %}
                        {% block page_checkout_summary_tax %}
                            {% block page_checkout_summary_tax_label %}
                                <dt class="col-7 summary-label">
                                    {{ "checkout.summaryTax"|trans({
                                        '%rate%': taxItem.taxRate
                                    }) }}
                                </dt>
                            {% endblock %}

                            {% block page_checkout_summary_tax_value %}
                                <dd class="col-5 summary-value">
                                    {{ taxItem.tax|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}
                                </dd>
                            {% endblock %}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
            {% endblock %}
        </dl>
    </div>
{% endblock %}
