{% sw_extends '@Storefront/storefront/component/account/login.html.twig' %}

{% block component_account_login_header %}
    <h3 class="card-title">
        {{ 'detail.reviewLoginHeader'|trans|sw_sanitize }}
    </h3>
{% endblock %}

{% block component_account_login_form_description %}
    <p class="login-form-description">
        {{ 'detail.reviewLoginDescription'|trans|sw_sanitize }}
        <a href="{{ path('frontend.account.login.page') }}"
           title="{{ 'detail.reviewRegisterLink'|trans|striptags }}">
            {{ 'detail.reviewRegisterLink'|trans|sw_sanitize }}
        </a>
    </p>
{% endblock %}

{% block component_account_login_form_redirect %}
    <input type="hidden"
           name="redirectTo"
           value="{{ activeRoute }}">

    <input type="hidden"
           name="redirectParameters"
           value="{{ {productId: reviews.productId, id: cmsPage.id, navigationId: page.header.navigation.active.id}|json_encode }}">
{% endblock %}

{% block component_account_login_submit %}
    <div class="float-start">
        {{ parent() }}
    </div>
    <div class="login-cancel">
        {% block page_product_detail_review_form_cancel %}
            <a href="#"
               class="btn btn-outline-secondary ms-1"
               data-bs-toggle="collapse"
               data-bs-target=".multi-collapse"
               aria-expanded="false"
               aria-controls="review-form review-list">
                {{ 'detail.reviewLoginCancelButton'|trans|sw_sanitize }}
            </a>
        {% endblock %}
    </div>
{% endblock %}
