{% block sw_sales_channel_detail_account_disconnect %}
    <div v-if="googleShoppingAccount" class="sw-sales-channel-detail-account-disconnect">
        {# Start System Feedbacks #}
        {% block sw_sales_channel_detail_account_disconnect_feedbacks %}
            <sw-alert
                v-if="isSuspended"
                variant="error"
                class="sw-sales-channel-detail-base__u-mb-32"
                :showIcon="true"
                :closable="false">
                {{ $tc('sw-sales-channel.detail.textIssuesBefore') }}
                <sw-sales-channel-detail-protect-link
                    v-for="issue in issues"
                    :key="issue.id"
                    :href="issue.documentation"
                    class="sw-sales-channel-detail-base__issue-link">
                    {{ `${issue.title}. ` }}
                </sw-sales-channel-detail-protect-link>
                {{ $tc('sw-sales-channel.detail.textIssuesAfter') }}
            </sw-alert>
        {% endblock %}
        {# End System Feedbacks #}

        {# Start Google Profiles #}
        {% block sw_sales_channel_detail_account_disconnect_profiles %}
            {% block sw_sales_channel_detail_account_disconnect_profiles_title %}
                <p class="sw-sales-channel-detail-account-disconnect__subtitle">
                    {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.titleProfiles') }}
                    <sw-sales-channel-detail-protect-link
                        class="sw-sales-channel-detail-base__subtitle-link"
                        href="https://www.google.com/retail/solutions/merchant-center/">
                        {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.titleLinkProfiles') }}
                    </sw-sales-channel-detail-protect-link>
                </p>
            {% endblock %}

            {% block sw_sales_channel_detail_account_disconnect_profiles_content %}
                <div class="sw-sales-channel-detail-account-disconnect__content sw-sales-channel-detail-base__u-mb-32">
                    {% block sw_sales_channel_detail_account_disconnect_profiles_content_info %}
                        <div class="sw-sales-channel-detail-account-disconnect__profiles">
                            <sw-avatar
                                size="44px"
                                :imageUrl="googleShoppingAccount.picture">
                            </sw-avatar>
                            <div class="sw-sales-channel-detail-account-disconnect__profiles-info">
                                <h4 class="sw-sales-channel-detail-account-disconnect__profiles-name">
                                    {{ googleShoppingAccount.name }}
                                </h4>
                                <p class="sw-sales-channel-detail-account-disconnect__profiles-email">
                                    {{ googleShoppingAccount.email }}
                                </p>
                            </div>
                        </div>
                    {% endblock %}

                    {% block sw_sales_channel_detail_account_disconnect_profiles_content_button %}
                        <sw-button variant="ghost" @click="onDisconnectToGoogle">
                            {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.textDisconnectButton') }}
                        </sw-button>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
        {# End Google Profiles #}

        {# Start Merchant Center #}
        {% block sw_sales_channel_detail_account_disconnect_merchant %}
            {% block sw_sales_channel_detail_account_disconnect_merchant_title %}
                <p class="sw-sales-channel-detail-account-disconnect__subtitle">
                    {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.titleMerchant') }}
                    <sw-sales-channel-detail-protect-link
                        class="sw-sales-channel-detail-base__subtitle-link"
                        href="https://support.google.com/merchants/answer/2948694?hl=en#">
                        {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.titleLinkMerchant') }}
                    </sw-sales-channel-detail-protect-link>
                </p>
            {% endblock %}

            {% block sw_sales_channel_detail_account_disconnect_merchant_content %}
                <div class="sw-sales-channel-detail-account-disconnect__content sw-sales-channel-detail-base__u-mb-32">
                    {% block sw_sales_channel_detail_account_disconnect_merchant_content_info %}
                        <p class="sw-sales-channel-detail-account-disconnect__text-group">
                            {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.textGroupMerchant') }}
                            <span class="sw-sales-channel-detail-account-disconnect__text-group-highlight">
                                {{ merchantCenter.id }}
                            </span>
                        </p>
                    {% endblock %}

                    {% block sw_sales_channel_detail_account_disconnect_merchant_content_status %}
                        <sw-label :variant="merchantCenter.label" size="small" appearance="pill" class="sw-sales-channel-detail-account-disconnect__label">
                            <sw-color-badge
                                rounded
                                :variant="merchantCenter.label"
                                class="sw-sales-channel-detail-account-disconnect__label-badge">
                            </sw-color-badge>
                            <span class="sw-sales-channel-detail-account-disconnect__label-text">
                                {{ merchantCenter.status }}
                            </span>
                        </sw-label>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
        {# End Merchant Center #}

        {# Start Merchant Website #}
        {% block sw_sales_channel_detail_account_disconnect_website %}
            {% block sw_sales_channel_detail_account_disconnect_website_title %}
                <p class="sw-sales-channel-detail-account-disconnect__subtitle">
                    {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.titleWebsite') }}
                </p>
            {% endblock %}

            {% block sw_sales_channel_detail_account_disconnect_website_content %}
                <div class="sw-sales-channel-detail-account-disconnect__content">
                    {% block sw_sales_channel_detail_account_disconnect_website_content_info %}
                        <p class="sw-sales-channel-detail-account-disconnect__text-group">
                            {{ $tc('sw-sales-channel.detail.googleShoppingAccountDisconnect.textGroupWebsite') }}
                            <span class="sw-sales-channel-detail-account-disconnect__text-group-highlight">
                                {{ associatedWebsite.url }}
                            </span>
                        </p>
                    {% endblock %}

                    {% block sw_sales_channel_detail_account_disconnect_website_content_status %}
                        <sw-label :variant="associatedWebsite.label" size="small" appearance="pill" class="sw-sales-channel-detail-account-disconnect__label">
                            <sw-color-badge
                                rounded
                                :variant="associatedWebsite.label"
                                class="sw-sales-channel-detail-account-disconnect__label-badge">
                            </sw-color-badge>
                            <span class="sw-sales-channel-detail-account-disconnect__label-text">
                                {{ associatedWebsite.status }}
                            </span>
                        </sw-label>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
        {# End Merchant Website #}
    </div>
{% endblock %}
