{% block page_checkout_item_product_inner %}
    <div class="cart-item cart-item-{{ lineItem.type }}">
        <div class="row cart-item-row">
            {% block page_checkout_item_product_info %}
                {% set productId = lineItem.key %}

                <div class="col-10 col-md cart-item-info">
                    {% block page_checkout_item_product_info_inner %}
                        <div class="row cart-item-row">
                            {% block page_checkout_item_product_info_image %}
                                <div class="col-auto cart-item-info-img">
                                    {% block page_checkout_item_product_info_image_container %}
                                        <div class="cart-item-img-container">
                                            {% block page_checkout_item_product_info_image_link %}
                                                <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                                                   class="cart-item-img-link"
                                                   title="{{ lineItem.label }}">
                                                    {% block page_checkout_item_product_info_image_element %}
                                                        {% if lineItem.cover.url %}
                                                            {% set imgSrc = lineItem.cover.url %}
                                                        {% else %}
                                                            {% set imgSrc = shopware.theme.general.noPicture %}
                                                        {% endif %}
                                                        <img src="{{ asset(imgSrc) }}"
                                                             class="img-fluid cart-item-img"
                                                             alt="{{ lineItem.cover.fileName }}">
                                                    {% endblock %}
                                                </a>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block page_checkout_item_product_info_details %}
                                <div class="col cart-item-details">
                                    {% block page_checkout_item_product_info_details_inner %}
                                        <div class="cart-item-details-container">
                                            {% block page_checkout_item_product_info_label %}
                                                <a href="{{ path('frontend.detail.page', {'productId': productId}) }}"
                                                   class="cart-item-label"
                                                   title="{{ lineItem.label }}">
                                                    {{ lineItem.label|truncate(60) }}
                                                </a>
                                            {% endblock %}

                                            {% block page_checkout_item_product_info_ordernumber %}
                                                {#TODO: NEXT-1946 - ordernumber#}
                                            {% endblock %}

                                            {% block page_checkout_item_product_info_delivery_informations %}
                                                {#TODO: NEXT-1946 - delivery informations#}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_checkout_item_product_quantity %}
                <div class="col-12 col-sm-4 col-md-auto cart-item-quantity">
                    {% block page_checkout_item_product_quantity_form %}

                        <form action="#"
                            {#TODO: use after NEXT-2501 is finished#}
                            {#<form action="{{ path('frontend.checkout.line-item.update', {'id': productId}) }}"#}
                              class="cart-item-quantity-container"
                              method="post">
                            {% block page_checkout_item_quantity_redirect %}
                                <input type="hidden"
                                       name="redirectTo"
                                       value="frontend.checkout.cart.page">
                            {% endblock %}

                            <div class="row cart-item-quantity-row">
                                {% block page_checkout_item_product_quantity_label %}
                                    <div class="col-8 col-sm-12 cart-item-quantity-label">
                                        {{ "checkout.cartHeaderQuantity"|trans }}
                                    </div>
                                {% endblock %}

                                {% block page_checkout_item_product_quantity_select %}
                                    <div class="col-4 col-sm-12">
                                        {% if lineItem.quantityInformation.maxPurchase %}
                                            {% if lineItem.deliveryInformation.stock < lineItem.quantityInformation.maxPurchase %}
                                                {% set maxQuantity = lineItem.deliveryInformation.stock %}
                                            {% else %}
                                                {% set maxQuantity = lineItem.quantityInformation.maxPurchase %}
                                            {% endif %}
                                        {% else %}
                                            {% set maxQuantity = shopware.config.checkout.maxQuantity %}
                                        {% endif %}

                                        {% block page_product_detail_buy_quantity %}
                                            <select name="quantity"
                                                    class="custom-select quantity-select">
                                                {% for quantity in range(lineItem.quantityInformation.minPurchase, maxQuantity, lineItem.quantityInformation.purchaseSteps) %}
                                                    <option value="{{ i }}"
                                                        {% if quantity == lineItem.quantity %} selected="selected"{% endif %}>
                                                        {{ quantity }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </form>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_checkout_item_product_unit_price %}
                <div class="col-12 col-sm-4 col-md-2 cart-item-unit-price">
                    {% block page_checkout_item_product_unit_price_wrapper %}
                        {% block page_checkout_item_product_unit_price_label %}
                            <div class="cart-item-unit-price-label">
                                {{ "checkout.cartHeaderUnitPrice"|trans }}
                            </div>
                        {% endblock %}

                        {% block page_checkout_item_product_unit_price_inner %}
                            {{ lineItem.price.unitPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{% block page_checkout_item_product_unit_price_tax_symbol %}{{ "general.star"|trans }}{% endblock %}
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_checkout_item_product_total_price %}
                <div class="col-12 col-sm-4 col-md-2 cart-item-total-price">
                    {% block page_checkout_item_product_total_price_wrapper %}
                        {% block page_checkout_item_product_total_price_label %}
                            <div class="cart-item-total-price-label">
                                {{ "checkout.cartHeaderTotalPrice"|trans }}
                            </div>
                        {% endblock %}

                        {% block page_checkout_item_product_total_price_inner %}
                            {{ lineItem.price.totalPrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{% block page_checkout_item_product_total_price_tax_symbol %}{{ "general.star"|trans }}{% endblock %}
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_checkout_item_product_remove %}
                <div class="col-2 col-md-1 cart-item-remove">
                    {% block page_checkout_item_product_remove_form %}
                        {% if lineItem.isRemovable() %}
                            {#TODO: use after NEXT-2501 is finished#}
                            {#<form action="{{ path('frontend.checkout.line-item.delete', {'id': productId}) }}"#}
                            <form action="#"
                                  method="post">
                                {% block page_checkout_item_remove_redirect %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.checkout.cart.page">
                                {% endblock %}

                                {% block page_checkout_item_product_remove_submit %}
                                    <button type="submit"
                                            title="{{ "checkout.removeLineItem"|trans }}"
                                            class="btn btn-light btn-sm cart-item-remove-button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                {% endblock %}
                            </form>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
