{% block component_payment_methods %}
    <div class="payment-methods">
        {% for payment in page.paymentMethods %}
            {% block component_payment_method %}
                <div class="payment-method">
                    {% block component_payment_method_field %}
                        <div class="payment-form-group form-group">
                            {% block component_payment_method_control %}
                                <div class="custom-control custom-radio payment-control">
                                    {% block component_payment_method_input %}
                                        <input type="radio"
                                               id="paymentMethod{{ loop.index }}"
                                               name="paymentMethodId"
                                               value="{{ payment.id }}"
                                               {% if payment.id is same as(defaultPaymentMethodId) %}checked="checked"{% endif %}
                                               class="custom-control-input payment-method-input">
                                    {% endblock %}

                                    {% block component_payment_method_label %}
                                        <label class="custom-control-label payment-method-label"
                                               for="paymentMethod{{ loop.index }}">
                                            {% block component_payment_method_image %}
                                                {% if payment.media %}
                                                    {% sw_thumbnails 'payment-method-image-thumbnails' with {
                                                        media: payment.media,
                                                        sizes: {
                                                            'default': '100px'
                                                        },
                                                        attributes: {
                                                            'class': 'payment-method-image',
                                                            'alt': (payment.media.translated.alt ?: payment.translated.name),
                                                            'title': (payment.media.translated.title ?: payment.translated.name)
                                                        }
                                                    } %}
                                                {% endif %}
                                            {% endblock %}

                                            {% block component_payment_method_description %}
                                                <div class="payment-method-description">
                                                    <strong>{{ payment.translated.name }}</strong>
                                                    {% if payment.translated.description %}
                                                        <p>{{ payment.translated.description|raw }}</p>
                                                    {% endif %}
                                                </div>
                                            {% endblock %}
                                        </label>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_payment_fieldset_template %}{% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
