{# Paging which will be included in the "listing/listing_actions.tpl" #}

<div class="listing--paging panel--paging">

    {# Pagination label #}
    {% block frontend_listing_actions_paging_label %}{% endblock %}

    {% set parameters = listing.parameters %}

    {# @var listing \Shopware\Storefront\Page\Listing\ListingPageStruct #}
    {# Pagination - Frist page #}
    {% block frontend_listing_actions_paging_first %}
        {% if listing.currentPage > 1 %}
            {% set parameters = parameters + { p : 1} %}
            {% set url = path('listing_page', parameters, 5) %}

            <a href="{{ url }}" title="{% trans from 'frontend/listing/listing_actions' %}ListingLinkFirst{% endtrans %}" class="paging--link paging--prev" data-action-link="true">
                <i class="icon--arrow-left"></i>
                <i class="icon--arrow-left"></i>
            </a>
        {% endif %}
    {% endblock %}

    {# Pagination - Previous page #}
    {% block frontend_listing_actions_paging_previous %}
        {% if listing.currentPage > 1 %}
            {% set parameters = parameters + { p : listing.currentPage - 1 } %}
            {% set url = path('listing_page', parameters) %}

            <a href="{{ url }}" title="{% trans from 'frontend/listing/listing_actions' %}ListingLinkPrevious{% endtrans %}" class="paging--link paging--prev" data-action-link="true">
                <i class="icon--arrow-left"></i>
            </a>
        {% endif %}
    {% endblock %}

    {# Pagination - current page #}
    {% block frontend_listing_actions_paging_numbers %}
        {% if listing.pageCount > 1 %}
            <a title="" class="paging--link is--active">{{ listing.currentPage }}</a>
        {% endif %}
    {% endblock %}

    {# Pagination - Next page #}
    {% block frontend_listing_actions_paging_next %}
        {% if listing.currentPage < listing.pageCount %}
            {% set parameters = parameters + { p : listing.currentPage + 1 } %}
            {% set url = path('listing_page', parameters) %}

            <a href="{{ url }}" title="{% trans from 'frontend/listing/listing_actions' %}ListingLinkNext{% endtrans %}" class="paging--link paging--next" data-action-link="true">
                <i class="icon--arrow-right"></i>
            </a>
        {% endif %}
    {% endblock %}

    {# Pagination - Last page #}
    {% block frontend_listing_actions_paging_last %}
        {% if listing.currentPage < listing.pageCount %}
            {% set parameters = parameters + { p : listing.pageCount } %}
            {% set url = path('listing_page', parameters) %}

            <a href="{{ url }}" title="{% trans from 'frontend/listing/listing_actions' %}ListingLinkLast{% endtrans %}" class="paging--link paging--next" data-action-link="true">
                <i class="icon--arrow-right"></i>
                <i class="icon--arrow-right"></i>
            </a>
        {% endif %}
    {% endblock %}

    {# Pagination - Number of pages #}
    {% block frontend_listing_actions_count %}
        {% if listing.pageCount > 1 and listing.criteria.fetchCount != 2 %}
            <span class="paging--display">
                {% trans from 'frontend/listing/listing_actions' %}ListingTextFrom{% endtrans %} <strong>{{ listing.pageCount }}</strong>
            </span>
        {% endif %}
    {% endblock %}

    {# Products per page selection #}
    {% block frontend_listing_actions_items_per_page %}
        {% sw_include '@Storefront/frontend/listing/actions/action-per-page.html.twig' %}
    {% endblock %}
</div>