{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_account_profile_recover_password %}
        <div class="account-recover-password row justify-content-md-center">
            {% block page_account_profile_recover_password_inner %}
                <div class="col-md-8 col-lg-6">
                    {% block page_account_profile_recover_password_form %}
                        <form method="post"
                              class="account-recover-password-form card"
                              action="{{ path('frontend.account.recover.request') }}"
                              data-form-validation="true"
                              data-form-submit-loader="true">
                            {% block page_account_profile_recover_password_title %}
                                <h1 class="card-title">
                                    {{ 'account.profileRecoverPasswordTitle'|trans }}
                                </h1>
                            {% endblock %}

                            {% block page_account_profile_recover_password_container %}
                                <div class="card-body">
                                    {% block page_account_profile_recover_password_info %}
                                        <div class="card-text account-recover-password-info mb-3">
                                            {{ 'account.profileRecoverPasswordInfo'|trans }}
                                        </div>
                                    {% endblock %}

                                    {% block page_account_profile_recover_password_mail %}
                                        <div class="form-group">
                                            {% block page_account_profile_recover_password_mail_label %}
                                                <label class="form-label" for="recoverMail">
                                                    {{ 'account.profileCurrentMail'|trans }}
                                                </label>
                                            {% endblock %}

                                            {% block page_account_profile_recover_password_mail_input %}
                                                <input type="email"
                                                       class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                                                       autocomplete="section-personal email"
                                                       id="recoverMail"
                                                       name="email[email]"
                                                       placeholder="{{ 'account.profileCurrentMailPlaceholder'|trans }}"
                                                       required="required">
                                            {% endblock %}

                                            {% block page_account_profile_recover_password_mail_input_violations %}
                                                {% if formViolations.getViolations('/email') is not empty %}
                                                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                                                violationPath: '/email'
                                                        } %}
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block page_account_profile_recover_password_actions %}
                                        <div class="account-recover-password-form-actions">
                                            {% block page_account_profile_recover_password_action_back %}
                                                <a href="{{ seoUrl('frontend.account.login') }}"
                                                   class="account-recover-password-back btn btn-outline-secondary"
                                                   title="{{ 'general.back'|trans }}">
                                                    {{ 'general.back'|trans }}
                                                </a>
                                            {% endblock %}

                                            {% block page_account_profile_recover_password_action_send %}
                                                <button type="submit"
                                                        class="account-recover-password-submit btn btn-primary"
                                                        title="{{ 'account.profileRecoverPasswordSubmit'|trans }}">
                                                    {{ 'account.profileRecoverPasswordSubmit'|trans }}
                                                </button>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
