{% block base_header_actions_cart_widget %}
    {# @TODO: NEXT-1981 - apply CSS styling to this widget #}
    <a class="cart-widget" href="{{ path('frontend.checkout.cart.page') }}"
       data-cart-widget="true"
       data-cart-mini=true
       title="{{ 'checkout.cartTitle'|trans }}">
        <span class="cart-widget-display">{{ 'checkout.cartTitle'|trans }}</span>
        <span class="cart-widget-badge">{{ page.cart.lineItems|length }}</span>
        <i class="icon-basket"></i>
	    {# @TODO: NEXT-1981 - replace "EUR" with context variable #}
        <span class="cart-widget-total">{{ page.cart.price.positionPrice|localizedcurrency('EUR', app.request.locale) }}</span>
    </a>
{% endblock %}
