{% block base_header_actions_language_widget%}
	{% if  page.header.languages.elements|length > 1 %}
		<div class="top-bar-nav-item top-bar-language">
			{% block base_header_actions_language_widget_form %}
				<form method="post"
					  action="{{ path('frontend.checkout.configure') }}"
					  class="language-form">
					{% block base_header_actions_language_widget_content %}
                        {#TODO: maybe already add those variables to the translationCode struct #}
					    {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('_') %}
                        {% set country = isoCode[0] %}
                        {% set language = isoCode[1] %}

						<div class="language-flag country-{{ country }} language-{{ language }}"></div>
						<div class="top-bar-select">
							{% block base_header_actions_language_widget_form_select %}
								<select name="languageId"
										class="top-bar-select-field form-control-sm">
										{% for language in  page.header.languages.elements %}
											<option value="{{ language.id }}"
													{% if language.id is same as(page.header.activeLanguage.id) %}selected="selected"{% endif %}>
												{{ language.name }}
											</option>
										{% endfor %}
								</select>
							{% endblock %}
							<input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

							{% for key, value in app.request.attributes.get('_route_params') %}
								<input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
							{% endfor %}

							{% block base_header_actions_language_widget_form_select_icon %}
								<i class="select-arrow-down fas fa-chevron-down"></i>
							{% endblock %}
						</div>
					{% endblock %}
				</form>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
