{% block component_account_login %}
	<div class="card login-card">
		<div class="card-body">
			{% block component_account_login_header %}
				<h2 class="card-title">
					{{ "account.loginHeader"|trans }}
				</h2>
			{% endblock %}

			{% block component_account_login_form %}
				<form class="login-form"
				      action="{{ path('frontend.account.login') }}"
				      method="post">
					{% block component_account_login_form_redirect %}
						<input type="hidden"
						       name="redirectTo"
						       value="{{ redirectTo }}">
					{% endblock %}

					{% block component_account_login_form_description %}
						<p class="login-form-description">
							{{ "account.loginFormDescription"|trans }}
						</p>
					{% endblock %}

					{% block component_account_login_form_error %}
						{% if loginError %}
							{% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
								type: "danger",
								content: "account.loginBadCredentials"|trans
							} %}
						{% endif %}
					{% endblock %}

					{% block component_account_login_form_mail %}
						<div class="form-group">
							{% block component_account_login_form_mail_label %}
								<label class="form-label" for="loginMail">
									{{ "account.loginMailLabel"|trans }}
								</label>
							{% endblock %}

							{% block component_account_login_form_mail_input %}
								<input type="text"
								       class="form-control{% if loginError %} is-invalid{% endif %}"
								       id="loginMail"
								       placeholder="{{ "account.loginMailPlaceholder"|trans }}"
								       name="username"
								       required="required">
							{% endblock %}
						</div>
					{% endblock %}

					{% block component_account_login_form_password %}
						<div class="form-group">
							{% block component_account_login_form_password_label %}
								<label class="form-label" for="loginPassword">
									{{ "account.loginPasswordLabel"|trans }}
								</label>
							{% endblock %}

							{% block component_account_login_form_password_input %}
								<input type="password"
								       class="form-control{% if loginError %} is-invalid{% endif %}"
								       id="loginPassword"
								       placeholder="{{ "account.loginPasswordPlaceholder"|trans }}"
								       name="password"
								       required="required">
							{% endblock %}
						</div>
					{% endblock %}

					{% block component_account_login_password_lost %}
						{#TODO: NEXT-1940 - password lost link#}
					{% endblock %}

					{% block component_account_login_submit %}
						<div class="login-submit">
							<button type="submit" class="btn btn-primary">
								{{ "account.loginSubmit"|trans }}
							</button>
						</div>
					{% endblock %}
				</form>
			{% endblock %}
		</div>
	</div>
{% endblock %}
