<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Shopware Administration (c) shopware AG
    </title>

    {% block administration_favicons %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/administration/static/img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/administration/static/img/favicon/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/administration/static/img/favicon/favicon-32x32.png') }}" id="dynamic-favicon">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('bundles/administration/static/img/favicon/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="256x256" href="{{ asset('bundles/administration/static/img/favicon/android-chrome-256x256.png') }}">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/administration/static/img/favicon/mstile-150x150.png') }}">
        <meta name="msapplication-TileColor" content="#189eff">
        <meta name="theme-color" content="#189eff">
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/administration/static/css/vendors-node.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('bundles/administration/static/css/app.css') }}?{{ 'now'|date('U') }}">

</head>
<body>

<div id="app"></div>

{% block administration_templates %}{% endblock %}

<script src="{{ asset('bundles/administration/static/js/runtime.js') }}?{{ 'now'|date('U') }}"></script>
<script src="{{ asset('bundles/administration/static/js/vendors-node.js') }}?{{ 'now'|date('U') }}"></script>
<script src="{{ asset('bundles/administration/static/js/commons.js') }}?{{ 'now'|date('U') }}"></script>
<script src="{{ asset('bundles/administration/static/js/app.js') }}?{{ 'now'|date('U') }}"></script>

<script>
    /*
        root-level domain configuration

        host:               shopware.next
        port:               80
        scheme:             http
        schemeAndHttpHost:  http://shopware.next
        uri:                http://shopware.next/admin
        basePath:
        pathInfo:           /admin

        -----------------------------------------------

        sub-folder domain configuration

        host:               localhost
        port:               80
        scheme:             http
        schemeAndHttpHost:  http://localhost
        uri:                http://localhost/next/web/admin
        basePath:           /next/web
        pathInfo:           /admin
    */
    const applicationContext = {
        host: '{{ app.request.host }}',
        port: {{ app.request.port }},
        scheme: '{{ app.request.scheme }}',
        schemeAndHttpHost: '{{ app.request.schemeAndHttpHost }}',
        uri: '{{ app.request.uri }}',
        basePath: '{{ app.request.basePath }}',
        pathInfo: '{{ app.request.pathInfo }}',
        features: {{ features|json_encode|raw }},
        systemLanguageId: '{{ systemLanguageId }}',
        defaultLanguageIds: {{ defaultLanguageIds|json_encode|raw }},
        liveVersionId: '{{ liveVersionId }}',
        firstRunWizard: {{ firstRunWizard ? 'true' : 'false' }}
    };

    Shopware.Application.start(applicationContext);
</script>

</body>
</html>
