{% block sw_product_list %}
<sw-page class="sw-product-list">

    {% block sw_product_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="product"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_product_list_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_product_list_smart_bar_header_title %}
        <h2>
            {% block sw_product_list_smart_bar_header_title_text %}
            {{ $tc('sw-product.list.textProductOverview') }}
            {% endblock %}

            {% block sw_product_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_product_list_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block sw_product_list_smart_bar_actions_add %}
        <sw-button
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('product.creator'),
                showOnDisabledElements: true
            }"
            :router-link="{ name: 'sw.product.create' }"
            variant="primary"
            :disabled="!acl.can('product.creator')"
        >
            {{ $tc('sw-product.list.buttonAddProduct') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_product_list_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>
    {% endblock %}

    <template #content>
        {% block sw_product_list_content %}
        <div class="sw-product-list__content">

            {% block sw_product_list_grid %}
            <sw-entity-listing
                ref="swProductGrid"
                class="sw-product-list-grid"
                :items="products"
                :columns="productColumns"
                :repository="productRepository"
                detail-route="sw.product.detail"
                :show-selection="true"
                :is-loading="isLoading"
                identifier="sw-product-list"
                :allow-edit="acl.can('product.editor')"
                :allow-delete="acl.can('product.deleter')"
                :allow-inline-edit="acl.can('product.editor')"
                :sort-by="sortBy"
                :sort-direction="sortDirection"
                :natural-sorting="naturalSorting"
                :criteria-limit="limit"
                :disable-data-fetching="true"
                :allow-bulk-edit="acl.can('product.editor')"
                @column-sort="onColumnSort"
                @page-change="onPageChange"
                @inline-edit-save="onInlineEditSave"
                @selection-change="updateSelection"
                @update-records="updateTotal"
                @bulk-edit-modal-open="onBulkEditModalOpen"
            >
                {% block sw_product_list_grid_columns %}
                {% block sw_product_list_grid_columns_name_preview %}
                <template #preview-name="{ item }">
                    <sw-media-preview-v2 :source="item.cover ? item.cover.media : null" />
                </template>
                {% endblock %}

                <template #column-name="{ item, isInlineEdit }">
                    <sw-text-field
                        v-if="isInlineEdit"
                        v-model="item.name"
                        size="small"
                    />

                    <div v-else>
                        <sw-button
                            v-if="productHasVariants(item)"
                            v-tooltip="{ message: $tc('sw-product.list.variantIndicatorTooltip') }"
                            class="sw-product-list__variant-indicator"
                            size="x-small"
                            @click="openVariantModal(item)"
                        >
                            <sw-icon
                                name="default-web-variants"
                                size="14px"
                            />
                        </sw-button>

                        <router-link :to="{ name: 'sw.product.detail', params: { id: item.id } }">
                            {{ item.translated ? item.translated.name : item.name }}
                        </router-link>
                    </div>
                </template>

                {% block sw_product_list_grid_columns_active %}
                <template #column-active="{ item, isInlineEdit }">
                    {% block sw_product_list_grid_columns_active_inline_edit %}
                    <template v-if="isInlineEdit">
                        <sw-checkbox-field v-model="item.active" />
                    </template>
                    {% endblock %}

                    {% block sw_product_list_grid_columns_active_content %}
                    <template v-else>
                        <sw-icon
                            v-if="item.active"
                            name="small-default-checkmark-line-medium"
                            small
                            class="is--active"
                        />
                        <sw-icon
                            v-else
                            name="small-default-x-line-medium"
                            small
                            class="is--inactive"
                        />
                    </template>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block sw_product_list_grid_columns_price %}
                <template
                    v-for="currency in currencies"
                    :slot="`column-price-${currency.isoCode}`"
                    slot-scope="{ item }"
                >
                    {{ getCurrencyPriceByCurrencyId(currency.id, item.price).gross | currency(currency.isoCode) }}
                </template>
                {% endblock %}

                {% block sw_product_list_grid_columns_stock %}
                <template #column-stock="{ item, isInlineEdit, compact }">
                    {% block sw_product_list_grid_columns_stock_inline_edit %}
                    <template v-if="isInlineEdit">
                        <sw-number-field
                            v-model="item.stock"
                            :size="compact ? 'small' : 'default'"
                        />
                    </template>
                    {% endblock %}

                    {% block sw_product_list_grid_columns_stock_content %}
                    <template v-else>
                        {{ item.stock }}
                        <sw-color-badge :variant="item.stock | stockColorVariant" />
                    </template>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block sw_product_list_grid_columns_actions %}
                <template #more-actions="{ item }">
                    {% block sw_product_list_grid_columns_actions_duplicate %}
                    <sw-context-menu-item
                        class="sw-product-list-grid__duplicate-action"
                        :disabled="item.parentId != null || !acl.can('product.creator')"
                        @click="onDuplicate(item)"
                    >
                        {{ $tc('sw-product.list.buttonDuplicate') }}
                    </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_product_list_grid_columns_actions_open_variant %}
                    <sw-context-menu-item
                        v-if="productHasVariants(item)"
                        @click="openVariantModal(item)"
                    >
                        {{ $tc('sw-product.list.contextMenuShowVariants') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}
                {% endblock %}

                {% block sw_product_list_bulk_edit_modal %}
                <template #bulk-edit-modal="{ selection }">
                    <sw-bulk-edit-modal
                        v-if="showBulkEditModal"
                        class="sw-product-bulk-edit-modal"
                        :selection="selection"
                        :bulk-grid-edit-columns="productBulkEditColumns"
                        @edit-items="onBulkEditItems"
                        @modal-close="showBulkEditModal = false"
                    >
                        {% block sw_product_list_bulk_edit_grid_columns_name %}
                        <template #column-name="{ item }">
                            <router-link :to="{ name: 'sw.product.detail', params: { id: item.id } }">
                                {{ item.translated ? item.translated.name : item.name }}
                            </router-link>
                        </template>
                        {% endblock %}

                        {% block sw_product_list_bulk_edit_grid_columns_active %}
                        <template #column-active="{ item }">
                            <sw-icon
                                small
                                :name="item.active ? 'small-default-checkmark-line-medium' : 'small-default-x-line-medium'"
                                :color="item.active ? '#37d046' : '#de294c'"
                            />
                        </template>
                        {% endblock %}

                        {% block sw_product_list_bulk_edit_grid_columns_price %}
                        <template
                            v-for="currency in currencies"
                            :slot="`column-price-${currency.isoCode}`"
                            slot-scope="{ item }"
                        >
                            {{ getCurrencyPriceByCurrencyId(currency.id, item.price).gross | currency(currency.isoCode) }}
                        </template>
                        {% endblock %}

                        {% block sw_product_list_bulk_edit_grid_columns_stock %}
                        <template #column-stock="{ item }">
                            {{ item.stock }}
                            <sw-color-badge :variant="item.stock | stockColorVariant" />
                        </template>
                        {% endblock %}
                    </sw-bulk-edit-modal>
                </template>
                {% endblock %}
            </sw-entity-listing>

            {% endblock %}

            {% block sw_product_list_empty_state %}
            <template v-if="!isLoading && !total">
                <sw-empty-state
                    v-if="filterCriteria.length"
                    :title="$tc('sw-product.filters.messageEmptyTitle')"
                    :subline="$tc('sw-product.filters.messageEmptySubline')"
                />
                <sw-empty-state
                    v-else
                    :title="$tc('sw-product.list.messageEmpty')"
                />
            </template>
            {% endblock %}

            {% block sw_product_list_grid_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_product_list_content_clone_modal %}
        <sw-product-clone-modal
            v-if="cloning"
            :product="product"
            @clone-finish="onDuplicateFinish"
        />
        {% endblock %}

        {% block sw_product_list_content_variant_modal %}
        <sw-product-variant-modal
            v-if="showVariantModal"
            :product-entity="productEntityVariantModal"
            @modal-close="closeVariantModal"
        />
        {% endblock %}
    </template>

    {% block sw_product_list_sidebar %}
    <template #sidebar>
        <sw-sidebar>
            {% block sw_product_list_sidebar_refresh %}
            <sw-sidebar-item
                icon="default-arrow-360-left"
                :title="$tc('sw-product.list.titleSidebarItemRefresh')"
                @click="onRefresh"
            />
            {% endblock %}

            <sw-sidebar-filter-panel
                entity="product"
                :store-key="storeKey"
                :active-filter-number="activeFilterNumber"
                :filters="listFilters"
                :defaults="defaultFilters"
                @criteria-changed="updateCriteria"
            />
        </sw-sidebar>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
