{% block page_product_detail_price_inner %}
	{% if page.product.blockprices %}
		{% block page_product_detail_price_block %}
			{#TODO: NEXT-2782 - blockprices (page.product.calculatedPriceRules) #}
		{% endblock %}
	{% else %}
		<meta itemprop="price" content="{{ page.product.price.gross }}">
		<p class="product-detail-price">
			{{ page.product.price.gross|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{{ "general.star"|trans }}
		</p>
		
		{% if page.product.purchaseUnit %}
			{% block page_product_detail_price_unit %}
				<div class="product-detail-price-unit">
					{% block page_product_detail_price_unit_label %}
						<span class="price-unit-label">
                            {{ "detail.priceUnitName"|trans }}
                        </span>
					{% endblock %}

					{% block page_product_detail_price_unit_content %}
						<span class="price-unit-content">
							{{ page.product.purchaseUnit }} {#TODO: NEXT-2781 - add measuring unit (old sArticle.sUnit.description) #}
                        </span>
					{% endblock %}

					{% if page.product.purchaseUnit and page.product.referenceUnit and page.product.purchaseUnit != page.product.referenceUnit %}
						{% block page_product_detail_price_unit_refrence_content %}
							<span class="price-unit-reference-content">
                                {% set referencePrice =  page.product.price.gross * page.product.referenceUnit / page.product.purchaseUnit %}
								({{ referencePrice|localizedcurrency(page.context.currency.shortName, app.request.locale) }}{{ "general.star"|trans }} / {{ page.product.referenceUnit }} {#TODO: NEXT-2781 - add measuring unit (old sArticle.sUnit.description) #})
                            </span>
						{% endblock %}
					{% endif %}
				</div>
			{% endblock %}
		{% endif %}
	{% endif %}
{% endblock %}
