{% block page_product_detail_media_inner %}
    {% set mediaItems = page.product.media.elements %}

    <div class="row product-detail-media-container{% if mediaItems|length == 1 %} is-single-image{% endif %}"
        {% if mediaItems|length > 1 %} data-image-slider="true"{% endif %} data-magnifier="true">
        {% block page_product_detail_media_image_container %}
            <div class="col-xl-10 order-1 order-xl-2 product-detail-media-image-container" data-zoom-modal="true"
                data-product-id="{{ page.product.id }}">
                {% block page_product_detail_media_image %}
                    {% if mediaItems|length > 1 %}
                        {% block page_product_detail_media_image_slider %}
                            <div class="image-slider" data-image-slider-container="true">
                                {% for image in mediaItems %}
                                    {% block page_product_detail_media_image_slider_item %}
                                        <div class="image-slider-item js-magnify-lens-container">
                                            <img src="{{ image.media.url }}"
                                                class="img-fluid image-slider-image magnifier-image js-magnifier-image"
                                                data-full-image="{{ image.media.url }}"
                                                alt="{{ page.product.name }}"/>
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>

                            {% block page_product_detail_media_image_controls %}
                                <ul class="image-slider-controls" data-image-slider-controls="true">
                                    {% block page_product_detail_media_image_controls_items %}
                                        <li class="carousel-control-prev image-slider-controls-prev">
                                            {% block page_product_detail_media_image_controls_items_prev_icon %}
                                                <i class="fas fa-chevron-left"></i>
                                            {% endblock %}
                                        </li>
                                        <li class="carousel-control-next image-slider-controls-next">
                                            {% block page_product_detail_media_image_controls_items_next_icon %}
                                                <i class="fas fa-chevron-right"></i>
                                            {% endblock %}
                                        </li>
                                    {% endblock %}
                                </ul>
                            {% endblock %}
                        {% endblock %}
                    {% else %}
                        {% block page_product_detail_image_container %}
                            <div class="product-detail-image-container js-magnify-lens-container">
                                <img src="{{ mediaItems|first.media.url }}"
                                    class="img-fluid image-slider-image magnifier-image js-magnifier-image"
                                    data-full-image="{{ mediaItems|first.media.url }}"
                                    alt="{{ page.product.name }}"/>
                            </div>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_media_image_thumbnails_container %}
            {% if mediaItems|length > 1 %}
                <div class="col-xl-2 order-2 order-xl-1 image-slider-thumbnails-container">
                    {% block page_product_detail_media_image_thumbnails %}
                        <ul class="image-slider-thumbnails" data-image-slider-thumbnails="true">
                            {% for thumb in mediaItems %}
                                {% block page_product_detail_media_image_thumbnails_item %}
                                    <li class="image-slider-thumbnails-item">
                                        <div class="image-slider-thumbnails-item-inner">
                                            <img src="{{ thumb.media.url }}"
                                                class="image-slider-thumbnails-image"
                                                alt="{{ page.product.name }}"/>
                                        </div>
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
