{% block page_product_detail_media_inner %}
	{% set mediaItems = page.product.media.elements %}

	<div class="product-detail-media-container row"
		{% if mediaItems|length > 1 %} data-detail-media-gallery="true"{% endif %}>
		{% block page_product_detail_media_image_container %}
			<div class="col-xl-10 order-1 order-xl-2 product-detail-media-image-container">
				{% block page_product_detail_media_image %}
					{% if mediaItems|length > 1 %}
						{% block page_product_detail_media_gallery_slider %}
							<div class="gallery-slider" data-gallery-slider="true">
								{% for image in mediaItems %}
									{% block page_product_detail_media_gallery_slider_item %}
										<div class="gallery-slider-item">
											<img src="{{ image.media.url }}"
											     class="gallery-slider-image img-fluid"
											     alt="{{ page.product.name }}"/>
										</div>
									{% endblock %}
								{% endfor %}
							</div>

							{% block page_product_detail_media_gallery_controls %}
								<ul class="gallery-controls" data-gallery-controls="true">
									{% block page_product_detail_media_gallery_controls_items %}
										{# TODO: NEXT-1915 - Icons #}
										<li class="carousel-control-prev gallery-controls-prev">
											&lt;
										</li>
										<li class="carousel-control-next gallery-controls-next">
											&gt;
										</li>
									{% endblock %}
								</ul>
							{% endblock %}
						{% endblock %}
					{% else %}
						{% block page_product_detail_image_container %}
							<div class="product-detail-image-container">
								<img src="{{ mediaItems|first.media.url }}"
								     class="product-detail-image img-fluid"
								     alt="{{ page.product.name }}"/>
							</div>
						{% endblock %}
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_product_detail_media_gallery_thumbnails_container %}
			<div class="col-xl-2 order-2 order-xl-1 gallery-thumbnails-container">
				{% if mediaItems|length > 1 %}
					{% block page_product_detail_media_gallery_thumbnails %}
						<ul class="gallery-thumbnails" data-gallery-thumbnails="true">
							{% for thumb in mediaItems %}
								{% block page_product_detail_media_gallery_thumbnails_item %}
									<li class="gallery-thumbnails-item">
										<img src="{{ thumb.media.url }}"
										     class="gallery-thumbnails-image"
										     alt="{{ page.product.name }}"/>
									</li>
								{% endblock %}
							{% endfor %}
						</ul>
					{% endblock %}
				{% endif %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
