{% set imageCount = page.product.media.elements|length %}

{% block product_detail_zoom_modal %}
    <div class="modal is-fullscreen zoom-modal js-zoom-modal{% if imageCount is same as(1) %} no-thumbnails{% endif %}"
         tabindex="-1"
         role="dialog">
        {% block product_detail_zoom_modal_dialog %}
            <div class="modal-dialog"
                 role="document">
                {% block product_detail_zoom_modal_content %}
                    <div class="modal-content"
                         data-image-slider="true">

                        {% block product_detail_zoom_modal_close_button %}
                            <div class="modal-close close btn btn-light"
                                 data-dismiss="modal"
                                 aria-label="Close">
                                {% block product_detail_zoom_modal_close_button_content %}
                                    <span aria-hidden="true">
                                        {% sw_icon 'x' %}
                                    </span>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block product_detail_zoom_modal_body %}
                            <div class="modal-body">

                                {% block product_detail_zoom_modal_action_buttons %}
                                    <div class="zoom-modal-actions btn-group"
                                         role="group"
                                         aria-label="zoom actions">

                                        {% block product_detail_zoom_modal_action_zoom_out %}
                                            <div class="btn btn-light js-image-zoom-out">
                                                {% block product_detail_zoom_modal_action_zoom_out_icon %}
                                                    {% sw_icon 'minus-circle' %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block product_detail_zoom_modal_action_zoom_reset %}
                                            <div class="btn btn-light js-image-zoom-reset">
                                                {% block product_detail_zoom_modal_action_zoom_reset_icon %}
                                                    {% sw_icon 'screen-minimize' %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block product_detail_zoom_modal_action_zoom_in %}
                                            <div class="btn btn-light js-image-zoom-in">
                                                {% block product_detail_zoom_modal_action_zoom_in_icon %}
                                                    {% sw_icon 'plus-circle' %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                    </div>
                                {% endblock %}

                                {% block product_detail_zoom_modal_image_slider %}
                                    <div class="image-slider"
                                         data-image-slider-container=true>
                                        {% block product_detail_zoom_modal_image_slider_loop %}
                                            {% for image in page.product.media.elements %}
                                                {% block product_detail_zoom_modal_image_slider_item %}
                                                    <div class="image-slider-item">
                                                        {% block product_detail_zoom_modal_image_slider_item_zoom_container %}
                                                            <div class="image-zoom-container"
                                                                 data-image-zoom="true">
                                                                {% block product_detail_zoom_modal_image_slider_item_image %}
                                                                    <img
                                                                        class="image-slider-image js-image-zoom-element"
                                                                        data-max-width="{{ image.media.metaData.type.width }}"
                                                                        data-max-height="{{ image.media.metaData.type.height }}"
                                                                        src="{{ image.media.url }}"
                                                                        alt="">
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            {% endfor %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block product_detail_zoom_modal_image_slider_controls %}
                                    {% if imageCount > 1 %}
                                        <ul class="image-slider-controls"
                                            data-image-slider-controls="true">
                                            {% block product_detail_zoom_modal_image_slider_controls_prev %}
                                                <li class="carousel-control-prev image-slider-controls-prev">
                                                    {% block product_detail_zoom_modal_image_slider_controls_prev_icon %}
                                                        {% sw_icon 'arrow-head-left' %}
                                                    {% endblock %}
                                                </li>
                                            {% endblock %}
                                            {% block product_detail_zoom_modal_image_slider_controls_next %}
                                                <li class="carousel-control-next image-slider-controls-next">
                                                    {% block product_detail_zoom_modal_image_slider_controls_next_icon %}
                                                        {% sw_icon 'arrow-head-right' %}
                                                    {% endblock %}
                                                </li>
                                            {% endblock %}
                                        </ul>
                                    {% endif %}
                                {% endblock %}

                            </div>
                        {% endblock %}


                        {% if imageCount > 1 %}
                            {% block product_detail_zoom_modal_footer %}
                                <div class="modal-footer">
                                    {% block product_detail_zoom_modal_thumbnails %}
                                        <div class="image-slider-thumbnails"
                                             data-image-slider-thumbnails=true>
                                            {% block product_detail_zoom_modal_thumbnails_loop %}
                                                {% for image in page.product.media.elements %}
                                                    {% block product_detail_zoom_modal_thumbnail_item %}
                                                        <div class="image-slider-thumbnails-item">
                                                            {% block product_detail_zoom_modal_thumbnail_item_inner %}
                                                                <div class="image-slider-thumbnails-item-inner">
                                                                    <img src="{{ image.media.url }}"
                                                                         class="image-slider-thumbnails-image"
                                                                         alt="{{ page.product.translated.name }}"/>
                                                                </div>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}
                                                {% endfor %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

