{% block layout_header_actions_currency_widget %}
    {% if position is empty %}
        {% set position = 'top-bar' %}
    {% endif %}

    {% if page.header.currencies.count > 1 %}
        <div class="top-bar-nav-item top-bar-currency">
            {% block layout_header_actions_currency_widget_form %}
                <form method="post"
                      action="{{ path('frontend.checkout.configure') }}"
                      class="currency-form"
                      data-form-auto-submit="true">
                    {% block layout_header_actions_currency_widget_content %}
                        <div class="currencies-menu dropdown">
                            {% block layout_header_actions_currency_widget_dropdown_toggle %}
                                <button class="btn dropdown-toggle top-bar-nav-btn"
                                        type="button"
                                        id="currenciesDropdown-{{ position }}"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        aria-label="{{ 'header.currencyTrigger'|trans({ '%currency%': page.header.activeCurrency.translated.name })|striptags }}">
                                    {% block layout_header_actions_currency_widget_dropdown_toggle_name %}
                                        <span aria-hidden="true">{{ page.header.activeCurrency.symbol }}</span>
                                        {# @deprecated tag:v6.7.0 - Toggling the text display will use Bootstrap helper classes instead of custom CSS. #}
                                        <span class="top-bar-nav-text{% if feature('ACCESSIBILITY_TWEAKS') %} d-none d-md-inline{% endif %}">{{ page.header.activeCurrency.translated.name }}</span>
                                    {% endblock %}
                                </button>
                            {% endblock %}

                            {% block layout_header_actions_currency_widget_form_items %}
                                <ul class="top-bar-list dropdown-menu dropdown-menu-end"
                                    aria-label="{{ 'header.currencyList'|trans|striptags }}">
                                    {% for currency in page.header.currencies %}
                                        {% set isActiveCurrency = currency.id is same as(page.header.activeCurrency.id) %}

                                        {% block layout_header_actions_currency_widget_form_items_element %}
                                            {# @deprecated tag:v6.7.0 - `dropdown-item` class will be on the button as docuented by Bootstrap: https://getbootstrap.com/docs/5.3/components/dropdowns/#menu-items #}
                                            {# @deprecated tag:v6.7.0 - `item-checked` class will be removed. Bootstrap class `active` will be used instead. #}
                                            <li class="top-bar-list-item{% if not feature('ACCESSIBILITY_TWEAKS') %} dropdown-item{% endif %}{% if isActiveCurrency %} item-checked{% endif %}">
                                                {% block layout_header_actions_currency_widget_form_items_element_label %}
                                                    {# @deprecated tag:v6.7.0 - Dropdown items will be buttons instead of radio inputs to imrpove accessibility #}
                                                    {% if feature('ACCESSIBILITY_TWEAKS') %}
                                                        <button class="dropdown-item d-flex gap-1{% if isActiveCurrency %} active{% endif %}" type="submit" name="currencyId" id="{{ position }}-{{ currency.id }}" value="{{ currency.id }}">
                                                            <span aria-hidden="true" class="top-bar-list-item-currency-symbol">{{ currency.symbol }}</span>
                                                            {{ currency.translated.name }}
                                                        </button>
                                                    {% else %}
                                                        <label class="top-bar-list-label"
                                                               for="{{ position }}-{{ currency.id }}">
                                                            {# @deprecated tag:v6.7.0 - block `layout_header_actions_currency_widget_form_items_element_input` will be removed. Use parent block `layout_header_actions_currency_widget_form_items_element_label` instead. #}
                                                            {% block layout_header_actions_currency_widget_form_items_element_input %}
                                                                <input class="top-bar-list-radio"
                                                                       id="{{ position }}-{{ currency.id }}"
                                                                       value="{{ currency.id }}"
                                                                       name="currencyId"
                                                                       type="radio"
                                                                        {% if isActiveCurrency %} checked{% endif %}>
                                                                <span class="aria-hidden">{{ currency.symbol }}</span> {{ currency.translated.shortName }}
                                                            {% endblock %}
                                                        </label>
                                                    {% endif %}
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}

                            {% block layout_header_actions_currency_widget_form_redirect %}
                                <input name="redirectTo"
                                       type="hidden"
                                       value="{{ app.request.get('_route') }}">

                                {% for key, value in app.request.attributes.get('_route_params') %}
                                    <input name="redirectParameters[{{ key }}]"
                                           type="hidden"
                                           value="{{ value }}">
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
