<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_detail_general %}
<div class="sw-order-detail-general">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_detail_general_info_card %}
    <sw-card
        class="sw-order-detail-base__general-info"
        position-identifier="sw-order-detail-general-info"
        :title="$tc('sw-order.detailBase.cardTitleGeneralInfo')"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_detail_general_info %}
        <sw-order-general-info
            ref="swOrderGeneralInfo"
            :order="order"
            @save-edits="onSaveEdits"
        />
        {% endblock %}
    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_detail_general_line_items_card %}
    <sw-card
        class="sw-order-detail-general__line-item-grid-card"
        position-identifier="sw-order-detail-general-line-items"
        :title="$tc('sw-order.detailBase.cardTitleLineItems')"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_detail_general_line_items_card_rows %}
        <template #grid>
            <sw-container type="row">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_detail_general_line_items_grid %}
                <sw-order-line-items-grid
                    ref="sw-order-line-item-grid"
                    :order="order"
                    :context="versionContext"
                    :editable="acl.can('order.editor')"
                    @item-delete="recalculateAndReload"
                    @item-edit="recalculateAndReload"
                    @existing-item-edit="saveAndRecalculate"
                    @item-cancel="recalculateAndReload"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_detail_general_line_items_summary %}
                <sw-card-section
                    divider="top"
                    slim
                >
                    <sw-description-list
                        class="sw-order-detail__summary"
                        grid="1fr 1fr"
                    >

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_entries %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_amount %}
                        <dt>{{ $tc('sw-order.detailBase.summaryLabelAmount') }}</dt>
                        <dd>{{ order.positionPrice | currency(currency.translated.shortName, order.totalRounding.decimals) }}</dd>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_shipping_cost %}
                        <template v-if="delivery">
                            <dt>{{ $tc('sw-order.detailBase.summaryLabelShippingCosts') }}</dt>
                            <dd>
                                <sw-order-saveable-field
                                    v-tooltip="{
                                        showDelay: 300,
                                        message: shippingCostsDetail,
                                        disabled: taxStatus === 'tax-free'
                                    }"
                                    type="number"
                                    :editable="acl.can('order.editor')"
                                    :value="delivery.shippingCosts.totalPrice"
                                    @value-change="onShippingChargeEdited"
                                >
                                    {{ delivery.shippingCosts.totalPrice | currency(currency.translated.shortName, order.totalRounding.decimals) }}
                                </sw-order-saveable-field>
                            </dd>
                        </template>

                        <template v-for="(delivery, index) in deliveryDiscounts">
                            <dt :key="`delivery-discount-dt-${index}`">
                                {{ $tc('sw-order.detailBase.discountLabelShippingCosts') }}
                            </dt>
                            <dd :key="`delivery-discount-dd-${index}`">
                                {{ delivery.shippingCosts.totalPrice | currency(currency.translated.shortName, order.totalRounding.decimals) }}
                            </dd>
                        </template>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_amount_without_tax %}
                        <template v-if="taxStatus !== 'tax-free'">
                            <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmountWithoutTaxes') }}</strong></dt>
                            <dd><strong>{{ order.amountNet | currency(currency.translated.shortName, order.totalRounding.decimals) }}</strong></dd>
                        </template>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_taxes %}
                        <template v-if="taxStatus !== 'tax-free'">
                            <template v-for="(calculatedTax, index) in sortedCalculatedTaxes">
                                <dt :key="`sorted-calculated-taxes-dt-${index}`">
                                    {{ $tc('sw-order.detailBase.summaryLabelTaxes', 1, { taxRate: calculatedTax.taxRate }) }}
                                </dt>
                                <dd :key="`sorted-calculated-taxes-dd-${index}`">
                                    {{ calculatedTax.tax | currency(currency.translated.shortName, order.totalRounding.decimals) }}
                                </dd>
                            </template>
                        </template>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_amount_total %}
                        <template v-if="taxStatus !== 'tax-free'">
                            <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmountTotal') }}</strong></dt>
                            <dd><strong>{{ orderTotal | currency(currency.shortName, order.totalRounding.decimals) }}</strong></dd>
                            <template v-if="displayRounded">
                                <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmountTotalRounded') }}</strong></dt>
                                <dd><strong>{{ order.price.totalPrice | currency(currency.shortName, order.totalRounding.decimals) }}</strong></dd>
                            </template>
                        </template>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_detail_general_line_items_summary_amount_free_tax %}
                        <template v-if="taxStatus === 'tax-free'">
                            <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmount') }}</strong></dt>
                            <dd><strong>{{ order.price.totalPrice | currency(currency.translated.shortName, order.totalRounding.decimals) }}</strong></dd>
                        </template>
                        {% endblock %}
                    {% endblock %}
                    </sw-description-list>
                </sw-card-section>
                {% endblock %}
            </sw-container>
        </template>
        {% endblock %}
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
