{#{namespace name="frontend/detail/description"}#}

{# Offcanvas buttons #}
{% block frontend_detail_description_buttons_offcanvas %}
    <div class="buttons--off-canvas">
        {% block frontend_detail_description_buttons_offcanvas_inner %}
            <a href="#" title="{% trans from 'frontend/detail/description' %}OffcanvasCloseMenu{% endtrans %}" class="close--off-canvas">
                <i class="icon--arrow-left"></i>
                {% trans from 'frontend/detail/description' %}OffcanvasCloseMenu{% endtrans %}
            </a>
        {% endblock %}
    </div>
{% endblock %}

{% block frontend_detail_description %}
<div class="content--description">
    {# @var product \Shopware\StorefrontApi\Product\ProductDetailStruct #}

    {# Headline #}
    {% block frontend_detail_description_title %}
        <div class="content--title">
            {% trans from 'frontend/detail/description' %}DetailDescriptionHeader{% endtrans %} "{{ product.name }}"
        </div>
    {% endblock %}

    {# Product description #}
    {% block frontend_detail_description_text %}

        <div class="product--description" itemprop="description">
            {{ product.descriptionLong | raw }}
        </div>
    {% endblock %}

    {# Properties #}
    {% block frontend_detail_description_properties %}
        {% if product.datasheet.count > 0 %}
            <div class="product--properties panel has--border">
                <table class="product--properties-table">

                    {% set grouped = product.datasheet.groupByConfigurationGroups %}

                    {# @var group \Shopware\Api\Configuration\Struct\ConfigurationGroupDetailStruct #}
                    {% for group in grouped %}
                        <tr class="product--properties-row">
                            {# Property label #}
                            {% block frontend_detail_description_properties_label %}
                                <td class="product--properties-label is--bold">{{ group.name|escape }}:</td>
                            {% endblock %}

                            {% set names = [] %}
                            {% for option in group.options %}
                                {% set names = names|merge([option.name]) %}
                            {% endfor %}

                            {# Property content #}
                            {% block frontend_detail_description_properties_content %}
                                <td class="product--properties-value">{{ names|join(', ') }}</td>
                            {% endblock %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endblock %}

    {# Product - Further links #}
    {% block frontend_detail_description_links %}
        {# Further links title #}
        {% block frontend_detail_description_links_title %}
            <div class="content--title">
                {% trans from 'frontend/detail/description' %}ArticleTipMoreInformation{% endtrans %} "{{ product.name }}"
            </div>
        {% endblock %}
    {% endblock %}
</div>
{% endblock %}
