{% block layout_header_logo_inner %}
    <div class="header-logo-main">
        {% block layout_header_logo_link %}
            <a class="header-logo-main-link"
               href="{{ path('frontend.home.page') }}"
               title="{{ "header.logoLink"|trans|striptags }}">
                {% block layout_header_logo_image %}
                    <picture class="header-logo-picture">
                            {% block layout_header_logo_image_tablet %}
                            {% if theme_config('sw-logo-tablet') and theme_config('sw-logo-tablet') != theme_config('sw-logo-desktop') %}
                                <source srcset="{{ theme_config('sw-logo-tablet') |sw_encode_url }}"
                                        media="(min-width: {{ theme_config('breakpoint.md') }}px) and (max-width: {{ theme_config('breakpoint.lg') - 1 }}px)">
                            {% endif %}
                        {% endblock %}

                        {% block layout_header_logo_image_mobile %}
                            {% if theme_config('sw-logo-mobile') and theme_config('sw-logo-mobile') != theme_config('sw-logo-desktop') %}
                                <source srcset="{{ theme_config('sw-logo-mobile') |sw_encode_url }}"
                                        media="(max-width: {{ theme_config('breakpoint.md') - 1 }}px)">
                            {% endif %}
                        {% endblock %}

                        {% block layout_header_logo_image_default %}
                            {% if theme_config('sw-logo-desktop') %}
                                <img src="{{ theme_config('sw-logo-desktop') |sw_encode_url }}"
                                     alt="{{ "header.logoLink"|trans|striptags }}"
                                     class="img-fluid header-logo-main-img"/>
                            {% endif %}
                        {% endblock %}
                    </picture>
                {% endblock %}
            </a>
        {% endblock %}
    </div>
{% endblock %}
