{% block sw_select %}
    <div class="sw-select"
         :class="selectClasses"
         tabindex="0"
         ref="swSelect"
         @click="setFocus"
         @focus="setFocus"
         @keyup.esc="closeResultList"
         @keyup.enter.prevent="onKeyUpEnter"
         @keydown.up.prevent="navigateUpResults"
         @keydown.down.prevent="navigateDownResults">

        {% block sw_select_label %}
            <label v-if="getInlineSnippet(label)" :for="selectId" class="sw-select__label">
                {{ getInlineSnippet(label) }}
            </label>
        {% endblock %}

        <slot></slot>

        {% block sw_select_inner %}
            <div class="sw-select__inner">

                {% block sw_select_multi_selections %}
                    <template v-if="multi">
                        <ul class="sw-select__selections">
                            <li :class="{ 'is--default': (selection.id === defaultItemId), 'is--clickAble': (defaultItemId) }"
                                v-for="selection in selections"
                                :key="selection.id"
                                :data-id="selection.id">
                                {% block sw_select_selection_item %}
                                    <sw-label dismissAble
                                              @selected="changeDefaultItemId(selection.id)"
                                              @dismiss="onDismissSelection(selection.id)">
                                        <template>
                                            {% block sw_select_selection_item_text %}
                                                <span class="sw-select__selection-item">
                                                    <slot name="displayName" :item="selection">
                                                        {{ getInlineSnippet(selection.meta.viewData[displayName]) }}
                                                    </slot>
                                                </span>
                                            {% endblock %}
                                        </template>
                                        <template slot="dismiss-icon">
                                            <sw-icon name="small-default-x-line-medium"
                                                     :class="{ 'sw-select__item-is--default': (selection.id === defaultItemId) }">
                                            </sw-icon>
                                        </template>
                                    </sw-label>
                                {% endblock %}
                            </li>

                            {% block sw_select_list_item_input %}
                                <li class="sw-select__selection-item-input" key="listInput">
                                    {% block sw_select_input %}
                                        <input ref="swSelectInput"
                                               class="sw-select__input"
                                               type="text"
                                               :placeholder="getInlineSnippet(placeholder)"
                                               v-model="searchTerm"
                                               @input="onSearchTermChange"
                                               @focus="openResultList"
                                               @keydown.delete="dismissLastSelection">
                                    {% endblock %}
                                </li>
                            {% endblock %}
                        </ul>
                    </template>
                {% endblock %}

                {% block sw_select_single_selection %}
                    <template v-else>
                        <div class="sw-select__single-selection">
                            {% block sw_select_single_selection_inner %}
                                <slot v-if="Object.keys(singleSelection).length > 0"
                                      name="selected_option" :item="singleSelection">
                                    {% block sw_select_single_selection_slot_label %}
                                        <slot name="displayName" :item="singleSelection">
                                            {{ getInlineSnippet(singleSelection.meta.viewData[displayName]) }}
                                        </slot>
                                    {% endblock %}
                                </slot>

                                <span v-else-if="!isExpanded"
                                      class="sw-select__placeholder">
                                    {{ getInlineSnippet(placeholder) }}
                                </span>
                            {% endblock %}
                        </div>
                    </template>
                {% endblock %}

                {% block sw_select_indicators %}
                    <div class="sw-select__indicators">
                        {% block sw_select__indicators_loader %}
                            <sw-loader class="sw-select__indicator" v-if="isLoading || isLoadingSelections" size="16px"></sw-loader>
                        {% endblock %}

                        {% block sw_select_indicators_dismiss %}
                            <sw-icon v-if="!required && !multi"
                                     class="sw-select__indicator sw-select__indicator--button"
                                     name="small-default-x-line-small"
                                     @click="onClickIndicatorDismiss"
                                     small>
                            </sw-icon>
                        {% endblock %}

                        {% block sw_select_indicators_helptext %}
                            <sw-help-text v-if="getInlineSnippet(helpText)"
                                          class="sw-select__indicator"
                                          :text="getInlineSnippet(helpText)">
                            </sw-help-text>
                        {% endblock %}

                        {% block sw_select_indicators_arrow %}
                            <sw-icon v-if="!multi"
                                     class="sw-select__indicator sw-select__indicator-button"
                                     name="small-arrow-medium-down"
                                     small>
                            </sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_select_results_transition %}
                    <transition name="sw-select-fade-down">
                        {% block sw_select_results %}
                            <div class="sw-select__results" v-if="isExpanded">
                                {% block sw_select_results_single_input %}
                                    <div v-if="!multi && showSearch"
                                         class="sw-select__input-single-wrapper">
                                        <input ref="swSelectInput"
                                               class="sw-select__input-single"
                                               type="text"
                                               :placeholder="getInlineSnippet(placeholder)"
                                               v-model="searchTerm"
                                               @input="onSearchTermChange">
                                        <sw-icon name="small-search" small></sw-icon>
                                    </div>
                                {% endblock %}


                                {% block sw_select_results_list %}
                                    <ul class="sw-select__results-list">
                                         {% block sw_select_result_item %}
                                             <template v-for="(item, index) in results">
                                                 <slot name="result_items" :item="item" :index="index">
                                                     {% block sw_select_result_item_slot %}
                                                         <sw-select-option
                                                            :index="index"
                                                            :item="item">
                                                             <slot name="displayName" :item="item">
                                                                 {{ getInlineSnippet(item.meta.viewData[displayName]) }}
                                                             </slot>
                                                         </sw-select-option>
                                                     {% endblock %}
                                                 </slot>
                                             </template>
                                        {% endblock %}
                                    </ul>
                                {% endblock %}

                                {% block sw_select_results_empty %}
                                    <div v-if="results.length <= 0 && !isLoading" class="sw-select__results-empty-message">
                                        {% block sw_select_results_empty_icon %}
                                            <sw-icon name="default-action-search" size="20px"></sw-icon>
                                        {% endblock %}

                                        {% block sw_select_results_empty_text %}
                                            {{ $tc('global.sw-select.messageNoResults', searchTerm, { term: searchTerm }) }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
