{% block sw_select %}
    <div class="sw-select"
         :class="selectClasses"
         tabindex="0"
         ref="swSelect"
         @click="setFocus"
         @focus="setFocus"
         @keyup.esc="closeResultList"
         @keyup.enter.prevent="onKeyUpEnter"
         @keydown.up.prevent="navigateUpResults"
         @keydown.down.prevent="navigateDownResults">

        {% block sw_select_label %}
            <label v-if="label" :for="selectId" class="sw-select__label">
                {{ label }}{{ required ? '*' : '' }}
            </label>
        {% endblock %}

        <slot></slot>

        {% block sw_select_inner %}
            <div class="sw-select__inner">

                {% block sw_select_multi_selections %}
                    <template v-if="multi">
                        <ul class="sw-select__selections">
                            <li class="sw-select__selection-item-holder"
                                :class="['sw-select__selection--' + index, { 'is--default': (selection.id === defaultItemId), 'is--clickAble': (defaultItemId)}]"
                                v-if="hasPreview"
                                v-for="(selection, index) in selections"
                                :key="selection.id"
                                :data-id="selection.id">
                                {% block sw_select_selection_item %}
                                    <sw-label size="medium"
                                              @selected="changeDefaultItemId(selection.id)"
                                              @dismiss="onDismissSelection(selection[itemValueKey])">
                                        <template>
                                            {% block sw_select_selection_item_text %}
                                                <span class="sw-select__selection-item">
                                                    <slot name="displayName" :item="selection">
                                                        <span v-if="selection.translated && selection.translated.hasOwnProperty(displayName)">
                                                            {{ selection.translated[displayName] }}
                                                        </span>
                                                        <span v-else>
                                                            {{ selection[displayName] }}
                                                        </span>
                                                    </slot>
                                                </span>
                                            {% endblock %}
                                        </template>
                                        <template slot="dismiss-icon">
                                            <sw-icon name="small-default-x-line-medium"
                                                     :class="{ 'sw-select__item-is--default': (selection.id === defaultItemId) }">
                                            </sw-icon>
                                        </template>
                                    </sw-label>
                                {% endblock %}
                            </li>

                            {% block sw_select_selection_load_more_item %}
                                <li class="sw-select__load-more-list-item is--clickAble">
                                    {% block sw_select_selection_load_more_item_button %}
                                        <sw-button v-if="nextPreviewLoadStep > 0"
                                                   class="sw-select__load-more-list-item-button"
                                                   :size="size"
                                                   @click="onPreviewLoadMore">
                                            +{{ nextPreviewLoadStep }}
                                        </sw-button>
                                    {% endblock %}
                                </li>
                            {% endblock %}

                            {% block sw_select_list_item_input %}
                                <li class="sw-select__selection-item-input" key="listInput">
                                    {% block sw_select_input %}
                                        <input ref="swSelectInput"
                                               class="sw-select__input"
                                               type="text"
                                               :placeholder="placeholder"
                                               :size="size"
                                               v-model="searchTerm"
                                               @input="onSearchTermChange"
                                               @focus="openResultList"
                                               @keydown.delete="dismissLastSelection">
                                    {% endblock %}
                                </li>
                            {% endblock %}
                        </ul>
                    </template>
                {% endblock %}

                {% block sw_select_single_selection %}
                    <template v-else>
                        <div class="sw-select__single-selection">
                            {% block sw_select_single_selection_inner %}
                                <slot v-if="Object.keys(singleSelection).length > 0"
                                      name="selected_option" :item="singleSelection">
                                    {% block sw_select_single_selection_slot_label %}
                                        <slot name="displayName" :item="singleSelection">
                                            <span v-if="singleSelection.translated && singleSelection.translated.hasOwnProperty(displayName)"
                                                  key="sw-select-single-selection">
                                                {{ singleSelection.translated[displayName] }}
                                            </span>
                                            <span v-else
                                                  key="sw-select-single-selection">
                                                {{ singleSelection[displayName] }}
                                            </span>
                                        </slot>
                                    {% endblock %}
                                </slot>

                                <span v-else-if="!isExpanded"
                                      class="sw-select__placeholder">
                                    {{ placeholder }}
                                </span>
                            {% endblock %}
                        </div>
                    </template>
                {% endblock %}

                {% block sw_select_indicators %}
                    <div class="sw-select__indicators">
                        {% block sw_select__indicators_loader %}
                            <sw-loader class="sw-select__indicator" v-if="isLoading || isLoadingSelections" size="16px"></sw-loader>
                        {% endblock %}

                        {% block sw_select_indicators_dismiss %}
                            <sw-icon v-if="!required && !multi"
                                     class="sw-select__indicator sw-select__indicator--button"
                                     name="small-default-x-line-small"
                                     @click="onClickIndicatorDismiss"
                                     small>
                            </sw-icon>
                        {% endblock %}

                        {% block sw_select_indicators_helptext %}
                            <sw-help-text v-if="helpText"
                                          class="sw-select__indicator"
                                          :text="helpText">
                            </sw-help-text>
                        {% endblock %}

                        {% block sw_select_indicators_arrow %}
                            <sw-icon v-if="!multi"
                                     class="sw-select__indicator sw-select__indicator-button"
                                     name="small-arrow-medium-down"
                                     small>
                            </sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_select_results_transition %}
                    <transition name="sw-select-fade-down">
                        {% block sw_select_results %}
                            <div @scroll="onScroll" class="sw-select__results" v-if="isExpanded">
                                {% block sw_select_results_single_input %}
                                    <div v-if="!multi && showSearch"
                                         class="sw-select__input-single-wrapper">
                                        <input ref="swSelectInput"
                                               class="sw-select__input-single"
                                               type="text"
                                               :placeholder="placeholder"
                                               v-model="searchTerm"
                                               @input="onSearchTermChange">
                                        <sw-icon name="small-search" small></sw-icon>
                                    </div>
                                {% endblock %}

                                {% block sw_select_results_list %}
                                    <ul class="sw-select__results-list">
                                        {% block sw_select_result_item %}
                                           {% block sw_select_result_item_list_before %}
                                               <slot name="sw_select_list_before"></slot>
                                           {% endblock %}

                                            {% block sw_select_result_item_list %}
                                             <template v-for="(item, index) in results">
                                                 <slot name="result_items" :item="item" :index="index">
                                                     {% block sw_select_result_item_slot %}
                                                         <sw-select-option ref="swSelectOption"
                                                                           :index="index"
                                                                           :item="item">
                                                            <slot name="displayName" :item="item">
                                                                <span v-if="item.translated && item.translated.hasOwnProperty(displayName)"
                                                                      v-html="$sanitize(item.translated[displayName])">
                                                                </span>
                                                                <span v-else v-html="$sanitize(item[displayName])">
                                                                </span>
                                                            </slot>
                                                         </sw-select-option>
                                                     {% endblock %}
                                                 </slot>
                                             </template>
                                            {% endblock %}

                                            {% block sw_select_result_item_list_after %}
                                                <slot name="sw_select_list_after"></slot>
                                            {% endblock %}
                                        {% endblock %}
                                    </ul>

                                {% endblock %}

                                {% block sw_select_results_empty %}
                                    <div v-if="results.length <= 0 && !isLoading" class="sw-select__results-empty-message">
                                        {% block sw_select_results_empty_icon %}
                                            <sw-icon name="default-action-search" size="20px"></sw-icon>
                                        {% endblock %}

                                        {% block sw_select_results_empty_text %}
                                            {{ $tc('global.sw-select.messageNoResults', searchTerm, { term: searchTerm }) }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_select_error %}
            <sw-field-error :error="$attrs.error"></sw-field-error>
        {% endblock %}
    </div>
{% endblock %}
