{% block element_product_listing %}
    {# @var result \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
    {% set searchResult = element.data.listing %}
    {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}

    {% if section and section.type == 'sidebar' %}
        {% set listingColumns = 'col-sm-6 col-lg-6 col-xl-4' %}
    {% endif %}

    <div class="cms-element-{{ element.type }}">
        {% block element_product_listing_row %}
            <div class="row cms-listing-row js-listing-wrapper">
                {% block element_product_listing_col %}
                    {% for product in searchResult %}
                        <div class="cms-listing-col {{ listingColumns }}">
                            {% block element_product_listing_box %}
                                {% sw_include '@Storefront/component/product/card/box.html.twig' with {
                                    'layout': element.translated.config.boxLayout.value,
                                    'displayMode': element.translated.config.displayMode.value
                                } %}
                            {% endblock %}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block element_product_listing_pagination_bottom %}
            {% if searchResult|length > 0 %}
                {# @var criteria \Shopware\Core\Framework\DataAbstractionLayer\Search\Criteria #}
                {% set criteria = searchResult.criteria %}
                {% set totalPages = (searchResult.total / criteria.limit)|round(0, 'ceil') %}

                {% if totalPages > 1 %}
                    {% block element_product_listing_pagination_form %}
                        <form class="pagination-form"
                              action="/"
                              method="post"
                              data-cms-slot-reload="true"
                              data-cms-slot-reload-options='{
                                    "updateHistory": true,
                                    "navigationId": "{{ page.header.navigation.active.id }}",
                                    "elements": {
                                        "{{ element.id }}": [
                                            ".js-listing-wrapper",
                                            ".js-pagination-wrapper"
                                        ]
                                    },
                                    "events": [
                                        "change",
                                        "submit"
                                    ],
                                    "hiddenParams": [
                                        "no-aggregations"
                                    ]
                              }'>
                            {% block element_product_listing_pagination_wrapper %}
                                <div class="pagination-wrapper js-pagination-wrapper">
                                    {% block element_product_listing_pagination_hidden_inputs %}
                                        {% block element_product_listing_pagination_hidden_input_limit %}
                                            <input type="hidden"
                                                   name="limit"
                                                   value="{{ criteria.limit }}">
                                        {% endblock %}

                                        {% block element_product_listing_pagination_hidden_input_aggregation %}
                                            <input type="hidden"
                                                   name="no-aggregations"
                                                   value="true">
                                        {% endblock %}
                                    {% endblock %}

                                    {% block element_product_listing_pagination_nav %}
                                        {% sw_include '@Storefront/component/pagination.html.twig' %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
