{% block element_image %}
    <div class="cms-element-{{ element.type }}">
        {% block element_image_inner %}
            {% set imageElement %}
                {% block element_image_container %}
                    {% if element.data.media.url %}
                        <div class="cms-image-container is-{{ element.translated.config.displayMode.value }}"
                            {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                            {% block element_image_media %}
                                <img class="cms-image"
                                     {% if element.translated.config.displayMode.value == 'cover' %}
                                         data-object-fit="cover"
                                     {% endif %}
                                     src="{{ element.data.media.url }}"
                                     alt="{{ element.data.media.alt }}">
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endset %}

            {% if element.translated.config.url.value %}
                <a href="{{ element.translated.config.url.value }}"
                   class="cms-image-link"
                   {% if element.translated.config.newTab.value %}target="_blank"{% endif %}>
                    {{ imageElement }}
                </a>
            {% else %}
                {{ imageElement }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
