{% block element_image %}
    <div class="cms-element-{{ element.type }} display-{{ element.config.displayMode.value }}">
        {% block element_image_inner %}
            {% set imageElement %}
                {% block page_content_element_image_media %}
                    <img class="img-fluid cms-image"
                         src="{{ asset(element.data.media.url) }}"
                         alt="{{ element.data.media.alt }}">
                {% endblock %}
            {% endset %}

            {% if element.config.url.value %}
                <a href="{{ element.config.url.value }}"
                   class="image-link"
                   {% if element.config.newTab.value %}target="_blank"{% endif %}>
                    {{ imageElement }}
                </a>
            {% else %}
                {{ imageElement }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
