{% block element_image %}
    <div class="cms-element-{{ element.type }} display-{{ element.config.displayMode.value }}">
        {% block page_content_element_image_media %}
            {% if element.data.media.mediaType.name == 'IMAGE' %}
                <img class="img-fluid cms-image"
                     src="{{ asset(element.data.media.url) }}"
                     alt="{{ element.data.media.alt }}">
            {% elseif element.data.media.mediaType.name == 'VIDEO' %}
                <video class="cms-video"
                       height="auto"
                       width="100%"
                       controls
                       autoplay
                       muted>
                    <source src="{{ (element.data.media.url) }}"
                            type="{{ element.data.media.mimeType }}">
                </video>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
