{% set useDefaultCookieConsent = config('core.basicInformation.useDefaultCookieConsent') == true %}
{% if useDefaultCookieConsent %}
    {% block layout_cookie_permission_inner %}
        {% set acceptAllCookies = config('core.basicInformation.acceptAllCookies') %}
        <div
            class="cookie-permission-container"
            data-cookie-permission="true"
            role="region"
            aria-label="{{ 'cookie.headline'|trans|sw_sanitize }}">
            <div class="container">
                <div class="row align-items-center">
                    {% block layout_cookie_permission_inner_content %}
                        <div class="col cookie-permission-content">
                            {{ 'cookie.messageText'|trans({
                                '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                            })|raw }}
                        </div>
                    {% endblock %}

                    {% block layout_cookie_permission_inner_button %}
                        <div class="col-12 col-md-auto d-flex justify-content-center flex-wrap cookie-permission-actions pe-2">
                            {% block layout_cookie_permission_inner_button_deny %}
                                <span class="cookie-permission-button js-cookie-permission-button">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'cookie.deny'|trans|sw_sanitize }}
                                    </button>
                                </span>
                            {% endblock %}

                            {% block layout_cookie_permission_inner_button_configuration %}
                                <span class="js-cookie-configuration-button">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'cookie.configure'|trans|sw_sanitize }}
                                    </button>
                                </span>
                            {% endblock %}

                            {% if acceptAllCookies %}
                                {% block layout_cookie_permission_inner_button_accept_all %}
                                    <span class="js-cookie-accept-all-button">
                                        <button
                                            type="submit"
                                            class="btn btn-primary">
                                            {{ 'cookie.acceptAll'|trans|sw_sanitize }}
                                        </button>
                                    </span>
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
