{% if child.cookie is not empty and child.hidden is not same as(true) %}
    {% set cookie = child.cookie %}
    <div class="offcanvas-cookie-entry form-check">
        <input
            type="checkbox"
            class="form-check-input"
            id="cookie_{{ cookie }}"
            {% if isRequired %}
                checked="checked"
                disabled="disabled"
                data-cookie-required="true"
            {% endif %}
            {% if cookie %}
                data-cookie="{{ cookie }}"
            {% endif %}
            {% if child.value %}
                data-cookie-value="{{ child.value }}"
            {% endif %}
            {% if child.expiration %}
                data-cookie-expiration="{{ child.expiration }}"
            {% endif %}>
        <label
            for="cookie_{{ cookie }}"
            class="custom-control-label">
            {{ child.snippet_name ? child.snippet_name|trans|sw_sanitize : cookie }}
        </label>


        {% if child.snippet_description %}
            <p>{{ child.snippet_description|trans|sw_sanitize }}</p>
        {% endif %}
    </div>
{% endif %}
