{% block page_account_overview_addresses %}
    <div class="row js-account-overview-addresses">
        {% block page_account_overview_addresses_inner %}
            {% block page_account_overview_billing_address %}
                <div class="col-lg-6 card-col account-overview-card overview-billing-address">
                    {% block page_account_overview_billing_address_card %}
                        <div class="card">
                            <div class="card-body">
                                {% block page_account_overview_billing_address_title %}
                                    <h2 class="card-title">
                                        {{ "account.overviewBillingHeader"|trans|sw_sanitize }}
                                    </h2>
                                {% endblock %}

                                {% block page_account_overview_billing_address_content %}
                                    {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {'address': context.customer.defaultBillingAddress} %}
                                {% endblock %}

                                {% block page_account_overview_billing_address_actions %}
                                    <div class="card-actions">
                                        {% set addressEditorOptions = {
                                            changeBilling: true
                                        } %}

                                        {% block page_account_overview_billing_address_actions_link %}
                                            <a href="{{ path('frontend.account.address.edit.page', {'addressId': context.customer.defaultBillingAddress.id}) }}"
                                               title="{{ "account.overviewChangeBilling"|trans|striptags }}"
                                               class="btn btn-light"
                                               data-address-editor="true"
                                               data-address-editor-options='{{ addressEditorOptions|json_encode }}'>
                                                {{ "account.overviewChangeBilling"|trans|sw_sanitize }}
                                            </a>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_overview_shipping_address %}
                <div class="col-lg-6 card-col account-overview-card overview-shipping-address">
                    {% block page_account_overview_shipping_address_card %}
                        <div class="card">
                            <div class="card-body">
                                {% block page_account_overview_shipping_address_title %}
                                    <h2 class="card-title">
                                        {{ "account.overviewShippingHeader"|trans|sw_sanitize }}
                                    </h2>
                                {% endblock %}

                                {% block page_account_overview_shipping_address_content %}
                                    {% if context.customer.defaultBillingAddress.id is same as(context.customer.defaultShippingAddress.id) %}
                                        <p>{{ "account.overviewAddressEqual"|trans|sw_sanitize }}</p>
                                    {% else %}
                                        {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {'address': context.customer.defaultShippingAddress} %}
                                    {% endif %}
                                {% endblock %}

                                {% block page_account_overview_shipping_address_actions %}
                                    <div class="card-actions">
                                        {% set addressEditorOptions = {
                                            changeShipping: true,
                                        } %}

                                        {% block page_account_overview_shipping_address_actions_link %}
                                            <a href="{{ path('frontend.account.address.edit.page', {'addressId': context.customer.defaultShippingAddress.id}) }}"
                                               title="{{ "account.overviewChangeShipping"|trans|striptags }}"
                                               class="btn btn-light"
                                               data-address-editor="true"
                                               data-address-editor-options='{{ addressEditorOptions|json_encode }}'>
                                                {{ "account.overviewChangeShipping"|trans|sw_sanitize }}
                                            </a>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
