<sw-card title="Bestellungsinformationen" description="Bestellungs-Informationen für Bestellung">

    <div class="split--container">
        <div class="container--item">
            <sw-field label="Customer" id="customer" type="select" name="customer" placeholder="The customer" v-model="order.customerUuid">
                <option v-for="customer in customers" :value="customer.uuid">{{ customer.firstName }} {{ customer.lastName }}</option>
            </sw-field>
        </div>
        <div class="container--item">
            <sw-field label="Shop" id="shopUuid" type="select" name="shopUuid" v-model="order.shopUuid">
                <option v-for="shop in shops" :value="shop.uuid">{{ shop.name }}</option>
            </sw-field>
        </div>
    </div>

    <div class="split--container">
        <div class="container--item">
            <sw-field label="Order date" id="orderDate" type="datetime" name="orderDate" v-model="order.date"></sw-field>
        </div>
        <div class="container--item">
            <sw-field label="Order state" id="stateUuid" type="select" name="stateUuid" v-model="order.stateUuid">
                <option v-for="orderState in orderStates" :value="orderState.uuid">{{ orderState.description }}</option>
            </sw-field>
        </div>
    </div>

    <div class="split--container">
        <div class="container--item">
            <sw-field label="Payment method" id="paymentMethod" type="select" name="paymentMethod" placeholder="The payment method" v-model="order.paymentMethodUuid">
                <option v-for="paymentMethod in paymentMethods" :value="paymentMethod.uuid">{{ paymentMethod.name }}</option>
            </sw-field>
        </div>

        <div class="container--item">
            <sw-field label="Currency" id="currencyUuid" type="select" name="currencyUuid" v-model="order.currencyUuid">
                <option v-for="currency in currencies" :value="currency.uuid">{{ currency.name }}</option>
            </sw-field>
        </div>
    </div>

    <sw-loader v-if="isWorking"></sw-loader>
</sw-card>
