<div class="navigation--list-wrapper">
    {% block frontend_index_navigation_categories_navigation_list %}
        <ul class="navigation--list container" role="menubar" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

            {% block frontend_index_navigation_categories_top_home %}
                <li class="navigation--entry{% if activeRoute == 'homepage' %} is--active{% endif %} is--home" role="menuitem">
                    {% block frontend_index_navigation_categories_top_link_home %}
                        <a class="navigation--link is--first{% if Controller == 'index' %} active{% endif %}" href="{{ url('homepage') }}" title="{{ snippet('IndexLinkHome', 'frontend/index/categories_top')|escape }}" itemprop="url">
                            <span itemprop="name">{% trans from 'frontend/index/categories_top' %}IndexLinkHome{% endtrans %}</span>
                        </a>
                    {% endblock %}
                </li>
            {% endblock %}

            {% block frontend_index_navigation_categories_top_before %}{% endblock %}

            {% for treeItem in navigation.tree %}
                {% set category = treeItem.category %}

                {% block frontend_index_navigation_categories_top_entry %}
                    {% if not category.hideTop %}

                        {% if category.extensions.canonicalUrl %}
                            {% set url = category.extensions.canonicalUrl.url %}
                        {% else %}
                            {% set url = url('listing_page', { 'id': category.id }) %}
                        {% endif %}

                        {% set isActive = (category.id in navigation.activeCategory.path or category.id == navigation.activeCategory.id) %}

                        <li class="navigation--entry{% if isActive %} is--active{% endif %}" role="menuitem">

                            {% block frontend_index_navigation_categories_top_link %}
                                <a class="navigation--link{% if isActive %} is--active{% endif %}"
                                   href="{{ url }}"
                                   title="{{ category.name }}" itemprop="url">
                                    <span itemprop="name">{{ category.name }}</span>
                                </a>
                            {% endblock %}
                        </li>
                    {% endif %}
                {% endblock %}
            {% endfor %}
            {% block frontend_index_navigation_categories_top_after %}{% endblock %}
        </ul>
    {% endblock %}
</div>