{% block layout_header_logo_inner %}
    <div class="header-logo-main">
        {% block layout_header_logo_link %}
            <a class="header-logo-main-link"
               href="{{ path('frontend.home.page') }}"
               title="{{ "header.logoLink"|trans }}">
                {% block layout_header_logo_image %}
                    <picture>
                        {% block layout_header_logo_image_desktop_source %}
                            <source srcset="{{ shopware.theme['sw-logo-default-lg'] }}"
                                    media="(min-width: {{ shopware.theme.breakpoint.lg }}px)">
                        {% endblock %}

                        {% block layout_header_logo_image_tablet_source %}
                            <source srcset="{{ shopware.theme['sw-logo-default-md'] }}"
                                    media="(min-width: {{ shopware.theme.breakpoint.md }}px)">
                        {% endblock %}

                        {% block layout_header_logo_image_mobile %}
                            <img srcset="{{ shopware.theme['sw-logo-default-sm'] }}"
                                 alt="{{ "header.logoLink"|trans }}"
                                 class="img-fluid header-logo-main-img"/>
                        {% endblock %}
                    </picture>
                {% endblock %}
            </a>
        {% endblock %}
    </div>
{% endblock %}
