{% block frontend_index_start %}{% endblock %}
{% block frontend_index_doctype %}
<!DOCTYPE html>
{% endblock %}

{% block frontend_index_html %}
<html class="no-js" lang="{% trans %}frontend.index.index.IndexXmlLang{% endtrans %}" itemscope="itemscope" itemtype="http://schema.org/WebPage">
{% endblock %}

{% block frontend_index_header %}
    {% sw_include '@Storefront/frontend/index/header.html.twig' %}
{% endblock %}

<body class="{% block frontend_index_body_classes %}
    is--ctl-{{ controllerName|lower }} is--act-{{ controllerAction|lower }}
    {% if context.customer %} is--user{% endif %}
    {% if sTarget %} is--target-{{ sTarget|escape('html') }}{% endif %}
    {% if theme.checkoutHeader and (( controllerName|lower == "checkout" and controllerAction|lower != "cart") or (controllerName|lower == "register" and sTarget != "account")) %} is--minimal-header{% endif %}
    {#{% if not shopware.theme.displaysidebar %} is--no-sidebar{% endif %}#}
    {% endblock %}">

    {% block frontend_index_after_body %}{% endblock %}

    {% block frontend_index_page_wrap %}
        <div class="page-wrap">

            {# Message if javascript is disabled #}
            {% block frontend_index_no_script_message %}
                <noscript class="noscript-main">
                    {% sw_include "@Storefront/frontend/_includes/messages.html.twig" with {"type": "warning", "content": 'frontend.index.index.IndexNoscriptNotice'|trans, "borderRadius": false} %}
                </noscript>
            {% endblock %}

            {% block frontend_index_before_page %}{% endblock %}

            {# Shop header #}
            {% block frontend_index_navigation %}
                <header class="header-main">
                    {# Include the top bar navigation #}
                    {% block frontend_index_top_bar_container %}
                        {% sw_include '@Storefront/frontend/index/topbar-navigation.html.twig' %}
                    {% endblock %}

                    {% block frontend_index_header_navigation %}
                        <div class="container header--navigation">

                            {# Logo container #}
                            {% block frontend_index_logo_container %}
                                {% sw_include '@Storefront/frontend/index/logo-container.html.twig' %}
                            {% endblock %}

                            {# Shop navigation #}
                            {% block frontend_index_shop_navigation %}
                                {% sw_include '@Storefront/frontend/index/shop-navigation.html.twig' %}
                            {% endblock %}

                            {% block frontend_index_container_ajax_cart %}
                                <div class="container--ajax-cart" data-collapse-cart="true"{% if shopware.theme.offcanvasCart %} data-displayMode="offcanvas"{% endif %}></div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </header>

                {# Maincategories navigation top #}
                {% block frontend_index_navigation_categories_top %}
                    <nav class="navigation-main{% if shopware.config.advancedmenu.show %} is--advanced-menu{% endif %}">
                        <div class="container" data-menu-scroller="true" data-listSelector=".navigation--list.container" data-viewPortSelector=".navigation--list-wrapper">
                            {% block frontend_index_navigation_categories_top_include %}
                                {% sw_include '@Storefront/frontend/index/main-navigation.html.twig' %}

                                {% if shopware.config.advancedmenu.show %}
                                    {% block frontend_advanced_menu_outer %}
                                        {#{action module=widgets controller=advancedMenu action=index}#}
                                    {% endblock %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </nav>
                {% endblock %}
            {% endblock %}

            {% block frontend_index_emotion_loading_overlay %}
                {% if hasEmotion %}
                    <div class="emotion--overlay">
                        <i class="emotion--loading-indicator"></i>
                    </div>
                {% endif %}
            {% endblock %}

            {% block frontend_index_content_main %}
                <section class="content-main container block-group">

                    {# Breadcrumb #}
                    {% block frontend_index_breadcrumb %}
                        {% if sBreadcrum|length %}
                            <nav class="content--breadcrumb block">
                                {% block frontend_index_breadcrumb_inner %}
                                    {% sw_include '@Storefront/frontend/index/breadcrumb.html.twig' %}
                                {% endblock %}
                            </nav>
                        {% endif %}
                    {% endblock %}

                    {# Content top container #}
                    {% block frontend_index_content_top %}{% endblock %}

                    <div class="content-main--inner">

                        {# Sidebar left #}
                        {% block frontend_index_content_left %}
                            {% sw_include '@Storefront/frontend/index/sidebar.html.twig' %}
                        {% endblock %}

                        {# Main content #}
                        {% block frontend_index_content_wrapper %}
                            <div class="content--wrapper">
                                {% block frontend_index_content %}{% endblock %}
                            </div>
                        {% endblock %}

                        {# Sidebar right #}
                        {% block frontend_index_content_right %}{% endblock %}

                        {# Last seen products #}
                        {% block frontend_index_left_last_articles %}
                            {% if sLastArticlesShow and not isEmotionLandingPage %}
                                {# Last seen products #}
                                <div class="last-seen-products is--hidden" data-last-seen-products="true">
                                    <div class="last-seen-products--title">
                                        {% trans %}frontend.plugins.index.viewlast.WidgetsRecentlyViewedHeadline{% endtrans %}
                                    </div>
                                    <div class="last-seen-products--slider product-slider" data-product-slider="true">
                                        <div class="last-seen-products--container product-slider--container"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </section>
            {% endblock %}

            {# Footer #}
            {% block frontend_index_footer %}
                <footer class="footer-main">
                    <div class="container">
                        {% block frontend_index_footer_container %}
                            {% sw_include '@Storefront/frontend/index/footer.html.twig' %}
                        {% endblock %}
                    </div>
                </footer>
            {% endblock %}

            {% block frontend_index_body_inline %}{% endblock %}
        </div>
    {% endblock %}

    {# If required add the cookiePermission hint #}
    {% block frontend_index_cookie_permission %}
        {% if shopware.config.show_cookie_note %}
            {% sw_include '@Storefront/frontend/_includes/cookie_permission_note.html.twig' %}
        {% endif %}
    {% endblock %}

{% block frontend_index_header_javascript %}
    <script type="text/javascript" id="footer--js-inline">
        //<![CDATA[
        {% block frontend_index_header_javascript_inline %}
            var timeNow = {{ "now"|date('U') }};

            var controller = controller || {
                'vat_check_enabled': '{{ shopware.config.vatcheckendabled }}',
                'vat_check_required': '{{ shopware.config.vatcheckrequired }}',
                'ajax_cart': '{{ path('frontend.cart.detail') }}',
                'ajax_remove_item': '{{ path('frontend.cart.line-item.delete') }}',
                'ajax_search': '{{ path('frontend.search.suggest') }}',
                'register': '{url controller="register"}',
                'checkout': '{url controller="checkout"}',
                'ajax_validate': '{url controller="register"}',
                'ajax_add_article': '{url controller="checkout" action="addArticle"}',
                'ajax_listing': '{url module="widgets" controller="Listing" action="ajaxListing"}',
                'ajax_cart_refresh': '{{ path('frontend.cart.amount') }}',
                'ajax_address_selection': '{{ path('frontend.account.address.list.ajax') }}',
                'ajax_address_editor': '{{ path('frontend.account.address.edit.ajax') }}'
            };

            var snippets = snippets || {
                'noCookiesNotice': '{% trans %}frontend.index.index.IndexNoCookiesNotice{% endtrans %}'
            };

            var themeConfig = themeConfig || {
                'offcanvasOverlayPage': '{{ theme.offcanvasOverlayPage }}'
            };

            var lastSeenProductsConfig = lastSeenProductsConfig || {
                'baseUrl': '{{ Shop.getBaseUrl }}',
                'shopId': '{{ Shop.getId() }}',
                'noPicture': '{link file="frontend/_public/src/img/no-picture.jpg"}',
                'productLimit': ~~('{{ shopware.config.lastarticlestoshow }}'),
                'currentArticle': {
                {% if sArticle %}
                    {% for key, value in sLastArticlesConfig %}
                        '{{ key }}': '{{ value }}',
                    {% endfor %}
                    'articleId': ~~('{{ sArticle.articleID }}'),
                    'linkDetailsRewritten': '{{ sArticle.linkDetailsRewrited }}',
                    'articleName': '{{ sArticle.articleName|escape('javascript') }}{% if sArticle.additionaltext %} {{ sArticle.additionaltext|escape('javascript') }}{% endif %}',
                    'imageTitle': '{{ sArticle.image.description|escape('javascript') }}',
                    'images': {
                        {% for key, image in sArticle.image.thumbnails %}
                            '{{ key }}': {
                                'source': '{{ image.source }}',
                                'retinaSource': '{{ image.retinaSource }}',
                                'sourceSet': '{{ image.sourceSet }}'
                            },
                        {% endfor %}
                    }
                {% endif %}
                }
            };

            var csrfConfig = csrfConfig || {
                'generateUrl': '{{ url('csrftoken') }}',
                'basePath': '{{ Shop.getBasePath() }}',
                'shopId': '{{ Shop.getId() }}'
            };
        {% endblock %}
        //]]>
    </script>

    {% if theme.additionalJsLibraries %}
        {{ theme.additionalJsLibraries }}
    {% endif %}
{% endblock %}

{% block frontend_index_header_javascript_jquery %}
    {# Add the partner statistics widget, if configured #}
{% endblock %}

{# Include jQuery and all other javascript files at the bottom of the page #}
{% block frontend_index_header_javascript_jquery_lib %}
    <script {% if Storefront.theme.asyncJavascriptLoading %}async{% endif %} src="{{ asset('js/app.js') }}"></script>
{% endblock %}

</body>
</html>
