{% import _self as menu %}

{# Maincategories left #}
{% macro categories(navigation, categories, level = 0) %}
    {% import _self as menu %}

    <ul class="sidebar--navigation categories--navigation navigation--list{% if not level %} is--drop-down{% endif %} is--level{{ level }}{% if level > 1 %} navigation--level-high{% endif %} is--rounded" role="menu">
        {# @deprecated The block "frontend_index_categories_left_ul" will be removed in further versions, please use "frontend_index_categories_left_before" #}
        {% block frontend_index_categories_left_ul %}{% endblock %}

        {% block frontend_index_categories_left_before %}{% endblock %}

        {% for category in categories %}

            {# @var category \Shopware\Category\Struct\CategoryBasicStruct #}
            {% if category.canonicalUrl %}
                {% set url = category.canonicalUrl.url %}
            {% else %}
                {% set url = url('listing_page', { 'uuid': category.uuid }) %}
            {% endif %}

            {% block frontend_index_categories_left_entry %}
                {# @var navigation \Shopware\Storefront\Navigation\Navigation #}
                <li class="navigation--entry{% if navigation.isCategorySelected(category) %} is--active{% endif %}{% if category.children %} has--sub-categories{% endif %}{% if category.children|length > 0 %} has--sub-children{% endif %}" role="menuitem">
                    <a class="navigation--link{% if navigation.isCategorySelected(category) %} is--active{% endif %}{% if category.children %} has--sub-categories{% endif %}{% if category.children|length > 0 %} link--go-forward{% endif %}"
                       href="{{ url }}"
                       data-categoryId="{{ category.uuid }}"
                       data-fetchUrl="{url module=widgets controller=listing action=getCategory categoryId={$category.id}}"
                       title="{{ category.name|escape }}">
                        {{  category.name }}

                        {% if category.children|length > 0 %}
                            <span class="is--icon-right">
                                <i class="icon--arrow-right"></i>
                            </span>
                        {% endif %}
                    </a>
                    {% block frontend_index_categories_left_entry_subcategories %}
                        {% if category.children|length > 0 %}
                            {{ menu.categories(navigation, category.children, level + 1) }}
                        {% endif %}
                    {% endblock %}
                </li>
            {% endblock %}
        {% endfor %}
        {% block frontend_index_categories_left_after %}{% endblock %}
    </ul>
{% endmacro categories %}

{{ menu.categories(navigation, navigation.tree) }}
