{% sw_extends 'frontend/account/index.html.twig' %}

{# Breadcrumb #}
{% block frontend_index_start %}
    {{ parent() }}
    {#{$sBreadcrumb[] = ["name"=>"{s name="AddressesTitle"}My addresses{/s}", "link"=>{url action="index"}]}#}
{% endblock %}

{# @var customerAdressPage \Shopware\Storefront\Account\Page\CustomerAddressPageStruct #}
{% set addresses =  customerAdressPage.addresses %}

{# Main content #}
{% block frontend_index_content %}
    <div class="account--address account--content">

        {# Addresses headline #}
        {% block frontend_address_headline %}
            <div class="account--welcome">
                <h1 class="panel--title">{% trans %}frontend.address.index.AddressesTitle{% endtrans %}</h1>
            </div>
        {% endblock %}

        {# Success messages #}
        {% block frontend_address_success_messages %}
            {% if success %}
                {# TODO  #}
                {#{include file="frontend/address/success_messages.tpl" type=$success}#}
            {% endif %}
        {% endblock %}

        {# Error messages #}
        {% block frontend_address_error_messages %}
            {% if error %}
                {# TODO #}
                {#{include file="frontend/address/error_messages.tpl" type=$error}#}
            {% endif %}
        {% endblock %}

        {% block frontend_address_content %}
            <div class="address--content block-group" data-panel-auto-resizer="true">
                {% for address in addresses %}
                    {% block frontend_address_item_content %}
                        <div class="address--item-content address--box">
                            <div class="panel has--border is--rounded block">
                                <div class="panel--body is--wide">
                                    {% block frontend_address_item_content_body %}
                                        <div class="address--item-body">
                                            {% block frontend_address_item_content_title %}
                                                {% if context.customer.defaultShippingAddressId == address.id or context.customer.defaultBillingAddressId == address.id %}
                                                    <div class="panel--title is--underline">
                                                        {% if context.customer.defaultShippingAddressId == address.id %}
                                                            <div>{% trans %}frontend.address.index.AddressesTitleDefaultShippingAddress{% endtrans %}</div>
                                                        {% endif %}
                                                        {% if context.customer.defaultBillingAddressId == address.id %}
                                                            <div>{% trans %}frontend.address.index.AddressesTitleDefaultBillingAddress{% endtrans %}</div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endblock %}
                                            {% block frontend_address_item_content_inner %}
                                                {{ include('@Storefront/frontend/_includes/address.html.twig', {
                                                    'address': address
                                                }) }}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>

                                {% block frontend_address_item_content_actions %}
                                    <div class="address--item-actions panel--actions is--wide">
                                        {% block frontend_address_item_content_set_default %}
                                            <div class="address--actions-set-defaults">

                                                {% block frontend_address_item_content_set_default_shipping %}
                                                    {% if context.customer.defaultShippingAddressId != address.id %}
                                                        <form action="{{ path('frontend.account.address.set-default-shipping', {addressId: address.id}) }}" method="post">
                                                            <button type="submit" class="btn is--link is--small">
                                                                {% trans %}frontend.address.index.AddressesSetAsDefaultShippingAction{% endtrans %}
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endblock %}

                                                {% block frontend_address_item_content_set_default_billing %}
                                                    {% if context.customer.defaultBillingAddressId != address.id %}
                                                        <form action="{{ path('frontend.account.address.set-default-billing', {addressId: address.id}) }}" method="post">
                                                            <button type="submit" class="btn is--link is--small">
                                                                {% trans %}frontend.address.index.AddressesSetAsDefaultBillingAction{% endtrans %}
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                {% endblock %}

                                            </div>
                                        {% endblock %}

                                        {% block frontend_address_item_content_actions_change %}
                                            <a href="{{ path('frontend.account.address.edit.page', {addressId: address.id}) }}"
                                               title="{% trans %}frontend.address.index.AddressesContentItemActionEdit{% endtrans %}"
                                               class="btn is--small">
                                                {% trans %}frontend.address.index.AddressesContentItemActionEdit{% endtrans %}
                                            </a>
                                        {% endblock %}

                                        {% block frontend_address_item_content_actions_delete %}
                                            {% if context.customer.defaultShippingAddressId != address.id and context.customer.defaultBillingAddressId != address.id %}
                                                <a href="{{ path('frontend.account.address.delete-confirm.page', {'addressId': address.id}) }}"
                                                   title="{% trans %}frontend.address.index.AddressesContentItemActionDelete{% endtrans %}"
                                                   class="btn is--small">
                                                    {% trans %}frontend.address.index.AddressesContentItemActionDelete{% endtrans %}
                                                </a>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                {% endfor %}

                {% block frontend_address_item_content_create %}
                    <div class="address--item-content address--item-create block">
                        <a href="{{ path('frontend.account.address.create.page') }}"
                           title="{% trans %}frontend.address.index.AddressesContentItemActionCreate{% endtrans %}"
                           class="btn is--block is--primary">
                            {% trans %}frontend.address.index.AddressesContentItemActionCreate{% endtrans %}
                        </a>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
