{% if currencySymbol is not defined %}
    {% set currencySymbol = page.header.activeCurrency.symbol %}
{% endif %}

{% if minLabelActiveFilter is not defined %}
    {% set minLabelActiveFilter = 'Price from' %}
{% endif %}

{% if maxLabelActiveFilter is not defined %}
    {% set maxLabelActiveFilter = 'Price to' %}
{% endif %}

{% block component_filter_range %}
    <div class="dropdown filter-range filter-panel-item"
         data-filter-range="true"
         data-filter-range-options='{
         {% block component_filter_range_options %}
             "name": "{{ name }}",
             "minKey": "{{ minKey }}",
             "maxKey": "{{ maxKey }}",
             "currencySymbol": "{{ currencySymbol }}",
             "minLabelActiveFilter": "{{ minLabelActiveFilter }}",
             "maxLabelActiveFilter": "{{ maxLabelActiveFilter }}"
         {% endblock %}
         }'>

        {% block component_filter_range_toggle %}
            <button class="filter-panel-item-toggle btn"
                    id="filter-panel-item-{{ name }}"
                    data-toggle="dropdown"
                    data-offset="0,8"
                    aria-haspopup="true"
                    aria-expanded="false">
                {% block component_filter_range_display_name %}
                    {{ displayName }}
                {% endblock %}

                {% block component_filter_range_toggle_icon %}
                    {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
                {% endblock %}
            </button>
        {% endblock %}

        {% block component_filter_range_dropdown %}
            <div class="filter-range-dropdown filter-panel-item-dropdown dropdown-menu"
                 aria-labelledby="filter-panel-item-{{ name }}">

                {% block component_filter_range_container %}
                    <div class="filter-range-container">
                        <label class="filter-range-min">
                            {{ 'listing.filterRangeMinLabel'|trans }}
                            <input class="form-control min-input"
                                   type="number"
                                   name="min-price"
                                   min="0"
                                   max="{{ price.max }}">
                            <span class="filter-range-currency-symbol">
                                {{ currencySymbol }}
                            </span>
                        </label>
                        <div class="filter-range-divider">
                            &ndash;
                        </div>
                        <label class="filter-range-max">
                            {{ 'listing.filterRangeMaxLabel'|trans }}
                            <input class="form-control max-input"
                                   type="number"
                                   name="max-price"
                                   min="0"
                                   max="{{ price.max }}">
                            <span class="filter-range-currency-symbol">
                                {{ currencySymbol }}
                            </span>
                        </label>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
