{% block sw_customer_list %}
    <sw-page class="sw-customer-list">

        {% block sw_customer_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_customer_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_customer_list_smart_bar_header_title_text %}
                            {{ $tc('sw-customer.list.textCustomers') }}
                        {% endblock %}

                        {% block sw_customer_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_customer_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sw_customer_list_smart_bar_actions_add %}
                    <sw-button variant="primary" link="sw.customer.create">
                        {{ $tc('sw-customer.list.buttonAddCustomer') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template slot="content">
            {% block sw_customer_list_content %}
                <div class="sw-customer-list__content">
                    {% block sw_customer_list_grid %}
                        <sw-grid v-if="total"
                                 :items="customers"
                                 :pagination="true"
                                 :sortBy="sortBy"
                                 :sortDirection="sortDirection"
                                 :sidebar="true"
                                 :selectable="false"
                                 :isFullpage="true"
                                 @sort-column="onSortColumn"
                                 @inline-edit-finish="onInlineEditSave">

                            {% block sw_customer_list_grid_slots %}
                                <template slot="columns" slot-scope="{ item }">
                                    {% block sw_customer_list_grid_columns %}

                                        {% block sw_customer_list_grid_columns_customer_number %}
                                            <sw-grid-column flex="minmax(80px, 100px)"
                                                            :label="$tc('sw-customer.list.columnCustomerNumber')"
                                                            dataIndex="number"
                                                            align="right"
                                                            truncate
                                                            sortable
                                                            editable>
                                                {% block sw_customer_list_grid_columns_customer_number_label %}
                                                    {{ item.number }}
                                                {% endblock %}

                                                {% block sw_customer_list_grid_columns_customer_number_editor %}
                                                    <sw-field type="text" v-model="item.number" slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_name %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="$tc('sw-customer.list.columnName')"
                                                            dataIndex="firstName,lastName"
                                                            truncate
                                                            sortable
                                                            editable>
                                                {% block sw_customer_list_grid_columns_name_label %}
                                                    <router-link :to="{ name: 'sw.customer.detail', params: { id: item.id } }">
                                                        {{ item.firstName }} {{ item.lastName }}
                                                    </router-link>
                                                {% endblock %}

                                                {% block sw_customer_list_grid_columns_name_editor %}
                                                    <sw-field type="text" v-model="item.firstName" slot="inline-edit"></sw-field>
                                                    <sw-field type="text" v-model="item.lastName" slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_street %}
                                            <sw-grid-column flex="minmax(150px, 1fr)"
                                                            :label="$tc('sw-customer.list.columnStreet')"
                                                            dataIndex="defaultBillingAddress.street"
                                                            truncate
                                                            sortable>
                                                {% block sw_customer_list_grid_columns_street_label %}
                                                    {{ item.defaultBillingAddress.street }}
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_zipcode %}
                                            <sw-grid-column flex="minmax(80px, 100px)"
                                                            :label="$tc('sw-customer.list.columnZip')"
                                                            dataIndex="defaultBillingAddress.zipcode"
                                                            align="right"
                                                            truncate
                                                            sortable>
                                                {% block sw_customer_list_grid_columns_zipcode_label %}
                                                    {{ item.defaultBillingAddress.zipcode }}
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_city %}
                                            <sw-grid-column flex="minmax(100px, 1fr)"
                                                            :label="$tc('sw-customer.list.columnCity')"
                                                            dataIndex="defaultBillingAddress.city"
                                                            truncate
                                                            sortable>
                                                {% block sw_customer_list_grid_columns_city_label %}
                                                    {{ item.defaultBillingAddress.city }}
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_email %}
                                            <sw-grid-column flex="minmax(250px, 1fr)"
                                                            :label="$tc('sw-customer.list.columnEmail')"
                                                            dataIndex="email"
                                                            sortable
                                                            truncate
                                                            editable>
                                                {% block sw_customer_list_grid_columns_email_label %}
                                                    {{ item.email }}
                                                {% endblock %}

                                                {% block sw_customer_list_grid_columns_email_editor %}
                                                    <sw-field type="text" v-model="item.email" slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_customer_list_grid_columns_actions %}
                                            <sw-grid-column flex="minmax(100px, 100px)"
                                                            align="center">
                                                {% block sw_customer_list_grid_columns_actions_context_button %}
                                                    <sw-context-button>

                                                        {% block sw_customer_list_grid_columns_actions_view %}
                                                            <sw-context-menu-item :routerLink="{
                                                                        name: 'sw.customer.detail',
                                                                        params: { id: item.id } }">
                                                                    {{ $tc('sw-customer.list.contextMenuView') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block sw_customer_list_grid_columns_actions_edit %}
                                                            <sw-context-menu-item :routerLink="{
                                                                        name: 'sw.customer.detail.base',
                                                                        params: { id: item.id, edit: 'edit' }}">
                                                                    {{ $tc('sw-customer.list.contextMenuEdit') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block sw_customer_list_grid_columns_actions_duplicate %}
                                                            <sw-context-menu-item :disabled="true">
                                                                {{ $tc('sw-customer.list.contextMenuDuplicate') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block sw_customer_list_grid_columns_actions_delete %}
                                                            <sw-context-menu-item variant="danger" :disabled="true">
                                                                {{ $tc('sw-customer.list.contextMenuDelete') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                    </sw-context-button>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            <template slot="pagination">
                                {% block sw_customer_list_grid_pagination %}
                                    <sw-pagination :offset="offset"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </template>

                            {% block sw_customer_list_grid_sidebar %}
                                <sw-sidebar slot="sidebar">
                                    {% block sw_customer_list_grid_sidebar_search %}
                                        <sw-sidebar-item icon="default-action-search" title="Search">
                                            <sw-field type="text" placeholder="Enter search term..." :value="term" @change="onSearch"></sw-field>

                                            <sw-alert variant="warning" :showIcon="false">
                                                This is a <strong>demo</strong>. The search will be placed in the header later on.
                                            </sw-alert>
                                        </sw-sidebar-item>
                                    {% endblock %}

                                    {% block sw_customer_list_grid_sidebar_refresh %}
                                        <sw-sidebar-item icon="default-arrow-360-left" @click="onRefresh"></sw-sidebar-item>
                                    {% endblock %}
                                </sw-sidebar>
                            {% endblock %}
                        </sw-grid>
                    {% endblock %}

                    {% block sw_customer_list_empty_state %}
                        <sw-empty-state v-else-if="!isLoading && !total" :title="$tc('sw-customer.list.messageEmpty')"></sw-empty-state>
                    {% endblock %}

                    {% block sw_customer_list_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}