{% block sw_product_list_sidebar_filter %}
    <sw-sidebar-item
            icon="default-action-filter"
            title="Filter"
            ref="filter">

        <sw-container v-for="filterOption in filterOptions" :key="filterOption.key" columns="1fr " gap="6px"
                      class="sidebar--filter-container">
            <sw-sidebar-collapse v-if="filterOption.inputType === 'input'">
                <div slot="header">
                    {{ filterOption.label }}
                    <small class="sw-selected-options">{{ filter[filterOption.key] }}</small>
                </div>

                <div slot="content">
                    <sw-text-field
                            :placeholder="filterOption.placeholder"
                            :value="filter[filterOption.key]"
                            @input="inputTrigger($event, filterOption.key)">
                    </sw-text-field>
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'number'">
                <div slot="header">{{ filterOption.label }}
                    <small class="sw-selected-options">{{ filter[filterOption.key] }}</small>
                </div>

                <div slot="content">
                    <sw-number-field
                            numberType="float"
                            :placeholder="filterOption.placeholder"
                            :value="filter[filterOption.key]"
                            @change="inputTrigger($event, filterOption.key)">
                    </sw-number-field>
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'singleSelect'">
                <div slot="header">{{ filterOption.label }} <small
                            class="sw-selected-options">{{ filter[filterOption.key] }}</small></div>

                <div slot="content">
                    <sw-single-select
                            v-model="filter[filterOption.key]"
                            :placeholder="filterOption.placeholder"
                            :options="filterOption.options"
                            valueProperty="value"
                            labelProperty="name"
                            :value="filter[filterOption.key]">
                    </sw-single-select>
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'multiSelect'">
                <div slot="header">
                    {{ filterOption.label }}
                    <small v-if="filter[filterOption.key]">{{ filter[filterOption.key].length }} {{ 'Selected' }}</small>

                    {# <div class="sw-filter-multi-select-label-container" v-if="filter[filterOption.key]"> #}
                    {# <sw-label v-for="selectedOptionLabel in getOptionLabels(filterOption)" size="medium" appearance="default" #}
                    {# :ghost="false" :caps="false" :dismissable="true"> #}
                    {# {{ selectedOptionLabel }} #}
                    {# </sw-label> #}
                    {# </div> #}
                </div>

                <div slot="content">
                    <sw-multi-select
                            v-model="filter[filterOption.key]"
                            :placeholder="filterOption.placeholder"
                            :options="filterOption.options"
                            valueProperty="value"
                            labelProperty="name"
                            :value="filter[filterOption.key]">
                    </sw-multi-select>

                    {# <sw-entity-many-to-many-select #}
                    {# v-model="filter[filterOption.key]" #}
                    {# :placeholder="filterOption.placeholder" #}
                    {# :entityCollection="filterOption.entityCollection" #}
                    {# :value="filter[filterOption.key]"> #}
                    {# </sw-entity-many-to-many-select> #}
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'range'">
                <div slot="header">{{ filterOption.label }}
                    <small v-if="filter[filterOption.key].from || filter[filterOption.key].to"
                           class="sw-selected-options">
                        {{ filter[filterOption.key].from }} - {{ filter[filterOption.key].to }}
                    </small>
                </div>

                <div slot="content">
                    <span>
                        <sw-container columns="1fr" gap="12px">
                            <sw-number-field numberType="float"
                                             :label="$tc('sw-sidebar-filter.range-filter.from')"
                                             :value="filter[filterOption.key].from"
                                             @change="rangeInputTrigger($event, filterOption.key, 'from')">
                            </sw-number-field>

                            <sw-number-field numberType="float"
                                             :label="$tc('sw-sidebar-filter.range-filter.to')"
                                             :value="filter[filterOption.key].to"
                                             @change="rangeInputTrigger($event, filterOption.key, 'to')">
                            </sw-number-field>
                        </sw-container>
                    </span>
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'date'">
                <div slot="header">{{ filterOption.label }}
                    <small v-if="filter[filterOption.key].from || filter[filterOption.key].to"
                           class="sw-selected-options">
                        *
                    </small>
                </div>

                <div slot="content">
                    <span>
                        <sw-container columns="1fr" gap="12px">
                            <sw-datepicker
                                    :label="$tc('sw-sidebar-filter.range-filter.from')"
                                    :value="filter[filterOption.key].from"
                                    @onChange="rangeInputTrigger($event[0], filterOption.key, 'from')">
                            </sw-datepicker>

                            <sw-datepicker
                                    :label="$tc('sw-sidebar-filter.range-filter.to')"
                                    :value="filter[filterOption.key].to"
                                    @onChange="rangeInputTrigger($event[0], filterOption.key, 'to')">
                            </sw-datepicker>
                        </sw-container>
                    </span>
                </div>
            </sw-sidebar-collapse>

            <sw-sidebar-collapse v-else-if="filterOption.inputType === 'switch'">
                <div slot="header">{{ filterOption.label }}
                    <small v-if="filter[filterOption.key]"
                           class="sw-selected-options">
                        *
                    </small>
                </div>

                <div slot="content">
                    <span>
                        <sw-container columns="1fr" gap="12px" style="padding:0 15px 15px;">
                            <sw-switch-field v-model="filter[filterOption.key]"></sw-switch-field>
                        </sw-container>
                    </span>
                </div>
            </sw-sidebar-collapse>
        </sw-container>
    </sw-sidebar-item>
{% endblock %}
