{% sw_extends '@Storefront/page/account/_page.html.twig' %}

{% block base_breadcrumb %}
    {% set breadcrumbList = [
        {
            "name": "account.overviewTitle"|trans,
            "link": path('frontend.account.home.page')
        },
        {
            "name": "account.ordersTitle"|trans,
            "link": path('frontend.account.order.page')
        }
    ] %}

    {{ parent() }}
{% endblock %}

{% block page_account_main_content %}
    {% block page_account_orders %}
        <div class="account-orders">
            {% block page_account_orders_welcome %}
                <div class="account-welcome">
                    {% block page_account_orders_welcome_headline %}
                        <h1>{{ "account.ordersTitle"|trans }}</h1>
                        <p>{{ "account.ordersWelcome"|trans }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_orders_main %}
                <div class="account-orders-main">
                    {% if page.orders.total == 0 %}
                        {% block page_account_orders_info_empty %}
                            {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
                                type: "warning",
                                content: "account.ordersInfoEmpty"|trans
                            } %}
                        {% endblock %}
                    {% else %}
                        {% block page_account_orders_overview %}
                            {% set orderItems = page.orders.elements %}

                            <div class="account-orders-overview">
                                {% block page_account_orders_table %}
                                    <table class="table order-table">
                                        {% block page_account_orders_table_header %}
                                            <thead class="order-table-header">
                                            <tr>
                                                {% block page_account_orders_table_header_date %}
                                                    <th class="col order-header-date" scope="col">{{ "account.orderItemColumnDate"|trans }}</th>
                                                {% endblock %}

                                                {% block page_account_orders_table_header_number %}
                                                    <th class="col order-header-number" scope="col">{{ "account.orderItemColumnNumber"|trans }}</th>
                                                {% endblock %}

                                                {% block page_account_orders_table_header_dispatch %}
                                                    <th class="col order-header-dispatch" scope="col">{{ "account.orderItemColumnDispatch"|trans }}</th>
                                                {% endblock %}

                                                {% block page_account_orders_table_header_status %}
                                                    <th class="col order-header-status" scope="col">{{ "account.orderItemColumnStatus"|trans }}</th>
                                                {% endblock %}

                                                {% block page_account_orders_table_header_actions %}
                                                    <th class="col order-header-actions" scope="col">{{ "account.orderItemColumnActions"|trans }}</th>
                                                {% endblock %}
                                            </tr>
                                            </thead>
                                        {% endblock %}

                                        {% block page_account_orders_table_body %}
                                            <tbody class="order-table-body">
                                            {% block page_account_order_items %}
                                                {% for order in orderItems %}
                                                    {% sw_include '@Storefront/page/account/order-history/order-item.html.twig' %}
                                                {% endfor %}
                                            {% endblock %}
                                            </tbody>
                                        {% endblock %}

                                        {% block page_account_orders_table_footer %}
                                            <tfoot class="order-table-footer">
                                            <tr>
                                                {#TODO: NEXT-2695 - pages#}
                                                {% block page_account_orders_table_actions_paging %}
                                                    <td class="col order-footer-paging">
                                                        {% if page.orders.pages.previous %}
                                                            <a href="{{ page.orders.pages.previous }}" class="btn order-paging-link order-paging-prev">
                                                                <i class="fas fa-chevron-left"></i>
                                                            </a>
                                                        {% endif %}

                                                        {% for page in page.orders.pages.numbers %}
                                                            {% if page.markup %}
                                                                <a class="order-paging-link is-active">{{ page.value }}</a>
                                                                {% set sPage = page.value %}
                                                            {% else %}
                                                                <a href="{{ page.link }}" class="order-paging-link">{{ page.value }}</a>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if page.orders.pages.next %}
                                                            <a href="{{ page.orders.pages.next }}" class="btn order-paging-link order-paging-next">
                                                                <i class="fas fa-chevron-right"></i>
                                                            </a>
                                                        {% endif %}

                                                        {% block page_account_orders_table_actions_paging_count %}
                                                            <div class="paging-display">
                                                                {{ "listing.listingTextSite"|trans }}
                                                                <strong>{% if sPage %}{{ sPage }}{% else %}1{% endif %}</strong>
                                                                {{ "listing.listingTextFrom"|trans }}
                                                                <strong>{% if page.orders.pages.numberpages %}{{ page.orders.pages.numberpages }}{% else %}1{% endif %}</strong>
                                                            </div>
                                                        {% endblock %}
                                                    </td>
                                                {% endblock %}
                                            </tr>
                                            </tfoot>
                                        {% endblock %}
                                    </table>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
