{% block base_main_navigation %}
	<nav class="navbar navbar-expand-lg navbar-light">
		{% block base_main_navigation_toggle %}
			<button class="navbar-toggler"
			        type="button"
			        data-toggle="collapse"
			        data-target="#mainNavigation"
			        aria-controls="mainNavigation"
			        aria-expanded="false"
			        aria-label="{{ "general.menuLink"|trans }}">
				{% block base_main_navigation_toggle_icon %}
					<span class="navbar-toggler-icon"></span>
				{% endblock %}
			</button>
		{% endblock %}

		{% block base_main_navigation_menu %}
			<div class="collapse navbar-collapse" id="mainNavigation">
				<div class="navbar-nav"
				     itemscope="itemscope"
				     itemtype="http://schema.org/SiteNavigationElement">
					{% block base_main_navigation_menu_home %}
						<a class="nav-item nav-link{% if controllerName is same as('HomePage') %} active{% endif %} home-link"
						   href="{{ path('frontend.home.page') }}"
						   itemprop="url"
						   title="{{ "general.homeLink"|trans }}">
							<span itemprop="name">{{ "general.homeLink"|trans }}</span>
						</a>
					{% endblock %}

					{% block base_main_navigation_menu_items %}
						{% for treeItem in page.header.navigation.tree %}
							{% block base_main_navigation_menu_item %}
								<a class="nav-item nav-link{% if treeItem.entity.id is same as(page.header.navigation.active.id) %} active{% endif %}"
								   href="{{ path('frontend.navigation.page', {'navigationId': treeItem.entity.id}) }}"
								   itemprop="url"
								   title="{{ treeItem.entity.name }}">
									<span itemprop="name">{{ treeItem.entity.name }}</span>
								</a>
							{% endblock %}
						{% endfor %}
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	</nav>
{% endblock %}
