{% block base_head_inner %}
    <head>
        {% block base_head_meta_tags %}
            {% block base_head_meta_tags_charset %}
                <meta charset="utf-8">
            {% endblock %}

            {% block base_head_meta_tags_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% endblock %}

            {% block base_head_meta_tags_general %}
                <meta name="author" content="{{ "meta.author"|trans }}"/>
                <meta name="robots" content="{% block base_head_meta_tags_robots %}{{ "meta.robots"|trans }}{% endblock %}"/>
                <meta name="revisit-after" content="{{ "meta.revisit"|trans }}"/>
                {#TODO: NEXT-1891 - replace standard keywords with category keywords if available #}
                <meta name="keywords" content="{% block base_head_meta_tags_keywords %}{{ "meta.keywordsDefault"|trans }}{% endblock %}"/>
                <meta name="description" content="{% block base_head_meta_tags_description %}{{ "meta.descriptionDefault"|trans|truncate(shopware.config.seo.descriptionMaxLength) }}{% endblock %}"/>
            {% endblock %}

            {% block base_head_meta_tags_opengraph %}
                <meta property="og:type" content="website"/>
                <meta property="og:site_name" content="{{ shopware.config.shopName }}"/>
                <meta property="og:title" content="{{ shopware.config.shopName }}"/>
                <meta property="og:description" content="{% block base_head_meta_tags_description_og %}{{ "meta.descriptionDefault"|trans|truncate(shopware.config.seo.descriptionMaxLength) }}{% endblock %}"/>
                <meta property="og:image" content="{{ asset(shopware.theme.logo.desktop) }}"/>

                <meta name="twitter:card" content="website"/>
                <meta name="twitter:site" content="{{ shopware.config.shopName }}"/>
                <meta name="twitter:title" content="{{ shopware.config.shopName }}"/>
                <meta name="twitter:description" content="{% block base_head_meta_tags_description_twitter %}{{ "meta.descriptionDefault"|trans|truncate(shopware.config.seo.descriptionMaxLength) }}{% endblock %}"/>
                <meta name="twitter:image" content="{{ asset(shopware.theme.logo.desktop) }}"/>
            {% endblock %}

            {% block base_head_meta_tags_schema_webpage %}
                <meta itemprop="copyrightHolder" content="{{ shopware.config.shopName }}"/>
                <meta itemprop="copyrightYear" content="{{ "meta.copyrightYear"|trans }}"/>
                <meta itemprop="isFamilyFriendly" content="{% if shopware.config.metaIsFamilyFriendly %}true{% else %}false{% endif %}"/>
                <meta itemprop="image" content="{{ asset(shopware.theme.logo.desktop) }}"/>
            {% endblock %}

            {% block base_head_meta_tags_hreflangs %}
                {#TODO: NEXT-1891 - hreflang#}
            {% endblock %}
        {% endblock %}

        {% block base_head_favicon %}
            <link rel="shortcut icon" href="{{ asset(shopware.theme.logo.favicon) }}">
        {% endblock %}

        {% block base_head_apple %}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset(shopware.theme.logo.appleTouch) }}">
        {% endblock %}

        {% block base_head_android %}
            {#TODO: NEXT-1891 - add logo in size 192x192#}
            <link rel="icon" sizes="192x192" href="{{ asset(shopware.theme.logo.androidTouch) }}">
            <meta name="theme-color" content="{{ shopware.theme.color.primary }}"/>
        {% endblock %}

        {% block base_head_canonical %}{% endblock %}

        {% block base_head_title %}
            {#TODO: NEXT-1891 - add breadcrumb to title#}
            <title itemprop="name">{% block base_head_title_inner %}{{ shopware.config.shopName }}{% endblock %}</title>
        {% endblock %}

        {% block base_head_stylesheet %}
            {% if isHMRMode %}
                {# CSS will be loaded from the JS automatically #}
            {% else %}
                <link rel="stylesheet" href="{{ asset('css/main.bundle.css') }}">
            {% endif %}
        {% endblock %}

        {# Block for tracking scripts which are required to include in the `head` section of the document #}
        {% block base_head_javascript_tracking %}{% endblock %}
    </head>
{% endblock %}
