{% block sw_customer_detail_base %}
    <div class="sw-customer-detail-base">
        <transition name="customer-fade" mode="out-in">
            <sw-card title="Account" v-if="editMode" :isLoading="isLoading" key="edit">
                <sw-container grid="1fr 1fr" gap="30px">
                    <sw-field type="text"
                              label="Vorname"
                              name="firstName"
                              required
                              v-model="customer.firstName">
                    </sw-field>

                    <sw-field type="text"
                              label="Nachname"
                              name="lastName"
                              v-model="customer.lastName">
                    </sw-field>

                    <sw-field type="email"
                              label="Email"
                              name="email"
                              v-model="customer.email">
                    </sw-field>

                    <sw-field type="text"
                              label="Telefonnummer"
                              name="phone"
                              disabled>
                    </sw-field>

                    <sw-field type="text"
                              label="Firma"
                              name="company"
                              disabled>
                    </sw-field>

                    <sw-field type="text"
                              label="Kundengruppe"
                              name="customerGroup"
                              disabled>
                    </sw-field>

                    <sw-field type="text"
                              label="Shop"
                              name="shop"
                              disabled>
                    </sw-field>

                    <sw-field type="number"
                              label="Kundennummer"
                              name="number"
                              v-model="customer.number">
                    </sw-field>

                    <sw-field type="password"
                              label="Passwort"
                              name="password"
                              v-model="customer.password">
                    </sw-field>

                    <sw-field type="date"
                              label="Geburtsdatum"
                              name="birthday"
                              v-model="customer.birthday">
                        <sw-icon name="default-calendar-full" small slot="suffix"></sw-icon>
                    </sw-field>
                </sw-container>
            </sw-card>

            <sw-card title="Account" v-else key="view" :isLoading="isLoading">
                <sw-container grid="80px 1fr 200px" gap="30px">

                    <sw-avatar size="80px" :user="customer" :isLoading="isLoading"></sw-avatar>

                    <div class="sw-customer-detail-base__account-info">
                        <div class="sw-customer-detail-base__account-info-headline">
                            {{ (customer.title ? customer.title : '') + ' ' + customer.firstName + ' ' + customer.lastName }}
                        </div>
                        <div class="sw-customer-detail-base__account-info-item">Company (nicht verfügbar)</div>
                        <div class="sw-customer-detail-base__account-info-item">Email: {{ customer.email }}</div>
                        <div class="sw-customer-detail-base__account-info-item">Telefon: (nicht verfügbar)</div>
                    </div>
                    <div class="sw-customer-detail-base__account-actions">
                        <sw-button size="small" block @click="onEditCustomer">Kunde bearbeiten</sw-button>
                        <sw-button size="small" block>Passwort ändern</sw-button>
                        <sw-button size="small" block>Mehr Infos einblenden</sw-button>
                    </div>
                </sw-container>
                <div class="sw-card__section">

                    {# Todo: TBD - sw-table or sw-grid extend #}
                    <sw-container class="sw-table" grid="1fr 1fr" gap="30px">
                        <sw-container grid="1fr 1fr">
                            <div class="sw-table__cell sw-table__cell-label">Kundennummer</div>
                            <div class="sw-table__cell">{{ customer.number }}</div>
                            <div class="sw-table__cell sw-table__cell-label">Kundengruppe</div>
                            <div class="sw-table__cell">(nicht verfügbar)</div>
                            <div class="sw-table__cell sw-table__cell-label">Geburtsdatum</div>
                            <div class="sw-table__cell">{{ customer.birthday }}</div>
                            <div class="sw-table__cell sw-table__cell-label">Letzter Login</div>
                            <div class="sw-table__cell">{{ customer.lastLogin }}</div>
                        </sw-container>
                        <sw-container grid="1fr 1fr">
                            <div class="sw-table__cell sw-table__cell-label">Sprache</div>
                            <div class="sw-table__cell">(nicht verfügbar)</div>
                            <div class="sw-table__cell sw-table__cell-label">Anzahl bestellungen</div>
                            <div class="sw-table__cell">0</div>
                            <div class="sw-table__cell sw-table__cell-label">Umsatz</div>
                            <div class="sw-table__cell">0</div>
                            <div class="sw-table__cell sw-table__cell-label">Zahlungsausfälle</div>
                            <div class="sw-table__cell">0</div>
                        </sw-container>
                    </sw-container>
                </div>
            </sw-card>
        </transition>
    </div>
{% endblock %}