{% block order_delivery_list %}

    <div class="core-order-delivery--list">
        {% block order_delivery_list_grid %}
            <sw-grid :items="deliveryList" :pagination="true" :actions="[]">
                {% block order_delivery_list_grid_slots %}

                    <template slot="columns" slot-scope="{ item }">
                        {% block order_delivery_list_grid_columns %}
                            <sw-grid-column flex="1" label="Lieferadresse">
                                {{ item.shippingAddress.street }}<br>
                                {{ item.shippingAddress.zipcode }} {{ item.shippingAddress.city }}<br>
                                {{ item.shippingAddress.country.name }}
                            </sw-grid-column>
                            <sw-grid-column flex="1" label="Versandart">{{ item.shippingMethod.name}}</sw-grid-column>
                            <sw-grid-column flex="1" label="Lieferdatum">
                                {{ item.shippingDateEarliest.date | moment('ll') }}
                                <br> bis <br>
                                {{ item.shippingDateLatest.date | moment('ll') }}
                            </sw-grid-column>
                            <sw-grid-column flex="1" label="Lieferstatus">{{ item.orderState.description }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Trackingcode"></sw-grid-column>
                        {% endblock %}
                    </template>

                    <template slot="pagination">
                        {% block order_delivery_list_grid_pagination %}
                            <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-grid>
        {% endblock %}

        <sw-loader v-if="isWorking"></sw-loader>
    </div>

{% endblock %}