{% block base_footer %}
    {% block base_footer_navigation %}
        <div id="footerColumns" class="row footer-columns">
            {% block base_footer_navigation_hotline %}
                <div class="col-md-3 footer-column">
                    {% block base_footer_navigation_hotline_headline %}
                        <div class="column-headline footer-headline"
                             data-target="#collapseOneFooter"
                             aria-expanded="true"
                             aria-controls="collapseOneFooter">
                            {{ 'footer.serviceHotlineHeadline'|trans }}
                            {% block base_footer_navigation_hotline_icons %}
                                <div class="toggle-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block base_footer_navigation_hotline_content %}
                        <div id="collapseOneFooterFooter"
                             class="column-content footer-hotline"
                             aria-labelledby="headingOne">
                            {{ 'footer.serviceHotline'|trans|raw }}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block base_footer_navigation_service %}
                <div class="col-md-3 footer-column">
                    {% block base_footer_navigation_service_headline %}
                        <div class="column-headline footer-headline"
                             data-target="#collapseTwoFooter"
                             aria-expanded="true"
                             aria-controls="collapseTwoFooter">
                            {{ 'footer.shopServiceHeadline'|trans }}
                            {% block base_footer_navigation_service_icons %}
                                <div class="toggle-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block base_footer_navigation_service_content %}
                        <div id="collapseTwoFooter"
                             class="column-content"
                             aria-labelledby="headingTwo">
                            {% block base_footer_navigation_service_links %}
                                <ul class="list-group">
                                    {#TODO: NEXT-1988 - Replace NAV Links through Footer Links#}
                                    {% for treeItem in page.header.navigation.tree %}
                                        {% block base_footer_navigation_service_link_item %}
                                            <li class="footer-link-list list-group-item">
                                                {% block base_footer_navigation_service_link %}
                                                    <a class="footer-link"
                                                       href="{{ path('frontend.navigation.page', {'navigationId': treeItem.entity.id}) }}"
                                                       title="{{ treeItem.entity.name }}">
                                                        {{ treeItem.entity.name }}
                                                    </a>
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block base_footer_navigation_information %}
                <div class="col-md-3 footer-column">
                    {% block base_footer_navigation_information_headline %}
                        <div class="column-headline footer-headline"
                             data-target="#collapseThreeFooter"
                             aria-expanded="true"
                             aria-controls="collapseThreeFooter">
                            {{ 'footer.informationHeadline'|trans }}
                            {% block base_footer_navigation_information_icons %}
                                <div class="toggle-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block base_footer_navigation_information_content %}
                        <div id="collapseThreeFooter"
                             class="column-content"
                             aria-labelledby="headingThree">
                            {% block base_footer_navigation_information_links %}
                                <ul class="list-group">
                                    {% for treeItem in page.header.navigation.tree %}
                                        {% block base_footer_navigation_information_link_item %}
                                            <li class="footer-link-list list-group-item">
                                                {% block base_footer_navigation_information_link %}
                                                    <a class="footer-link"
                                                       href="{{ path('frontend.navigation.page', {'navigationId': treeItem.entity.id}) }}"
                                                       title="{{ treeItem.entity.name }}">
                                                        {{ treeItem.entity.name }}
                                                    </a>
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block base_footer_navigation_newsletter %}
                <div class="col-md-3 footer-column">
                    {% block base_footer_navigation_newsletter_headline %}
                        <div class="column-headline footer-headline"
                             data-target="#collapseFourFooter"
                             aria-expanded="true"
                             aria-controls="collapseFourFooter">
                            {{ 'footer.newsletterHeadline'|trans }}
                            {% block base_footer_navigation_newsletter_icons %}
                                <div class="toggle-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block base_footer_navigation_newsletter_content %}
                        <div id="collapseFourFooter"
                             class="column-content"
                             aria-labelledby="headingFour">
                            {% block base_footer_navigation_newsletter_text %}
                                <div class="footer-newsletter-text">
                                    {{ 'footer.newsletter'|trans }}
                                </div>
                            {% endblock %}

                            {% block base_footer_navigation_newsletter_form %}
                                {#TODO: NEXT-1989 - add newsletter form action#}
                                <form action="" method="post">
                                    {% block base_footer_navigation_newsletter_form_input %}
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="{{ "footer.newsletterInput"|trans }}"
                                                   aria-label="{{ "footer.newsletterInput"|trans }}"
                                                   aria-describedby="newsletterSubscriptionButton">
                                            <div class="input-group-append">
                                                <button class="btn btn-light"
                                                        type="button"
                                                        id="newsletterSubscriptionButton">
                                                    <i class="far fa-envelope"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="footer-bottom">
        {#TODO: NEXT-1990 - footer VAT links#}
        <div class="footer-vat">
            {% if page.context.taxState == "gross" %}
                <p>{{ "footer.includeVat"|trans|raw }}</p>
            {% else %}
                <p>{{ "footer.excludeVat"|trans|raw }}</p>
            {% endif %}
        </div>
    </div>
    {% block base_footer_copyright %}{% endblock %}
{% endblock %}
