{% block component_checkout_cart_header %}
    {% if showRemoveColumn is not defined %}
        {% set showRemoveColumn = true %}
    {% endif %}

    {% set infoColumnClass = 'col-6' %}

    {% if showRemoveColumn %}
        {% set infoColumnClass = 'col-5' %}
    {% endif %}

    {% block component_checkout_cart_header_element %}
        {# @deprecated tag:v6.7.0 - Cart header will be `<li>` element instead of `<div>` #}
        {%- if feature('ACCESSIBILITY_TWEAKS') -%}
            <li class="card-title cart-table-header" aria-hidden="true">
        {%- else -%}
            <div class="card-title cart-table-header" role="listitem" aria-hidden="true">
        {%- endif -%}
            <div class="row cart-header-row">
                {% block component_checkout_cart_header_product_info %}
                    <div class="{{ infoColumnClass }} cart-header-info">
                        {{ 'checkout.cartHeaderInfo'|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block component_checkout_cart_header_quantity %}
                    <div class="col-2 cart-header-quantity">
                        {{ 'checkout.cartHeaderQuantity'|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% if showTaxPrice %}
                    <div class="col-2 cart-header-tax-price">
                        {% if context.salesChannel.taxCalculationType == 'horizontal' %}
                            {% if context.taxState == 'gross' %}
                                {{ 'checkout.cartHeaderTaxIncludeVat'|trans|sw_sanitize }}
                            {% else %}
                                {{ 'checkout.cartHeaderTaxExcludeVat'|trans|sw_sanitize }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {% block component_checkout_cart_header_unit_price %}
                        <div class="col-2 cart-header-unit-price">
                            {{ 'checkout.cartHeaderUnitPrice'|trans|sw_sanitize }}
                        </div>
                    {% endblock %}
                {% endif %}

                {% block component_checkout_cart_header_total_price %}
                    <div class="col-2 cart-header-total-price">
                        {{ 'checkout.cartHeaderTotalPrice'|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            </div>
        {# @deprecated tag:v6.7.0 - Cart header will be `<li>` element instead of `<div>` #}
        {%- if not feature('ACCESSIBILITY_TWEAKS') -%}
            </div>
        {%- else -%}
            </li>
        {%- endif -%}
    {% endblock %}
{% endblock %}
