{% block component_offcanvas_item_children %}
    {% set isChangeable = false %}
    {% set nestingLevel = 0 %}

    <div class="cart-item-children" data-fading="true">

        {% block component_offcanvas_item_children_header %}
            <div class="container cart-item-collapse-container">
                <div class="row cart-item-collapse">

                    {% block component_offcanvas_item_children_header_content %}
                        <div class="col cart-item-headline">

                            {% block component_offcanvas_item_children_header_content_text %}
                                <span class="cart-item-headline-text">
                                    {{ 'checkout.lineItemContainerHeadline'|trans }}
                                </span>
                            {% endblock %}

                            {% block component_offcanvas_item_children_header_content_change_button %}
                                {% if isChangeable %}
                                    <button class="cart-item-change-button">
                                        {{ 'checkout.lineItemContainerChangeLink'|trans }}
                                    </button>
                                {% endif %}
                            {% endblock %}

                        </div>
                    {% endblock %}

                    {% block component_offcanvas_item_children_header_collapse %}
                        <div class="col-1 cart-item-collapse-icon-container">

                            {% block component_offcanvas_item_children_header_collapse_button %}
                                <button class="collapsed cart-item-collapse-button"
                                        data-toggle="collapse"
                                        data-target="#collapse-offcanvas-line-item-contains-{{ lineItem.id }}"
                                        aria-controls="collapse-offcanvas-line-item-contains-{{ lineItem.id }}"
                                        aria-expanded="false">

                                    {% block component_offcanvas_item_children_header_collapse_button_icon %}
                                        <div class="cart-item-collapse-icon">
                                            {% sw_icon 'arrow-down' style {
                                                'color': 'primary',
                                                'pack':'solid'
                                            } %}
                                        </div>
                                    {% endblock %}

                                </button>
                            {% endblock %}

                        </div>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}

        {% block component_offcanvas_item_children_elements %}
            <div class="container collapse cart-item-children-elements"
                 id="collapse-offcanvas-line-item-contains-{{ lineItem.id }}">

                {% for nestedLineItem in lineItem.children %}
                    {% block component_offcanvas_item_children_element %}
                        {% block component_offcanvas_item_children_element_content %}
                            <div class="row cart-item-children-element">

                                {% block page_checkout_item_child %}
                                    {% block page_checkout_item_child_headline %}
                                        <div class="col cart-item-child-label nesting-level-{{ nestingLevel }}">

                                            {% block page_checkout_item_child_headline_label %}
                                                <div class="cart-item-child-label-bullet">
                                                    <div class="swag-fade-container swag-fade-container-shrinked">
                                                        {{ nestedLineItem.label }}
                                                    </div>
                                                    <a href="#" class="swag-fading-link-more swag-fade-link-hidden">more</a>
                                                    <a href="#" class="swag-fading-link-less swag-fade-link-hidden">less</a>
                                                </div>
                                            {% endblock %}

                                        </div>
                                    {% endblock %}

                                    {% block page_checkout_item_child_total_price %}
                                        <div class="col-3 cart-item-child-total-price">
                                            {{ nestedLineItem.price.totalPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                                        </div>
                                    {% endblock %}

                                    {% block page_checkout_item_child_remove %}
                                        <div class="d-md-block col-md-1 cart-item-child-remove-icon-container col-1">

                                            {% block page_checkout_item_remove_icon %}
                                                {% if nestedLineItem.removable %}
                                                    <button class="cart-item-child-remove-icon">
                                                        {% sw_icon 'x' style {
                                                            'color': 'primary',
                                                            'size': 'xs'
                                                        } %}
                                                    </button>
                                                {% endif %}
                                            {% endblock %}

                                        </div>
                                    {% endblock %}
                                {% endblock %}

                            </div>
                        {% endblock %}

                        {% block component_offcanvas_item_children_element_children %}
                            {% if nestedLineItem.children.count > 0 %}
                                {% set nestingLevel = nestingLevel + 1 %}
                                {% for nestedLineItem in nestedLineItem.children %}
                                    {{ block('component_offcanvas_item_children_element') }}
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    {% endblock %}

                    {% block component_offcanvas_item_children_element_divider %}
                        <hr class="cart-item-children-element-divider"/>
                    {% endblock %}
                {% endfor %}

            </div>
        {% endblock %}

    </div>
{% endblock %}
