{% block page_checkout_confirm_shipping_inner %}
    <div class="card checkout-card">
        <div class="card-body">
            {% block page_checkout_confirm_shipping_title %}
                <div class="card-title">
                    {{ "checkout.confirmShippingHeader"|trans }}
                </div>
            {% endblock %}

            {% block page_checkout_confirm_shipping_form %}
                <form id="confirmShippingForm"
                      name="confirmShippingForm"
                      action="{{ path('frontend.checkout.configure') }}"
                      method="post"
                      data-form-ajax-submit="true"
                      data-form-ajax-submit-options='{
                            "replaceSelectors": [
                                ".js-reload-on-confirm-change",
                                ".flashbags"
                            ],
                            "submitOnChange": [
                                "[name=shippingMethodId]"
                            ]
                      }'>

                    {% block page_checkout_confirm_shipping_form_redirect %}
                        <input type="hidden" name="redirectTo" value="frontend.checkout.confirm.page">
                    {% endblock %}

                    {% block page_checkout_confirm_shipping_form_fields %}
                        <div class="shipping-fields">
                            {% for shipping in page.shippingMethods %}
                                <div class="shipping-method">
                                    {% block page_checkout_confirm_shipping_form_field %}
                                        <div class="form-group checkout-config-form-group">
                                            {% block page_checkout_confirm_shipping_form_control %}
                                                <div class="custom-control custom-radio shipping-method">
                                                    {% block page_checkout_confirm_shipping_form_input %}
                                                        <input type="radio"
                                                               id="shippingMethod{{ loop.index }}"
                                                               name="shippingMethodId"
                                                               value="{{ shipping.id }}"
                                                               {% if shipping.id is same as(context.shippingMethod.id) %}checked="checked"{% endif %}
                                                               class="custom-control-input shipping-method-input">
                                                    {% endblock %}

                                                    {% block page_checkout_confirm_shipping_form_label %}
                                                        <label class="custom-control-label shipping-method-label"
                                                               for="shippingMethod{{ loop.index }}">
                                                            <strong>{{ shipping.translated.name }}</strong>

                                                            {% block page_checkout_confirm_shipping_form_description %}
                                                                {% if shipping.description %}
                                                                    <div class="shipping-method-description">
                                                                        {{ shipping.description|raw }}
                                                                    </div>
                                                                {% endif %}
                                                            {% endblock %}
                                                        </label>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
