{% sw_extends '@Storefront/page/checkout/_page.html.twig' %}

{% block base_header %}
    {% sw_include '@Storefront/base/header/header-minimal.html.twig' %}
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block page_checkout_container %}
    {% block page_checkout_confirm_errors %}
        {% if formViolations.getViolations() %}
            {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
                type:"danger",
                list: formViolations.getViolations()
            } %}
        {% endif %}
    {% endblock %}

    {% block page_checkout_confirm_agb %}
        <div class="card confirm-terms">
            <div class="card-body">
				{% block page_checkout_confirm_agb_header %}
                    <div class="card-title">
						{{ "checkout.confirmTermsHeader"|trans }}
                    </div>
				{% endblock %}

				{% block page_checkout_confirm_revocation_notice %}
					{% if shopware.config.confirm.revocationNotice %}
						{#TODO: NEXT-1951 - add link to shop page in snippet #}
                        <p>{{ "checkout.confirmRevocationNotice"|trans }}</p>
					{% endif %}
				{% endblock %}

				{% block page_checkout_confirm_agb_control %}
                    <div class="custom-control custom-checkbox">
						{% block page_checkout_confirm_agb_control_checkbox %}
                            <input type="checkbox"
                                   class="custom-control-input"
                                   required="required"
                                   id="tos"
                                   form="confirmOrderForm"
                                   name="tos"/>
						{% endblock %}

						{% block page_checkout_confirm_agb_control_label %}
							{#TODO: NEXT-1951 - add link to shop page in snippet #}
                            <label for="tos" class="custom-control-label">
								{{ "checkout.confirmTerms"|trans|raw }}
                            </label>
						{% endblock %}
                    </div>
				{% endblock %}
            </div>
        </div>
	{% endblock %}

	{% block page_checkout_confirm_address %}
        <div class="confirm-address">
			{% sw_include '@Storefront/page/checkout/confirm/confirm-address.html.twig' %}
        </div>
	{% endblock %}

	{% block page_checkout_confirm_payment %}
        <div class="confirm-payment">
			{% sw_include '@Storefront/page/checkout/confirm/confirm-payment.html.twig' %}
        </div>
	{% endblock %}

	{% block page_checkout_confirm_shipping %}
        <div class="confirm-shipping">
			{% sw_include '@Storefront/page/checkout/confirm/confirm-shipping.html.twig' %}
        </div>
	{% endblock %}

	{#TODO: NEXT-1950 - order comment#}

	{{ parent() }}
{% endblock %}

{% block page_checkout_main_content %}
	{% block page_checkout_confirm %}
		{% block page_checkout_confirm_table %}
            <div class="card cart-table confirm-table">
                <div class="card-body cart-table-body">
					{% block page_checkout_confirm_table_header %}
						{% sw_include '@Storefront/page/checkout/confirm/confirm-header.html.twig' %}
					{% endblock %}

					{% block page_checkout_confirm_items %}
						{% for lineItem in page.cart.lineItems.elements %}
							{% block page_checkout_confirm_item %}
								{% sw_include '@Storefront/page/checkout/confirm/confirm-item.html.twig' %}
							{% endblock %}
						{% endfor %}
					{% endblock %}
                </div>
            </div>
		{% endblock %}
	{% endblock %}
{% endblock %}

{#TODO: NEXT-1947 - messages (errors, laststock, invalid address)#}

{% block page_checkout_sidebar_actions %}
    <form id="confirmOrderForm"
          action="{{ path('frontend.checkout.finish.order') }}"
          method="post">
		{% block page_checkout_confirm_form_submit %}
            <button id="confirmFormSubmit"
                    class="btn btn-primary btn-block btn-lg"
                    form="confirmOrderForm"
                    type="submit">
				{{ "checkout.confirmSubmit"|trans }}
            </button>
		{% endblock %}
    </form>
{% endblock %}

{% block base_footer %}
	{% sw_include '@Storefront/base/footer/footer-minimal.html.twig' %}
{% endblock %}
