<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_advanced_selection_rule %}
{# TODO - NEXT-20791 : remove store-key property. Filters should not be stored somewhere #}
<sw-entity-advanced-selection-modal
    entity-name="rule"
    :entity-display-text="$tc('global.sw-entity-advanced-selection-modal.entity.rule')"
    store-key="advancedSelection.rule"
    :entity-context="context"
    :entity-columns="columns"
    :entity-filters="filters"
    :criteria-aggregations="aggregations"
    :entity-associations="associations"
    :is-record-selectable-callback="isRecordSelectable"
    :disable-previews="true"
    empty-image-path="/administration/static/img/empty-states/products-empty-state.svg"
    v-bind="$attrs"
    @selection-submit="$emit('selection-submit', $event)"
    @modal-close="$emit('modal-close', $event)"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule__list_grid_columns_name %}
    <template #column-name="{ item }">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_advanced_selection_rule__list_grid_columns_name_content %}
        <span :class="getColumnClass(item)">
            {{ item.name }}
        </span>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule__list_grid_columns_priority %}
    <template #column-priority="{ item }">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_advanced_selection_rule__list_grid_columns_priority_content %}
        <span :class="getColumnClass(item)">
            {{ item.priority }}
        </span>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule__list_grid_columns_description %}
    <template #column-description="{ item }">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_advanced_selection_rule__list_grid_columns_description_content %}
        <span :class="getColumnClass(item)">
            {{ item.description }}
        </span>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule_list_grid_columns_invalid %}
    <template #column-invalid="{item}">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_advanced_selection_rule_list_grid_columns_invalid_content %}
        <span :class="getColumnClass(item)">
            <template v-if="item.invalid">
                {{ $tc('sw-settings-rule.list.invalid') }}
            </template>
            <template v-else>
                {{ $tc('sw-settings-rule.list.valid') }}
            </template>
        </span>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule_list_grid_columns_create_date %}
    <template #column-updatedAt="{item}">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_advanced_selection_rule_list_grid_columns_create_date_content %}
        <span :class="getColumnClass(item)">
            <template v-if="item.updatedAt">
                {{ dateFilter(item.updatedAt) }}
            </template>
            <template v-else>
                {{ dateFilter(item.createdAt) }}
            </template>
        </span>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule_list_grid_columns_tags %}
    <template #column-tags="{ item }">
        <span :class="getColumnClass(item)">
            <span class="sw-data-grid__cell-value">
                <template v-if="item.tags.length > 0">
                    <sw-label
                        v-for="tag in item.tags"
                        :key="tag.id"
                        size="medium"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_advanced_selection_rule_list_grid_columns_tags_content %}
                        {{ tag.name }}
                        {% endblock %}
                    </sw-label>
                </template>
                <template v-else>
                    -
                </template>
            </span>
        </span>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_advanced_selection_rule_list_grid_columns_assignments %}
    <template
        v-for="(propertyName, index) in assignmentProperties"
        #[`column-${propertyName}`]="{ item, aggregations }"
        :key="index"
    >
        <span
            class="sw-data-grid__cell-value"
        >
            {{ getCounts(item.id, aggregations)[propertyName] }}
            {{ $tc(`sw-settings-rule.list.assignments.${propertyName}`, getCounts(item.id, aggregations)[propertyName]) }}
        </span>
    </template>
    {% endblock %}
</sw-entity-advanced-selection-modal>
{% endblock %}
