{# @deprecated tag:v6.7.0 - File will be removed as it will no longer be loaded by default. #}

{# Extend `src/Storefront/Resources/views/storefront/component/buy-widget/select.html.twig` instead #}

{% block page_product_detail_configurator_group_select %}
    {% block page_product_detail_configurator_group_select_title %}
        <label class="product-detail-configurator-group-title" for="{{ group.id }}">
            {% block page_product_detail_configurator_group_title_text %}
                {{ group.translated.name }}
            {% endblock %}
        </label>

        {% block page_product_detail_configurator_select %}
            <select name="{{ group.id }}" id="{{ group.id }}" class="form-select product-detail-configurator-select-input">
                {% for option in group.options %}

                    {% set selected = false %}
                    {% set optionName = option.translated.name %}

                    {% if option.id in page.product.optionIds %}
                        {% set selected = true %}
                    {% endif %}

                    {% if not option.combinable %}
                        {% set optionName =  optionName ~ ' (' ~ ('detail.unavailable'|trans|sw_sanitize) ~ ')' %}
                    {% endif %}

                    {% block page_product_detail_configurator_select_option %}
                        <option value="{{ option.id }}"
                            {% if selected %} selected="selected"{% endif %}
                            {% if not option.combinable %}title="{{ 'detail.unavailableTooltip'|trans|striptags }}"{% endif %}
                        >
                            {{ optionName }}
                        </option>
                    {% endblock %}
                {% endfor %}
            </select>
        {% endblock %}
    {% endblock %}
{% endblock %}
