{% block sw_order_line_items_grid %}
<sw-container
    type="row"
    class="sw-order-line-items-grid"
>

    {% block sw_order_line_items_grid_actions %}
    <sw-container
        v-show="editable"
        class="sw-order-line-items-grid__actions-container"
        columns="1fr auto"
        gap="16px"
    >

        {% block sw_order_line_items_grid_line_item_filter %}
        <div align="left">
            <sw-card-filter
                ref="itemFilter"
                :placeholder="$tc('sw-order.createBase.placeholderSearchBarItem')"
                @sw-card-filter-term-change="onSearchTermChange"
            />
        </div>
        {% endblock %}

        {% block sw_order_line_items_grid_create_actions %}
        <div align="right">

            {% block sw_order_line_items_grid_create_actions_button_group %}
            <sw-button-group :disabled="isLoading">

                {% block sw_order_line_items_grid_add_existing_product %}
                <sw-button
                    class="sw-order-line-items-grid__actions-container-add-product-btn"
                    variant="ghost"
                    size="small"
                    @click="onInsertExistingItem"
                >
                    {{ $tc('sw-order.detailBase.buttonAddProduct') }}
                </sw-button>
                {% endblock %}

                {% block sw_order_line_items_grid_create_actions_dropdown %}
                <sw-context-button>
                    <template #button>
                        <sw-button
                            variant="ghost"
                            size="small"
                            square
                        >
                            <sw-icon
                                name="small-arrow-small-down"
                                decorative
                            />
                        </sw-button>
                    </template>

                    {% block sw_order_line_items_grid_create_actions_dropdown_menu_item %}
                    <sw-context-menu-item @click="onInsertBlankItem">
                        {{ $tc('sw-order.detailBase.buttonAddBlankProduct') }}
                    </sw-context-menu-item>
                    <sw-context-menu-item
                        v-tooltip="{
                            message: $tc('sw-privileges.tooltip.warning'),
                            disabled: canCreateDiscounts,
                            showOnDisabledElements: true
                        }"
                        class="sw-order-line-items-grid__can-create-discounts-button"
                        :disabled="!canCreateDiscounts"
                        @click="onInsertCreditItem"
                    >
                        {{ $tc('sw-order.detailBase.buttonAddCredit') }}
                    </sw-context-menu-item>
                    {% endblock %}

                </sw-context-button>
                {% endblock %}

            </sw-button-group>
            {% endblock %}

        </div>
        {% endblock %}

    </sw-container>
    {% endblock %}

    {% block sw_order_line_items_grid_grid %}
    <sw-data-grid
        class="sw-order-line-items-grid__data-grid"
        identifier="sw-order-line-item-grid"
        :data-source="orderLineItems"
        :columns="getLineItemColumns"
        :full-page="false"
        :show-settings="false"
        :show-selection="editable"
        :show-actions="true"
        :is-loading="isLoading"
        :allow-column-edit="false"
        :allow-inline-edit="editable"
        :compact-mode="false"
        :is-record-editable="(item) => !isPromotionItem(item)"
        @inline-edit-cancel="onInlineEditCancel"
        @inline-edit-save="onInlineEditSave"
        @selection-change="onSelectionChanged"
    >

        {% block sw_order_line_items_grid_grid_columns %}
        {% block sw_order_line_items_grid_grid_columns_label %}
        <template #column-label="{ item, isInlineEdit }">

            {% block sw_order_line_items_grid_grid_columns_label_inline_edit %}
            <sw-order-product-select
                v-if="isInlineEdit"
                :sales-channel-id="salesChannelId"
                :tax-status="taxStatus"
                :item="item"
            />
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_label_link %}
            <div
                v-else-if="!isInlineEdit && isProductItem(item)"
                class="sw-order-line-items-grid__item-product"
            >

                {% block sw_order_line_items_grid_grid_columns_label_nested_modal_button %}
                <sw-button
                    v-if="hasChildren(item)"
                    v-tooltip="{ message: $tc('sw-order.detailBase.tooltipNestedLineItemsButton') }"
                    class="sw-order-line-items-grid__item-nested-indicator"
                    size="x-small"
                    @click="openNestedLineItemsModal(item)"
                >

                    {% block sw_order_line_items_grid_grid_columns_label_nested_modal_button_icon %}
                    <sw-icon
                        class="sw-order-line-items-grid__nested-indicator-icon"
                        name="default-text-editor-list"
                        size="14px"
                    />
                    {% endblock %}

                </sw-button>
                {% endblock %}

                {% block sw_order_line_items_grid_column_payload_options %}
                {% block sw_order_line_items_grid_column_payload_options_link %}
                <router-link
                    v-if="item.payload && item.payload.options"
                    class="sw-order-line-items-grid__item-payload-options"
                    :title="$tc('sw-order.detailBase.contextMenuShowProduct')"
                    :to="{ name: 'sw.product.detail', params: { id: item.productId } }"
                >
                    <sw-product-variant-info :variations="item.payload.options">
                        <div class="sw-order-line-items-grid__item-label">
                            {{ item.label }}
                        </div>
                    </sw-product-variant-info>
                </router-link>
                {% endblock %}

                {% block sw_order_line_items_grid_column_payload_options_linkless %}
                <template
                    v-else
                    class="sw-order-line-items-grid__item-payload-options"
                >
                    <div class="sw-order-line-items-grid__item-label">
                        {{ item.label }}
                    </div>
                </template>
                {% endblock %}
                {% endblock %}

            </div>
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_label_content %}
            <template v-else>
                <div class="sw-order-line-items-grid__item-label">
                    {{ item.label }}
                </div>
            </template>
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_columns_unit_price %}
        <template #column-unitPrice="{ item, isInlineEdit }">

            {% block sw_order_line_items_grid_grid_columns_unit_price_inline_edit %}
            <sw-number-field
                v-if="isInlineEdit && !itemCreatedFromProduct(item.id)"
                v-model="item.priceDefinition.price"
                placeholder="0"
                size="small"
                :min="getMinItemPrice(item.id)"
                @change="checkItemPrice($event, item)"
            />
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_unit_price_content %}
            <template v-else>
                {{ item.unitPrice | currency(order.currency.shortName) }}
            </template>
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_columns_total_price %}
        <template #column-totalPrice="{ item }">

            {% block sw_order_line_items_grid_grid_columns_total_price_content %}
            {{ item.totalPrice | currency(order.currency.shortName) }}
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_columns_quantity %}
        <template #column-quantity="{ item, isInlineEdit }">

            {% block sw_order_line_items_grid_grid_columns_quantity_inline_edit %}
            <sw-number-field
                v-if="isInlineEdit && !isCreditItem(item.id)"
                v-model="item.quantity"
                number-type="int"
                :min="1"
                size="small"
                placeholder="0"
                @change="updateItemQuantity(item)"
            />
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_quantity_content %}
            <template v-else>
                {{ item.quantity }}
            </template>
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_columns_tax %}

        <template #column-price.taxRules[0]="{ item, isInlineEdit }">

            {% block sw_order_line_items_grid_grid_columns_tax_inline_edit %}
            <sw-number-field
                v-if="isInlineEdit && showTaxRulesInlineEdit(item)"
                key="order-line-item-tax-edit-default"
                v-model="item.priceDefinition.taxRules[0].taxRate"
                size="small"
                placeholder="0"
            />
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_tax_content_tooltip %}
            <span
                v-else-if="hasMultipleTaxes(item)"
                v-tooltip="tooltipTaxDetail(item)"
                class="sw-order-line-items-grid__item-tax-tooltip"
            >
                {{ showTaxValue(item) }}
            </span>
            {% endblock %}

            {% block sw_order_line_items_grid_grid_columns_tax_content %}
            <template v-else-if="item.price && item.price.taxRules.length">
                {{ showTaxValue(item) }}
            </template>
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_actions %}
        <template #actions="{ item }">

            {% block sw_order_line_items_grid_grid_actions_show %}
            <sw-context-menu-item
                :disabled="!isProductItem(item)"
                icon="default-eye-open"
                :router-link="{ name: 'sw.product.detail', params: { id: item.productId } }"
            >

                {% block sw_order_line_items_grid_grid_actions_show_label %}
                {{ $tc('sw-order.detailBase.contextMenuShowProduct') }}
                {% endblock %}

            </sw-context-menu-item>
            {% endblock %}

        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_grid_actions_modals %}
        <template #action-modals="{ item }">
            {% block sw_order_line_items_grid_grid_actions_modals_items %}{% endblock %}
        </template>
        {% endblock %}

        {% block sw_order_line_items_grid_bulk_actions %}
        <template #bulk>

            {% block sw_order_line_items_grid_bulk_actions_delete %}
            <a
                class="link link-danger"
                @click="onDeleteSelectedItems"
            >
                {{ $tc('global.default.delete') }}
            </a>
            {% endblock %}

        </template>
        {% endblock %}
        {% endblock %}

    </sw-data-grid>
    {% endblock %}

    {% block sw_order_line_items_nested_line_item_modal %}
    <sw-order-nested-line-items-modal
        v-if="nestedLineItemsModal"
        :line-item="nestedLineItemsModal"
        :order="order"
        @modal-close="closeNestedLineItemsModal"
    />
    {% endblock %}

</sw-container>
{% endblock %}
