{% block component_product_box_action_inner %}
    {% if shopware.config.core.listing.allowBuyInListing %}
        <div class="product-action">
            {% if not product.variantRestrictions %}
                {% block component_product_box_action_buy %}
                    {# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}
                    {% if (not product.isCloseout or (product.availableStock >= product.minPurchase)) and product.childCount <= 0 %}
                        <form action="{{ path('frontend.checkout.line-item.add') }}"
                              method="post"
                              class="buy-widget"
                              data-add-to-cart="true">
                            {% block component_product_box_action_form %}

                                {% block component_product_box_action_buy_redirect_input %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.cart.offcanvas"/>
                                {% endblock %}

                                {% block page_product_detail_buy_product_buy_info %}
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][id]"
                                           value="{{ product.id }}">
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][referencedId]"
                                           value="{{ product.id }}">
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][type]"
                                           value="product">
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][stackable]"
                                           value="1">
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][removable]"
                                           value="1">
                                    <input type="hidden"
                                           name="lineItems[{{ product.id }}][quantity]"
                                           value="1">
                                {% endblock %}

                                <button class="btn btn-block btn-buy"
                                        title="{{ "listing.boxAddProduct"|trans }}">
                                    {{ "listing.boxAddProduct"|trans }}
                                </button>
                            {% endblock %}
                        </form>
                    {% endif %}
                {% endblock %}
            {% else %}
                {% block component_product_box_action_detail %}
                    <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                       class="btn btn-block btn-light"
                       title="{{ "listing.boxProductDetails"|trans }}">
                        {{ "listing.boxProductDetails"|trans }}
                    </a>
                {% endblock %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
