{% block component_product_box_price_info %}
    <div class="product-price-info">
        {% block component_product_box_price_unit %}
            <p class="product-price-unit">
                {# Price is based on the purchase unit #}
                {% block component_product_box_price_purchase_unit %}
                    {% if product.purchaseUnit and product.purchaseUnit != 0 %}
                        <span class="product-unit-label">
                            {{ "listing.boxUnitLabel"|trans }}
                        </span>
                        <span class="price-unit-content">
                            {{ product.purchaseUnit }} {{ product.packUnit }}
                        </span>
                    {% endif %}
                {% endblock %}

                {# Unit price is based on a reference unit #}
                {% block component_product_box_price_reference_unit %}
                    {% if product.purchaseUnit and product.referenceUnit and product.purchaseUnit !=  product.referenceUnit %}
                        <span class="price-unit-reference">
                            {# todo@dr NEXT-3678 reference price #}
                        </span>
                    {% endif %}
                {% endblock %}
            </p>
        {% endblock %}

        {% block component_product_box_price %}
            <p class="product-price">
                {% if product.priceRange %}
                    {{ product.calculatedListingPrice.from.unitPrice|currency }}
                    -
                    {{ product.calculatedListingPrice.to.unitPrice|currency }}
                {% elseif product.calculatedPrices|length == 1 %}
                    {{ product.calculatedPrices.first.unitPrice|currency }}
                {% else %}
                    {{ product.calculatedPrice.unitPrice|currency }}
                {% endif %}
            </p>
        {% endblock %}
    </div>
{% endblock %}
