{% block component_product_box %}
    <div class="card product-box box-{{ layout }}">
        {% block component_product_box_content %}
            <div class="card-body">
                {% block component_product_box_badges %}
                    {% sw_include '@Storefront/component/product/widget/badges.html.twig' %}
                {% endblock %}
                
                {% block component_product_box_image %}
                    <div class="product-image-wrapper">
                        <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                           title="{{ product.name }}"
                           class="product-image-link">
                            {% if product.cover.media.url %}
                                {% set imgSrc = product.cover.media.url %}
                            {% else %}
                                {% set imgSrc = asset(shopware.theme.general.noPicture) %}
                            {% endif %}
                            <img class="product-image img-fluid"
                                 src="{{ imgSrc }}"
                                 alt="{{ product.cover.media.alt }}">
                        </a>
                    </div>
                {% endblock %}
                
                {% block component_product_box_info %}
                    <div class="product-info">
                        {% block component_product_box_name %}
                            <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                               class="product-name"
                               title="{{ product.name }}">
                                {{ product.name }}
                            </a>
                        {% endblock %}
                        
                        {% block component_product_box_description %}
                            <div class="product-description">
                                {{ product.description }}
                            </div>
                        {% endblock %}
                        
                        {% block component_product_box_price %}
                            {% sw_include '@Storefront/component/product/widget/price-unit.html.twig' %}
                        {% endblock %}
                        
                        {% block component_product_box_action %}
                            {% if shopware.config.listing.allowBuyInListing %}
                                <div class="product-btn">
                                    {% if not product.variantRestrictions %}
                                        {% block component_product_box_action_buy %}
                                            <form action="{{ path('sales-channel-api.checkout.frontend.cart.product.add', {'version': 1, 'id': product.id}) }}"
                                                  method="post"
                                                  class="buy-widget js-add-to-cart">
                                                <button class="btn btn-block buy-widget-submit"
                                                        title="{{ "listing.boxAddProduct"|trans }}">
                                                    {{ "listing.boxAddProduct"|trans }}
                                                </button>
                                            </form>
                                        {% endblock %}
                                    {% else %}
                                        {% block component_product_box_action_detail %}
                                            <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                                               class="btn btn-block btn-light"
                                               title="{{ "listing.boxProductDetails"|trans }}">
                                                {{ "listing.boxProductDetails"|trans }}
                                            </a>
                                        {% endblock %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
