{% block component_product_box %}
	{% if product %}
		<div class="card product-box box-{{ layout }}">
			{% block component_product_box_content %}
				<div class="card-body">
					{% block component_product_box_badges %}
						{% sw_include '@Storefront/component/product/widget/badges.html.twig' %}
					{% endblock %}

					{% block component_product_box_image %}
						<div class="product-image-wrapper">
							<a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
							   title="{{ product.translated.name }}"
							   class="product-image-link">
								{% if product.cover.media.url %}
									<img class="product-image is-{{ displayMode }}"
										 src="{{ product.cover.media.url }}"
										 alt="{{ product.cover.media.alt }}">
								{% else %}
									{% sw_icon 'placeholder' style {
										'size': 'fluid'
									} %}
								{% endif %}
							</a>
						</div>
					{% endblock %}

					{% block component_product_box_info %}
						<div class="product-info">
							{% block component_product_box_name %}
								<a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
								   class="product-name"
								   title="{{ product.translated.name }}">
									{{ product.translated.name }}
								</a>
							{% endblock %}

							{% block component_product_box_description %}
								<div class="product-description">
									{{ product.translated.description|striptags }}
								</div>
							{% endblock %}

							{% block component_product_box_price %}
								{% sw_include '@Storefront/component/product/widget/price-unit.html.twig' %}
							{% endblock %}

							{% block component_product_box_action %}
								{% sw_include '@Storefront/component/product/widget/action.html.twig' %}
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
