{% block component_product_box_price_info %}
    <div class="product-price-info">
        {% block component_product_box_price_unit %}
            <p class="product-price-unit">
                {# Price is based on the purchase unit #}
                {% block component_product_box_price_purchase_unit %}
                    {% if product.purchaseUnit and product.purchaseUnit != 0 %}
                        <span class="product-unit-label">
                            {{ "listing.boxUnitLabel"|trans }}
                        </span>
                        <span class="price-unit-content">
                            {{ product.purchaseUnit }} {{ product.packUnit }}
                        </span><br>
                    {% endif %}
                {% endblock %}

                {# Unit price is based on a reference unit #}
                {% block component_product_box_price_reference_unit %}
                    {% if product.purchaseUnit and product.referenceUnit and product.purchaseUnit !=  product.referenceUnit %}
                        <span class="price-unit-reference">
                            {% set referencePrice =  product.price.gross * product.referenceUnit / product.purchaseUnit %}
                            {#TODO: NEXT-2675 - reference price#}
                            ({{ referencePrice|localizedcurrency('EUR', app.request.locale) }}
                            {{ "general.star"|trans }} / {{ product.referenceUnit }} {{ product.packUnit }})
                        </span>
                    {% endif %}
                {% endblock %}
            </p>
        {% endblock %}

        {% block component_product_box_price %}
            <p class="product-price">
                {{ product.price.gross|localizedcurrency('EUR', app.request.locale) }}
            </p>
        {% endblock %}
    </div>
{% endblock %}
