<div :class="['sw-field', `sw-field--${type}`, hasErrorCls ? 'has--error' : '', suffix.length ? 'has--suffix': '', disabled ? 'is--disabled' : '']">

    <!-- Label -->
    <label v-if="label" :for="name">
        <slot name="label">{{ label }}</slot>
    </label>

    <div class="sw-field__input">
        <!-- Textarea -->
        <textarea v-if="type === 'textarea'"
                  :name="name"
                  :id="name"
                  :placeholder="placeholder"
                  v-html="currentValue"
                  :disabled="disabled ? 'disabled' : false"
                  @input="onInput"
                  @change="onChange"
                  v-bind="$attrs">
        </textarea>

        <!-- Select -->
        <div v-else-if="type === 'select' || type === 'combo'" class="sw-field__select" >
            <select :name="name"
                    :id="name"
                    :value="currentValue"
                    :disabled="disabled ? 'disabled' : false"
                    @input="onInput"
                    @change="onChange"
                    v-bind="$attrs">

                <slot name="options">
                    <template v-if="options.length">
                        <option v-for="option in options" :value="option.value">{{ option.label }}</option>
                    </template>
                </slot>
            </select>
            <sw-icon name="small-arrow-medium-down" small decorative/>
        </div>

        <!-- Radio -->
        <div v-else-if="type === 'radio'" class="sw-field__radio-group">
            <slot name="radio-options">
                <template v-if="options.length">
                    <div class="sw-field__radio-option" v-for="(option, index) in options">
                        <div class="sw-field__radio-input">
                            <input type="radio"
                                   :name="name"
                                   :id="`${name}-${index}`"
                                   :value="option.value"
                                   :disabled="disabled ? 'disabled' : false"
                                   :checked="currentValue === option.value ? 'checked' : false"
                                   @input="onInput"
                                   @change="onChange"
                                   v-bind="$attrs">

                            <div class="sw-field__radio-state"></div>
                        </div>

                        <label :for="`${name}-${index}`">{{ option.label }}</label>
                    </div>
                </template>
            </slot>
        </div>

        <!-- Checkbox -->
        <div v-else-if="type === 'checkbox'" class="sw-field__checkbox">
            <input type="checkbox"
                   :name="name"
                   :id="name"
                   :disabled="disabled ? 'disabled' : false"
                   :checked="currentValue ? 'checked' : false"
                   @input="onInput"
                   @change="onChange"
                   v-bind="$attrs">

            <div class="sw-field__checkbox-state">
                <sw-icon name="small-default-checkmark-line-small" size="16"></sw-icon>
            </div>
        </div>

        <!-- Switch -->
        <div v-else-if="type === 'switch'" class="sw-field__switch">
            <input type="checkbox"
                   :name="name"
                   :id="name"
                   :disabled="disabled ? 'disabled' : false"
                   :checked="currentValue ? 'checked' : false"
                   @input="onInput"
                   @change="onChange"
                   v-bind="$attrs">

            <div class="sw-field__switch-state">
                <div class="sw-field__switch-state-knob"></div>
            </div>
        </div>

        <!-- Date -->
        <input v-else-if="type === 'datetime' || type === 'datetime-local'"
               type="datetime-local"
               :name="name"
               :id="name"
               :value="currentValue"
               :disabled="disabled ? 'disabled' : false"
               @input="onInput"
               @change="onChange"
               v-bind="$attrs">

        <!-- Default Input -->
        <input v-else
               :type="type"
               :name="name"
               :id="name"
               :placeholder="placeholder"
               :value="currentValue"
               :disabled="disabled ? 'disabled' : false"
               @input="onInput"
               @change="onChange"
               v-bind="$attrs">

        <!-- Suffix -->
        <span v-if="suffix" class="sw-field__suffix">
            <slot name="suffix">{{ suffix }}</slot>
        </span>
    </div>

    <div class="sw-field__help" v-if="helpText" :for="name">
        <slot name="help-text">{{ helpText }}</slot>
    </div>

    <div class="sw-field__error" v-if="hasError">
        <slot name="error">{{ error.detail }}</slot>
    </div>
</div>