{% block page_checkout_confirm_payment_inner %}
    <div class="card checkout-card">
        <div class="card-body">
            {% set paymentMethodInvalid = true %}

            {% for payment in page.paymentMethods %}
                {% if payment.id is same as(context.paymentMethod.id) %}
                    {% set paymentMethodInvalid = false %}
                {% endif %}
            {% endfor %}

            {% block page_checkout_confirm_payment_title %}
                <div class="card-title">
                    {{ "checkout.confirmPaymentMethod"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% block page_checkout_confirm_payment_current %}
                <p class="confirm-payment-current">
                    {% block page_checkout_confirm_payment_current_image %}
                        {% if context.paymentMethod.media %}
                            {% sw_thumbnails 'confirm-payment-current-image-thumbnails' with {
                                media: context.paymentMethod.media,
                                sizes: {
                                    'default': '100px'
                                },
                                attributes: {
                                    'class': 'payment-method-image',
                                    'alt': (context.paymentMethod.media.translated.alt ?: context.paymentMethod.translated.name),
                                    'title': (context.paymentMethod.media.translated.title ?: context.paymentMethod.translated.name)
                                }
                            } %}
                        {% endif %}
                    {% endblock %}

                    {% block page_checkout_confirm_payment_current_text %}
                        <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans|sw_sanitize }}</strong>

                        {# @deprecated tag:v6.4.0 will be removed in version 6.4.0 #}
                        {% block page_checkout_confirm_payment_invalid_tooltip %}{% endblock %}

                        {% if paymentMethodInvalid %}
                            {{ "checkout.confirmSelectionNone"|trans|sw_sanitize }}
                        {% else %}
                            {{ context.paymentMethod.translated.name }}
                        {% endif %}

                    {% endblock %}
                </p>
            {% endblock %}

            {% block page_checkout_confirm_payment_modal_toggle %}
                <button type="button"
                        class="btn btn-light"
                        data-toggle="modal"
                        data-backdrop="static"
                        {% if page.paymentChangeable is not null and page.paymentChangeable == false %}
                            disabled="disabled"
                        {% endif %}
                        data-target="#confirmPaymentModal">

                    {% if paymentMethodInvalid %}
                        {{ "checkout.confirmChoosePayment"|trans|sw_sanitize }}
                    {% else %}
                        {{ "checkout.confirmChangePayment"|trans|sw_sanitize }}
                    {% endif %}
                </button>
            {% endblock %}

            {% block page_checkout_confirm_payment_modal %}
                <div class="modal fade confirm-payment-modal"
                     id="confirmPaymentModal"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
                         role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title h5">
                                    {{ "checkout.confirmChangePayment"|trans|sw_sanitize }}
                                </div>
                                <button type="button"
                                        class="modal-close close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">
                                        {% sw_icon 'x' style { 'size': 'sm' } %}
                                    </span>
                                </button>
                            </div>

                            {% block page_checkout_confirm_payment_modal_body %}
                                <div class="modal-body">

                                    {# @deprecated tag:v6.4.0 #}
                                    {% block page_checkout_confirm_payment_form %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_checkout_confirm_payment_form_csrf %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_checkout_confirm_payment_form_redirect %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_checkout_confirm_payment_form_fields %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_checkout_confirm_payment_form_submit %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_checkout_confirm_payment_cancel %}{% endblock %}
                                    {% endblock %}

                                    {% sw_include '@Storefront/storefront/page/checkout/change-payment-modal.html.twig' with { 'redirect': 'frontend.checkout.confirm.page', 'action':  'frontend.checkout.configure'} %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
